<link href="{{CONFIG theme_url}}/js/lib/jquery-datatable/skin/bootstrap/css/dataTables.bootstrap.min.css" rel="stylesheet">
<script src="{{CONFIG theme_url}}/js/lib/jquery-datatable/jquery.dataTables.js"></script>
<script src="{{CONFIG theme_url}}/js/lib/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js"></script>
<?php if ($pt->config->credit_card == 'yes') { ?>
<script type="text/javascript" charset="utf8" src="https://js.stripe.com/v2/"></script>
<?php } ?>
<div class="user-ads-list-container pt_ads_page_header">
	<?php echo PT_LoadPage('third-party/paypal-demo'); ?>
	<div class="user-ads-list-header pt_ads_tool_header">
		<div class="pt_page_headr pt_ads_hdr_top">
			<h4 class="page_head">
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"/><path fill="currentColor" d="M13 21v2h-2v-2H3a1 1 0 0 1-1-1V6h20v14a1 1 0 0 1-1 1h-8zM8 10a3 3 0 1 0 3 3H8v-3zm5 0v2h6v-2h-6zm0 4v2h6v-2h-6zM2 3h20v2H2V3z"/></svg> {{LANG ads}}
			</h4>
			<div>
				<a href="{{LINK ads/create}}" data-load="?link1=create_ads" class="btn btn-main">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"/><path fill="currentColor" d="M19,13H13V19H11V13H5V11H11V5H13V11H19V13Z"/></svg> {{LANG create_ad}}
				</a>
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-6">
				<a class="pt_ads_wallet_olink" href="{{LINK balance}}" data-load="?link1=balance">
					<div><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"/><path fill="currentColor" d="M22 6h-7a6 6 0 1 0 0 12h7v2a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h18a1 1 0 0 1 1 1v2zm-7 2h8v8h-8a4 4 0 1 1 0-8zm0 3v2h3v-2h-3z"/></svg>&nbsp;&nbsp;&nbsp;{{LANG wallet}}</div>
					<b>{{CURRENCY}}{{ME wallet}}</b>
				</a>
			</div>
			<div class="col-md-6">
				<a class="pt_ads_wallet_olink balance" href="{{LINK balance}}" data-load="?link1=balance">
					<div><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"/><path fill="currentColor" d="M14 2a8 8 0 0 1 3.292 15.293A8 8 0 1 1 6.706 6.707 8.003 8.003 0 0 1 14 2zm-3 7H9v1a2.5 2.5 0 0 0-.164 4.995L9 15h2l.09.008a.5.5 0 0 1 0 .984L11 16H7v2h2v1h2v-1a2.5 2.5 0 0 0 .164-4.995L11 13H9l-.09-.008a.5.5 0 0 1 0-.984L9 12h4v-2h-2V9zm3-5a5.985 5.985 0 0 0-4.484 2.013 8 8 0 0 1 8.47 8.471A6 6 0 0 0 14 4z"/></svg>&nbsp;&nbsp;&nbsp;{{LANG balance}}</div>
					<b>{{CURRENCY}}{{ME balance}}</b>
				</a>
			</div>
		</div>
	</div>
	<div class="col-10">
		<table class="table" id="pt-user-ads-table"> 
			<thead>
				<th>{{LANG status}}</th>
				<th>{{LANG category}}</th>
				<th>{{LANG name}}</th>
				<th>{{LANG results}}</th>
				<th>{{LANG spent}}</th>
				<th>{{LANG action}}</th>
			</thead>
			<tbody>{{ADS_LIST}}</tbody>
		</table>
	</div>
</div>
<br>

<?php echo PT_LoadPage('modals/stripe_modal'); ?>
<script>
	<?php if ($pt->config->credit_card == 'yes') { ?>
		var stripe_array = [];
		Stripe.setPublishableKey('{{CONFIG stripe_id}}');

		function SH_StripeCardRequest() {
			$('#stripe_btn').text("{{LANG please_wait}}");
			$('#stripe_btn').attr('disabled', 'true');
			if ($("#stripe_name").val() != '' && $("#stripe_email").val() != '' && $("#stripe_number").val() != '' && $("#stripe_month").val() != '' && $("#stripe_year").val() != '' && $("#stripe_cvc").val() != '') {

				stripe_array['stripe_name'] = $('#stripe_name').val();
				stripe_array['stripe_email'] = $('#stripe_email').val();
				stripe_array['stripe_number'] = $('#stripe_number').val();
				stripe_array['stripe_month'] = $('#stripe_month').val();
				stripe_array['stripe_year'] = $('#stripe_year').val();
				stripe_array['stripe_cvc'] = $('#stripe_cvc').val();
				Stripe.createToken({
		            number: $('#stripe_number').val(),
		            exp_month: $('#stripe_month').val(),
		            exp_year: $('#stripe_year').val(),
		            cvc: $('#stripe_cvc').val()
		        }, SH_StripeCardResponseHandler);
			}
			else{
				$('#stripe_alert').html('<div class="alert alert-danger">{{LANG please_check_details}}</div>');
				$('#stripe_btn').text("{{LANG pay}}");
				$('#stripe_btn').removeAttr('disabled');
			}
		}
		function SH_StripeCardResponseHandler(status, response) {
		    if (response.error) {
		    	$('#stripe_alert').html('<div class="alert alert-danger">'+response.error.message+'</div>');
				$('#stripe_btn').text("{{LANG pay}}");
				$('#stripe_btn').removeAttr('disabled');
		    } else {
		    	stripe_array['token'] = response.id;
		    	$.post('{{LINK aj/wallet/stripe_replenish}}', {'stripe_name': stripe_array['stripe_name'],'stripe_email': stripe_array['stripe_email'],'stripe_number': stripe_array['stripe_number'],'stripe_month': stripe_array['stripe_month'],'stripe_year': stripe_array['stripe_year'],'stripe_cvc': stripe_array['stripe_cvc'],stripeToken:stripe_array['token'],amount:stripe_array['amount']}, function (data) {
		          	if (data.status == 200) {
		          	 	window.location.href = data.url;
		          	} else {
		          	 	$('#stripe_alert').html('<div class="alert alert-danger"><i class="fa fa-spin fa-spinner"></i> {{LANG payment_declined}}</div>');
		          	}
		        });
		    }
		}

	<?php } ?>
	$(document).ready( function () {
	    $('#pt-user-ads-table').DataTable();
		$('#pt-user-ads-table').on( 'page.dt', function () {
		    PT_Delay(function(){
		    },50)
		});
	});

	
	var amount;

	function PT_ReplenishWallet() {
		swal({
		  html:$('.replenish-wallet-form').clone().addClass('clone').removeClass('hidden'),
		  showCloseButton: true,
		  showCancelButton: false,
		  focusConfirm: false,
		  confirmButtonText:"{{LANG replenish}}",
		  buttonsStyling:false,
		  confirmButtonClass:'btn btn-success',
		  allowOutsideClick:false,
		  showLoaderOnConfirm: true,
		  preConfirm: function () {
		    return new Promise(function (resolve, reject) {
		    	amount = $(".replenish-wallet-form.clone").find('input').val();
		    	if (!amount || amount < 1){
		    		reject("{{LANG please_check_details}}!");
		    	}
		    	else{
		    		$('#wallet_amount').val(amount);
		    		swal.close();
		    		PT_ShowMethods('wallet');
		    	}
		    })
		  }
		}).then(function(){/*pass*/},function(){/*pass*/});
	}

	function PT_ReplenishBalance() {
		swal({
		  html:$('.replenish-balance-form').clone().addClass('clone').removeClass('hidden'),
		  showCloseButton: true,
		  showCancelButton: false,
		  focusConfirm: false,
		  confirmButtonText:"{{LANG replenish}}",
		  buttonsStyling:false,
		  confirmButtonClass:'btn btn-success',
		  allowOutsideClick:false,
		  showLoaderOnConfirm: true,
		  preConfirm: function () {
		    return new Promise(function (resolve, reject) {
		    	amount = $(".replenish-balance-form.clone").find('input').val();
		    	if ({{ME balance}} < 1) {
		    		reject("{{LANG no_balance_to_move}}!");
		    	}
		    	else if (!amount || amount < 1){
		    		reject("{{LANG please_check_details}}!");
		    	}
		    	else if(amount > {{ME balance}}){
		    		reject("{{LANG more_than_balance}}!");
		    	}
		    	else{
		    		$.post('{{LINK aj/wallet/move_to_wallet}}', {amount: amount}, function(data, textStatus, xhr) {
		    			if (data.status == 200) {
		    				location.reload();
		    			}
		    			else{
		    				reject(data.message);
		    			}
		    		});
		    	}
		    })
		  }
		}).then(function(){/*pass*/},function(){/*pass*/});
	}

	function PT_DeleteAd(id){
		if (!id) {
			return false;
		}
		swal({
		  title: '{{LANG confirmation}}',
		  text: "{{LANG confirm_delete_ad}}",
		  type: 'warning',
		  showCloseButton: true,
		  showCancelButton: false,
		  focusConfirm: false,
		  confirmButtonText:"{{LANG delete}}",
		  buttonsStyling:false,
		  confirmButtonClass:'btn btn-success margin-right',
		  allowOutsideClick:true,
		}).then(function (){
			$.post('{{LINK aj/ads/delete}}', {id:id}, function(data, textStatus, xhr) {/* pass */});
			$("tr[data-ads-list='"+id+"']").slideUp(function(){
				$(this).remove();
				swal({
					title:'{{LANG deleted}}',
				    type:'success',
				    buttonsStyling:false,
				    confirmButtonClass:'btn btn-success',
				});
			});
		});
	}

	function PT_ToggleAdsStatus(id){
		if (!id) {
			return false;
		}
		$.post('{{LINK aj/ads/toggle-stat}}', {id:id}, function(data, textStatus, xhr) {/* pass */});
	}	

	
<?php if ($pt->config->checkout_payment == 'yes') { ?>
	// Called when token created successfully.
	var successCallback = function(data) {
		amount = $("#wallet_amount").val();
	    var myForm = document.getElementById('2checkout_form');
	    $.post('{{LINK aj/wallet/checkout_replenish}}', {card_number: $("#card_number").val(),card_cvc: $("#card_cvc").val(),card_month: $("#card_month").val(),card_year: $("#card_year").val(),card_name: $("#card_name").val(),card_address: $("#card_address").val(),card_city: $("#card_city").val(),card_state: $("#card_state").val(),card_zip: $("#card_zip").val(),card_country: $("#card_country").val(),card_email: $("#card_email").val(),card_phone: $("#card_phone").val(),type: 'wallet',token: data.response.token.token,amount:amount}, function(data, textStatus, xhr) {
	    	$('#2checkout_btn').html("{{LANG pay}}");
	    	$('#2checkout_btn').attr('disabled');
	    	$('#2checkout_btn').removeAttr('disabled');
	    	$('#2checkout_form').find('.ball-pulse').fadeOut(100);
	    	if (data.status == 200) {
	      	 	window.location.href = data.url;
	      	} else {
	      	 	$('#2checkout_alert').html("<div class='alert alert-danger'>"+data.error+"</div>");
				setTimeout(function () {
					$('#2checkout_alert').html("");
				},3000);
	      	}
	    	/*optional stuff to do after success */
	    });
	};

	// Called when token creation fails.
	var errorCallback = function(data) {
		$('#2checkout_btn').html("{{LANG pay}}");
		$('#2checkout_btn').removeAttr('disabled');
		$('#2checkout_form').find('.ball-pulse').fadeOut(100);
	    if (data.errorCode === 200) {
	        tokenRequest();
	    } else {
	    	$('#2checkout_alert').html("<div class='alert alert-danger'>"+data.errorMsg+"</div>");
			setTimeout(function () {
				$('#2checkout_alert').html("");
			},3000);
	    }
	};

	var tokenRequest = function() {
		$('#card_number').val($('#_number_').val());
		$('#2checkout_btn').html("{{LANG please_wait}}");
		$('#2checkout_btn').attr('disabled','true');
		if ($("#card_number").val() != '' && $("#card_cvc").val() != '' && $("#card_month").val() != '' && $("#card_year").val() != '' && $("#card_name").val() != '' && $("#card_address").val() != '' && $("#card_city").val() != '' && $("#card_state").val() != '' && $("#card_zip").val() != '' && $("#card_country").val() != 0 && $("#card_email").val() != '' && $("#card_phone").val() != '') {
			$('#2checkout_form').find('.ball-pulse').fadeIn(100);
			// Setup token request arguments
		    var args = {
		        sellerId: "<?php echo($pt->config->checkout_seller_id) ?>",
		        publishableKey: "<?php echo($pt->config->checkout_publishable_key) ?>",
		        ccNo: $("#card_number").val(),
		        cvv: $("#card_cvc").val(),
		        expMonth: $("#card_month").val(),
		        expYear: $("#card_year").val()
		    };

		    // Make the token request
		    TCO.requestToken(successCallback, errorCallback, args);
		}
		else{
			$('#2checkout_btn').html("{{LANG pay}}");
			$('#2checkout_btn').removeAttr('disabled');
			$('#2checkout_alert').html("<div class='alert alert-danger'>{{LANG please_check_details}}</div>");
			setTimeout(function () {
				$('#2checkout_alert').html("");
			},3000);

		}
		
	    
	};

	$(function() {
	    // Pull in the public encryption key for our environment
	    TCO.loadPubKey("<?php echo($pt->config->checkout_mode) ?>");
	});	
	<?php } ?>

	function PT_OpenStripe(pkg,self,video_id = 0,price = 0){
	    $('#pay-go-pro').modal('hide');
		$('#stripe_modal').modal('show');
		stripe_array['amount'] = $("#wallet_amount").val()+'00';
	 }


	  $(document).on('click', '#select-img', function(event) {
		$("#thumbnail").click()
	});
	$(document).on('change', '#thumbnail', function(event) {
		let imgPath = $(this)[0].files[0].name;
	    if (typeof(FileReader) != "undefined") {
	        let reader = new FileReader();
	        reader.onload = function(e) {
				$('#receipt_img_preview').attr('src', e.target.result);
	        }
	        reader.readAsDataURL(this.files[0]);
	    }
		$('#bank_transfer_modal').addClass('up_rec_img_ready');
	});

	jQuery(document).ready(function($) {
		$('#bank_transfer_form').ajaxForm({
		  url: '{{LINK aj/wallet/bank_replenish}}',
		  beforeSend: function() {
		    $('#bank_transfer_form').find('.ball-pulse').fadeIn(100);
		    $('#bank_transfer_form').find('.btn-main').text("{{LANG please_wait}}").attr('disabled', 'true');
		  },
		  success: function(data) {
		    if (data['status'] == 200) {
		    	$("#blog-alert").html('<div class="alert alert-success">'+ data['message'] +'</div>');
		    	setTimeout(function () {
		    		window.location = "<?php echo $pt->config->site_url;?>";
		    		$(".prv-img").html('<div class="thumbnail-rendderer"><div><div class="error-text-renderer"></div><div><p>{{LINK browse_to_upload}}</p></div></div> </div>');
		    		$("#blog-alert").html('');
		    		$('#configreset').click();

		    	},3000)
		    } else if (data['message']) {
		      $("#blog-alert").html('<div class="alert alert-danger">' + data['message'] + '</div>');
		    } 
		    $('#bank_transfer_form').find('.ball-pulse').fadeOut(100);
		    $('#bank_transfer_form').find('.btn-main').text("{{LANG publish}}");
		    $('#bank_transfer_form').find('.btn-main').removeAttr('disabled');
		}});
	});

	 function PT_OpenBank(pkg,self,video_id = 0,price = 0){
	    if (!pkg || !self) {
	      return false;
	    }
	    amount = $("#wallet_amount").val()+'00';
	    $('#bank_transfer_amount').val(amount)
	    $(self).text("{{LANG please_wait}}").attr('disabled', 'true');
	    $('#pay-go-pro').modal('hide');
	    $('#configreset').click();
		$("#blog-alert").html('');
    	$('#pay-go-pro').modal('hide');
    	$('#bank_transfer_modal').modal({
             show: true
            });
	}


</script>

<form class="replenish-wallet-form hidden text-center yp_ads_add">
	<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="#3F51B5"><path d="M8.32,21.97C8.21,21.92 8.08,21.76 8.06,21.65C8.03,21.5 8,21.76 8.66,17.56C9.26,13.76 9.25,13.82 9.33,13.71C9.46,13.54 9.44,13.54 10.94,13.53C12.26,13.5 12.54,13.5 13.13,13.41C16.38,12.96 18.39,11.05 19.09,7.75C19.13,7.53 19.17,7.34 19.18,7.34C19.18,7.33 19.25,7.38 19.33,7.44C20.36,8.22 20.71,9.66 20.32,11.58C19.86,13.87 18.64,15.39 16.74,16.04C15.93,16.32 15.25,16.43 14.05,16.46C13.25,16.5 13.23,16.5 13,16.65C12.83,16.82 12.84,16.79 12.45,19.2C12.18,20.9 12.08,21.45 12.04,21.55C11.97,21.71 11.83,21.85 11.67,21.93L11.56,22H10C8.71,22 8.38,22 8.32,21.97V21.97M3.82,19.74C3.63,19.64 3.5,19.47 3.5,19.27C3.5,19 6.11,2.68 6.18,2.5C6.27,2.32 6.5,2.13 6.68,2.06L6.83,2H10.36C14.27,2 14.12,2 15,2.2C17.62,2.75 18.82,4.5 18.37,7.13C17.87,10.06 16.39,11.8 13.87,12.43C13,12.64 12.39,12.7 10.73,12.7C9.42,12.7 9.32,12.71 9.06,12.85C8.8,13 8.59,13.27 8.5,13.6C8.46,13.67 8.23,15.07 7.97,16.7C7.71,18.33 7.5,19.69 7.5,19.72L7.47,19.78H5.69C4.11,19.78 3.89,19.78 3.82,19.74V19.74Z"></path></svg>
	<div class="w100">
		<label>{{LANG replenish_my_balance}}</label>
	</div>
	<div class="form-group w100 add-amount">
		<h5>
			<span>{{CURRENCY}}</span>
			<b><input type="text" placeholder="0.00"></b>
		</h5>
	</div>
</form>

<form class="replenish-balance-form hidden text-center yp_ads_add">
	<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="#3F51B5"><path d="M8.32,21.97C8.21,21.92 8.08,21.76 8.06,21.65C8.03,21.5 8,21.76 8.66,17.56C9.26,13.76 9.25,13.82 9.33,13.71C9.46,13.54 9.44,13.54 10.94,13.53C12.26,13.5 12.54,13.5 13.13,13.41C16.38,12.96 18.39,11.05 19.09,7.75C19.13,7.53 19.17,7.34 19.18,7.34C19.18,7.33 19.25,7.38 19.33,7.44C20.36,8.22 20.71,9.66 20.32,11.58C19.86,13.87 18.64,15.39 16.74,16.04C15.93,16.32 15.25,16.43 14.05,16.46C13.25,16.5 13.23,16.5 13,16.65C12.83,16.82 12.84,16.79 12.45,19.2C12.18,20.9 12.08,21.45 12.04,21.55C11.97,21.71 11.83,21.85 11.67,21.93L11.56,22H10C8.71,22 8.38,22 8.32,21.97V21.97M3.82,19.74C3.63,19.64 3.5,19.47 3.5,19.27C3.5,19 6.11,2.68 6.18,2.5C6.27,2.32 6.5,2.13 6.68,2.06L6.83,2H10.36C14.27,2 14.12,2 15,2.2C17.62,2.75 18.82,4.5 18.37,7.13C17.87,10.06 16.39,11.8 13.87,12.43C13,12.64 12.39,12.7 10.73,12.7C9.42,12.7 9.32,12.71 9.06,12.85C8.8,13 8.59,13.27 8.5,13.6C8.46,13.67 8.23,15.07 7.97,16.7C7.71,18.33 7.5,19.69 7.5,19.72L7.47,19.78H5.69C4.11,19.78 3.89,19.78 3.82,19.74V19.74Z"></path></svg>
	<div class="w100">
		<label>{{LANG move_balance_to_wallet}}</label>
	</div>
	<div class="form-group w100 add-amount">
		<h5>
			<span>{{CURRENCY}}</span>
			<b><input type="text" placeholder="0.00"></b>
		</h5>
	</div>
</form>

<div class="modal fade matdialog" id="2checkout_modal" role="dialog" data-keyboard="false" style="overflow-y: auto;">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg></span></button>
				<h4 class="modal-title">{{LANG checkout_text}}</h4>
			</div>
			<form class="form form-horizontal" method="post" id="2checkout_form" action="#">
				<div class="modal-body twocheckout_modal">
					<div id="2checkout_alert"></div>
					<div class="clear"></div>
					<div class="sun_input col-md-6">
						<input id="card_name" type="text" class="form-control input-md" autocomplete="off" placeholder="{{LANG name}}" value="<?php echo($pt->user->name) ?>">
					</div>
					<div class="sun_input col-md-6">
						<input id="card_address" type="text" class="form-control input-md" autocomplete="off" placeholder="{{LANG address}}" value="<?php echo($pt->user->address) ?>">
					</div>
					<div class="sun_input col-md-6">
						<input id="card_city" type="text" class="form-control input-md" autocomplete="off" placeholder="{{LANG city}}" value="<?php echo($pt->user->city) ?>">
					</div>
					<div class="sun_input col-md-6">
						<input id="card_state" type="text" class="form-control input-md" autocomplete="off" placeholder="{{LANG state}}" value="<?php echo($pt->user->state) ?>">
					</div>
					<div class="sun_input col-md-6">
						<input id="card_zip" type="text" class="form-control input-md" autocomplete="off" placeholder="{{LANG zip}}" value="<?php echo($pt->user->zip) ?>">
					</div>
			        <div class="sun_input col-md-6">
			             <select id="card_country" name="card_country" class="form-control">{{COUNTRIES}}</select>
			        </div>
					<div class="sun_input col-md-6">
						<input id="card_email" type="text" class="form-control input-md" autocomplete="off" placeholder="{{LANG email}}" value="<?php echo($pt->user->email) ?>">
					</div>
					<div class="sun_input col-md-6">
						<input id="card_phone" type="text" class="form-control input-md" autocomplete="off" placeholder="{{LANG phone_number}}" value="<?php echo($pt->user->phone_number) ?>">
					</div>
					<div class="clear"></div>
					<hr>
					<div class="row two_check_card">
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M20,8H4V6H20M20,18H4V12H20M20,4H4C2.89,4 2,4.89 2,6V18A2,2 0 0,0 4,20H20A2,2 0 0,0 22,18V6C22,4.89 21.1,4 20,4Z" /></svg>
						<div class="sun_input col-xs-12">
							<input id="_number_" type="text" class="form-control input-md" autocomplete="off" placeholder="{{LANG card_number}}">
							<input id="card_number" name="card_number" type="hidden" class="form-control input-md" autocomplete="off">
						</div>
						<div class="sun_input col-xs-4">
							<select id="card_month" name="card_month" type="text" class="form-control input-md" autocomplete="off" placeholder="{{LANG month}} (01)">
								<option value="01">01</option>
								<option value="02">02</option>
								<option value="03">03</option>
								<option value="04">04</option>
								<option value="05">05</option>
								<option value="06">06</option>
								<option value="07">07</option>
								<option value="08">08</option>
								<option value="09">09</option>
								<option value="10">10</option>
								<option value="11">11</option>
								<option value="12">12</option>
							</select>
						</div>
						<div class="sun_input col-xs-4 no-padding-both">
							<select id="card_year" name="card_year" type="text" class="form-control input-md" autocomplete="off" placeholder="{{LANG year}} (2019)">
				                <?php for ($i=date('Y'); $i <= date('Y')+15; $i++) {  ?>
									<option value="<?php echo($i) ?>"><?php echo($i) ?></option>
								<?php } ?>
				            </select>
						</div>
						<div class="sun_input col-xs-4">
							<input id="card_cvc" name="card_cvc" type="text" class="form-control input-md" autocomplete="off" placeholder="CVC" maxlength="3" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
						</div>
					</div>
					<div class="clear"></div>
					<input type="text" id="2checkout_type" class="hidden" name="type">
					<input id="card_token" name="token" type="hidden" value="">
				</div>
				<div class="clear"></div>
				<div class="modal-footer">
					<div class="ball-pulse"><div></div><div></div><div></div></div>
					<button type="button" class="btn btn-main" onclick="tokenRequest()" id="2checkout_btn">{{LANG pay}}</button>
				</div>
			</form>
		</div>
	</div>
</div>


<div class="modal fade matdialog" id="bank_transfer_modal" role="dialog" data-keyboard="false" style="overflow-y: auto;">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg></span></button>
				<h4 class="modal-title">{{LANG bank_transfer}}</h4>
			</div>
			<form class="form form-horizontal" method="post" id="bank_transfer_form" action="#">
				<div id="blog-alert"></div>
				<div class="modal-body dt_bank_trans_modal">
					
					
					<?php echo html_entity_decode($pt->config->bank_description);?>
					
					<?php if (!empty($pt->config->bank_transfer_note)) { ?>
						<div class="dt_user_profile hide_alert_info_bank_trans">
							<span class="valign-wrapper">
								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M13,13H11V7H13M13,17H11V15H13M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2Z"></path></svg> Note:
							</span>
							<ul class="dt_prof_vrfy">
								<li><?php echo $pt->config->bank_transfer_note;?></li>
							</ul>
						</div>
					<?php } ?>
					<p class="dt_bank_trans_upl_rec"><a href="javascript:void(0);" onclick="$('#bank_transfer_modal').addClass('up_rec_active'); return false"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M14,2H6A2,2 0 0,0 4,4V20A2,2 0 0,0 6,22H18A2,2 0 0,0 20,20V8L14,2M13.5,16V19H10.5V16H8L12,12L16,16H13.5M13,9V3.5L18.5,9H13Z"></path></svg> {{LANG upload}}</a></p>
					<div class="upload_bank_receipts">
						<div onclick="document.getElementById('thumbnail').click(); return false">
							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M14,2H6A2,2 0 0,0 4,4V20A2,2 0 0,0 6,22H18A2,2 0 0,0 20,20V8L14,2M13.5,16V19H10.5V16H8L12,12L16,16H13.5M13,9V3.5L18.5,9H13Z"></path></svg>
							<p>{{LANG browse_to_upload}}</p>
							<img id="receipt_img_preview" src="">
						</div>
					</div>
					<input type="file" class="hidden" id="thumbnail" name="thumbnail" accept="image/*">
					<input name="image" type="file" id="upload" class="hidden">
					<input name="type" type="hidden" id="bank_transfer_type" class="hidden">
					<input name="description" type="hidden" id="bank_transfer_des" class="hidden">
					<input name="amount" type="hidden" id="bank_transfer_amount" class="hidden">
					<input type="reset" id="configreset" value="Reset" class="hidden">
				</div>
				<div class="modal-footer">
					<div class="ball-pulse"><div></div><div></div><div></div></div>
					<button type="submit" class="btn btn-main">{{LANG publish}}</button>
				</div>
			</form>
		</div>
	</div>
</div>