<li class="dropdown hide-from-mobile pull-left profile-nav">
	<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
		<img class="header-image" src="{{ME avatar}}" alt="{{ME name}} avatar" />
	</a>
	<ul class="dropdown-menu ani-acc-menu" role="menu">
		<li>
			<a href="{{ME url}}" data-load="?link1=timeline&id={{ME username}}">
				<img src="{{ME avatar}}" alt="{{ME name}} avatar" /> <div>{{ME name}}<span>{{LANG my_channel}}</span></div>
			</a>
		</li>
		<li id="metamask-connected" style="display: none;" class="div-logged-in" >
			<img src = "{{CONFIG theme_url}}/img/chill-coin-gold.png" alt="CHILL icon" class="img-icon-18" style="margin: 0px 5px 0 0;"/>
			<label id="wallet-metamask-connected"></label>
		</li>
		<?php if ($pt->config->point_level_system == 1) { ?>
			<li>
				<a href="{{LINK settings/points/<?php echo $pt->user->username; ?>}}" data-load="?link1=settings&page=points&user=<?php echo $pt->user->username; ?>">
					<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M15 4A8 8 0 1 1 7 12A8 8 0 0 1 15 4M3 12A6 6 0 0 0 7 17.65V19.74A8 8 0 0 1 7 4.26V6.35A6 6 0 0 0 3 12Z" /></svg> {{ME points}} {{LANG points}}
				</a>
			</li>
			<li class="divider"></li>
		<?php } ?>
		<?php if ($pt->config->go_pro == 'on' && !PT_IsUpgraded()): ?>
			<li>
			<a href="{{LINK go_pro}}" data-load="?link1=go_pro">
				<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M20.39,19.37L16.38,18L15,22L11.92,16L9,22L7.62,18L3.61,19.37L6.53,13.37C5.57,12.17 5,10.65 5,9A7,7 0 0,1 12,2A7,7 0 0,1 19,9C19,10.65 18.43,12.17 17.47,13.37L20.39,19.37M7,9L9.69,10.34L9.5,13.34L12,11.68L14.5,13.33L14.33,10.34L17,9L14.32,7.65L14.5,4.67L12,6.31L9.5,4.65L9.67,7.66L7,9Z" /></svg> {{LANG go_pro}}
			</a>
			</li>
		<?php endif; ?>
		<li>
			<a href="{{LINK subscriptions}}" data-load="?link1=subscriptions">
				<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M21,19V17H8V19H21M21,13V11H8V13H21M8,7H21V5H8V7M4,5V7H6V5H4M3,5A1,1 0 0,1 4,4H6A1,1 0 0,1 7,5V7A1,1 0 0,1 6,8H4A1,1 0 0,1 3,7V5M4,11V13H6V11H4M3,11A1,1 0 0,1 4,10H6A1,1 0 0,1 7,11V13A1,1 0 0,1 6,14H4A1,1 0 0,1 3,13V11M4,17V19H6V17H4M3,17A1,1 0 0,1 4,16H6A1,1 0 0,1 7,17V19A1,1 0 0,1 6,20H4A1,1 0 0,1 3,19V17Z" /></svg> {{LANG subscriptions}}
			</a>
		</li>
		<li>
			<a href="{{LINK balance}}" data-load="?link1=balance">
				<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="12" y1="1" x2="12" y2="23"></line><path d="M17 5H9.5a3.5 3.5 0 0 0 0 7h5a3.5 3.5 0 0 1 0 7H6"></path></svg> {{LANG balance_}}
			</a>
		</li>
		<li>
			<a href="{{LINK my_funding}}" data-load="?link1=my_funding">
				<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="12" y1="1" x2="12" y2="23"></line><path d="M17 5H9.5a3.5 3.5 0 0 0 0 7h5a3.5 3.5 0 0 1 0 7H6"></path></svg> {{LANG my_funding}}
			</a>
		</li>
		<?php if (IS_LOGGED == true && $pt->config->history_system == 'on') { ?>
			<li>
				<a href="{{LINK history}}" data-load="?link1=history">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="currentColor" d="M13.5,8H12V13L16.28,15.54L17,14.33L13.5,12.25V8M13,3A9,9 0 0,0 4,12H1L4.96,16.03L9,12H6A7,7 0 0,1 13,5A7,7 0 0,1 20,12A7,7 0 0,1 13,19C11.07,19 9.32,18.21 8.06,16.94L6.64,18.36C8.27,20 10.5,21 13,21A9,9 0 0,0 22,12A9,9 0 0,0 13,3" /></svg> {{LANG history}}
				</a>
			</li>
		<?php } ?>
		<li>
			<a href="{{ME url}}?page=play-lists" data-load="?link1=timeline&id={{ME username}}&page=play-lists">
				<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M19,9H2V11H19V9M19,5H2V7H19V5M2,15H15V13H2V15M17,13V19L22,16L17,13Z" /></svg> {{LANG play_lists}}
			</a>
		</li>
		<?php if ($pt->config->history_system == 'on') { ?>
			<!--<li>
				<a href="{{LINK history}}" data-load="?link1=history">
					<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-clock"><circle cx="12" cy="12" r="10"></circle><polyline points="12 6 12 12 16 14"></polyline></svg> {{LANG history}}
				</a>
			</li>-->
		<?php } ?>
		<!--<li>
			<a href="{{LINK liked-videos}}" data-load="?link1=liked-videos">
				<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M23,10C23,8.89 22.1,8 21,8H14.68L15.64,3.43C15.66,3.33 15.67,3.22 15.67,3.11C15.67,2.7 15.5,2.32 15.23,2.05L14.17,1L7.59,7.58C7.22,7.95 7,8.45 7,9V19A2,2 0 0,0 9,21H18C18.83,21 19.54,20.5 19.84,19.78L22.86,12.73C22.95,12.5 23,12.26 23,12V10M1,21H5V9H1V21Z" /></svg> {{LANG liked_videos}}
			</a>
		</li>-->
		<?php if ($pt->config->all_create_articles == 'on') { ?>
			<li class="hid_svg">
				<a href="{{LINK my_articles}}" data-load="?link1=my_articles">
					<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M2 4V18C2 18 2 20 4 20H20C20 20 22 20 22 18V4H2M9 13H5V7H9V13M19 13H11V11H19V13M19 9H11V7H19V9Z" /></svg> {{LANG my_articles}}
				</a>
			</li>
		<?php } ?>
		<?php if (($pt->config->sell_videos_system == 'on')) {  ?>
		<li class="hid_svg">
			<a href="{{LINK paid-videos}}" data-load="?link1=paid-videos">
				<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M20,8H4V6H20M20,18H4V12H20M20,4H4C2.89,4 2,4.89 2,6V18A2,2 0 0,0 4,20H20A2,2 0 0,0 22,18V6C22,4.89 21.1,4 20,4Z" /></svg> {{LANG purchased}}
			</a>
		</li>
		<?php } ?>
		<li class="divider"></li>
		<!-- <li>
			<a href="{{LINK manage-videos}}" data-load="?link1=manage-videos">
				<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-video"><polygon points="23 7 16 12 23 17 23 7"></polygon><rect x="1" y="5" width="15" height="14" rx="2" ry="2"></rect></svg> {{LANG manage_videos}}
			</a>
		</li> -->
		<li>
			<a href="{{LINK dashboard}}" data-load="?link1=dashboard">
				<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M17,10.5L21,6.5V17.5L17,13.5V17A1,1 0 0,1 16,18H4A1,1 0 0,1 3,17V7A1,1 0 0,1 4,6H16A1,1 0 0,1 17,7V10.5M14,16V15C14,13.67 11.33,13 10,13C8.67,13 6,13.67 6,15V16H14M10,8A2,2 0 0,0 8,10A2,2 0 0,0 10,12A2,2 0 0,0 12,10A2,2 0 0,0 10,8Z" /></svg> {{LANG video_studio}}
			</a>
		</li>
		<?php if ($pt->config->article_system == 'on'): ?>
			<li class="hdr_movie_link_show">
				<a href="{{LINK articles}}" data-load="?link1=articles">
					<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M20,11H4V8H20M20,15H13V13H20M20,19H13V17H20M11,19H4V13H11M20.33,4.67L18.67,3L17,4.67L15.33,3L13.67,4.67L12,3L10.33,4.67L8.67,3L7,4.67L5.33,3L3.67,4.67L2,3V19A2,2 0 0,0 4,21H20A2,2 0 0,0 22,19V3L20.33,4.67Z"/></svg> {{LANG articles}}
				</a>
			</li>
		<?php endif ?>
		<?php if ($pt->config->movies_videos == 'on') { ?>
			<li class="hdr_movie_link_show">
				<a href="{{LINK movies}}" data-load="?link1=movies">
					<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M18 4v1h-2V4c0-.55-.45-1-1-1H9c-.55 0-1 .45-1 1v1H6V4c0-.55-.45-1-1-1s-1 .45-1 1v16c0 .55.45 1 1 1s1-.45 1-1v-1h2v1c0 .55.45 1 1 1h6c.55 0 1-.45 1-1v-1h2v1c0 .55.45 1 1 1s1-.45 1-1V4c0-.55-.45-1-1-1s-1 .45-1 1zM8 17H6v-2h2v2zm0-4H6v-2h2v2zm0-4H6V7h2v2zm10 8h-2v-2h2v2zm0-4h-2v-2h2v2zm0-4h-2V7h2v2z"/></svg> {{LANG movies}}
				</a>
			</li>
		<?php } ?>
		<?php if ( $pt->config->popular_channels == 'on') { ?>
			<li class="hdr_movie_link_show">
				<a href="{{LINK popular_channels}}" data-load="?link1=popular_channels">
					<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M8 19h8c.55 0 1-.45 1-1V5c0-.55-.45-1-1-1H8c-.55 0-1 .45-1 1v13c0 .55.45 1 1 1zm-5-2h2c.55 0 1-.45 1-1V7c0-.55-.45-1-1-1H3c-.55 0-1 .45-1 1v9c0 .55.45 1 1 1zM18 7v9c0 .55.45 1 1 1h2c.55 0 1-.45 1-1V7c0-.55-.45-1-1-1h-2c-.55 0-1 .45-1 1z"/></svg> {{LANG popular_channels}}
				</a>
			</li>
		<?php } ?>
		<?php if ( $pt->config->popular_channels == 'on') { ?>
			<!-- <li>
				<a href="{{LINK popular_channels}}" data-load="?link1=popular_channels">
					<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg> {{LANG popular_channels}}
				</a>
			</li> -->
		<?php } ?>
		<li class="divider"></li>
		<!-- <li>
			<a href="{{LINK settings/profile}}" data-load="?link1=settings&page=profile">
				<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit-3"><polygon points="14 2 18 6 7 17 3 17 3 13 14 2"></polygon><line x1="3" y1="22" x2="21" y2="22"></line></svg> {{LANG edit}}
			</a>
		</li> -->
		<li>
			<a href="{{LINK settings}}" data-load="?link1=settings">
				<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M12,15.5A3.5,3.5 0 0,1 8.5,12A3.5,3.5 0 0,1 12,8.5A3.5,3.5 0 0,1 15.5,12A3.5,3.5 0 0,1 12,15.5M19.43,12.97C19.47,12.65 19.5,12.33 19.5,12C19.5,11.67 19.47,11.34 19.43,11L21.54,9.37C21.73,9.22 21.78,8.95 21.66,8.73L19.66,5.27C19.54,5.05 19.27,4.96 19.05,5.05L16.56,6.05C16.04,5.66 15.5,5.32 14.87,5.07L14.5,2.42C14.46,2.18 14.25,2 14,2H10C9.75,2 9.54,2.18 9.5,2.42L9.13,5.07C8.5,5.32 7.96,5.66 7.44,6.05L4.95,5.05C4.73,4.96 4.46,5.05 4.34,5.27L2.34,8.73C2.21,8.95 2.27,9.22 2.46,9.37L4.57,11C4.53,11.34 4.5,11.67 4.5,12C4.5,12.33 4.53,12.65 4.57,12.97L2.46,14.63C2.27,14.78 2.21,15.05 2.34,15.27L4.34,18.73C4.46,18.95 4.73,19.03 4.95,18.95L7.44,17.94C7.96,18.34 8.5,18.68 9.13,18.93L9.5,21.58C9.54,21.82 9.75,22 10,22H14C14.25,22 14.46,21.82 14.5,21.58L14.87,18.93C15.5,18.67 16.04,18.34 16.56,17.94L19.05,18.95C19.27,19.03 19.54,18.95 19.66,18.73L21.66,15.27C21.78,15.05 21.73,14.78 21.54,14.63L19.43,12.97Z" /></svg> {{LANG settings}}
			</a>
		</li>
		<?php if ($pt->config->user_ads == 'on'): ?>
			<li class="hid_svg">
				<a href="{{LINK ads}}" data-load="?link1=ads">
					<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M12,8H4A2,2 0 0,0 2,10V14A2,2 0 0,0 4,16H5V20A1,1 0 0,0 6,21H8A1,1 0 0,0 9,20V16H12L17,20V4L12,8M21.5,12C21.5,13.71 20.54,15.26 19,16V8C20.53,8.75 21.5,10.3 21.5,12Z" /></svg> {{LANG ads}}
				</a>
			</li>
		<?php endif; ?>
		<?php if (($pt->config->usr_v_mon == 'on' || $pt->config->sell_videos_system == 'on' || $pt->config->payed_subscribers == 'on')) { ?>
			<!-- <li>
				<a href="{{LINK transactions}}" data-load="?link1=transactions">
					<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trending-up"><polyline points="23 6 13.5 15.5 8.5 10.5 1 18"></polyline><polyline points="17 6 23 6 23 12"></polyline></svg> {{LANG earnings}}
				</a>
			</li> -->
			<?php } ?>
		<?php if (PT_IsAdmin() || $pt->user->admin != 0) { ?> 
			<li class="hid_svg">
				<a href="{{LINK admin-cp/}}">
					<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M13,3V9H21V3M13,21H21V11H13M3,21H11V15H3M3,13H11V3H3V13Z" /></svg> Admin Panel
				</a>
			</li> 
		<?php } ?>
		<li class="divider"></li>
		<li>
			<a href="{{LINK logout}}">
				<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M16.56,5.44L15.11,6.89C16.84,7.94 18,9.83 18,12A6,6 0 0,1 12,18A6,6 0 0,1 6,12C6,9.83 7.16,7.94 8.88,6.88L7.44,5.44C5.36,6.88 4,9.28 4,12A8,8 0 0,0 12,20A8,8 0 0,0 20,12C20,9.28 18.64,6.88 16.56,5.44M13,3H11V13H13" /></svg> {{LANG log_out}}
			</a>
		</li>
		<li class="divider"></li>
		<?php if ((!empty($pt->page) && $pt->page != 'watch' && $pt->page != 'movies') || (!empty($pt->page) && $pt->page == 'watch' && !empty($pt->get_video) && !$pt->get_video->is_movie)) { ?>
			<?php if ($pt->config->night_mode == 'both' || $pt->config->night_mode == 'night_default'): ?>
				<li class="toggle-mode">
					<label class="switch">
						{{LANG mode}}
						<input type="checkbox" {{MODE}} id="toggle-mode">
						<span class="slider round">
							<svg fill="#009da0" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg" class="feather feather-bulb"><path d="M12,6A6,6 0 0,1 18,12C18,14.22 16.79,16.16 15,17.2V19A1,1 0 0,1 14,20H10A1,1 0 0,1 9,19V17.2C7.21,16.16 6,14.22 6,12A6,6 0 0,1 12,6M14,21V22A1,1 0 0,1 13,23H11A1,1 0 0,1 10,22V21H14M20,11H23V13H20V11M1,11H4V13H1V11M13,1V4H11V1H13M4.92,3.5L7.05,5.64L5.63,7.05L3.5,4.93L4.92,3.5M16.95,5.63L19.07,3.5L20.5,4.93L18.37,7.05L16.95,5.63Z" /></svg>
						</span>
					</label>
				</li>
			<?php endif; ?> 
		<?php } ?>
		<span class="headtoppoint"></span>
	</ul>
</li>
<script>
	$( "#toggle-mode" ).click(function() {
		changeColorIcon();
		if ($('#toggle-mode').prop( "checked" ) === true) {
               $('input[type="date"]').css("color-scheme", "dark");
		} else{
               $('input[type="date"]').css("color-scheme", "unset");
            }
        },
	);
</script>



<script type="text/javascript">

	function initSocketIO(){
		var socketUrl = "<?php global $api_url; echo $api_url;?>";
		var socketPath = "<?php global $socket_path; echo $socket_path;?>";
		socketUrl = socketUrl.split("/").slice(0,3).join("/");
		return  io(
				socketUrl, {
					withCredentials: true,
					reconnectionDelayMax: 10000,
					transports: ['polling', 'websocket'],
					extraHeaders: {
						Authorization: 'Bearer <?php echo get_jwt_token(); ?>'
					},
					path: socketPath
				}
		);
	}
</script>
