<li class="dropdown hide-from-mobile top-header profile-nav">
	<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
		<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M12,19.2C9.5,19.2 7.29,17.92 6,16C6.03,14 10,12.9 12,12.9C14,12.9 17.97,14 18,16C16.71,17.92 14.5,19.2 12,19.2M12,5A3,3 0 0,1 15,8A3,3 0 0,1 12,11A3,3 0 0,1 9,8A3,3 0 0,1 12,5M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12C22,6.47 17.5,2 12,2Z" /></svg> <span class="caret"></span>
	</a>
	<ul class="dropdown-menu" role="menu">
		<li><a href="{{LINK login}}">{{LANG login}}</a></li>
		<?php if ($pt->config->user_registration == 'on') { ?>
		<li>
			<a href="{{LINK register}}">{{LANG register}}</a>
		</li>
		<?php } ?>
		<?php if ($pt->config->night_mode == 'both' || $pt->config->night_mode == 'night_default'): ?>
			<li class="divider"></li>
			<li class="toggle-mode top-header">
				<label class="switch">
					{{LANG mode}}
					<input type="checkbox" {{MODE}} id="toggle-mode">
					<span class="slider round">
						<svg fill="#009da0" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg" class="feather feather-bulb" style="margin: 0px 0 0 1px;"><path d="M12,6A6,6 0 0,1 18,12C18,14.22 16.79,16.16 15,17.2V19A1,1 0 0,1 14,20H10A1,1 0 0,1 9,19V17.2C7.21,16.16 6,14.22 6,12A6,6 0 0,1 12,6M14,21V22A1,1 0 0,1 13,23H11A1,1 0 0,1 10,22V21H14M20,11H23V13H20V11M1,11H4V13H1V11M13,1V4H11V1H13M4.92,3.5L7.05,5.64L5.63,7.05L3.5,4.93L4.92,3.5M16.95,5.63L19.07,3.5L20.5,4.93L18.37,7.05L16.95,5.63Z" /></svg>
					</span>
				</label>
			</li>
		<?php endif; ?>
   </ul>
</li>
<script>
	$( "#toggle-mode" ).click(function() {
		changeColorIcon();
	});
</script>