<link
        href="{{CONFIG theme_url}}/js/lib/jquery-datatable/skin/bootstrap/css/dataTables.bootstrap.min.css"
        rel="stylesheet"
/>

<div>
    <div class="myFundingAccount"> Gọi vốn của tôi  </div>
    <div class="row myFunding">
        <div class="col col-md-4 itemResult">
            <div class="title"> Tổng tài sản ước tính </div>
            <div class="number"> 0 </div>
            <div> VNĐ </div>
        </div>
        <div class="col col-md-4 itemResult">
            <div class="title"> Số tiền đã đầu tư </div>
            <div class="number"> 0 </div>
            <div> VNĐ </div>
        </div>
        <div class="col col-md-4 itemResult">
            <div class="title"> Số dư hiện tại </div>
            <div class="number"> 0 </div>
            <div> VNĐ </div>
        </div>
    </div>

    <div class="myFundingHistory"> Lịch sử giao dịch  </div>

    <table id="example" class="table table-striped table-bordered myFundingHistoryTable" style="width:100%">
        <thead>
            <tr>
                <th>Dự án</th>
                <th> Ngày mở bán </th>
                <th> Ngày kết thúc </th>
                <th>Số tiền</th>
                <th>Trạng thái</th>
                <th>Thời gian đầu tư</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Tiger Nixon</td>
                <td>12/05/2022</td>
                <td>03/05/2023</td>
                <td>1.000.000.000 VNĐ</td>
                <td>Đang mở bán</td>
                <td> 13/05/2022 </td>
            </tr>
        </tbody>
    </table>
</div>