<!--<link rel="stylesheet" href="{{CONFIG theme_url}}/css/pages/timeline.css?version={{CONFIG version}}&css_version={{CONFIG css_version}}">-->

<?php if ($pt->config->credit_card == 'yes') { ?>
<script type="text/javascript" charset="utf8" src="https://js.stripe.com/v2/"></script>
<?php } ?>
<div class="profile-container">
	<div class="pt_main_chnl_hdrr">
  <div class="card-container" style="overflow: hidden;">
    <div class="cover-container">
      <img src="{{USER cover}}" alt="{{USER name}}">
		<?php if ($pt->isowner == true) { ?>
			<div class="edit-cover-container hidden">
				<a href="{{LINK settings/avatar}}" data-load="?link1=settings&page=avatar">
					<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M4,4H7L9,2H15L17,4H20A2,2 0 0,1 22,6V18A2,2 0 0,1 20,20H4A2,2 0 0,1 2,18V6A2,2 0 0,1 4,4M12,7A5,5 0 0,0 7,12A5,5 0 0,0 12,17A5,5 0 0,0 17,12A5,5 0 0,0 12,7M12,9A3,3 0 0,1 15,12A3,3 0 0,1 12,15A3,3 0 0,1 9,12A3,3 0 0,1 12,9Z" /></svg>
				</a>
				<span class="btn btn-upload-image btn-file" onclick="PT_StartRepositioner();">
					<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M21,15H23V17H21V15M21,11H23V13H21V11M23,19H21V21C22,21 23,20 23,19M13,3H15V5H13V3M21,7H23V9H21V7M21,3V5H23C23,4 22,3 21,3M1,7H3V9H1V7M17,3H19V5H17V3M17,19H19V21H17V19M3,3C2,3 1,4 1,5H3V3M9,3H11V5H9V3M5,3H7V5H5V3M1,11V19A2,2 0 0,0 3,21H15V11H1M3,19L5.5,15.79L7.29,17.94L9.79,14.72L13,19H3Z" /></svg>
				</span>
			</div>
		<?php } ?>
    </div>
    <?php if ($pt->isowner == true) { ?>
    <div class="cover-container-2">
		<img src="{{USER full_cover}}" alt="{{USER name}}">
		<div class="user-reposition-dragable-container">
			<span class="btn btn-upload-image btn-file" onclick="Wo_SubmitRepositioner();">
				<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M21,7L9,19L3.5,13.5L4.91,12.09L9,16.17L19.59,5.59L21,7Z" /></svg>
			</span>
			<span class="btn btn-upload-image btn-file" onclick="PT_StopRepositioner();">
				<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z" /></svg>
			</span>
		</div>
		<div class="user-cover-uploading-progress user-repositioning-icons-container"></div>
    </div>
    <form class="cover-position-form hidden" method="post">
        <input class="cover-position" name="pos" value="0" type="hidden">
        <input name="user_id" value="{{USER id}}" type="hidden">
    </form>
    <?php } ?>
    
		<?php if (!empty($pt->profile_user->facebook) || !empty($pt->profile_user->google) || !empty($pt->profile_user->twitter)) { ?>
		<div class="share-video">
			<?php if (!empty($pt->profile_user->facebook)) { ?><a href="{{USER facebook}}" class="fa fa-facebook" target="_blank"></a><?php } ?>
			<?php if (!empty($pt->profile_user->google)) { ?><a href="{{USER google}}" class="fa fa-google" target="_blank"></a><?php } ?>
			<?php if (!empty($pt->profile_user->twitter)) { ?><a href="{{USER twitter}}" class="fa fa-twitter" target="_blank"></a><?php } ?>
			<?php if (!empty($pt->profile_user->instagram)) { ?><a href="{{USER instagram}}" class="fa fa-instagram" target="_blank"></a><?php } ?>
		</div>
		<?php } ?>
		
  </div>
  <div class="pt_chnl_info" style="padding-bottom: 0px;">
    <div class="avatar-container">
      <img src="{{USER avatar}}" alt="{{USER name}}" onerror="callBackImgFailed(this)">
    </div>
    <div class="info-container" style="display:grid">
      <h4 style="display: flex; align-items: center">
          <a style="margin-right: 5px;" href="{{USER url}}" data-load="?link1=timeline&id={{USER username}}">{{USER name}}</a>
          <?php if( $pt->is_verify_channel == 1 || $pt->verified_user){ ?>
              <svg style="color: #02587e;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                  <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
              </svg>
          <?php } ?>
      </h4>
      <div>
        <span id="subscriber">{{SUBS}}</span>
        <span id="title-subscribers" style="display: none;"> {{LANG subscribers}}</span>
     </div>
     <div class="group-btn-message-block" style="display:flex; margin-bottom: 5px;">
      {{MESSAGE_BUTTON}}
      {{BLOCK_BUTTON}}
     </div>
    </div>
    <div class="subscribe-btn-container btn-timeline-page" style="display: grid;">
      <div class="custom-group-btn">
        <?php if ($pt->isowner != true && $pt->loggedin == true) { ?>
          <button 
             class="item-custom btn btn-danger"
             data-toggle="modal"
             data-target="#timelineDonateModal" 
             style="border-radius: 2em; background-color: #d9534f!important; border-color: #d43f3a; height:100%;"
             >
             <span class="glyphicon glyphicon-gift"
             style="background-color: #d9534f!important;"
             ></span> {{LANG donate_btn}}
          </button>
       <?php } ?>
       <div class="item-custom video-group-btn" style="display:none">
         {{SUBSCIBE_BUTTON}}
       </div>
    </div>
    </div>
  </div>
<!--  <div class="profile-token-timeline" >-->
<!--      <div class="profile-amount-token">-->
<!--          <img src="/themes/default/img/diamond-coin.png" class="img-18"/>-->
<!--          {{TOKEN_USER}} Revenue-->
<!--      </div>-->
<!--      <div class="profile-amount-token" style="margin-top: 5px;">-->
<!--          <img src="/themes/default/img/diamond-coin.png" class="img-18"/>-->
<!--          {{WITHDRAWAL}} Withdrawn-->
<!--      </div>-->
<!--  </div>-->
  <div class="modal fade" id="timelineDonateModal" tabindex="-1" role="dialog" aria-labelledby="timelineDonateModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
              <div class="modal-content">
                  <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                    <h3 class="modal-title" id="timelineDonateModalLabel">{{LANG donate_btn}}: {{USER name}}</h3>
                    <div class="pp_mat_input" style="font-size: 18px;margin-bottom: 16px; margin-top:16px;display: flex;column-gap: 16px;align-items: baseline;justify-content: center;">
                      <label for="donateAmount">{{LANG amount}} CHILL:</label>
                      <input type="number" name="donateAmount" id="donateAmount" placeholder="247" min="0" required>
                    </div>
                    <div style="display: flex; justify-content: flex-end; column-gap: 16px;">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal" style="color:#333!important;">{{LANG cancel}}</button>
                      <button type="button" class="btn btn-primary" data-dismiss="modal" id="donate_confirm">OK</button>
                    </div>
                    <div class="hidden">
                      <input id="donate_receiver_username" name="receiver_username" value="{{USER username}}" type="hidden">
                      <input id="donate_jwt_token" name="jwt_token" value="<?php echo get_jwt_token(); ?>" type="hidden">
                    </div>
                  </div>
              </div>
          </div>
      </div>
  <div class="links-container">
    <ul>
      <li>
        <a href="{{LINK c/{{USER username}}?page=videos}}" class="<?php echo ($pt->second_page == 'videos') ? 'active' : ''?>" data-load="?link1=timeline&id={{USER username}}&page=videos">{{LANG videos}}</a>
      </li>
      <li>
        <a href="{{LINK c/{{USER username}}?page=play-lists}}" class="<?php echo ($pt->second_page == 'play-lists') ? 'active' : ''?>" data-load="?link1=timeline&id={{USER username}}&page=play-lists">{{LANG play_lists}}</a>
      </li>
      <?php if ($pt->config->shorts_system == 'on') { ?>
      <li>
        <a href="{{LINK c/{{USER username}}?page=shorts}}" class="<?php echo ($pt->second_page == 'shorts') ? 'active' : ''?>" data-load="?link1=timeline&id={{USER username}}&page=shorts">{{LANG shorts}}</a>
      </li>
      <?php } ?>
      <li>
        <a href="{{LINK c/{{USER username}}?page=liked-videos}}" class="<?php echo ($pt->second_page == 'liked-videos') ? 'active' : ''?>" data-load="?link1=timeline&id={{USER username}}&page=liked-videos">{{LANG liked_videos}}</a>
      </li>
      <?php if ($pt->config->post_system == 'on') { ?>
      <li>
        <a href="{{LINK c/{{USER username}}?page=activities}}" class="<?php echo ($pt->second_page == 'activities') ? 'active' : ''?>" data-load="?link1=timeline&id={{USER username}}&page=activities">{{LANG activities}}</a>
      </li>
      <?php } ?>
      <li>
        <a href="{{LINK c/{{USER username}}?page=about}}" class="<?php echo ($pt->second_page == 'about') ? 'active' : ''?>" data-load="?link1=timeline&id={{USER username}}&page=about">{{LANG about_profile}}</a>
      </li>
    </ul>
  </div>
  </div>
  <div class="page-container content pt_main_chnl_content">
    {{SECOND_PAGE}}
  </div>

  <?php if(($pt->second_page == 'about' && $pt->is_channel_youtube && $pt->isowner == false && $pt->is_verify_channel == 0) || $pt->config->enable_remove_channel == 1 ){ ?>
    <div class="page-container content pt_main_chnl_content">
        <h4 class="pt_main_chnl_content_title">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                    <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"/>
                </svg>
                <span> {{LANG verify_account}} </span>
        </h4>
        <div class="row">
            <div class="col-md-12">
                <div style="display: flex; justify-content: center;">
                    <?php if ($pt->is_verify_channel == 0 && $pt->isowner == false) { ?>
                    <label style="text-align: end;">{{LANG verify_message}}</label>
                    <?php } ?>
                </div>
                <div style="display: flex; justify-content: center; text-transform: uppercase;">
                    <div class="item-custom remove-channel-btn verify-channel" style="cursor: pointer; margin-right: 10px;" onclick="removeChannel()">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M19,4H15.5L14.5,3H9.5L8.5,4H5V6H19M6,19A2,2 0 0,0 8,21H16A2,2 0 0,0 18,19V7H6V19Z" /></svg>
                        <span> {{LANG remove_btn}} </span>
                    </div>
                    <div class="item-custom btn-verify verify-channel" style="cursor: pointer; text-transform: uppercase; " onclick="verifyAccount()">
                        <svg style="margin-right: 5px;" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-person-check-fill" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M15.854 5.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L12.5 7.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
                            <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                        </svg>
                        <span> {{LANG verify_btn}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
  <?php } ?>

  <input type="hidden" id="profile-id" value="{{USER id}}">
</div>

<script>
     function formatNumber(n, p, ts, dp) {
    const t = [];
    // Get arguments, set defaults
    if (typeof p == "undefined") p = 2;
    if (typeof ts == "undefined") ts = ",";
    if (typeof dp == "undefined") dp = ".";

    // Get number and decimal part of n
    n = Number(n).toFixed(p).split(".");

    // Add thousands separator and decimal point (if requied):
    for (
      var iLen = n[0].length, i = iLen ? iLen % 3 || 3 : 0, j = 0;
      i <= iLen;
      i += 3
    ) {
      t.push(n[0].substring(j, i));
      j = i;
    }
    // Insert separators and return result
    return t.join(ts) + (n[1] ? dp + n[1] : "");
  }

function calcSubscriber(value) { 
      let ts = ','
      let dp = '.'
      if("{{LANG thousand_code}}" == "N"){
         ts = '.'
         dp = ','
      }

      if(value.length<4){
         return Number(value)
      }
      let i = 7;
      let j = 0;
      let dividend = 1000
      let code=  [" {{LANG thousand_code}}"," {{LANG million_code}}"," {{LANG billion_code}}"]
      do {
         if(value.length < i){
            const remainder = Number(value)% dividend
            let result  = Number(value)/dividend
            const p = (remainder)? 1: 0
            return formatNumber(result,p,ts,dp)+code[j]
         }
         i+=3;
         j+=1;
         dividend*=1000;
      }
      while (j < 4);
}
jQuery(document).ready(function($) {
      //change subscribers toLowerCase
      const titleSubscribers = document.getElementById('title-subscribers');
      const subscriber = document.getElementById('subscriber');
      titleSubscribers.innerHTML = titleSubscribers.innerHTML.toLowerCase();
      titleSubscribers.style.display = "unset";
      subscriber.innerHTML = calcSubscriber(subscriber.innerHTML)
      const btnSubscriber = document.querySelector('.video-group-btn').querySelector('*[class*=btn-subscribe]');
      btnSubscriber.classList = btnSubscriber.classList + ' remove-before';
      document.querySelector('.video-group-btn').querySelector('.subs-amount').style.display = "none";
      // document.querySelector('.video-group-btn').querySelector('.publisher-subscribe-button').style.display = "unset";
      $('.btn-message').css('margin-right','5px');
      $('.video-group-btn').css('display','unset');
});
</script>

<?php echo PT_LoadPage('modals/stripe_modal'); ?>
<script type="text/javascript">
	function callBackImgFailed(image) {
	  /* prevent endless loop */
	  image.onerror = null;
	  /* an error occured, change the source */
	  var src = image.srcset;
	  var newSrc = "{{CONFIG theme_url}}/img/ichill_logo.svg";
	  image.srcset = newSrc;
	}

  async function verifyAccount(){
      var backendHost = "{{CONFIG api_url}}";
      $.ajax({
        type: "GET",
        url: `${backendHost}/v1/youtube-v3/get-token-goauth`,
        success: function(data, status) {
         // console.log(data)
         // var urlSplit  = window.location.href.split('/');
         // localStorage.setItem('CHANNEL_VERIFY',urlSplit[urlSplit.length-1])
          localStorage.setItem('CHANNEL_VERIFY', '{{CHANNEL_USER}}')
          window.location.replace(data.payload);
        },
        error: function(err) {
         console.log(err)
        },
        dataType: 'json',
      });
}

async function removeChannel(){
  var backendHost = "{{CONFIG api_url}}";
      $.ajax({
        type: "GET",
        url: `${backendHost}/v1/youtube-v3/get-token-goauth`,
        success: function(data, status) {
         // console.log(data)
         // var urlSplit  = window.location.href.split('/');
         // localStorage.setItem('REMOVE_CHANNEL',urlSplit[urlSplit.length-1])
         localStorage.setItem('REMOVE_CHANNEL', '{{CHANNEL_USER}}')
         window.location.replace(data.payload);
        },
        error: function(err) {
         console.log(err)
        },
        dataType: 'json',
      });
}

$('#donate_confirm').click(function () {
    const apiUrl="{{CONFIG api_url}}/v1/transaction/donate";
    const donateAmount = $('#donateAmount').val();
    const donateReceiverUsername = $('#donate_receiver_username').val();
    const donateJWTToken = $('#donate_jwt_token').val();

    $.ajax({
      type: "POST",
      url: apiUrl,
      data: {
        receive_username: donateReceiverUsername,
        amount: donateAmount
      },
      success: function(data, status) {
        $('#donateAmount').val(0);
        window.Snackbar.show({
          pos: 'top-center',
          text: "Donate successfully completed",
          textColor: "white",
          backgroundColor: "green",
        })
      },
      error: function(err) {
        window.Snackbar.show({
          pos: 'top-center',
          text: "Donate has an error occurred",
          textColor: "white",
          backgroundColor: "red",
        })
      },
      dataType: 'json',
      headers: {"Authorization": `Bearer ${donateJWTToken}`}
    });
  });
  $('.cover-container, .edit-cover-container').hover(function() { 
      $('.edit-cover-container').removeClass('hidden'); 
  });
  $('.cover-container, .edit-cover-container').mouseleave(function() {                  
     $('.edit-cover-container').addClass('hidden'); 
  });
  
  $('.avatar-container, .edit-avatar-container').hover(function() { 
      $('.edit-avatar-container').removeClass('hidden'); 
  });
  $('.avatar-container, .edit-avatar-container').mouseleave(function() {                  
     $('.edit-avatar-container').addClass('hidden'); 
  });
  function PT_StartRepositioner() {
    $('.cover-container').hide();
    $('.cover-container-2').show();
    $('.cover-container-2 img').css('cursor', '-webkit-grab').draggable({
      scroll: false,
      axis: "y",
      cursor: "-webkit-grab",
      drag: function (event, ui) {
        y1 = $('.cover-container-2').height();
        y2 = $('.cover-container-2').find('img').height();
        if (ui.position.top >= 0) {
            ui.position.top = 0;
        }else{
          if (ui.position.top <= (y1-y2)) {
              ui.position.top = y1-y2;
          }
        }
      },
      stop: function(event, ui) {
          $('input.cover-position').val(ui.position.top);
      }
    });
  }

  function PT_StopRepositioner() {
    $('.cover-container').show();
    $('.cover-container-2').hide();
  }

  function Wo_SubmitRepositioner() {
      if ($('input.cover-position').length == 1) {
          posY = $('input.cover-position').val();
          $('form.cover-position-form').submit();
      }
  }
  $('form.cover-position-form').ajaxForm({
        url:  '{{LINK aj/user/re_cover}}?hash=' + $('.main_session').val(),
        dataType:  'json', 
        beforeSend: function() {
            $('.user-reposition-dragable-container').hide();
            $('.user-repositioning-icons-container1').show();
            $('.user-repositioning-icons-container').html('<div class="pace-activity-parent"><div class="pace-activity"></div></div>').fadeIn('fast');
        },
        success: function(data) {
            if (data.status == 200) {
              $('.cover-container img').attr('src', data.url + '?time=' + Math.random()).on("load", function () {
                $('.cover-container').show();
                $('.cover-container-2').hide();
                $('.user-reposition-dragable-container').show();
                $('.user-repositioning-icons-container1').fadeOut('fast');
                $('.user-repositioning-icons-container').fadeOut('fast').html('');
              });
            }
        }
    });




  <?php if ($pt->config->credit_card == 'yes') { ?>
      var stripe_array = [];
      Stripe.setPublishableKey('{{CONFIG stripe_id}}');

      function SH_StripeCardRequest() {
         $('#stripe_btn').text("{{LANG please_wait}}");
         $('#stripe_btn').attr('disabled', 'true');
         if ($("#stripe_name").val() != '' && $("#stripe_email").val() != '' && $("#stripe_number").val() != '' && $("#stripe_month").val() != '' && $("#stripe_year").val() != '' && $("#stripe_cvc").val() != '') {

            stripe_array['stripe_name'] = $('#stripe_name').val();
            stripe_array['stripe_email'] = $('#stripe_email').val();
            stripe_array['stripe_number'] = $('#stripe_number').val();
            stripe_array['stripe_month'] = $('#stripe_month').val();
            stripe_array['stripe_year'] = $('#stripe_year').val();
            stripe_array['stripe_cvc'] = $('#stripe_cvc').val();
            Stripe.createToken({
                  number: $('#stripe_number').val(),
                  exp_month: $('#stripe_month').val(),
                  exp_year: $('#stripe_year').val(),
                  cvc: $('#stripe_cvc').val()
              }, SH_StripeCardResponseHandler);
         }
         else{
            $('#stripe_alert').html('<div class="alert alert-danger">{{LANG please_check_details}}</div>');
            $('#stripe_btn').text("{{LANG pay}}");
            $('#stripe_btn').removeAttr('disabled');
         }
      }
      function SH_StripeCardResponseHandler(status, response) {
          if (response.error) {
            $('#stripe_alert').html('<div class="alert alert-danger">'+response.error.message+'</div>');
            $('#stripe_btn').text("{{LANG pay}}");
            $('#stripe_btn').removeAttr('disabled');
          } else {
            stripe_array['token'] = response.id;

             $.post('{{LINK aj/go_pro/subscribe}}', {'stripe_name': stripe_array['stripe_name'],'stripe_email': stripe_array['stripe_email'],'stripe_number': stripe_array['stripe_number'],'stripe_month': stripe_array['stripe_month'],'stripe_year': stripe_array['stripe_year'],'stripe_cvc': stripe_array['stripe_cvc'],stripeToken:stripe_array['token'],user_id: '{{USER id}}',type:'stripe'}, function (data) {
                   if (data.status == 200) {
                      window.location.href = data.url;
                   } else {
                      $('#stripe_alert').html('<div class="alert alert-danger"><i class="fa fa-spin fa-spinner"></i> {{LANG payment_declined}}</div>');
                   }
             });

          }
      }

   <?php } ?>
   function PT_OpenStripe(pkg,self,video_id = 0,price = 0,user_id = 0){

      $('#pay-go-pro').modal('hide');
      $('#stripe_modal').modal('show');
    }




<?php if ($pt->config->checkout_payment == 'yes') { ?>
    // Called when token created successfully.
   var successCallback = function(data) {
       var myForm = document.getElementById('2checkout_form');
       $.post('{{LINK aj/go_pro/subscribe}}', {card_number: $("#card_number").val(),card_cvc: $("#card_cvc").val(),card_month: $("#card_month").val(),card_year: $("#card_year").val(),card_name: $("#card_name").val(),card_address: $("#card_address").val(),card_city: $("#card_city").val(),card_state: $("#card_state").val(),card_zip: $("#card_zip").val(),card_country: $("#card_country").val(),card_email: $("#card_email").val(),card_phone: $("#card_phone").val(),type: 'checkout',token: data.response.token.token,user_id: '{{USER id}}'}, function(data, textStatus, xhr) {
         $('#2checkout_btn').html("{{LANG pay}}");
         $('#2checkout_btn').attr('disabled');
         $('#2checkout_btn').removeAttr('disabled');
         $('#2checkout_form').find('.ball-pulse').fadeOut(100);
         if (data.status == 200) {
               window.location.href = data.url;
            } else {
               $('#2checkout_alert').html("<div class='alert alert-danger'>"+data.error+"</div>");
            setTimeout(function () {
               $('#2checkout_alert').html("");
            },3000);
            }
         /*optional stuff to do after success */
       });
   };

   // Called when token creation fails.
   var errorCallback = function(data) {
      $('#2checkout_btn').html("{{LANG pay}}");
      $('#2checkout_btn').removeAttr('disabled');
      $('#2checkout_form').find('.ball-pulse').fadeOut(100);
       if (data.errorCode === 200) {
           tokenRequest();
       } else {
         $('#2checkout_alert').html("<div class='alert alert-danger'>"+data.errorMsg+"</div>");
         setTimeout(function () {
            $('#2checkout_alert').html("");
         },3000);
       }
   };

   var tokenRequest = function() {
      $('#card_number').val($('#_number_').val());
      $('#2checkout_btn').html("{{LANG please_wait}}");
      $('#2checkout_btn').attr('disabled','true');
      if ($("#card_number").val() != '' && $("#card_cvc").val() != '' && $("#card_month").val() != '' && $("#card_year").val() != '' && $("#card_name").val() != '' && $("#card_address").val() != '' && $("#card_city").val() != '' && $("#card_state").val() != '' && $("#card_zip").val() != '' && $("#card_country").val() != 0 && $("#card_email").val() != '' && $("#card_phone").val() != '') {
         $('#2checkout_form').find('.ball-pulse').fadeIn(100);
         // Setup token request arguments
          var args = {
              sellerId: "<?php echo($pt->config->checkout_seller_id) ?>",
              publishableKey: "<?php echo($pt->config->checkout_publishable_key) ?>",
              ccNo: $("#card_number").val(),
              cvv: $("#card_cvc").val(),
              expMonth: $("#card_month").val(),
              expYear: $("#card_year").val()
          };

          // Make the token request
          TCO.requestToken(successCallback, errorCallback, args);
      }
      else{
         $('#2checkout_btn').html("{{LANG pay}}");
         $('#2checkout_btn').removeAttr('disabled');
         $('#2checkout_alert').html("<div class='alert alert-danger'>{{LANG please_check_details}}</div>");
         setTimeout(function () {
            $('#2checkout_alert').html("");
         },3000);

      }
      
       
   };

   $(function() {
       // Pull in the public encryption key for our environment
       TCO.loadPubKey("<?php echo($pt->config->checkout_mode) ?>");
   });
   <?php } ?>

   $(document).on('click', '#select-img', function(event) {
      $("#thumbnail").click()
   });
   $(document).on('change', '#thumbnail', function(event) {
      let imgPath = $(this)[0].files[0].name;
       if (typeof(FileReader) != "undefined") {
           let reader = new FileReader();
           reader.onload = function(e) {
            $('#receipt_img_preview').attr('src', e.target.result);
           }
           reader.readAsDataURL(this.files[0]);
       }
      $('#bank_transfer_modal').addClass('up_rec_img_ready');
   });
   $(document).bind('DOMSubtreeModified', function () {
            if($(window).height()>=$(document).height()){
                  $('#pt_footer').addClass('pt-footer-custom')
               }else{
                  $('#pt_footer').removeClass('pt-footer-custom')
               }
         });
   jQuery(document).ready(function($) {
    const shortElement = document.querySelectorAll(".short")
    for (const element of shortElement) {
                  element.querySelector('h4').style.cssText = "height: unset !important;"
                  element.querySelector('.video-list-token-info').style.cssText = "display:none !important;"
            }
      $('#bank_transfer_form').ajaxForm({
        url: '{{LINK aj/go_pro/subscribe}}',
        beforeSend: function() {
          $('#bank_transfer_form').find('.ball-pulse').fadeIn(100);
          $('#bank_transfer_form').find('.btn-main').text("{{LANG please_wait}}").attr('disabled', 'true');
        },
        success: function(data) {
          if (data['status'] == 200) {
            $("#blog-alert").html('<div class="alert alert-success">'+ data['message'] +'</div>');
            setTimeout(function () {
               window.location = "<?php echo $pt->config->site_url;?>";
               $(".prv-img").html('<div class="thumbnail-rendderer"><div><div class="error-text-renderer"></div><div><p>{{LINK browse_to_upload}}</p></div></div> </div>');
               $("#blog-alert").html('');
               $('#configreset').click();

            },3000)
          } else if (data['message']) {
            $("#blog-alert").html('<div class="alert alert-danger">' + data['message'] + '</div>');
          } 
          $('#bank_transfer_form').find('.ball-pulse').fadeOut(100);
          $('#bank_transfer_form').find('.btn-main').text("{{LANG publish}}");
          $('#bank_transfer_form').find('.btn-main').removeAttr('disabled');
      }});
   });

    function PT_OpenBank(pkg,self,video_id = 0,price = 0){
       if (!pkg || !self) {
         return false;
       }
       $(self).text("{{LANG please_wait}}").attr('disabled', 'true');
       $('#pay-go-pro').modal('hide');
       $('#configreset').click();
      $("#blog-alert").html('');
      $('#pay-go-pro').modal('hide');
      $('#bank_transfer_modal').modal({
             show: true
            });
   }
</script>

<div class="modal fade matdialog" id="2checkout_modal" role="dialog" data-keyboard="false" style="overflow-y: auto;">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg></span></button>
            <h4 class="modal-title">{{LANG checkout_text}}</h4>
         </div>
         <form class="form form-horizontal" method="post" id="2checkout_form" action="#">
            <div class="modal-body twocheckout_modal">
               <div id="2checkout_alert"></div>
               <div class="clear"></div>
               <div class="sun_input col-md-6">
            <input id="card_name" type="text" class="form-control input-md" autocomplete="off" placeholder="{{LANG name}}" value="<?php echo($pt->user->name) ?>">
          </div>
          <div class="sun_input col-md-6">
            <input id="card_address" type="text" class="form-control input-md" autocomplete="off" placeholder="{{LANG address}}" value="<?php echo($pt->user->address) ?>">
          </div>
          <div class="sun_input col-md-6">
            <input id="card_city" type="text" class="form-control input-md" autocomplete="off" placeholder="{{LANG city}}" value="<?php echo($pt->user->city) ?>">
          </div>
          <div class="sun_input col-md-6">
            <input id="card_state" type="text" class="form-control input-md" autocomplete="off" placeholder="{{LANG state}}" value="<?php echo($pt->user->state) ?>">
          </div>
          <div class="sun_input col-md-6">
            <input id="card_zip" type="text" class="form-control input-md" autocomplete="off" placeholder="{{LANG zip}}" value="<?php echo($pt->user->zip) ?>">
          </div>
              <div class="sun_input col-md-6">
                   <select id="card_country" name="card_country" class="form-control">{{COUNTRIES}}</select>
              </div>
          <div class="sun_input col-md-6">
            <input id="card_email" type="text" class="form-control input-md" autocomplete="off" placeholder="{{LANG email}}" value="<?php echo($pt->user->email) ?>">
          </div>
          <div class="sun_input col-md-6">
            <input id="card_phone" type="text" class="form-control input-md" autocomplete="off" placeholder="{{LANG phone_number}}" value="<?php echo($pt->user->phone_number) ?>">
          </div>
          <div class="clear"></div>
          <hr>
          <div class="row two_check_card">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M20,8H4V6H20M20,18H4V12H20M20,4H4C2.89,4 2,4.89 2,6V18A2,2 0 0,0 4,20H20A2,2 0 0,0 22,18V6C22,4.89 21.1,4 20,4Z" /></svg>
            <div class="sun_input col-xs-12">
              <input id="_number_" type="text" class="form-control input-md" autocomplete="off" placeholder="{{LANG card_number}}">
              <input id="card_number" name="card_number" type="hidden" class="form-control input-md" autocomplete="off">
            </div>
            <div class="sun_input col-xs-4">
              <select id="card_month" name="card_month" type="text" class="form-control input-md" autocomplete="off" placeholder="{{LANG month}} (01)">
                <option value="01">01</option>
                <option value="02">02</option>
                <option value="03">03</option>
                <option value="04">04</option>
                <option value="05">05</option>
                <option value="06">06</option>
                <option value="07">07</option>
                <option value="08">08</option>
                <option value="09">09</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
              </select>
            </div>
            <div class="sun_input col-xs-4 no-padding-both">
              <select id="card_year" name="card_year" type="text" class="form-control input-md" autocomplete="off" placeholder="{{LANG year}} (2019)">
                        <?php for ($i=date('Y'); $i <= date('Y')+15; $i++) {  ?>
                  <option value="<?php echo($i) ?>"><?php echo($i) ?></option>
                <?php } ?>
                    </select>
            </div>
            <div class="sun_input col-xs-4">
              <input id="card_cvc" name="card_cvc" type="text" class="form-control input-md" autocomplete="off" placeholder="CVC" maxlength="3" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
            </div>
          </div>
               <div class="clear"></div>
               <input type="text" id="2checkout_type" class="hidden" name="type">
               <input id="card_token" name="token" type="hidden" value="">
            </div>
            <div class="clear"></div>
            <div class="modal-footer">
               <div class="ball-pulse"><div></div><div></div><div></div></div>
               <button type="button" class="btn btn-main" onclick="tokenRequest()" id="2checkout_btn">{{LANG pay}}</button>
            </div>
         </form>
      </div>
   </div>
</div>

<div class="modal fade matdialog" id="bank_transfer_modal" role="dialog" data-keyboard="false" style="overflow-y: auto;">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg></span></button>
            <h4 class="modal-title">{{LANG bank_transfer}}</h4>
         </div>
         <form class="form form-horizontal" method="post" id="bank_transfer_form" action="#">
          <div id="blog-alert"></div>
            <div class="modal-body dt_bank_trans_modal">
               
               
               <?php echo html_entity_decode($pt->config->bank_description);?>
               
               <?php if (!empty($pt->config->bank_transfer_note)) { ?>
                  <div class="dt_user_profile hide_alert_info_bank_trans">
                     <span class="valign-wrapper">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M13,13H11V7H13M13,17H11V15H13M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2Z"></path></svg> Note:
                     </span>
                     <ul class="dt_prof_vrfy">
                        <li><?php echo $pt->config->bank_transfer_note;?></li>
                     </ul>
                  </div>
               <?php } ?>
               <p class="dt_bank_trans_upl_rec"><a href="javascript:void(0);" onclick="$('#bank_transfer_modal').addClass('up_rec_active'); return false"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M14,2H6A2,2 0 0,0 4,4V20A2,2 0 0,0 6,22H18A2,2 0 0,0 20,20V8L14,2M13.5,16V19H10.5V16H8L12,12L16,16H13.5M13,9V3.5L18.5,9H13Z"></path></svg> {{LANG upload}}</a></p>
               <div class="upload_bank_receipts">
                  <div onclick="document.getElementById('thumbnail').click(); return false">
                     <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M14,2H6A2,2 0 0,0 4,4V20A2,2 0 0,0 6,22H18A2,2 0 0,0 20,20V8L14,2M13.5,16V19H10.5V16H8L12,12L16,16H13.5M13,9V3.5L18.5,9H13Z"></path></svg>
                     <p>{{LANG browse_to_upload}}</p>
                     <img id="receipt_img_preview" src="">
                  </div>
               </div>
               <input type="file" class="hidden" id="thumbnail" name="thumbnail" accept="image/*">
               <input name="image" type="file" id="upload" class="hidden">
               <input name="type" type="hidden" id="bank_transfer_type" class="hidden" value="bank">
               <input name="description" type="hidden" id="bank_transfer_des" class="hidden">
               <input name="user_id" type="hidden" id="user_id" class="hidden" value="{{USER id}}">
               <input type="reset" id="configreset" value="Reset" class="hidden">
            </div>
            <div class="modal-footer">
               <div class="ball-pulse"><div></div><div></div><div></div></div>
               <button type="submit" class="btn btn-main">{{LANG publish}}</button>
            </div>
         </form>
      </div>
   </div>
</div>
<?php if (!empty($pt->profile_user->google_tracking_code)) { ?>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=<?php echo($pt->profile_user->google_tracking_code) ?>"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', '<?php echo($pt->profile_user->google_tracking_code) ?>');
</script>

<?php } ?>