<div class="user-setting-panel pt_shadow">
  <div class="metamask-status" onclick="metaMaskLogin(true)">
    <div class="logo" id="metamask-connect-logo"><img
        src="https://assets.hongkiat.com/uploads/metamask-alternatives/metamask.svg" /></div>
    <div class="status" id="metamask-connect-status">Click to connect MetaMask</div>
    <div></div>
  </div>
  <div class="available-balance">
    <div class="title">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
        <path fill="none" d="M0 0h24v24H0z"></path>
        <path fill="currentColor"
          d="M17 16h2V4H9v2h8v10zm0 2v3c0 .552-.45 1-1.007 1H4.007A1.001 1.001 0 0 1 3 21l.003-14c0-.552.45-1 1.007-1H7V3a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v14a1 1 0 0 1-1 1h-3zM7 16v2h2v1h2v-1h.5a2.5 2.5 0 1 0 0-5h-3a.5.5 0 1 1 0-1H13v-2h-2V9H9v1h-.5a2.5 2.5 0 1 0 0 5h3a.5.5 0 1 1 0 1H7z">
        </path>
      </svg>
      {{LANG balance}}
    </div>
    <div class="amount" id="wallet-balance">
      {{ME balance}} BUSD
      <!-- {{CONFIG payment_currency}} -->
    </div>
    <!-- phong test add sub info-->
    <!-- <div class="sub-title">
              <i class="material-icons">history</i> Amount withdrawn
          </div>
          <div class="sub-amount">
              {{ME wallet}} {{CONFIG payment_currency}}
          </div> -->
  </div>
  <div class="action-bar">
    <div class="button" onclick="openTab(event, 'tab-deposit')"><span class="glyphicon glyphicon-log-in"></span> Deposit
    </div>
    <!-- <div class="button" onclick="openTab(event, 'tab-send')"><span class="glyphicon glyphicon-send"></span> Send</div> -->
    <!-- <div class="button" onclick="openTab(event, 'tab-receive')"><span class="glyphicon glyphicon-download-alt"></span> Receive</div> -->
    <div class="button" onclick="openTab(event, 'tab-withdraw')"><span class="glyphicon glyphicon-log-out"></span>
      Withdraw</div>
    <div class="button" onclick="openTab(event, 'tab-withdraw-history'); getTxnHistory();">
      <i class="material-icons">history</i>
      <!-- {{LANG withdrawals}} -->
      History
    </div>
  </div>
  <div class="tabs-panel">
    <input id="user-id-str" type="hidden" name="user_id" value="{{USER id}}">
    <input id="user-token" type="hidden" name="userToken" value="<?php echo get_jwt_token(); ?>">
    <div id="tab-deposit" class="tabcontent">
      <h3>Deposit</h3>
      <form class="form-horizontal pt_forms" id="deposit" onsubmit="return preventFormSubmit(event)">
        <div class="row">
          <div class="form-group">
            <label class="col-md-12">{{LANG amount}}</label>
            <div class="col-md-9">
              <input type="number" class="form-control input-md" placeholder="0.00" step="any" name="deposit-amount"
                id="deposit-input">
            </div>
            <div class="col-md-3 no-padding-left">
              <div style="font-weight: bold;
                          font-size: 16px;
                          padding: 4px;
                        ">
                <img src="/themes/default/img/chill-coin-gold.png" class="img-18"> (Min 1)
              </div>
            </div>
          </div>
        </div>
        <div>
          <button id="deposit-submit" class="btn btn-main " onclick="onDeposit()">
            Confirm
          </button>
        </div>
      </form>
    </div>

    <div id="tab-send" class="tabcontent">
      <h3>Send</h3>
      <p>Todo: send form</p>
    </div>

    <div id="tab-receive" class="tabcontent">
      <h3>Receive</h3>
      <p>Todo: receive form</p>
    </div>
    <div id="tab-withdraw" class="tabcontent">
      <h3>Withdraw</h3>
      <form class="form-horizontal user-monetization-panel pt_forms" id="monetization-settings"
        onsubmit="return preventFormSubmit(event)">
        <div class="row">
          <div class="form-group">
            <label class="col-md-12">{{LANG amount}}</label>
            <div class="col-md-9">
              <input type="number" class="form-control input-md" placeholder="0.00" name="amount" step="any"
                id="withdraw-input">
            </div>
            <div class="col-md-3 no-padding-left">
              <div style="  font-weight: bold;
                            font-size: 16px;
                            padding: 4px;
                            ">
                <img src="/themes/default/img/chill-coin-gold.png" class="img-18"> (Min 1)
              </div>
            </div>
          </div>
        </div>
        <div>
          <button id="submit" class="btn btn-main " type="submit"
            onclick="onWithdraw()">Confirm</button>
        </div>
      </form>
    </div>
    <div id="tab-withdraw-history" class="tabcontent">
      <h3>Transaction history</h3>
      <div id="withdrawals-data"></div>
      <div class="pagination-history">
        <button id="txnBack" class="btn btn-default" onclick="getTxnHistory(historyCurrentPage-1)">Back</button>
        <button id="txnNext" class="btn btn-default" onclick="getTxnHistory(historyCurrentPage+1)">Next</button>
      </div>
    </div>
  </div>
  <div class="monetization-settings-alert"></div>
</div>
{{TRANSACTION_SCRIPT}}
<script>
function numberWithCommas(x) {
  return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
}
$(document).ready(function() {
  var socketUrl = "<?php global $api_url; echo $api_url;?>";
  var socketPath = "<?php global $socket_path; echo $socket_path;?>";
  socketUrl = socketUrl.split("/").slice(0, 3).join("/");
  var socket = io(
    socketUrl, {
      withCredentials: true,
      reconnectionDelayMax: 10000,
      transports: ['polling', 'websocket'],
      extraHeaders: {
        Authorization: 'Bearer <?php echo get_jwt_token(); ?>'
      },
      path: socketPath
    }
  );
  socket.on("balance", (data) => {
    if (data?.status === 'changed') {
      $('#wallet-balance')
        .html(`${
              numberWithCommas(Math.round(data?.message * 100) / 100)
          } BUSD`);
    }
  });
  socket.on("deposit", (data) => {
    window.Snackbar.show({
      pos: 'top-center',
      text: `<div>
              <b>Deposit status: ${data?.status}</b>
              ${['failed', 'rejected'].includes(data?.status)
                  ? `<br/><div style="padding-top:8px;">Message: ${data?.message}</div>` 
                  : ''}
            <div>`,
      textColor: "white",
    })
  });
  socket.on("withdraw", (data) => {
    window.Snackbar.show({
      pos: 'top-center',
      text: `<div>
              <b>Withdrawal status: ${data?.status}</b>
              ${['failed', 'rejected'].includes(data?.status)
                ? `<br/><div style="padding-top:8px;">Message: ${data?.message}</div>`
                : ''}
            <div>`,
      textColor: "white",
    });
  });
});
var historyCurrentPage = 1;
var historyTotalPage = 1;

function reduceAddress(adr) {
  if (!adr) return '';
  if (adr.slice(0, 2) !== '0x') {
    if (adr.length > 10)
      return adr.slice(0, 5) + '...' + adr.slice(-4);
    return adr;
  }
  return `${adr.slice(0, 5)}...${adr.slice(-4)}`;
}

function mapTxnStatus(st) {
  if (!st || st > 5 || st < 0) return '###';
  const map = {
    1: "PENDING",
    2: "SUCCESS",
    3: "FAILED",
    4: "REJECTED",
    5: "REFUNDED",
  }
  return map[st];
}

function mapTxnType(st) {
  if (!st || st > 3 || st < 0) return '###';
  const map = {
    1: "DEPOSIT",
    2: "WITHDRAWAL",
    3: "DONATE",
  }
  return map[st];
}

function hideOrShowPagination() {
  if (historyCurrentPage <= 1) {
    $('#txnBack').hide();
  } else {
    $('#txnBack').show();
  }
  if (historyCurrentPage < historyTotalPage) {
    $('#txnNext').show();
  } else {
    $('#txnNext').hide();
  }
}

function getTxnHistory(page = 0) {
  $('#bar_loading').show();
  let url = "{{LINK aj/transaction}}";
  historyCurrentPage = page;
  if (historyCurrentPage > historyTotalPage) {
    historyCurrentPage = historyTotalPage;
  }
  if (historyCurrentPage < 1) {
    historyCurrentPage = 1;
  }
  if (historyCurrentPage)
    url = url + "?page=" + historyCurrentPage;
  $.ajax({
    url: url,
  }).done((res) => {
    let data = JSON.parse(res);
    data = data && data.data;
    historyTotalPage = Math.ceil(data.count / 10) || 1;
    hideOrShowPagination();
    data = data.rows;
    if (Array.isArray(data)) {
      data = data.map(item => {
        const createdDate = new Date(item.createdAt);
        const row = "<tr>" +
          "<td>" + createdDate.toLocaleDateString() + "<br/>" + createdDate.toLocaleTimeString('en-US', {
            hour12: false
          }) + "</td>" +
          "<td>" + reduceAddress(item.sender) + "</td>" +
          "<td>" + reduceAddress(item.receiver) + "</td>" +
          "<td>" + item.amount + "</td>" +
          "<td>" + item.fee + "</td>" +
          "<td>" + mapTxnType(item.type) + "</td>" +
          "<td>" + mapTxnStatus(item.status) + "</td>" +
          "<td>" + item.txnhash + "</td>" +
          "</tr>";
        return row;
      })
    }
    $("#withdrawals-data").html(`<table class="txn-history">
          <tr>
              <th> Date </th>
              <th> Sender </th>
              <th> Receiver </th>
              <th> Amount</th>
              <th> Fee </th>
              <th> Type </th>
              <th> Status </th>
              <th> TxnHash </th>
            </tr>
          ${data.join('')}
        </table>`);
    $('#bar_loading').delay(300).fadeOut(300);
  }).fail(err => {
    window.Snackbar.show({
      pos: 'top-center',
      text: err.message,
      textColor: "white",
      backgroundColor: "red",
    })
    $('#bar_loading').delay(300).fadeOut(300);
  })
}

function openTab(evt, tabName) {
  // Declare all variables
  var i, tabcontent, tablinks;

  // Get all elements with class="tabcontent" and hide them
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }

  // Get all elements with class="tablinks" and remove the class "active"
  // tablinks = document.getElementsByClassName("tablinks");
  // for (i = 0; i < tablinks.length; i++) {
  //     tablinks[i].className = tablinks[i].className.replace(" active", "");
  // }

  // Show the current tab, and add an "active" class to the button that opened the tab
  document.getElementById(tabName).style.display = "block";
  evt.currentTarget.className += " active";
}
</script>