
[data-theme='light'] {
  --background-1: white;
}

[data-theme='dark'] {
  --background-1: #28282d;
}

/* padding home video */
.remake-video-padding {
  padding: 0 8px 40px 8px!important;
}

.amount-comment-token {
  color: black;
  padding: 4px;
  font-weight: bold;
  display: inline;
}

/* token info */
.amount-token {
  padding: 8px 0;
  color: black!important;
  text-align: right;
  font-weight: bold;
}

.amount-token .swap {
  font-weight: normal!important;
  color: black;
  font-weight: bold;
}

/* profile token info */
.profile-token-info {
  width: 100%;
  margin-top: 8px;
  display: flex;
  align-items: baseline;
}

.profile-amount-token{
  font-weight: bold;
  color: black;
}
.profile-amount-token-swap {
  font-weight: normal!important;
  color: black;
  margin-left: 4px;
}

/*withdrawn*/

.profile-withdrawn {
  width: 100%;
  margin-top: 5px;
  display: flex;
  align-items: baseline;
}

.profile-withdrawn .profile-amount-token{
  font-weight: bold;
  color: black;
}

.profile-withdrawn .profile-amount-token-swap {
  font-weight: normal!important;
  margin-left: 4px;
  color: black;
}

/* watching info */
.video-earning {
  align-items: baseline;
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  margin-top: 4px;
  font-size: 16px;
  font-weight: bold;
}

.channel-earning * {
  font-weight: bold;
  font-size: 16px;
  opacity: 1!important;
}
.channel-earning .profile-token-info {
  margin-top: 2px!important;
  display: flex;
  align-items: baseline;
}
.channel-earning .profile-withdrawn {
  margin-top: 2px!important;
  align-items: baseline;
  display: flex;
}
/* video list */
.video-list-token-info {
  font-size: 16px!important;
  align-items: baseline;
  font-weight: bold;
  display: flex;
  justify-content: flex-start;
  width: 100%;
  font-size: 11px;
  margin-bottom: 2px;
  margin-top: 4px;
}

/* wallet balance */

.available-balance {
  width: 100%;
  padding: 32px;
  background-color: #eee;
  border-radius: 16px;
  margin-bottom: 16px;
  color: #222;
}

.available-balance .title {
  color: #222;
}

.available-balance .amount {
  font-weight: bold;
  font-size: 48px;
}

.available-balance .sub-title {
  color: #ccc;
  margin-top: 16px;
}

.available-balance .sub-amount {
  font-weight: bold;
  font-size: 36px;
}

/*connect metamask*/
.metamask-status {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
  align-items: center;
  cursor: pointer;
}

.metamask-status:hover {
  color:rgb(0, 126, 94);
}

.metamask-status:hover .logo {
  border-color:rgb(0, 126, 94);
}

.metamask-status .logo {
  width: 80px;
  height: 80px;
  border-radius: 50px;
  border: 6px solid grey;
}

.metamask-status .logo:hover {
  border: 6px solid rgb(0, 126, 94);
}

.metamask-status .logo.active {
  border-radius: 50px;
  border: 6px solid #009688;
}

.metamask-status .logo img {
  width: 100%;
  height: 100%;
  border-radius: 50px;
  object-fit: cover;
}

.metamask-status .status {
  font-size: 24px;
  font-weight: bold;
  /* padding: 16px; */
  /* background-color:#009688; */
  border-radius: 16px;
}

/* action-bar */
.action-bar {
  width: 100%;
  display: flex;
  margin-top: 32px;
  gap: 16px;
}

.action-bar .button {
  background-color: #009688;
  color: white;
  font-weight: bold;
  font-size: 16px;
  padding: 8px 16px;
  border-radius: 6px;
  cursor: pointer;
  flex-grow: 1;
  flex-basis: 0;
}

.action-bar .button:hover {
  opacity: 0.8;
}
.action-bar .button span {
  margin-right: 8px;
}

.tabs-panel {
  margin: 16px 0;
}

.tabcontent {
  display: none;
  padding: 8px 16px;
  border-radius: 6px;
  background-color: #eee;
  border: 1px solid #c7c7c7; 
  border-top: none;
  animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

/* custom donate button */
.publisher-element {
  align-items: unset;
}
.publisher-element .publisher-subscribe-button {
  margin-left: 8px;
}
.publisher-element .publisher-donante-button {
  margin-left: auto;
}
.publisher-element .publisher-donante-button .btn {
  height: 40px;
  border-radius: 8px;
  font-weight: bold;
}

.subscribe-btn-container .btn {
  /* color: black!important; */
  border-radius: 8px;
}
.subscribe-btn-container .btn .glyphicon {
  /* color: black!important; */
  margin-right: 6px;
  top: -1px;
}

/*isu symbol*/
.isu {
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0;
  padding: 0;
  position: relative;
}
.isu-12 {
  background-image:url("images/bac24x24.png");
  width: 12px;
  height: 12px;
  top: 2px;
}
.isu-18 {
  background-image:url("images/bac24x24.png");
  width: 18px;
  height: 18px;
  top: 3px;
}
.isu-24 {
  background-image:url("images/bac24x24.png");
  width: 24px;
  height: 24px;
  top: 4px;
}
.isu-48 {
  background-image:url("images/bac48x48.png");
  width: 48px;
  height: 48px;
  top: 8px;
}
.isu-64 {
  background-image:url("images/bac64x64.png");
  width: 64px;
  height: 64px;
  top: 12px;
}

.img-12 {
  position: relative!important;
  width: 12px!important;
  height: 12px!important;
  top: -1px!important;
  min-width: unset!important;
  min-height: unset!important;
}
.img-18 {
  position: relative!important;
  width: 18px!important;
  height: 18px!important;
  top: -2px!important;
  min-width: unset!important;
  min-height: unset!important;
}
.img-24 {
  position: relative!important;
  width: 24px!important;
  height: 24px!important;
  top: -4px!important;
  min-width: unset!important;
  min-height: unset!important;
}
.img-48 {
  position: relative!important;
  width: 48px!important;
  height: 48px!important;
  min-width: unset!important;
  min-height: unset!important;
  top: -8px!important;
}
.img-64 {
  position: relative!important;
  min-width: unset!important;
  min-height: unset!important;
  width: 64px!important;
  height: 64px!important;
  top: -12px !important;
}

.img-icon-18{
  position: relative!important;
  width: 18px!important;
  height: 18px!important;
  top: 0px!important;
  min-width: unset!important;
  min-height: unset!important;
}
/* Go from zero to full opacity */
@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

.txn-history {
  display: flex;
  width: 100%;
  overflow-y: hidden;
  overflow-x: scroll;
}

.txn-history tr td {
  padding: 6px;
}

.txn-history tr th {
  padding: 6px;
}
.txn-history tr:nth-child(even) {background: #eee}
.txn-history tr:nth-child(odd) {background: #ddd}

.pagination-history {
  display: flex;
  justify-content: right;
  gap: 16px;
  margin-top: 16px;
}
.pagination-history .btn-default:hover{
  color: #333 !important;
}
.pagination-history .btn-default:active {
  color: #333 !important;
}
.pagination-history .btn-default:focus {
  color: #333 !important;
}
.video-player .icons span {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(0,0,0,.4);
}

#hidden-video{
    opacity: 0;
    transform: none;
    top: 10px;
    left: 10px;
    width: 150px;
}

.pt_latest_vds .col-md-3:first-child .video-list .video-list-title{
  bottom : 50px;
}

.div-logged-in{
  padding: 0 16px;
  line-height: 38px;
  border: 0;
  font-size: 14px !important;
  display: flex;
  align-items: center;
}

.btn-timeline-page{
  display: flex; column-gap: 16px;
}

.btn-verify{
  border-radius: 2em;
  box-shadow: 0 1px 2px rgb(0 0 0 / 15%);
  padding: 0 14px;
  line-height: 36px;
  font-size: 13px;
  letter-spacing: 0.7px;
  display: inline-block;
  text-decoration: none;
  color: white;
  background: #04abf2;
}

@media only screen and (max-width: 650px) {
  .btn-timeline-page{
    display: inline-table !important;
    align-items: center;
    justify-content: center;
  }
  .btn-timeline-page >div, .btn-timeline-page >button{
    transform: scale(0.9);
  }
  /*.custom-group-btn > div, .custom-group-btn > button{*/
  /*  margin-left: unset !important;*/
  /*  margin-top: 0.5em;*/
  /*}*/
  .group-btn-message-block{
    justify-self: center;
}
  .group-button{
    display: unset !important;
  }
  .custom-group-btn{
    display: flex;
    flex-wrap: wrap;
  }
  .item-custom{
    flex:40%;
  }
  .item-custom{
    width: 100%;
    margin: 5px !important;
  }

  .item-custom>button{
    width: 100%;
  }
}

.profile-token-timeline{
  padding-left: 110px;
  background-color: #fff;
}

.upload-product-image{
  width: 120px;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
.material-symbols-outlined{
  vertical-align: middle;
}

.disabled-end-live{
  pointer-events: none;
  cursor: default;
  text-decoration: none;
}

.helper-text li.valid:before {
  content: "✅ ";
}
.helper-text li:before {
  content: "❌ ";
}
.helper-text li {
  color: #f44336!important;
}

.mejs__time-slider{
  outline: none;
}

.disabled-end-live{
  pointer-events: none;
  cursor: default;
  text-decoration: none;
}

.helper-text li.valid:before {
  content: "✅ ";
}
.helper-text li:before {
  content: "❌ ";
}
.helper-text li {
  color: #f44336!important;
}

.remove-before::before{
  display: none !important;
}

.disabled-end-live{
  pointer-events: none;
  cursor: default;
  text-decoration: none;
}

.helper-text li.valid:before {
  content: "✅ ";
}
.helper-text li:before {
  content: "❌ ";
}
.helper-text li {
  color: #f44336!important;
}

.slick-arrow{
  border: unset;
  background: unset;
}

.timeline-btn-group{
  display: flex;
  justify-content: center;
}

.group-button{
  display: flex;
}

.custom-group-btn{
  display: flex;
  justify-content: flex-end;
  white-space: nowrap;
}

.custom-group-btn > div, .custom-group-btn > button{
  margin-left: 10px;
}

.remove-channel-btn {
  align-items: center;
  display: flex;
  justify-content: center;
  border-radius: 2em;
  box-shadow: 0 1px 2px rgb(0 0 0 / 15%);
  padding: 0 14px;
  line-height: 36px;
  font-size: 13px;
  letter-spacing: 0.7px;
  text-decoration: none;
  color: white;
  background: #9E9E9E;
}

.playlist-title{
  height: 3em !important;
  line-height: 1.5em;
  font-size: 13px;
}

.dropdown-menu > li > a:hover{
   cursor: pointer;
}

.user-ads-settings-form .invalid-feedback{
  color: #dc3545;
  font-size: 0.875em;
  margin-top: 0.25rem;
}

#pt-user-ads-table_next:hover{
  cursor: pointer;
}

#pt-user-ads-table_previous:hover{
  cursor: pointer;
}

#pt-user-ads-table thead th a:hover{
  cursor: pointer;
}

body-container { /* Used for design footer*/
  display: flex;
  flex-direction: column;
  margin: 0;
}


#pt_footer{
  margin-top: auto;
  clear: both;
  position: relative;
}

.login-google{
  display: flex;
  justify-content: center;
  border-radius: 3px;
  border-color: #0069ff;
  border-style: solid;
  border-width: thin;
}

.login-google:hover {
  cursor: pointer;
  background-color: #0069ff;
}

.login-google a{
  padding:10px;
  display: flex;
  align-items: center;
  text-decoration : none;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.login-google a img{
   margin-right: 5px;
}

.login-google a span{
  color: #0069ff;
  font-weight: 500;
}

.login-page h4{
  color: black;
}

.login_divider{
 color: #e2e4e5;
}

.login_divider:before{
  background: #e2e4e5;
}

.login_divider:after{
  background: #e2e4e5;
}

.login-page .login-form input[type=text], .login-page .login-form input[type=password]{
   border: 1px solid #cbd5e0;
   color: black;
}

.login-page .login-form input::placeholder{
  color: #e2e4e5;
}

.pt_vdo_cstm_radio label{
  color: black;
}

.login-page .pt_vdo_cstm_radio label:before, .login-page .pt_vdo_cstm_radio input:checked + label:before{
  border-color: #cbd5e0;
}

.login-page .pt_vdo_cstm_radio input:checked + label:after{
  background-color: #cbd5e0;
}

.new-here a{
  color: #2a6496;
}

.new-here{
  color: black;
}

.login-page .login-form input[type=submit]{
  background-color: #2a6496 !important;
  color: white !important;
}

.login-page{
  margin-top: 60px;
}

.video-latest-list .video-title{
  max-height: unset;

}

.video-latest-list .video-title h4{
  height: unset;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}


.home-page-categories .videos .video-list .video-list-title h4{
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}


.video-latest-list .video-info{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  
  /* CSS */
  
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  
  /* CSS */
  
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  
  /* CSS */
  
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
  /* CSS */
  
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  
  /* CSS */
  
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  .publisher-element .publisher-avatar { width: 34px; height: 34px; }
  .pt_video_info .btn-subscribe {font-size: 10px; }
  .publisher-element #subscriber-channel { font-size: 12px }
  .publisher-element .video-group-btn{ width: 190px; }
  .publisher-element .publisher-name {
    word-break: break-all;
    width: 150px;
  }

  .remove-channel-btn{
    letter-spacing: unset;
  }
}

.swal-withdrawl {
  min-width: 600px!important;
}

.chill-coin {
  height: 100%;
  background-image: url('/themes/default/css/images/chill-coin-gold.png');
  background-size:100% 100%;
  -o-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  background-size:cover;
}
.balance-info {
  display: flex;
  column-gap: 16px;
  align-items: center;
}
.balance-info h4{
  margin: 0;
}
.chill-coin-wrapper {
  display: flex;
  align-items: center;
}
.chill-coin.chill-16 {
  height: 16px; 
  width: 16px;
}
.chill-coin.chill-18 {
  height: 18px; 
  width: 18px;
}
.chill-coin.chill-24 {
  height: 24px; 
  width: 24px;
}
.chill-coin.chill-32 {
  height: 32px; 
  width: 32px;
}

.chill-title.chill-16 {
  font-size: 16px;
  position: relative;
  top: 0.08em;
  left: 0.25em;
}
.chill-title.chill-18 {
  font-size: 18px;
  position: relative;
  top: 0.08em;
  left: 0.25em;
}
.chill-title.chill-24 {
  font-size: 24px;
  position: relative;
  top: 0.08em;
  left: 0.25em;
}
.chill-title.chill-32 {
  font-size: 32px;
  position: relative;
  top: 0.08em;
  left: 0.25em;
}
.balance-avatar {
  border-radius: 50%;
}
.balance-avatar img {
  border-radius: 50%;
  width: 64px;
  height: 64px;
}

.pt_mn_wtch_rlts_prnt .pt_pt_mn_wtch_rltvids .video-title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  max-height: unset;
}


html{
  height: 100%;
}
#main-container{
  min-height: 100%;
}

.verify-channel{
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-16{
  width: 16px;
  height: 16px;
}

.myFundingAccount{
  font-weight: 700;
  font-size: 18px;
}

.myFundingHistory{
  margin-top: 30px;
  font-weight: 700;
  font-size: 18px;
}

.myFundingHistoryTable{
  margin-top: 10px;
}

.myFunding{
  background-color: var(--background-1);
  border-radius: .75rem;
  margin-top: 10px;
}

.myFunding .itemResult{
  text-align: center;
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
}

.myFunding .itemResult .title{
   color: rgba(163,163,163,1);
}

.myFunding .itemResult .number{
  font-size: 2.25rem;
  color: #00d6c7;
  font-weight: 700;
}