<link rel="stylesheet" href="{{CONFIG theme_url}}/css/pages/dashboard.css?version={{CONFIG version}}&css_version={{CONFIG css_version}}">

<script src="{{CONFIG theme_url}}/js/highcharts/highcharts.js"></script>
<script src="{{CONFIG theme_url}}/js/highcharts/exporting.js"></script>
<div class="user-setting-panel pt_shadow">
	<div>
		<div class="upload-head">
			<h4 class="pt_mn_page_hd"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M12,3L2,12H5V20H19V12H22M9,18H7V12H9M13,18H11V10H13M17,18H15V14H17"></path></svg> {{LANG dashboard}}</h4>
			<div class="tp_vid_fltr_tabs">
				<ul class="list-unstyled">
					<li class="selected">
						<a href="{{LINK dashboard}}" data-load="?link1=dashboard">{{LANG dashboard}}</a>
					</li>
					<li>
						<a href="{{LINK video_studio}}" data-load="?link1=video_studio">{{LANG videos}}</a>
					</li>
					<li>
						<a href="{{LINK comments}}" data-load="?link1=comments">{{LANG comments}}</a>
					</li>
					<?php if ($pt->config->usr_v_mon == 'on' || $pt->config->sell_videos_system == 'on' || $pt->config->payed_subscribers == 'on') { ?>
						<li>
							<a href="{{LINK transactions}}" data-load="?link1=transactions">{{LANG earnings}}</a>
						</li>
					<?php } ?>
					<?php if ($pt->config->movies_videos == 'on' && PT_IsAdmin()) { ?>
						<li <?php if (!empty($_GET['videos_type']) && $_GET['videos_type'] == 'movies') { echo 'class="selected"'; } ?> >
							<a href="{{LINK video_studio?videos_type=movies}}" data-load="?link1=video_studio&videos_type=movies">{{LANG movies}}</a>
						</li>
					<?php } ?>
				</ul>
			</div>
			<div class="clear"></div>
			<hr>
		</div>

        <div class="mb_50">
            <h4>
                {{LANG channel_analytics}}
            </h4>
            <br>
            <div class="clear"></div>
			
			<div class="row">
			<div class="col-md-3 col-sm-6">
				<div class="vp_mn_dash_stats">
					<h2 style="color: #6abd46"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M12,23A1,1 0 0,1 11,22V19H7A2,2 0 0,1 5,17V7A2,2 0 0,1 7,5H21A2,2 0 0,1 23,7V17A2,2 0 0,1 21,19H16.9L13.2,22.71C13,22.89 12.76,23 12.5,23H12M3,15H1V3A2,2 0 0,1 3,1H19V3H3V15Z"></path></svg> {{LANG total_comments}}</h2>
					<p>{{TOTAL_COMMENTS}}</p>
				</div>
            </div>
			<div class="col-md-3 col-sm-6">
				<div class="vp_mn_dash_stats">
					<h2 style="color: #f2b92b"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M10,16.5V7.5L16,12M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2Z"></path></svg> {{LANG total_views}}</h2>
					<p>{{TOTAL_VIEWS}}</p>
				</div>
            </div>
			<div class="col-md-3 col-sm-6">
				<div class="vp_mn_dash_stats">
					<h2 style="color: #2196f3"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M23,10C23,8.89 22.1,8 21,8H14.68L15.64,3.43C15.66,3.33 15.67,3.22 15.67,3.11C15.67,2.7 15.5,2.32 15.23,2.05L14.17,1L7.59,7.58C7.22,7.95 7,8.45 7,9V19A2,2 0 0,0 9,21H18C18.83,21 19.54,20.5 19.84,19.78L22.86,12.73C22.95,12.5 23,12.26 23,12V10M1,21H5V9H1V21Z"></path></svg> {{LANG total_likes}}</h2>
					<p>{{TOTAL_LIKES}}</p>
				</div>
            </div>
			<div class="col-md-3 col-sm-6">
				<div class="vp_mn_dash_stats">
					<h2 style="color: #f44336"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M19,15H23V3H19M15,3H6C5.17,3 4.46,3.5 4.16,4.22L1.14,11.27C1.05,11.5 1,11.74 1,12V14A2,2 0 0,0 3,16H9.31L8.36,20.57C8.34,20.67 8.33,20.77 8.33,20.88C8.33,21.3 8.5,21.67 8.77,21.94L9.83,23L16.41,16.41C16.78,16.05 17,15.55 17,15V5C17,3.89 16.1,3 15,3Z"></path></svg> {{LANG total_dislikes}}</h2>
					<p>{{TOTAL_DISLIKES}}</p>
				</div>
            </div>
			</div>
            <br>
            <hr>
        </div>
        
        {{MOST_SECTION}}

        <div class="mb_50">
            <h4>{{LANG last_month}}</h4>
            <br>
            <div class="clear"></div>
			<div class="row">
			<div class="col-md-3 col-sm-6">
				<div class="vp_mn_dash_stats">
					<h2 style="color: #2196f3"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M23,10C23,8.89 22.1,8 21,8H14.68L15.64,3.43C15.66,3.33 15.67,3.22 15.67,3.11C15.67,2.7 15.5,2.32 15.23,2.05L14.17,1L7.59,7.58C7.22,7.95 7,8.45 7,9V19A2,2 0 0,0 9,21H18C18.83,21 19.54,20.5 19.84,19.78L22.86,12.73C22.95,12.5 23,12.26 23,12V10M1,21H5V9H1V21Z"></path></svg> {{LANG likes}}</h2>
					<p>
						<?php if ($pt->likes_percentage >= 0) { ?>
							<?php echo $pt->likes_percentage; ?>&#37; <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-up"><line x1="12" y1="19" x2="12" y2="5"></line><polyline points="5 12 12 5 19 12"></polyline></svg>
						<?php }else{ ?>
							<?php echo $pt->likes_percentage; ?>&#37; <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-down"><line x1="12" y1="5" x2="12" y2="19"></line><polyline points="19 12 12 19 5 12"></polyline></svg>
						<?php } ?>
					</p>
				</div>
            </div>
			<div class="col-md-3 col-sm-6">
				<div class="vp_mn_dash_stats">
					<h2 style="color: #f44336"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M19,15H23V3H19M15,3H6C5.17,3 4.46,3.5 4.16,4.22L1.14,11.27C1.05,11.5 1,11.74 1,12V14A2,2 0 0,0 3,16H9.31L8.36,20.57C8.34,20.67 8.33,20.77 8.33,20.88C8.33,21.3 8.5,21.67 8.77,21.94L9.83,23L16.41,16.41C16.78,16.05 17,15.55 17,15V5C17,3.89 16.1,3 15,3Z"></path></svg> {{LANG dislikes}}</h2>
					<p>
						<?php if ($pt->dislikes_percentage >= 0) { ?>
							<?php echo $pt->dislikes_percentage; ?>&#37; <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-up"><line x1="12" y1="19" x2="12" y2="5"></line><polyline points="5 12 12 5 19 12"></polyline></svg>
						<?php }else{ ?>
							<?php echo $pt->dislikes_percentage; ?>&#37; <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-down"><line x1="12" y1="5" x2="12" y2="19"></line><polyline points="19 12 12 19 5 12"></polyline></svg>
						<?php } ?>
					</p>
				</div>
            </div>
			<div class="col-md-3 col-sm-6">
				<div class="vp_mn_dash_stats">
					<h2 style="color: #f2b92b"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M10,16.5V7.5L16,12M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2Z"></path></svg> {{LANG views}}</h2>
					<p>
						<?php if ($pt->views_percentage >= 0) { ?>
							<?php echo $pt->views_percentage; ?>&#37; <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-up"><line x1="12" y1="19" x2="12" y2="5"></line><polyline points="5 12 12 5 19 12"></polyline></svg>
						<?php }else{ ?>
							<?php echo $pt->views_percentage; ?>&#37; <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-down"><line x1="12" y1="5" x2="12" y2="19"></line><polyline points="19 12 12 19 5 12"></polyline></svg>
						<?php } ?>
					</p>
				</div>
            </div>
			<div class="col-md-3 col-sm-6">
				<div class="vp_mn_dash_stats">
					<h2 style="color: #6abd46"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M12,23A1,1 0 0,1 11,22V19H7A2,2 0 0,1 5,17V7A2,2 0 0,1 7,5H21A2,2 0 0,1 23,7V17A2,2 0 0,1 21,19H16.9L13.2,22.71C13,22.89 12.76,23 12.5,23H12M3,15H1V3A2,2 0 0,1 3,1H19V3H3V15Z"></path></svg> {{LANG comments}}</h2>
					<p>
						<?php if ($pt->comments_percentage >= 0) { ?>
							<?php echo $pt->comments_percentage; ?>&#37; <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-up"><line x1="12" y1="19" x2="12" y2="5"></line><polyline points="5 12 12 5 19 12"></polyline></svg>
						<?php }else{ ?>
							<?php echo $pt->comments_percentage; ?>&#37; <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-down"><line x1="12" y1="5" x2="12" y2="19"></line><polyline points="19 12 12 19 5 12"></polyline></svg>
						<?php } ?>
					</p>
				</div>
            </div>
			</div>
            <div class="clear"></div>
            <hr>
        </div>
        <div class="clear"></div>
        <br>
        <br>
        <h4>{{LANG subscribers}}</h4>
        <br>
        <div class="form-group">
            <div class="row">
				<div class="col-md-3 col-sm-6">
					<div class="vp_mn_dash_stats">
						<h2 style="color: #6abd46"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M17,13H13V17H11V13H7V11H11V7H13V11H17M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2Z"></path></svg> {{LANG total_sub}}</h2>
						<p>{{TOTAL_SUB}}</p>
					</div>
				</div>
				<div class="col-md-6"></div>
                <div class="col-md-3">
					<br>
                    <select id="type" name="type" class="form-control pull-right">
                        <option value="today" <?php echo ($pt->cat_type == 'today') ? 'selected': '';?>>{{LANG today}}</option>
                        <option value="this_week" <?php echo ($pt->cat_type == 'this_week') ? 'selected': '';?>>{{LANG this_week}}</option>
                        <option value="this_month" <?php echo ($pt->cat_type == 'this_month') ? 'selected': '';?>>{{LANG this_month}}</option>
                        <option value="this_year" <?php echo ($pt->cat_type == 'this_year') ? 'selected': '';?>>{{LANG this_year}}</option>
                    </select>
                </div>
            </div>
        </div>
		
        <div id="chart-container"></div>
    </div>
</div><br>

<script>
    $("select#type").change(function(){
        var type = $('#type').val();
        window.location.href = site_url+"/dashboard?type="+type;
    });

   $(function () {
    Highcharts.setOptions({
      colors: ['#6abd46', '#ce3d3d', '#f2b92b', '#6abd46']
    });
    $('#chart-container').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: '<?php echo($pt->chart_title); ?> (Based on UTC timezone)'
        },
        xAxis: {
            <?php if ($pt->cat_type == 'today') { ?>
                categories: [
                    '00 AM',
                    '1 AM',
                    '2 AM',
                    '3 AM',
                    '4 AM',
                    '5 AM',
                    '6 AM',
                    '7 AM',
                    '8 AM',
                    '9 AM',
                    '10 AM',
                    '11 AM',
                    '12 PM',
                    '1 PM',
                    '2 PM',
                    '3 PM',
                    '4 PM',
                    '5 PM',
                    '6 PM',
                    '7 PM',
                    '8 PM',
                    '9 PM',
                    '10 PM',
                    '11 PM'
                ]
            <?php }elseif ($pt->cat_type == 'this_week') { ?>
                categories: [
                    'Saturday',
                    'Sunday',
                    'Monday',
                    'Tuesday',
                    'Wednesday',
                    'Thursday',
                    'Friday'
                ]
            <?php }elseif ($pt->cat_type == 'this_month') { ?>
                <?php if ($pt->month_days == 31) { ?>
                    categories: [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31]
                <?php }elseif ($pt->month_days == 30) { ?>
                    categories: [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30]
                <?php }elseif ($pt->month_days == 29) { ?>
                    categories: [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29]
                <?php }elseif ($pt->month_days == 28) {  ?>
                    categories: [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28]
                <?php } ?>
            <?php }elseif ($pt->cat_type == 'this_year') { ?>
                categories: [
                    'Jan',
                    'Feb',
                    'Mar',
                    'Apr',
                    'May',
                    'Jun',
                    'Jul',
                    'Aug',
                    'Sep',
                    'Oct',
                    'Nov',
                    'Dec'
                ]
            <?php } ?>,
            crosshair: true
        },
        yAxis: {
            min: 0,
            title: {
                text: '<?php echo $pt->chart_text;?>'
            }
        },
        tooltip: {
            headerFormat: '<span style="font-size:10px;color:#fff;">{point.key}</span><table>',
            pointFormat: '<tr><td style="color:#fff;padding:0">{series.name}: </td>' +
                '<td style="padding:0;color:#fff;"><b>{point.y}</b></td></tr>',
            footerFormat: '</table>',
            shared: true,
            useHTML: true,
            backgroundColor: '#444'
        },
        plotOptions: {
            column: {
                pointPadding: 0.2,
                borderWidth: 0
            }
        },
        series: [{
            name: '{{LANG subscribers}}',
            data: [<?php echo $pt->sub_array;?>]

        }]
    });
});
</script>