<div class="col-md-<?php if (!empty($pt->video) && $pt->video->is_short == 1) { ?>2<?php } else { ?>3<?php } ?> col-sm-6 no-padding-right-at-all no-padding-mobile-left">
	<div class="video-latest-list video-wrapper <?php if (!empty($pt->video) && $pt->video->is_short == 1) { ?>short<?php } ?>" data-id="{{ID}}" data-views="{{VIEWS}}">
		<div class="video-thumb">
			<?php if (!empty($pt->video) && $pt->video->live_time >= (time() - 10)) { ?>
				<div class="wow_liv_counter"><span>{{LANG live}}</span></div>
			<?php } ?>
			<a href="{{URL}}" data-load="{{ajax_url}}">
				<img src="{{THUMBNAIL}}" alt="{{TITLE}}">
				<div class="play_hover_btn" onmouseenter="show_gif(this,'{{GIF}}')" onmouseleave="hide_gif(this)">
					<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-play-circle"><circle cx="12" cy="12" r="10"></circle><polygon points="10 8 16 12 10 16 10 8"></polygon></svg>
				</div>
			</a>
			<div class="video-duration">{{DURATION}}</div>
			<?php if (!empty($pt->video) && $pt->video->is_stock == 1 && $pt->video->sell_video > 0) { ?>
				<div class="shorts_badge">
					{{CURRENCY}}{{PRICE}}
				</div>
			<?php } ?>
			<?php if (!empty($pt->video) && $pt->video->is_short == 1) { ?>
			<?php } ?>
		</div>
		<div class="video-title">
			<a href="{{URL}}" data-load="{{ajax_url}}"><h4 title="{{TITLE}}">{{TITLE}}</h4></a>
		</div>
		<div class="video-info">
			<div>
				<a href="{{USER url}}" data-load="?link1=timeline&id={{USER username}}">{{USER name_v}}</a><br/>
				<span>{{VIEWS_NUM}} {{LANG views}}</span> <span class="bold">·</span> <span>{{TIME}}</span>
			</div>
			<div>
					<div class="profile-amount-token">
						<img src="/themes/default/img/chill-coin-gold.png" class="img-18"/>
						<span> 0</span>
					</div>
			</div>
		</div>
	</div>
</div>