.user-setting-panel input[type='text'], .user-setting-panel input[type='password'] { height: 30px !important; color: #666 !important; font-size: 13px; box-shadow: 0 1px 0 0 #f2f2f2, 0 0 0 1px #f2f2f2; border: none; border-radius: 0; }
.user-setting-panel { background-color: #fff; padding: 30px; padding-top: 20px; padding-bottom: 10px; box-shadow: 0 1px 0 0 #e3e4e8, 0 0 0 1px #f1f1f1; }
.user-setting-panel select { height: 30px !important; color: #666 !important; font-size: 13px; box-shadow: 0 1px 0 0 #f2f2f2, 0 0 0 1px #f2f2f2; border: none; border-radius: 0; }
.user-setting-panel textarea { height: 30px !important; box-shadow: 0 1px 0 0 #f2f2f2, 0 0 0 1px #f2f2f2; border: none; border-radius: 0; height: 100px !important; color: #666 !important; font-size: 13px; }
.user-setting-panel .btn-main { height: 30px !important; font-size: 13px; min-width: 100px !important; }
.user-setting-panel .pt_invit_link_btn {
    height: 42px !important;
    font-size: 14px;
    padding: 0 16px;
    font-weight: 500;
    border-radius: 2em;
    min-width: 150px !important;
}
.user-setting-panel .user-comments .main-comment .user-name {
    margin-left: 60px;
}
.user-setting-panel .user-comments .main-comment .user-comment {width: calc(100% - 60px);}
.user-setting-panel .user-comments .main-comment .user-comment p {background: rgb(0 0 0 / 5%);padding: 8px 12px;border-radius: 17px;}
.user-setting-panel .user-comments .main-comment .user-name small { display: block; }

/*body.night-mode .user-setting-panel .user-comments .main-comment .user-comment p {*/
/*    background: rgb(255 255 255 / 8%);*/
/*}*/

.videos-list .video-wrapper { margin-bottom: 10px; }
.videos-list .video-wrapper .video-thumb { width: 170px; margin-right: 10px; }
.videos-list .video-wrapper .video-thumb img { width: 100%; }
.videos-list .video-wrapper .video-info { overflow: hidden; }
.videos-list .video-wrapper .video-title { font-size: 14px; word-wrap: break-word; }
.videos-list .video-wrapper .video-title a { font-weight: 500; color: #333; }
.videos-list .video-wrapper .video-title a:hover { color: #04abf2; text-decoration: none; }
.videos-list .pt_video_side_vids { margin-bottom: 15px; }
.videos-list .pt_video_side_vids:last-child { margin: 0; }
.videos-list .pt_video_side_vids .video-thumb { width: 168px; height: 94px; overflow: hidden; }
.videos-list .pt_video_side_vids .video-thumb img { object-fit: cover; height: 94px; }
.videos-list .pt_video_side_vids .video-title { max-height: 3.6em; line-height: 1.2; margin-bottom: 2px; }
.videos-list .pt_video_side_vids .video-publisher { margin: 0; color: #777; }
.videos-list .pt_video_side_vids .video-views { margin: 0; color: #777; }

.user-comments .no-comments-found { margin-bottom: 10px; color: #777; }
.user-comments .main-comment { margin-bottom: 40px; margin-bottom: 20px !important; }
.user-comments .main-comment .user-avatar { width: 50px; margin-right: 10px; }
.user-comments .main-comment .user-avatar img { width: 100%; border-radius: 50%; border: 1px solid #f4f4f4; }
.user-comments .main-comment .user-name { font-size: 15px;}
.user-comments .main-comment .user-name a { font-weight: 500;word-break: break-word;}
.user-comments .main-comment .user-name small { font-size: 12px; color: #aaa; display: inline; }
.user-comments .main-comment .user-name .dropdown {
    cursor: pointer;
}
.user-comments .main-comment .user-comment {width: 85%;
    font-size: 15px;
    margin-top: 5px;
    overflow: hidden;
    font-family: 'Lato', sans-serif;}
.user-comments .main-comment .user-comment .div-vote-comment { color: #888; margin-top: 10px; font-size: 12px; }
.user-comments .main-comment .user-comment .div-vote-comment .likes { color: #2ec0bc; }
.user-comments .main-comment .user-comment .div-vote-comment .voting { margin-left: 5px; }
.user-comments .main-comment .user-comment .div-vote-comment .voting i { cursor: pointer; }
.user-comments .main-comment .user-comment .div-vote-comment .voting i:hover { color: #555; }
.user-comments .main-comment .user-comment .div-vote-comment .voting i.active { color: #2ec0bc; }


.main-comment .delete-comment { margin-left: 3px; }
.main-comment .delete-comment i { font-size: 18px !important; margin-top: -3px; }
.main-comment .delete-comment svg.feather { color: #aaa; margin-top: 0; width: 15px; height: 15px; visibility: hidden; }
.main-comment .delete-comment svg.feather:hover { color: #444; }
.main-comment .pt-comment-item-reply-form { padding: 0 60px; margin: 5px 0 0; }
.main-comment .user-name a { color: #111; font-weight: 600; }
.main-comment .main-comment-data-sp:hover > .delete-comment svg.feather { visibility: visible; }
.main-comment .main-comment-data-sp:hover > .pin-comment svg.feather { visibility: visible; }
.main-comment .comms-reply:hover { color: #444; }
.main-comment .div-vote-comment span svg.feather { margin-top: 0; width: 15px; height: 15px; cursor: pointer; }
.main-comment .div-vote-comment span svg.feather-thumbs-up.active { color: #4caf50; fill: #cfffd1; }
.main-comment .div-vote-comment span svg.feather-thumbs-down.active { color: #f44336; fill: #ffd8d5; }
.main-comment .pin-comment svg.feather { color: #aaa; margin-top: 0; width: 15px; height: 15px; visibility: hidden; cursor: pointer; }
.main-comment .pin-comment svg.feather:hover { color: #444; }

.side-barlist-wrapper { position: relative; }
.side-barlist-wrapper .video-thumb { width: 110px !important; }
.side-barlist-wrapper .ptrm-vid-renderer { position: absolute; bottom: 0; right: 10px; cursor: pointer; color: #fff !important; visibility: hidden; }
.side-barlist-wrapper:hover > .ptrm-vid-renderer { visibility: visible; }

.author-list .video-wrapper { margin-bottom: 10px; }
.author-list .video-wrapper .author-info { margin-bottom: 10px; }
.author-list .video-wrapper .author-info .author-img { margin-right: 5px; }
.author-list .video-wrapper .author-info .author-img img { width: 25px; }
.author-list .video-wrapper .author-info .author-name { line-height: 1.8; font-weight: 600; }
.author-list .video-wrapper .author-info .author-name a { color: #333; }
.author-list .video-wrapper .video-thumb { margin-bottom: 10px; }
.author-list .video-wrapper .video-thumb a {
	    position: relative;
    padding-bottom: 56.25%;
    display: block;
}
.author-list .video-wrapper .video-thumb img {width: 100%;
    position: absolute;
    height: 100%;
    object-fit: cover;}
.author-list .video-wrapper .video-info { overflow: hidden; }
.author-list .video-wrapper .video-title { font-size: 16px; word-wrap: break-word; }
.author-list .video-wrapper .video-title a { font-weight: 500; color: #333; }
.author-list .video-wrapper .video-title a:hover { color: #04abf2; text-decoration: none; }
.author-list .video-wrapper .video-desc { margin-top: 10px; font-size: 11px; color: #777; overflow: hidden !important; white-space: nowrap; max-height: 46px; text-overflow: ellipsis; }
.author-list .video-wrapper hr { margin-top: 5px; margin-bottom: 5px; }


.amount-comment-token {
  color: black;
  padding: 4px;
  font-weight: bold;
  display: inline;
}

/*Video Analytics*/
.videos-list .vid_analts_info {display: flex;align-items: center;margin-bottom: 15px;}
.videos-list .vid_analts_info.short {margin-bottom: 7px;}
.videos-list .vid_analts_info .video-thumb {width: 100% !important;max-width: 170px;}
.videos-list .vid_analts_info.short .video-thumb {max-width: 120px;min-width: 120px;}
.videos-list .vid_analts_info .video-thumb a {display: block;position: relative;}
.videos-list .vid_analts_info .video-thumb img {border-radius: 6px;}
.videos-list .vid_analts_info .video-thumb a svg {background: #fff;border-radius: 50%;width: 44px;height: 44px;position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);}
.videos-list .vid_analts_info.short .video-thumb a svg {width: 34px;height: 34px;}
.videos-list .vid_analts_info .video-title {font-size: 20px;}
.videos-list .vid_analts_info.short .video-title {font-size: 15px;max-height: 42px;overflow: hidden;}
.videos-list .vid_analts_info .video-title a {font-weight: normal;word-break: break-word;}


body.night-mode .playlist-item, body.night-mode .user-setting-panel .user-comments .main-comment .user-comment p {
    background: rgb(255 255 255 / 8%);
}
body.night-mode .user-setting-panel { background: #212121 !important; color: #eee !important; border-color: #424242 !important; box-shadow: none !important; }
body.night-mode .user-setting-panel input[type='text'] { color: #eee !important; }
body.night-mode .user-setting-panel input[type='password'] { color: #eee !important; }
body.night-mode .user-setting-panel textarea { color: #eee !important; }
body.night-mode .user-setting-panel select { color: #eee !important;box-shadow: 0 1px 0 0 #424242, 0 0 0 1px #424242; }