.pt_shadow { box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2); border-radius: 3px; }

.user-setting-panel input[type='text'], .user-setting-panel input[type='password'] { height: 30px !important; color: #666 !important; font-size: 13px; box-shadow: 0 1px 0 0 #f2f2f2, 0 0 0 1px #f2f2f2; border: none; border-radius: 0; }
.user-setting-panel { background-color: #fff; padding: 30px; padding-top: 20px; padding-bottom: 10px; box-shadow: 0 1px 0 0 #e3e4e8, 0 0 0 1px #f1f1f1; }
.user-setting-panel select { height: 30px !important; color: #666 !important; font-size: 13px; box-shadow: 0 1px 0 0 #f2f2f2, 0 0 0 1px #f2f2f2; border: none; border-radius: 0; }
.user-setting-panel textarea { height: 30px !important; box-shadow: 0 1px 0 0 #f2f2f2, 0 0 0 1px #f2f2f2; border: none; border-radius: 0; height: 100px !important; color: #666 !important; font-size: 13px; }
.user-setting-panel .btn-main { height: 30px !important; font-size: 13px; min-width: 100px !important; }

/*Comments*/
.user-setting-panel .user-comments .main-comment .user-name {
    margin-left: 60px;
}
.user-setting-panel .user-comments .main-comment .user-comment {width: calc(100% - 60px);}
.user-setting-panel .user-comments .main-comment .user-comment p {background: rgb(0 0 0 / 5%);padding: 8px 12px;border-radius: 17px;}
.user-setting-panel .user-comments .main-comment .user-name small { display: block; }

body.night-mode .playlist-item, body.night-mode .user-setting-panel .user-comments .main-comment .user-comment p {
    background: rgb(255 255 255 / 8%);
}

body.night-mode .user-setting-panel { background: #212121 !important; color: #eee !important; border-color: #424242 !important; box-shadow: none !important; }
body.night-mode .user-setting-panel input[type='text'] { color: #eee !important; }
body.night-mode .user-setting-panel input[type='password'] { color: #eee !important; }
body.night-mode .user-setting-panel textarea { color: #eee !important; }
body.night-mode .user-setting-panel select { color: #eee !important;box-shadow: 0 1px 0 0 #424242, 0 0 0 1px #424242; }