.pt_history .video-wrapper { margin-bottom: 35px; }
.pt_history .video-wrapper > div { box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); position: relative; overflow: hidden; }
.pt_history .video-wrapper .video-thumb { margin: 0; }
.pt_history .video-wrapper .video-thumb img { height: 140.4px; object-fit: cover; }
.pt_history .video-wrapper .video-info { padding: 15px 16px 17px 18px; }
.pt_history .video-wrapper .video-info .author-info { margin: 0; }
.pt_history .video-wrapper .video-info .author-info .author-name { font-size: 12px; line-height: 16px; max-width: 95%; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; display: block; color: #666; }
.pt_history .video-wrapper .video-info .author-info .author-name a { font-weight: 700; color: #929292; }
.pt_history .video-wrapper .video-info .author-info .author-name span { font-weight: normal; }
.pt_history .video-wrapper .video-info > div { padding-right: 50px; }
.pt_history .video-wrapper .video-info > div.video-actions { padding: 0 10px; margin: 0; }
.pt_history .video-wrapper .video-info > div.video-actions svg.feather { width: 20px; height: 20px; margin: 8px 3px; color: #f93d66; }
.pt_history .video-wrapper .video-info .video-title a { font-size: 12px; line-height: 16px; max-width: 95%; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; display: block; color: #333; font-weight: 700; margin: 0 0 3px;word-break: break-all;}

.author-list .video-wrapper .video-views, .author-list .video-wrapper .video-publisher { color: #777; margin-top: 3px; font-size: 12px; }
.author-list .video-wrapper { margin-bottom: 10px; }
.author-list .video-wrapper .author-info { margin-bottom: 10px; }
.author-list .video-wrapper .author-info .author-img { margin-right: 5px; }
.author-list .video-wrapper .author-info .author-img img { width: 25px; }
.author-list .video-wrapper .author-info .author-name { line-height: 1.8; font-weight: 600; }
.author-list .video-wrapper .author-info .author-name a { color: #333; }
.author-list .video-wrapper .video-thumb { margin-bottom: 10px; }
.author-list .video-wrapper .video-thumb a {
	    position: relative;
    padding-bottom: 56.25%;
    display: block;
}
.author-list .video-wrapper .video-thumb img {width: 100%;
    position: absolute;
    height: 100%;
    object-fit: cover;}
.author-list .video-wrapper .video-info { overflow: hidden; }
.author-list .video-wrapper .video-title { font-size: 16px; word-wrap: break-word; }
.author-list .video-wrapper .video-title a { font-weight: 500; color: #333; }
.author-list .video-wrapper .video-title a:hover { color: #04abf2; text-decoration: none; }
.author-list .video-wrapper .video-desc { margin-top: 10px; font-size: 11px; color: #777; overflow: hidden !important; white-space: nowrap; max-height: 46px; text-overflow: ellipsis; }
.author-list .video-wrapper hr { margin-top: 5px; margin-bottom: 5px; }

.watch-video-show-more { text-align: center; cursor: pointer; display: block; width: 250px; margin: auto; background-color: #f8f8f8; padding: 10px; border-radius: 3px; border: 1px solid #d3d3d3; background-image: linear-gradient(to top, #fcfcfc 0, #f8f8f8 100%); box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05); font-weight: bold; font-family: Helvetica; font-size: 12px; transition: all 0.1s ease; }
.watch-video-show-more:hover { background-color: #f0f0f0; border-color: #c6c6c6; background-image: linear-gradient(to top, #f0f0f0 0, #f8f8f8 100%); }
body.night-mode .watch-video-show-more { color: #fff !important; border-color: #424242 !important; background-color: #131313; background-image: linear-gradient(to top, #131313 0, #131313 100%); }
body.night-mode .watch-video-show-more:hover { background-color: #000000; background-image: linear-gradient(to top, #000000 0, #000000 100%); }
