.video-latest-list .video-thumb a, .home-page-categories .videos .video-list .video-list-image a { display: block; position: relative; overflow: hidden; }
.video-latest-list .video-thumb .play_hover_btn, .home-page-categories .videos .video-list .video-list-image .play_hover_btn { position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.2); color: #fff; opacity: 0; visibility: hidden; transition: all 0.2s ease;border-radius: 5px;}
.video-latest-list .video-thumb .play_hover_btn svg.feather, .home-page-categories .videos .video-list .video-list-image .play_hover_btn svg.feather { left: 50%; position: absolute; top: 50%; margin: 0; transform: translate(-50%, -50%) scale(0.7); width: 45px; height: 45px; stroke-width: 1.2px; }
.video-latest-list .video-thumb img, .home-page-categories .videos .video-list img { width: 100%; min-height: 151px; max-height: 151px; object-fit: cover;border-radius: 5px;}
.video-latest-list .video-title a, .home-page-categories .videos .video-list .video-list-title a {
    text-decoration: none;
}
.video-latest-list .video-title h4, .home-page-categories .videos .video-list .video-list-title h4 { font-size: 13px; color: #3e3e3e; margin-bottom: 3px; font-weight: 600; font-family: sans-serif; line-height: 1.5em; height: 3em !important; overflow: hidden; }
.video-latest-list { height: 270px; overflow: hidden; }
.video-latest-list .video-title { font-size: 16px; color: #04abf2; max-height: 43px; overflow: hidden; }
.video-latest-list .video-thumb:hover .play_hover_btn { opacity: 1; visibility: visible; }
.video-latest-list .video-thumb:hover .play_hover_btn svg.feather { transform: translate(-50%, -50%) scale(1); }
.video-latest-list .video-info { margin-top: 5px; color: #444; font-size: 11px; }
.video-latest-list.video-wrapper { overflow: unset !important; }
.video-latest-list.video-wrapper .video-title a { display: inline-block; height: 3em; height: unset !important; overflow: hidden; }
.video-latest-list.user-wrapper .video-thumb img { max-height: inherit !important; }


.home-page-categories .videos .video-list .video-list-by .bold {
    margin: 0 5px;
    color: gainsboro;
    font-weight: normal;
}

.video-latest-list .video-thumb, .video-list-image { width: 100%; position: relative; }
.video-duration { position: absolute; bottom: 5px; right: 5px; color: #fff; background-color: rgba(0, 0, 0, 0.4); font-size: 11px; padding: 1px; border-radius: 2px; padding-left: 3px; padding-right: 3px; }


.home-page-categories .row { margin-right: 0 !important; padding-bottom: 10px; }
.home-page-categories .col-md-3 { padding-right: 0; }
.home-page-categories .title { margin-bottom: 20px; }
.home-page-categories .title h4 { margin-top: 5px; color: #333; font-size: 16px; font-weight: 600; }
.home-page-categories .title h4 svg {vertical-align: middle;margin-top: -4px;width: 19px;height: 19px;}
.home-page-categories .title h4 span { font-weight: 100; color: #04abf2; font-size: 12px; float: right; }
.home-page-categories .videos .video-list { width: 100%; }
.home-page-categories .videos .video-list .video-list-image:hover .play_hover_btn { opacity: 1; visibility: visible; }
.home-page-categories .videos .video-list .video-list-image:hover .play_hover_btn svg.feather { transform: translate(-50%, -50%) scale(1); }
.home-page-categories .videos .video-list .video-list-title { max-width: 100%; word-wrap: break-word; }
.home-page-categories .videos .video-list .video-list-by { font-size: 11px; margin-top: 3px; color: #777; }
.home-page-categories .videos .video-list .video-list-by a { color: #777; }
.home-page-categories:hover .view_more_link { opacity: 1; visibility: visible; }


.publisher-element { margin-bottom: 10px; margin-top: 10px; width: 100%; display: flex; align-items: center; border-top: 1px solid #f3f3f3; border-bottom: 1px solid #f3f3f3; padding: 10px 2px; }
.publisher-element .publisher-name a { color: #333; font-weight: 500; font-size: 16px; }

.video-big-title { font-size: 20px; color: #202020; margin-top: 8px; margin-bottom: 12px; }
.video-big-title h1 { font-size: 24px; margin: 0; line-height: 1.3; font-weight: 400 !important;word-break: break-all; }
.video-big-title .featured-text { color: green; }
.video-big-title a { color: #202020; text-decoration: none; }


.video-player { width: 100%; position: relative;height: 100%;}
.video-player video { width: 100%; }
.video-player .icons { position: absolute; top: 15px; color: #fff; font-size: 20px; right: 7px; }
.video-player .icons span { cursor: pointer; }
.video-player .ads-overlay-info { position: absolute; bottom: 10%; right: 0; left: 0; width: 80%; margin: auto; padding: 15px 15px 10px 15px; background: rgba(6, 4, 4, 0.65); border: 1px solid #252525; color: #fff; z-index: 99999; }
.video-player .ads-overlay-info h4 { padding: 0; margin: 0; font-family: Roboto, sans-serif; font-size: 20px; font-weight: 600; margin-bottom: 5px; }
.video-player .ads-overlay-info p { padding: 0; margin: 0; font-family: Roboto, sans-serif; font-size: 16px; line-height: 16px; margin-bottom: 5px; font-weight: 500; color: #fff; }
.video-player .ads-overlay-info div { width: 100%; overflow: hidden; }
.video-player .ads-overlay-info div a { font-family: Verdana, sans-serif; font-size: 15px; color: #e5e45f; float: left; }
.video-player .ads-overlay-info div a i { font-size: 14px; color: #fff; }
.video-player .ads-overlay-info div span { font-family: Verdana, sans-serif; font-size: 15px; color: #fff; float: right; text-transform: capitalize; }
.video-player .ads-overlay-info span.dismiss { right: 10px; top: 10px; position: absolute; }


.pt_homepg_whote_bg {margin-top: -20px;padding-top: 20px; }
.pt_hmpg_contanr {width: 100%;padding-right: 15px;padding-left: 15px;max-width: 1370px;margin: 0 auto;}
.pt_hmpg_vidlst .videos .video-list {background-color: rgba(0, 0, 0, 0.04);border-radius: 6px;box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.05);}
.pt_hmpg_vidlst .pt_vid_fixed_height {padding: 0 10px 7px;}
.pt_hmpg_vidlst .videos .video-list .video-list-image a {width: 100%;padding-bottom: 56.25%;}
.pt_hmpg_vidlst .videos .video-list .video-list-image a img {border-radius: 6px 6px 0 0;height: 100%;min-height: auto;max-height: none;position: absolute;top: 0;right: 0;left: 0;bottom: 0;}

.pl_feat_vid_slide {padding: 0 0 8px;}
.pt_fv_blur_img { position: absolute;left: 20px;right: 20px;height: 500px;overflow: hidden;border-radius: 12px;/*box-shadow: 0 2px 7px rgba(0, 0, 0, 0.15);*/}
.pt_fv_blur_img > div { position: relative; height: 500px; }
.pt_fv_blur_img > div:before {content: '';position: absolute;top: 0;right: 0;bottom: 0;left: 0;backdrop-filter: blur(60px);background-color: rgba(0, 0, 0, 0.1);}
.pt_fv_blur_img > div:after { content: ""; position: absolute; right: 0; bottom: 0; width: 100%; height: 70%;background-image: linear-gradient(180deg, transparent, rgba(0, 0, 0, 0.2));}

.pt_featured_video { position: relative; display: block;padding: 0 15px;/*margin-bottom: 20px;*/}
.pt_featured_video h4 { position: absolute; z-index: 5; background: rgba(0, 0, 0, 0.35); top: 15px; left: 35px; color: rgba(255, 255, 255, 0.8); margin: 0; padding: 10px; border-radius: 50%; }
.pt_featured_video .video-player a { display: block; color: #f1f1f1; font-weight: normal; }
.pt_featured_video .video-player .video-title {position: absolute;bottom: 20px;left: 20px;right: 20px;padding: 30px;background-color: rgba(0, 0, 0, 0.4);border-radius: 12px;}
.pt_featured_video .video-player .publisher-element { width: 100%; margin: 9px 0 0; color: #fff; padding: 0; border: 0; }
.pt_featured_video .video-player .publisher-element .publisher-avatar { width: 32px; height: 32px; }
.pt_featured_video .video-player .publisher-element .publisher-avatar img { border-radius: 50%; }
.pt_featured_video .video-player .publisher-element a {font-size: 14px;}
.pt_featured_video .video-player .video-big-title { margin: 0;}
.pt_featured_video .video-player .video-big-title a { color: #fff; font-size: 26px; }
.pt_featured_video .thumbnail_holder { position: relative; display: flex; width: 100%; height: 0; box-sizing: border-box; overflow: hidden; min-height: 500px; max-height: 500px; }
.pt_featured_video .thumbnail_holder img { width: 100%; height: auto; position: absolute; top: 50%; right: 0; bottom: 0; left: 50%; display: block; margin: 0; opacity: 1; transform: translate(-50%, -50%); max-width: 100%; border-radius: 2px; min-width: 100%; min-height: 100%; transition: transform 0.5s ease; }
.pt_featured_video .thumbnail_holder:after { content: ""; position: absolute; right: 0; bottom: 0; width: 100%; height: 70%; background-image: linear-gradient(180deg, transparent, rgba(0, 0, 0, 0.25));}
.pt_featured_video .video-title .video_info {display: flex;align-items: center;margin: 0 -10px;}
.pt_featured_video .video-title .video_info > span {padding: 0 10px;color: rgba(255, 255, 255, 0.66);}
.pt_featured_video .video-title .video_info .video-likes svg {width: 16px;height: 16px;}

.view_more_link { margin-top: -4px; opacity: 0; visibility: hidden; transition: all 0.15s ease; overflow: hidden; }
.view_more_link a {display: block;padding: 8px 12px;text-transform: none;font-weight: 500;color: #272727;border-radius: 2em;text-decoration: none;}
.night-mode .view_more_link a{
    background-color: #444;
}
.light-mode .view_more_link a{
    background-color: #efefef;
}

.pt_latest_vds .col-md-3 { width: 33.3333333%; }
.pt_latest_vds .col-md-3:first-child { width: 50%; }
.pt_latest_vds .col-md-3:first-child .video-list { margin-bottom: 0; }
.pt_latest_vds .col-md-3:first-child .video-list .video-list-by { display: block; bottom: 10px; padding: 0 10px; }
.pt_latest_vds .col-md-3:first-child .video-list .video-list-by span:first-child { display: block; }
.pt_latest_vds .col-md-3:first-child .video-list .video-list-title { bottom: 30px; }
.pt_latest_vds .col-md-3:first-child .video-list .video-list-title h4 { font-size: 25px; font-weight: normal; }
.pt_latest_vds .col-md-3:nth-child(2), .pt_latest_vds .col-md-3:nth-child(3), .pt_latest_vds .col-md-3:nth-child(4), .pt_latest_vds .col-md-3:nth-child(5) {width: 25%;}
.pt_latest_vds .col-md-3 .video-list { position: relative; margin-bottom: 10px; }
.pt_latest_vds .col-md-3 .video-list .video-list-image a img {border-radius: 6px;}
.pt_latest_vds .col-md-3 .video-list .video-duration {bottom: auto;top: 5px;}
.pt_latest_vds .col-md-3 .video-list .pt_vid_fixed_height { max-height: none; min-height: auto; margin-bottom: 10px;padding: 0;}
.pt_latest_vds .col-md-3 .video-list .video-list-title { position: absolute; bottom: 3px; padding: 0 10px; }
.pt_latest_vds .col-md-3 .video-list .video-list-title a { text-decoration: none; }
.pt_latest_vds .col-md-3 .video-list .video-list-title h4 { color: #fff; }
.pt_latest_vds .col-md-3 .video-list .video-list-by { position: absolute; display: none; }
.pt_latest_vds .col-md-3 .video-list .video-list-by span { display: none; }
.pt_latest_vds .col-md-3 .video-list .video-list-by br { display: none; }
.pt_latest_vds .col-md-3 .video-list .video-list-by a { color: #fff; font-size: 13px; }
.pt_latest_vds .col-md-3 .video-list .video-list-image a:after { content: ""; position: absolute; right: 0; bottom: 0; width: 100%; height: 70%;background-image: linear-gradient(180deg, transparent, rgba(0, 0, 0, 0.6));border-radius: 0 0 6px 6px;}

.pt_cat_vid_list .video-list { margin: 7px 0 10px; }

.home-container {width: 100%;padding: 0;}
.pl_feat_vid_slider {margin-bottom: 30px;}
.pl_feat_vid_slide_nav {position: relative;}
.pl_feat_vid_slide_nav .owl-prev, .pl_feat_vid_slide_nav .owl-next {position: absolute;background-color: rgba(0, 0, 0, 0.33);color: white;border: 0;padding: 0;height: 60px;width: 60px;display: flex;align-items: center;justify-content: center;border-radius: 50%;bottom: 40px;outline: 0;font-size: 35px;line-height: 1;}
.pl_feat_vid_slide_nav .owl-prev {left: -80px;}
.pl_feat_vid_slide_nav .owl-next {right: -80px;}
.pt_featured_video .video-player .feat_desc {display: none;width: 100%;max-height: 80px;overflow: hidden;color: #c1c1c1;margin-top: 20px;}
.pt_home_vid_content .title {margin: 10px 0;}
.pt_home_vid_content .title h4 {margin: 0;font-size: 14px;font-weight: 500;display: flex;align-items: center;text-transform: uppercase;letter-spacing: 0.5px;word-spacing: 1.5px;}
.pt_home_vid_content .title h4 > svg {margin: 0 7px 0 0;}
.pt_home_vid_content .view_more_link {margin-top: -1px;margin-left: auto;}
.pt_hmpg_hr {margin: 40px 0;}
.pt_hmpg_hr_last:last-child .pt_hmpg_hr {display: none;}

body .swiper-button-prev, body .swiper-button-next {
    top: auto;
    width: 50px;
    height: 50px;
    margin: 0;
    color: #fff;
    left: auto;
    right: 50px;
    transform: rotate(90deg);
    background-color: #04abf2;
    border-radius: 50%;
}
body .swiper-button-prev {
    bottom: 90px;
}
body .swiper-button-next {
    bottom: 30px;
}
body .swiper-button-next:after, body .swiper-button-prev:after {
    font-size: 20px;
    font-weight: 600;
}

.video-player , .video-player video , .video-player .mejs__container{max-height: 670px !important;}



.loader {
    border-radius: 50%;
    border-top: 3px solid #3498db;
    border-right: 3px solid #3498db;
    border-bottom: 3px solid #3498db;
    border-left: 3px solid transparent;
    width: 35px;
    height: 35px;
    -webkit-animation: spin 0.5s linear infinite; /* Safari */
    animation: spin 0.5s linear infinite;
}

.pt_hmpg_hr{ display: none }


/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


@media (max-width: 1200px){
    .pt_featured_video .thumbnail_holder { height: 450px; min-height: 450px; max-height: 450px; }
    .pt_featured_video .video-title .video_info { display: none; }
    .pt_featured_video .video-player .video-big-title { margin: 0; }
}

@media (max-width: 992px) {
    .video-latest-list .video-thumb img { min-height: 190px; max-height: 190px; }

}

@media (max-width: 900px) {
    .video-latest-list { height: auto !important; margin-bottom: 25px; }
}

@media (max-width: 620px) {
    .pt_featured_video .thumbnail_holder { height: 330px; min-height: 330px; max-height: 330px; }
    .pt_featured_video .video-player .video-big-title a { font-size: 23px; }
}


@media (max-width: 520px) {
    .pt_featured_video .thumbnail_holder { height: 280px; min-height: 280px; max-height: 280px; }
    .pt_featured_video .video-player .video-big-title a { font-size: 21px; }
}

@media (max-width: 460px) {
    .pt_featured_video .thumbnail_holder { height: 240px; min-height: 240px; max-height: 240px; }
    .pt_featured_video .video-player .video-big-title a { font-size: 19px; }
}


@media (max-width: 380px) {
    .pt_featured_video .thumbnail_holder { height: 200px; min-height: 200px; max-height: 200px; }
    .pt_featured_video .video-player .video-big-title a { font-size: 16px; }
}

