.btn-main { background-color: #04abf2; color: #fff; }
.btn-main:hover { background-color: #04abf2; color: #fff; }
.btn-main:focus { background-color: #04abf2; color: #fff; }
.btn-main:disabled { background-color: #3dc4ff; color: #fff; }
