.login-page .login-form input[type=text], .login-page .login-form input[type=password] { padding: 10px; background-color: rgba(255, 255, 255, 0.25); border-radius: 3px; width: 100%; border: 1px solid transparent; color: #fff; }
.login-page .login-form select, .login-page .login-form input[type=submit] { padding: 10px; background-color: rgba(255, 255, 255, 0.25); border-radius: 3px; width: 100%; border: 1px solid transparent; color: #fff; }
.login-page { margin-top: 180px; width: 20%; padding-top: 0; }
.login-page .login-form input[type=text] option { color: #333; }
.login-page .login-form input[type=text]:focus { border: 1px solid #fcfcfc; outline: none; }
.login-page .login-form input[type=password] option { color: #333; }
.login-page .login-form input[type=password]:focus { border: 1px solid #fcfcfc; outline: none; }
.login-page .login-form select option { color: #333; }
.login-page .login-form select:focus { border: 1px solid #fcfcfc; outline: none; }
.login-page .login-form input[type=submit] { background: #fff !important; margin-top: 10px; border: 0; }
.login-page .login-form input[type=submit] option { color: #333; }
.login-page .login-form input[type=submit]:focus { border: 1px solid #fcfcfc; outline: none; border: 0; }
.login-page h4 { color: #fff; font-size: 46px; text-align: center; margin-bottom: 50px; font-family: Lato, sans-serif; }
.login-page .errors { background: #fff; width: 100%; padding: 10px; margin: 0 auto; margin-bottom: 10px; border-radius: 3px; color: #e62117; }
.login-page .errors:empty { padding: 0; margin: 0; }
.login-page .errors.success { color: #04abf2 !important; }
.login_divider {display: flex;align-items: center;margin: 25px 0;color: #fff;font-size: 16px;}
.login_divider:before, .login_divider:after {content: '';height: 1px;background: rgb(255 255 255 / 50%);flex-grow: 1;}
.login_divider:before {margin-right: 15px;}
.login_divider:after {margin-left: 15px;}
.login-page .login-icons div { margin: 3.3px; padding: 1px; border-radius: 6px; width: 25px; font-size: 22px; text-align: center; height: 25px; line-height: 1.1; background: #fff !important; color: #04abf2; }
.login-page .login-icons .facebook-icon a { color: #2d4373; }
.login-page .login-icons .google-icon a { color: #c23321; }
.login-page .login-icons .twitter-icon a { color: #2795e9; }
.login-page .login-icons .linkedin-icon a { color: #007bb6; }
.login-page .login-icons .vk-icon a { color: #587ea3; }
.login-page .login-icons .instagram-icon a { color: #d63e75; }
.login-page .login-icons .qq-icon a { color: #2196f3; }
.login-page .login-icons .wechat-icon a { color: #03ce65; }
.login-page .login-icons .discord-icon a { color: #6e85d2; }
.login-page .login-icons .mail-icon a { color: #005ff9; }
.login-page .recaptcha { text-align: center; margin: 0 auto; }

.login-page .pt_vdo_cstm_radio label:after, .login-page .pt_vdo_cstm_radio label:before {
    border-radius: 2px;
}
.login-page .pt_vdo_cstm_radio label:before, .login-page .pt_vdo_cstm_radio input:checked + label:before {
    border-color: #fff;
}
.login-page .pt_vdo_cstm_radio input:checked + label:after {
    background-color: #ffffff;
}

.login-page h4{
    color: black;
}
.login-page .login-form input[type=text], .login-page .login-form input[type=password]{
    border: 1px solid #cbd5e0;
    color: black;
}
.login-page .login-form input::placeholder{
    color: #e2e4e5;
}

.login-page .pt_vdo_cstm_radio label:before, .login-page .pt_vdo_cstm_radio input:checked + label:before{
    border-color: #cbd5e0;
}

.login-page .pt_vdo_cstm_radio input:checked + label:after{
    background-color: #cbd5e0;
}
.login-page .login-form input[type=submit]{
    background-color: #2a6496 !important;
    color: white !important;
}
.login-page{
    margin-top: 60px;
}

@media (max-width: 1600px) {
    .login-page { width: 50%; }
}
@media (max-width: 900px) {
    .login-page { width: 100%; }
    .login-page h4 { font-size: 34px; }
}
@media (max-width: 760px) {
    .login-page { margin-top: 0 !important; }
}