.btn-subscribe, .btn-subscribed { padding: 8.7px 18px; width: auto; min-width: 90px; text-transform: uppercase; font-size: 14px; letter-spacing: .007px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.16), 0 1px 2px rgba(0, 0, 0, 0.1); border: 0; transition: all 0.2s; position: relative; font-weight: 500; border-radius: 3px; outline: 0 !important; color: #fff; }
.btn-subscribe:before, .btn-subscribed:before { content: ''; display: block; position: absolute; left: 100%; margin-left: 4px; top: 50%; margin-top: -6px; width: 0; height: 0; border: 6px solid transparent; border-left-width: 0; border-right-color: #e1e1e1; }

.pt_video_info .video-published { padding: 0 5px; }

.video-published { margin-top: 18px; color: #202020; }
.video-published a { color: #04abf2 !important; }

.watch-video-show-more { text-align: center; cursor: pointer; display: block; width: 250px; margin: auto; background-color: #f8f8f8; padding: 10px; border-radius: 3px; border: 1px solid #d3d3d3; background-image: linear-gradient(to top, #fcfcfc 0, #f8f8f8 100%); box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05); font-weight: bold; font-family: Helvetica; font-size: 12px; transition: all 0.1s ease; }
.watch-video-show-more:hover { background-color: #f0f0f0; border-color: #c6c6c6; background-image: linear-gradient(to top, #f0f0f0 0, #f8f8f8 100%); }

.pt_blogcomm_combo { display: flex; }
.pt_blogcomm_combo img { width: 50px; height: 50px; border-radius: 50%; border: 1px solid #f4f4f4; margin-right: 10px; }
.pt_blogcomm_combo textarea { border-radius: 25px; padding: 13px 15px 7px; height: 50px; }
.pt_blogcomm_combo button { border-radius: 25px; width: 50px; height: 50px; padding: 0 15px; margin-left: 10px; }

.btn-main { background-color: #04abf2; color: #fff; }
.btn-main:hover { background-color: #04abf2; color: #fff; }
.btn-main:focus { background-color: #04abf2; color: #fff; }
.btn-main:disabled { background-color: #3dc4ff; color: #fff; }


body, .watch-video-show-more {background: #08090f !important;}.navbar-fixed-top, #get-notifications, .navbar-fixed-top ul.navbar-nav > li, .dropdown-menu, .dropdown-menu > li, .pt_language_select:before {background: #12141E !important;}.pt_footer .container-fluid, footer .footer-container, .footer-container .footer-links ul li, .content, .pt_foot_lang > li, .pt_blogcomm_combo textarea, .pt_video_info .watch-video-show-more, .vid_mov_e_info li {background: #12141E !important;}body {overflow-x: hidden;}footer.pt_footer, .top-video.video-player-page{position: relative;}nav.navbar-findcond .search-header input {background-color: #08090f !important;}.navbar.navbar-findcond.navbar-default.second-header-layout {border-top: 2px solid #25293d !important;background: #12141E !important;}.publisher-element, .video-options, hr, .pt_blogcomm_combo textarea, .watch-video-show-more {border-color: #25293d !important;}.main-comment .pt-comment-item-reply-form input {background-color: #12141e !important;border-color: #2a2d30 !important;box-shadow: none;}.navbar.navbar-findcond.navbar-default.second-header-layout ul.nav.navbar-nav li {background: #12141E !important;}nav.navbar-findcond ul.dropdown-menu > li > a:hover {background: #25283a !important;}.btn-subscribed {background: #3590d9}.video-info-element .views-bar {background-color: #3b404f;}.yp_side_drawer, .yp_side_drawer ul.sections, .yp_side_drawer ul.sections li {
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  }
.dropdown-menu.notfi-dropdown h5, ul.notfi-dropdown ul#notifications-list li.notifications-list, ul.notfi-dropdown ul#notifications-list li.no-notifications {
    background: #12141e !important;border-color: #25293d !important;
}
textarea#embed, .share-input input {
    border-color: #25293d !important;
    background-color: #181b27 !important;
}
.yp_side_drawer ul.sections {
    border-color: #25293d !important;
}
ul.dropdown-menu > li > a:hover {
    background: #25283a !important;
}
.content {
    box-shadow: none;
}
.second-header-layout li.active > a {
    background: #171a25 !important;
}
.pt_footer .container-fluid {border: 0;}
textarea#embed {
    border-color: #25293d !important;
    background-color: #181b27 !important;
}
ul.notfi-dropdown {
    border-color: #25293d !important;
}
.dropdown-menu.notfi-dropdown h5, ul.notfi-dropdown ul#notifications-list li.notifications-list {
    background: #12141e !important;border-color: #25293d !important;
}


.pt_video_info { padding: 0 5px; }
.pt_video_info .video-views { font-size: 15px; color: #848484; }
.pt_video_info .btn-subscribe, .pt_video_info .btn-subscribed {border-radius: 2em;box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);padding: 0 14px;line-height: 36px;font-size: 13px;letter-spacing: 0.7px;display: inline-block;text-decoration: none;color: white;}
.pt_video_info .btn-subscribed svg {margin-top: -1px;width: 17px;height: 17px;}
.pt_video_info .publisher-subscribe-button .subs-amount {padding: 0 10px;line-height: 36px;display: inline-block;border-radius: 2em;}
.pt_video_info .watch-video-show-more { margin-top: 10px; width: 150px; padding: 5px 10px; font-family: Roboto; font-weight: 500; }
.pt_video_info .watch-video-description { padding: 0 5px; }
.pt_video_info .watch-video-description p { word-wrap: break-word; font-size: 13px; line-height: 21px; }
.pt_video_info .video-published { padding: 0 5px; }
.pt_video_info .pt_mn_wtch_rdmre {margin: 10px 0 0;border: 0;background: rgba(63, 81, 181, 0.12);box-shadow: none;width: auto;display: inline-block;color: #3F51B5;}


.video-big-title { font-size: 20px; color: #202020; margin-top: 8px; margin-bottom: 12px; }
.video-big-title h1 { font-size: 24px; margin: 0; line-height: 1.3; font-weight: 400 !important;word-break: break-all; }
.video-big-title .featured-text { color: green; }
.video-big-title a { color: #202020; text-decoration: none; }

.publisher-element { margin-bottom: 10px; margin-top: 10px; width: 100%; display: flex; align-items: center; border-top: 1px solid #f3f3f3; border-bottom: 1px solid #f3f3f3; padding: 10px 2px; }
.publisher-element .publisher-avatar { width: 48px; height: 48px; margin-right: 8px; }
.publisher-element .publisher-avatar img { width: 100%; border-radius: 50%; }
.publisher-element .publisher-subscribe-button { margin-left: auto; }
.publisher-element .publisher-name a { color: #333; font-weight: 500; font-size: 16px; }
.pt_mn_wtch_pub {border-bottom: 0;margin: 0;padding-bottom: 0;padding-top: 20px;}

.video-options { padding-bottom: 10px; border-bottom: 1px solid #f2f2f2; }
.video-options .btn-share { border: 0; color: #555; background: transparent; margin: 0 5px; padding: 5px 10px; transition: all 0.2s ease; border-radius: 2px; }
.video-options .btn-share:hover { background-color: rgba(0, 0, 0, 0.05); }
.video-options .btn-share:active { background-color: rgba(0, 0, 0, 0.14); }
.video-options .btn-share:focus { outline: none; }
.video-options svg.feather { margin-top: -3px; width: 17px; height: 17px; }
.pt_mn_wtch_opts {border-bottom: 0;border-top: 1px solid #f2f2f2;padding: 15px 0;margin-top: 10px;}
.pt_mn_wtch_opts .btn-share {display: inline-block;vertical-align: middle;text-decoration: none;margin: 0 8px;}
.pt_mn_wtch_opts .btn-share > svg {width: 26px;height: 26px;vertical-align: middle;display: block;background-color: rgba(0, 0, 0, 0.1);border-radius: 50%;padding: 5px;margin: 0 auto 4px;}
body.night-mode .pt_mn_wtch_opts {
    border-top-color: #3e3e3e;
}
body.night-mode .pt_mn_wtch_opts .btn-share > svg {
    background-color: rgba(255, 255, 255, 0.1);
}


@media (min-width: 1800px) {
    .video-player.pt_video_player {
        height: 670px;
    }
    .video-player.pt_video_player .mejs__container {
        height: 670px !important;min-height: 670px;max-height: 670px !important;
    }
}

@media (max-width: 760px) {
    .video-big-title { font-size: 18px; margin-top: 5px; margin-bottom: 10px; }
    .video-big-title h1 { font-size: 18px; margin-top: 0; margin-bottom: 10px; }

    .publisher-element .publisher-name a { font-weight: 100; font-size: 14px; color: #111; }
}