
.articles-content { padding: 20px; overflow: hidden; }
.articles-content .pt_article_list { position: relative; padding-top: 20px; margin: 0; }
.articles-content .pt_article_h_list { position: relative; padding: 15px; background: #fff; border-radius: 8px; box-shadow: rgb(0 0 0 / 10%) 0px 4px 6px -1px, rgb(0 0 0 / 10%) 0px 2px 4px -2px; display: block; overflow: hidden; }
.articles-content .pt_article_h_list .video-thumb { position: relative;margin-bottom: 10px;}
.articles-content .pt_article_h_list .video-thumb img {width: 100%;max-width: 100%; object-fit: cover;aspect-ratio: 16/9;height: auto;border-radius: 8px;}
.articles-content .pt_article_h_list .video-info { overflow: hidden !important; }
.articles-content .pt_article_h_list .postFooter {display: flex;align-items: center;justify-content: space-between;}


.article-categories { padding: 0 10px; margin-bottom: 20px; }
.article-categories h4 { color: #333; font-family: Lato, sans-serif; margin-bottom: 20px; padding-bottom: 10px; border-bottom: 1px solid #f0f0f0; font-size: 20px; margin-top: 0; }
.article-categories .pt_categories ul { list-style: none !important; padding: 0; margin: 0; }
.article-categories .pt_categories ul li { transition: all .20s ease; background-color: #d3d3d3; margin: 0 6px 11px 0; display: inline-block; border-radius: 25px; }
.article-categories .pt_categories ul li a { text-decoration: none; width: 100%; color: #1a1a1a; display: block; padding: 5px 15px; }
.article-categories .pt_categories ul li.active { background-color: #04abf2; }
.article-categories .pt_categories ul li.active a { color: #fff; }
.article-categories .pt_categories ul li:hover a { cursor: pointer; text-decoration: underline; }
.article-categories div form input { border-radius: 16px; width: 100%; display: block; padding-right: 40px; }
.article-categories div form div { width: 100%; overflow: hidden; margin: 27px 0 20px; position: relative; }
.article-categories div form div button { position: absolute; right: 0; bottom: 0; background: transparent; border: none; outline: none; height: 34px; padding: 1px 10px; color: #6b6b6b; border-radius: 0 16px 16px 0; transition: all 0.2s ease; }
.article-categories div form div button:hover { background-color: rgba(0, 0, 0, 0.06); }
.article-categories div form button { border-radius: 0; width: auto; display: inline; float: left; border-left: none; }

.recent-articles { font-family: Lato, sans-serif; margin-bottom: 0; padding-bottom: 10px; border-bottom: 1px solid #f0f0f0; font-size: 20px; margin-top: 0; }

.articles-container { overflow: hidden; margin-bottom: 40px; }
.articles-container .no-content-found div { height: 200px; display: table; text-align: center; width: 100%; }
.articles-container .no-content-found div figure { text-align: center; height: 200px; display: table-cell; vertical-align: middle; }
.articles-container .no-content-found p.no-posts-found { line-height: 200px; text-align: center; width: 100%; }

.no-padding-right { padding-right: 0; }
.no-padding-left { padding-left: 0; }


@media (max-width: 650px) {
    .articles-content .pt_article_h_list .video-thumb {width: 100%;}
}

@media (max-width: 460px) {
    .articles-content {padding: 5px;}
}