.login-page .login-form input[type=text], .login-page .login-form input[type=password] { padding: 10px; background-color: rgba(255, 255, 255, 0.25); border-radius: 3px; width: 100%; border: 1px solid transparent; color: #fff; }
.login-page .login-form select, .login-page .login-form input[type=submit] { padding: 10px; background-color: rgba(255, 255, 255, 0.25); border-radius: 3px; width: 100%; border: 1px solid transparent; color: #fff; }
.login-page { margin-top: 180px; width: 20%; padding-top: 0; }
.login-page .login-form input[type=text] option { color: #333; }
.login-page .login-form input[type=text]:focus { border: 1px solid #fcfcfc; outline: none; }
.login-page .login-form input[type=password] option { color: #333; }
.login-page .login-form input[type=password]:focus { border: 1px solid #fcfcfc; outline: none; }
.login-page .login-form select option { color: #333; }
.login-page .login-form select:focus { border: 1px solid #fcfcfc; outline: none; }
.login-page .login-form input[type=submit] { background: #fff !important; margin-top: 10px; border: 0; }
.login-page .login-form input[type=submit] option { color: #333; }
.login-page .login-form input[type=submit]:focus { border: 1px solid #fcfcfc; outline: none; border: 0; }
.login-page h4 { color: #fff; font-size: 46px; text-align: center; margin-bottom: 50px; font-family: Lato, sans-serif; }
.login-page .errors { background: #fff; width: 100%; padding: 10px; margin: 0 auto; margin-bottom: 10px; border-radius: 3px; color: #e62117; }
.login-page .errors:empty { padding: 0; margin: 0; }
.login-page .errors.success { color: #04abf2 !important; }
.login-page .recaptcha { text-align: center; margin: 0 auto; }

.login-page h4{
  color: black;
}
.login-page .login-form input[type=text], .login-page .login-form input[type=password]{
   border: 1px solid #cbd5e0;
   color: black;
}
.login-page .login-form input::placeholder{
  color: #e2e4e5;
}
.login-page .pt_vdo_cstm_radio label:before, .login-page .pt_vdo_cstm_radio input:checked + label:before{
  border-color: #cbd5e0;
}
.login-page .pt_vdo_cstm_radio input:checked + label:after{
  background-color: #cbd5e0;
}
.login-page .login-form input[type=submit]{
  background-color: #2a6496 !important;
  color: white !important;
}
.login-page{
  margin-top: 60px;
}


@media (max-width: 1600px) {
.login-page { width: 50%; }
}

@media (max-width: 900px) {
    .login-page { width: 100%; }
    .login-page h4 { font-size: 34px; }
}

@media (max-width: 760px) {
    .login-page { margin-top: 0 !important; }
}