.pt_sett_mani_page .last-sett-btn {margin: 10px 0 0 !important;border: 0;background: transparent;text-align: center;}
.pt_sett_mani_page .last-sett-btn .setting-panel-mdbtn {margin: 0;border-radius: 2em;text-transform: none;font-size: 17px;font-weight: normal;}
.pt_sett_mani_page .last-sett-btn .setting-panel-mdbtn svg {display: none;}

.user-setting-panel input[type='text'], .user-setting-panel input[type='password'] { height: 30px !important; color: #666 !important; font-size: 13px; box-shadow: 0 1px 0 0 #f2f2f2, 0 0 0 1px #f2f2f2; border: none; border-radius: 0; }
.user-setting-panel { background-color: #fff; padding: 30px; padding-top: 20px; padding-bottom: 10px; box-shadow: 0 1px 0 0 #e3e4e8, 0 0 0 1px #f1f1f1; }
.user-setting-panel select { height: 30px !important; color: #666 !important; font-size: 13px; box-shadow: 0 1px 0 0 #f2f2f2, 0 0 0 1px #f2f2f2; border: none; border-radius: 0; }
.user-setting-panel textarea { height: 30px !important; box-shadow: 0 1px 0 0 #f2f2f2, 0 0 0 1px #f2f2f2; border: none; border-radius: 0; height: 100px !important; color: #666 !important; font-size: 13px; }
.user-setting-panel .btn-main { height: 30px !important; font-size: 13px; min-width: 100px !important; }

/*Comments*/
.user-setting-panel .user-comments .main-comment .user-name {
    margin-left: 60px;
}
.user-setting-panel .user-comments .main-comment .user-comment {width: calc(100% - 60px);}
.user-setting-panel .user-comments .main-comment .user-comment p {background: rgb(0 0 0 / 5%);padding: 8px 12px;border-radius: 17px;}
.user-setting-panel .user-comments .main-comment .user-name small { display: block; }

.pt_shadow { box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2); border-radius: 3px; }


.pt_forms .form-group { margin: 0; margin-bottom: 15px; padding: 0; }
.pt_forms .form-group input[type=text] { border: 2px solid #e3e4e8; border-radius: 2px; height: 40px !important; line-height: 14px; padding-left: 15px; transition: all 0.1s ease-in-out; box-shadow: none; }
.pt_forms .form-group input[type=text]:focus { border-color: #b3b3b3; }
.pt_forms .form-group input[type=number] { border: 2px solid #e3e4e8; border-radius: 2px; height: 40px !important; line-height: 14px; padding-left: 15px; transition: all 0.1s ease-in-out; box-shadow: none; }
.pt_forms .form-group input[type=number]:focus { border-color: #b3b3b3; }
.pt_forms .form-group input[type=email] { border: 2px solid #e3e4e8; border-radius: 2px; height: 40px !important; line-height: 14px; padding-left: 15px; transition: all 0.1s ease-in-out; box-shadow: none; }
.pt_forms .form-group input[type=email]:focus { border-color: #b3b3b3; }
.pt_forms .form-group input[type=password] { border: 2px solid #e3e4e8; border-radius: 2px; height: 40px !important; line-height: 14px; padding-left: 15px; transition: all 0.1s ease-in-out; box-shadow: none; }
.pt_forms .form-group input[type=password]:focus { border-color: #b3b3b3; }
.pt_forms .form-group select { border: 2px solid #e3e4e8; border-radius: 2px; height: 40px !important; line-height: 14px; padding-left: 15px; transition: all 0.1s ease-in-out; box-shadow: none; }
.pt_forms .form-group select:focus { border-color: #b3b3b3; }
.pt_forms .form-group textarea { border: 2px solid #e3e4e8; border-radius: 2px; padding-left: 15px; transition: all 0.1s ease-in-out; box-shadow: none; resize: none; }
.pt_forms .form-group textarea:focus { border-color: #b3b3b3; }
.pt_forms .form-group textarea:focus + .help-block { opacity: 1; }
.pt_forms .form-group .help-block { opacity: 0; transition: all 0.2s cubic-bezier(0.64, 0.09, 0.08, 1); }
.pt_forms .form-group label.col-md-12 { margin: 5px 0; font-size: 14px; font-weight: 500; }
.pt_forms .form-group input:focus + .help-block { opacity: 1; }
.pt_forms .last-sett-btn { margin: 0 -25px -25px; }
.pt_forms .setting-panel-mdbtn { padding: 9px 18px; border-radius: 4px; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); text-transform: uppercase; font-weight: 500; margin: 2px 25px; height: auto !important; }
.pt_forms .ui-widget.ui-widget-content { border: 2px solid #e3e4e8;margin: 0;}
.pt_forms ul.tagit li.tagit-new { padding: 0; margin: 0; }
.pt_forms ul.tagit li.tagit-new input { border: 0; }

body.night-mode .user-setting-panel { background: #212121 !important; color: #eee !important; border-color: #424242 !important; box-shadow: none !important; }
body.night-mode .user-setting-panel input[type='text'] { color: #eee !important; }
body.night-mode .user-setting-panel input[type='password'] { color: #eee !important; }
body.night-mode .user-setting-panel textarea { color: #eee !important; }
body.night-mode .user-setting-panel select { color: #eee !important;box-shadow: 0 1px 0 0 #424242, 0 0 0 1px #424242; }

