
.author-list .video-wrapper { margin-bottom: 10px; }
.author-list .video-wrapper .author-info { margin-bottom: 10px; }
.author-list .video-wrapper .author-info .author-img { margin-right: 5px; }
.author-list .video-wrapper .author-info .author-img img { width: 25px; }
.author-list .video-wrapper .author-info .author-name { line-height: 1.8; font-weight: 600; }
.author-list .video-wrapper .author-info .author-name a { color: #333; }
.author-list .video-wrapper .video-thumb { margin-bottom: 10px; }
.author-list .video-wrapper .video-thumb a {
	    position: relative;
    padding-bottom: 56.25%;
    display: block;
}
.author-list .video-wrapper .video-thumb img {width: 100%;
    position: absolute;
    height: 100%;
    object-fit: cover;}
.author-list .video-wrapper .video-info { overflow: hidden; }
.author-list .video-wrapper .video-title { font-size: 16px; word-wrap: break-word; }
.author-list .video-wrapper .video-title a { font-weight: 500; color: #333; }
.author-list .video-wrapper .video-title a:hover { color: #04abf2; text-decoration: none; }
.author-list .video-wrapper .video-desc { margin-top: 10px; font-size: 11px; color: #777; overflow: hidden !important; white-space: nowrap; max-height: 46px; text-overflow: ellipsis; }
.author-list .video-wrapper hr { margin-top: 5px; margin-bottom: 5px; }

.pt_subscription .video-wrapper .author-info .author-img img { border-radius: 50%; }
.pt_subscription .video-wrapper .author-info .author-name span { font-weight: normal; font-size: 13px; }
.pt_subscription .video-wrapper .video-title { height: 45px; overflow: hidden; margin-bottom: 40px; }
.pt_subscription .video-wrapper .video-title a { color: #167ac6; font-weight: 600; font-family: sans-serif; font-size: 14px; letter-spacing: 0.3px; }
.pt_subscription .video-wrapper .video-thumb img { height: 201px; object-fit: cover; }

.watch-video-show-more { text-align: center; cursor: pointer; display: block; width: 250px; margin: auto; background-color: #f8f8f8; padding: 10px; border-radius: 3px; border: 1px solid #d3d3d3; background-image: linear-gradient(to top, #fcfcfc 0, #f8f8f8 100%); box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05); font-weight: bold; font-family: Helvetica; font-size: 12px; transition: all 0.1s ease; }
.watch-video-show-more:hover { background-color: #f0f0f0; border-color: #c6c6c6; background-image: linear-gradient(to top, #f0f0f0 0, #f8f8f8 100%); }
body.night-mode .watch-video-show-more { color: #fff !important; border-color: #424242 !important; background-color: #131313; background-image: linear-gradient(to top, #131313 0, #131313 100%); }
body.night-mode .watch-video-show-more:hover { background-color: #000000; background-image: linear-gradient(to top, #000000 0, #000000 100%); }
