

.profile-container { margin-bottom: 20px; }
.profile-container .card-container { width: 100%; position: relative; }
.profile-container .card-container .edit-cover-container, .profile-container .user-reposition-dragable-container {position: absolute;top: 10px;right: 10px;font-size: 16px;display: flex;align-content: center;background-color: rgba(0, 0, 0, 0.65);border-radius: 5px;padding: 5px;}
.profile-container .card-container .edit-cover-container a { color: #fff;display: block;}
.profile-container .card-container .edit-cover-container a:hover { text-decoration: none; }
.profile-container .card-container .edit-cover-container a, .profile-container .card-container .edit-cover-container .btn, .profile-container .user-reposition-dragable-container .btn {margin: 0 5px;}
.profile-container .card-container .edit-cover-container a svg, .profile-container .card-container .edit-cover-container .btn svg, .profile-container .user-reposition-dragable-container .btn svg {vertical-align: middle;width: 22px;height: 22px;}
.profile-container .card-container .edit-cover-container .btn, .profile-container .user-reposition-dragable-container .btn {color: #fff;border: 0;padding: 0;}
.profile-container .card-container .cover-container img { width: 100%;/*height: 250px;*/}
.profile-container .share-video {position: absolute;right: 20px;bottom: 20px;background-color: rgba(255, 255, 255, 0.5);padding: 4px 10px;border-radius: 2em;margin: 0;}
.profile-container .share-video .fa, .profile-container .share-video a {box-shadow: none;border-radius: 3px;width: 20px;height: 20px;font-size: 12px;padding: 1px;}
.profile-container .pt_chnl_info { position: relative; background-color: #fff; display: flex; align-items: center; padding: 20px;}
.profile-container .pt_chnl_info .avatar-container {width: 75px;height: 75px;border: 1px solid #fff; margin-right: 15px; }
.profile-container .pt_chnl_info .avatar-container img { border-radius: 50%;height: 100%;object-fit: cover;}
.profile-container .pt_chnl_info .info-container h4 { font-size: 21px; margin: 0; }
.profile-container .pt_chnl_info .info-container h4 a { color: #444; }
.profile-container .pt_chnl_info .info-container h4 a:hover { text-decoration: none; }
.profile-container .pt_chnl_info .info-container .btn-message {border-radius: 2em;padding: 4px 12px;background-color: #73a7c1;color: white;font-size: 13px;border: 0;}
.profile-container .pt_chnl_info .info-container .btn-message svg.feather { margin: -2px 2px 0 0; width: 15px; height: 15px; }
.profile-container .pt_chnl_info .info-container .btn-message.prof_blck_btn {padding: 4px 6px;background-color: #9E9E9E;}
.profile-container .pt_chnl_info .info-container .btn-message.prof_blck_btn span {display: none;}
.profile-container .pt_chnl_info .info-container .btn-message.prof_blck_btn svg.feather {margin: -2px 0 0;}
.profile-container .pt_chnl_info .subscribe-btn-container { margin-left: auto; }
.profile-container .pt_chnl_info .btn-subscribe, .profile-container .pt_chnl_info .btn-subscribed {border-radius: 2em;box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);padding: 0 14px;line-height: 36px;font-size: 13px;letter-spacing: 0.7px;display: inline-block;text-decoration: none;color: white;}
.profile-container .pt_chnl_info .btn-subscribed svg {margin-top: -1px;width: 17px;height: 17px;}
.profile-container .pt_chnl_info .subs-amount {padding: 0 10px;line-height: 36px;display: inline-block;border-radius: 2em;}
.profile-container .links-container {background: #fff; padding-top: 10px; position: relative; }
.profile-container .links-container ul { margin-bottom: 0; padding-left: 0; margin-left: 0; width: 100%; list-style: none;text-align: center;}
.profile-container .links-container ul li { text-align: center; display: inline-block; }
.profile-container .links-container ul li a { padding: 10px 30px; display: block; position: relative;font-weight: 500;}
.profile-container .links-container ul li a:hover { text-decoration: none; color: #111; }
.profile-container .links-container ul li a:hover:after { transform: scaleX(1); }
.profile-container .links-container ul li a:focus { text-decoration: none; color: #111; }
.profile-container .links-container ul li a.active { text-decoration: none; color: #04abf2; box-shadow: inset 0 -2px #04abf2; }
.profile-container .links-container ul li a.active:hover:after { transform: scaleX(0); }
.profile-container .links-container ul li a:after { content: ""; position: absolute; height: 2px; width: 100%; background-color: #929292; bottom: 0; left: 0; border-radius: 8px; transform: scaleX(0); transition: transform .2s ease; }
.profile-container .page-container { margin-top: 20px; }
.profile-container .pt_about svg.feather { color: #7a7a7a; margin: -3px 6px 0 2px; width: 18px; height: 18px; }
.profile-container .pt_about svg.feather.ahead { padding: 7px; width: 31px; height: 31px; border-radius: 50%; margin: -3px 5px 0 -2px; color: #fff; }
.profile-container .card-container .cover-container-2 img { width: 100%;position: absolute;}

body.night-mode .profile-container .links-container {background: #212121; }
body.night-mode  .profile-container .pt_chnl_info { background: #212121; }
body.night-mode  .profile-container .pt_chnl_info .avatar-container { border: 1px solid #212121; }
body.night-mode .profile-container .pt_chnl_info .info-container .btn-message { color: #212121 !important; }
body.night-mode  .profile-container .pt_chnl_info .info-container .btn-message span { color: #212121 !important; }


.videos-latest-list.row { margin-right: 0; }

.no-padding-right-at-all { padding-right: 0 !important; }

.author-list .video-wrapper .video-views, .author-list .video-wrapper .video-publisher { color: #777; margin-top: 3px; font-size: 12px; }

.author-list .video-wrapper { margin-bottom: 10px; }
.author-list .video-wrapper .author-info { margin-bottom: 10px; }
.author-list .video-wrapper .author-info .author-img { margin-right: 5px; }
.author-list .video-wrapper .author-info .author-img img { width: 25px; }
.author-list .video-wrapper .author-info .author-name { line-height: 1.8; font-weight: 600; }
.author-list .video-wrapper .author-info .author-name a { color: #333; }
.author-list .video-wrapper .video-thumb { margin-bottom: 10px; }
.author-list .video-wrapper .video-thumb a {
    position: relative;
    padding-bottom: 56.25%;
    display: block;
}
.author-list .video-wrapper .video-thumb img {width: 100%;
    position: absolute;
    height: 100%;
    object-fit: cover;}
.author-list .video-wrapper .video-info { overflow: hidden; }
.author-list .video-wrapper .video-title { font-size: 16px; word-wrap: break-word; }
.author-list .video-wrapper .video-title a { font-weight: 500; color: #333; }
.author-list .video-wrapper .video-title a:hover { color: #04abf2; text-decoration: none; }
.author-list .video-wrapper .video-desc { margin-top: 10px; font-size: 11px; color: #777; overflow: hidden !important; white-space: nowrap; max-height: 46px; text-overflow: ellipsis; }
.author-list .video-wrapper hr { margin-top: 5px; margin-bottom: 5px; }

.videos-list .pt_video_side_vids .video-thumb:hover .play_hover_btn { opacity: 1; visibility: visible; }
.videos-list .pt_video_side_vids .video-thumb:hover .play_hover_btn svg.feather { transform: translate(-50%, -50%) scale(1); }
.videos-list .pt_video_side_vids .video-thumb .play_hover_btn { position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.2); color: #fff; opacity: 0; visibility: hidden; transition: all 0.2s ease;border-radius: 5px;}
.videos-list .pt_video_side_vids .video-thumb a { display: block; position: relative; overflow: hidden; }
.videos-list .pt_video_side_vids .video-thumb .play_hover_btn svg.feather { left: 50%; position: absolute; top: 50%; margin: 0; transform: translate(-50%, -50%) scale(0.7); width: 45px; height: 45px; stroke-width: 1.2px; }
.videos-list .pt_video_side_vids .video-thumb .play_hover_btn svg.feather { transform: translate(-50%, -50%) scale(1); }


.video-latest-list .video-thumb a, .home-page-categories .videos .video-list .video-list-image a { display: block; position: relative; overflow: hidden; }
.video-latest-list .video-thumb .play_hover_btn, .home-page-categories .videos .video-list .video-list-image .play_hover_btn { position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.2); color: #fff; opacity: 0; visibility: hidden; transition: all 0.2s ease;border-radius: 5px;}
.video-latest-list .video-thumb .play_hover_btn svg.feather, .home-page-categories .videos .video-list .video-list-image .play_hover_btn svg.feather { left: 50%; position: absolute; top: 50%; margin: 0; transform: translate(-50%, -50%) scale(0.7); width: 45px; height: 45px; stroke-width: 1.2px; }
.video-latest-list .video-thumb img, .home-page-categories .videos .video-list img { width: 100%; min-height: 151px; max-height: 151px; object-fit: cover;border-radius: 5px;}
.video-latest-list .video-thumb, .video-list-image { width: 100%; position: relative; }
.video-latest-list .video-thumb:hover .play_hover_btn { opacity: 1; visibility: visible; }
.video-latest-list .video-thumb:hover .play_hover_btn svg.feather { transform: translate(-50%, -50%) scale(1); }
.video-latest-list.user-wrapper .video-thumb img { max-height: inherit !important; }
.video-latest-list .video-title a, .home-page-categories .videos .video-list .video-list-title a { text-decoration: none; }
.video-latest-list .video-title h4, .home-page-categories .videos .video-list .video-list-title h4 { font-size: 13px; color: #3e3e3e; margin-bottom: 3px; font-weight: 600; font-family: sans-serif; line-height: 1.5em; height: 3em !important; overflow: hidden; }
.video-latest-list { height: 270px; overflow: hidden; }
.video-latest-list .video-title { font-size: 16px; color: #04abf2; max-height: 43px; overflow: hidden; }
.video-latest-list .video-thumb, .video-list-image { width: 100%; position: relative; }
.video-duration { position: absolute; bottom: 5px; right: 5px; color: #fff; background-color: rgba(0, 0, 0, 0.4); font-size: 11px; padding: 1px; border-radius: 2px; padding-left: 3px; padding-right: 3px; }
.video-latest-list .video-thumb:hover .play_hover_btn { opacity: 1; visibility: visible; }
.video-latest-list .video-thumb:hover .play_hover_btn svg.feather { transform: translate(-50%, -50%) scale(1); }
.video-latest-list .video-info { margin-top: 5px; color: #444; font-size: 11px; }
.video-latest-list.video-wrapper { overflow: unset !important; }
.video-latest-list.video-wrapper .video-title a { display: inline-block; height: 3em; height: unset !important; overflow: hidden; }
.video-latest-list.user-wrapper .video-thumb img { max-height: inherit !important; }

.videos-list .video-wrapper .video-thumb { width: 170px; margin-right: 10px; }
.videos-list .video-wrapper .video-thumb img { width: 100%; }
.videos-list .pt_video_side_vids .video-thumb { width: 168px; height: 94px; overflow: hidden; }
.videos-list .pt_video_side_vids .video-thumb img { object-fit: cover; height: 94px; }

.article-wrapper .video-thumb a { overflow: hidden; display: block; }
.article-wrapper .video-thumb a img { transition: all 0.3s ease; }
.article-wrapper .video-thumb:hover > a img { transform: scale(1.02); opacity: 0.8; }
.article-wrapper .article-views { color: #929292; font-size: 13px; }
.article-wrapper .article-title h4 {margin-top: 0;overflow: hidden;min-height: 50px;max-height: 50px;}
.article-wrapper .article-title h4 a {color: #444;font-size: 23px;word-break: break-all;}
.article-wrapper .article-desc p { font-family: Lato, sans-serif; font-size: 14px; line-height: 22px; margin-bottom: 14px; overflow: hidden;max-height: 44px;min-height: 44px;word-break: break-all;}

.profile-amount-token{
    font-weight: bold;
    color: black;
}

.subscribe-btn-container .btn {
    border-radius: 8px;
}
.subscribe-btn-container .btn .glyphicon {
    margin-right: 6px;
    top: -1px;
}

.remove-before::before{
    display: none !important;
}

.btn-subscribe, .btn-subscribed { padding: 8.7px 18px; width: auto; min-width: 90px; text-transform: uppercase; font-size: 14px; letter-spacing: .007px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.16), 0 1px 2px rgba(0, 0, 0, 0.1); border: 0; transition: all 0.2s; position: relative; font-weight: 500; border-radius: 3px; outline: 0 !important; color: #fff; }
.btn-subscribe:before, .btn-subscribed:before { content: ''; display: block; position: absolute; left: 100%; margin-left: 4px; top: 50%; margin-top: -6px; width: 0; height: 0; border: 6px solid transparent; border-left-width: 0; border-right-color: #e1e1e1; }

.btn-subscribed { background: #777; }
.btn-subscribed:active { box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2), 0 1px 4px rgba(0, 0, 0, 0.14); }

.video-title p { word-break: break-all; margin-top: 10px; }


.profile-container { margin-bottom: 20px; }
.pt_main_chnl_hdrr {box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);overflow: hidden;border-radius: 10px;}
.profile-container .card-container { width: 100%; position: relative; }
.profile-container .card-container .edit-cover-container, .profile-container .user-reposition-dragable-container {position: absolute;top: 10px;right: 10px;font-size: 16px;display: flex;align-content: center;background-color: rgba(0, 0, 0, 0.65);border-radius: 5px;padding: 5px;}
.profile-container .card-container .edit-cover-container a { color: #fff;display: block;}
.profile-container .card-container .edit-cover-container a:hover { text-decoration: none; }
.profile-container .card-container .edit-cover-container a, .profile-container .card-container .edit-cover-container .btn, .profile-container .user-reposition-dragable-container .btn {margin: 0 5px;}
.profile-container .card-container .edit-cover-container a svg, .profile-container .card-container .edit-cover-container .btn svg, .profile-container .user-reposition-dragable-container .btn svg {vertical-align: middle;width: 22px;height: 22px;}
.profile-container .card-container .edit-cover-container .btn, .profile-container .user-reposition-dragable-container .btn {color: #fff;border: 0;padding: 0;}
.profile-container .card-container .cover-container img { width: 100%;/*height: 250px;*/}
.profile-container .share-video {position: absolute;right: 20px;bottom: 20px;background-color: rgba(255, 255, 255, 0.5);padding: 4px 10px;border-radius: 2em;margin: 0;}
.profile-container .share-video .fa, .profile-container .share-video a {box-shadow: none;border-radius: 3px;width: 20px;height: 20px;font-size: 12px;padding: 1px;}
.profile-container .pt_chnl_info { position: relative; background-color: #fff; display: flex; align-items: center; padding: 20px;}
.profile-container .pt_chnl_info .avatar-container {width: 75px;height: 75px;border: 1px solid #fff; margin-right: 15px; }
.profile-container .pt_chnl_info .avatar-container img { border-radius: 50%;height: 100%;object-fit: cover;}
.profile-container .pt_chnl_info .info-container h4 { font-size: 21px; margin: 0; }
.profile-container .pt_chnl_info .info-container h4 a { color: #444; }
.profile-container .pt_chnl_info .info-container h4 a:hover { text-decoration: none; }
.profile-container .pt_chnl_info .info-container .btn-message {border-radius: 2em;padding: 4px 12px;background-color: #73a7c1;color: white;font-size: 13px;border: 0;}
.profile-container .pt_chnl_info .info-container .btn-message svg.feather { margin: -2px 2px 0 0; width: 15px; height: 15px; }
.profile-container .pt_chnl_info .info-container .btn-message.prof_blck_btn {padding: 4px 6px;background-color: #9E9E9E;}
.profile-container .pt_chnl_info .info-container .btn-message.prof_blck_btn span {display: none;}
.profile-container .pt_chnl_info .info-container .btn-message.prof_blck_btn svg.feather {margin: -2px 0 0;}
.profile-container .pt_chnl_info .subscribe-btn-container { margin-left: auto; }
.profile-container .pt_chnl_info .btn-subscribe, .profile-container .pt_chnl_info .btn-subscribed {border-radius: 2em;box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);padding: 0 14px;line-height: 36px;font-size: 13px;letter-spacing: 0.7px;display: inline-block;text-decoration: none;color: white;}
.profile-container .pt_chnl_info .btn-subscribed svg {margin-top: -1px;width: 17px;height: 17px;}
.profile-container .pt_chnl_info .subs-amount {padding: 0 10px;line-height: 36px;display: inline-block;border-radius: 2em;}
.profile-container .links-container {background: #fff; padding-top: 10px; position: relative; }
.profile-container .links-container ul { margin-bottom: 0; padding-left: 0; margin-left: 0; width: 100%; list-style: none;text-align: center;}
.profile-container .links-container ul li { text-align: center; display: inline-block; }
.profile-container .links-container ul li a { padding: 10px 30px; display: block; position: relative;font-weight: 500;}
.profile-container .links-container ul li a:hover { text-decoration: none; color: #111; }
.profile-container .links-container ul li a:hover:after { transform: scaleX(1); }
.profile-container .links-container ul li a:focus { text-decoration: none; color: #111; }
.profile-container .links-container ul li a.active { text-decoration: none; color: #04abf2; box-shadow: inset 0 -2px #04abf2; }
.profile-container .links-container ul li a.active:hover:after { transform: scaleX(0); }
.profile-container .links-container ul li a:after { content: ""; position: absolute; height: 2px; width: 100%; background-color: #929292; bottom: 0; left: 0; border-radius: 8px; transform: scaleX(0); transition: transform .2s ease; }
.profile-container .page-container { margin-top: 20px; }

.custom-group-btn{
    display: flex;
    justify-content: flex-end;
    white-space: nowrap;
}
.custom-group-btn > div, .custom-group-btn > button{
    margin-left: 10px;
}

.watch-video-show-more { text-align: center; cursor: pointer; display: block; width: 250px; margin: auto; background-color: #f8f8f8; padding: 10px; border-radius: 3px; border: 1px solid #d3d3d3; background-image: linear-gradient(to top, #fcfcfc 0, #f8f8f8 100%); box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05); font-weight: bold; font-family: Helvetica; font-size: 12px; transition: all 0.1s ease; }
.watch-video-show-more:hover { background-color: #f0f0f0; border-color: #c6c6c6; background-image: linear-gradient(to top, #f0f0f0 0, #f8f8f8 100%); }
body.night-mode .watch-video-show-more { color: #fff !important; border-color: #424242 !important; background-color: #131313; background-image: linear-gradient(to top, #131313 0, #131313 100%); }
body.night-mode .watch-video-show-more:hover { background-color: #000000; background-image: linear-gradient(to top, #000000 0, #000000 100%); }


@media (max-width: 1200px) {
    .profile-container .card-container .cover-container img, .cover-container-2 {
        height: 200px;
    }
}


@media (max-width: 992px) {
    .profile-container .card-container .cover-container img, .cover-container-2 {
        height: 200px;
    }
    .video-latest-list .video-thumb img { min-height: 190px; max-height: 190px; }
}

@media (max-width: 900px) {
    .video-latest-list { height: auto !important; margin-bottom: 25px; }
}

@media (max-width: 760px) {
    .profile-container .pt_chnl_info .avatar-container {width: 50px !important;height: 50px;}
    .profile-container .pt_chnl_info .info-container .btn-message {padding: 4px 6px;}
    .profile-container .pt_chnl_info .info-container .btn-message svg.feather {margin: -2px 0 0;}

    .no-padding-mobile-left { padding-left: 15px !important; }
}


@media (max-width: 650px) {
    .profile-container .pt_chnl_info { display: block; text-align: center; }
    .profile-container .pt_chnl_info .info-container h4 { font-size: 22px !important; margin-bottom: 15px; }
    .profile-container .pt_chnl_info .avatar-container { margin: 0 auto 20px; width: 90px !important;height: 90px;}

    .item-custom{
        flex:40%;
    }
    .item-custom{
        width: 100%;
        margin: 5px !important;
    }
    .item-custom>button{
        width: 100%;
    }

    .custom-group-btn > div, .custom-group-btn > button{
        margin-left: unset !important;
        margin-top: 0.5em;
    }
    .custom-group-btn{
        display: flex;
        flex-wrap: wrap;
    }
}


@media (max-width: 620px) {
    .profile-container .links-container ul { white-space: nowrap; overflow-x: auto; }
}

@media (max-width: 460px) {
    .profile-container .pt_chnl_info { margin: 0; }
    .profile-container .links-container { margin: 0; }
    .profile-container .card-container .cover-container img { height: 160px; object-fit: cover; }
}








