.video-latest-list .video-thumb a, .home-page-categories .videos .video-list .video-list-image a { display: block; position: relative; overflow: hidden; }
.video-latest-list .video-thumb .play_hover_btn, .home-page-categories .videos .video-list .video-list-image .play_hover_btn { position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.2); color: #fff; opacity: 0; visibility: hidden; transition: all 0.2s ease;border-radius: 5px;}
.video-latest-list .video-thumb .play_hover_btn svg.feather, .home-page-categories .videos .video-list .video-list-image .play_hover_btn svg.feather { left: 50%; position: absolute; top: 50%; margin: 0; transform: translate(-50%, -50%) scale(0.7); width: 45px; height: 45px; stroke-width: 1.2px; }
.video-latest-list .video-thumb img, .home-page-categories .videos .video-list img { width: 100%; min-height: 151px; max-height: 151px; object-fit: cover;border-radius: 5px;}
.video-latest-list .video-title a, .home-page-categories .videos .video-list .video-list-title a {
	text-decoration: none;
}
.video-latest-list .video-title h4, .home-page-categories .videos .video-list .video-list-title h4 { font-size: 13px; color: #3e3e3e; margin-bottom: 3px; font-weight: 600; font-family: sans-serif; line-height: 1.5em; height: 3em !important; overflow: hidden; }
.home-page-categories .videos .video-list .video-list-by .bold {
	margin: 0 5px;
    color: gainsboro;
    font-weight: normal;
}