.user-setting-panel input[type='text'], .user-setting-panel input[type='password'] { height: 30px !important; color: #666 !important; font-size: 13px; box-shadow: 0 1px 0 0 #f2f2f2, 0 0 0 1px #f2f2f2; border: none; border-radius: 0; }
.user-setting-panel { background-color: #fff; padding: 30px; padding-top: 20px; padding-bottom: 10px; box-shadow: 0 1px 0 0 #e3e4e8, 0 0 0 1px #f1f1f1; }
.user-setting-panel select { height: 30px !important; color: #666 !important; font-size: 13px; box-shadow: 0 1px 0 0 #f2f2f2, 0 0 0 1px #f2f2f2; border: none; border-radius: 0; }
.user-setting-panel textarea { height: 30px !important; box-shadow: 0 1px 0 0 #f2f2f2, 0 0 0 1px #f2f2f2; border: none; border-radius: 0; height: 100px !important; color: #666 !important; font-size: 13px; }
.user-setting-panel .btn-main { height: 30px !important; font-size: 13px; min-width: 100px !important; }

Comments
.user-setting-panel .user-comments .main-comment .user-name {
    margin-left: 60px;
}
.user-setting-panel .user-comments .main-comment .user-comment {width: calc(100% - 60px);}
.user-setting-panel .user-comments .main-comment .user-comment p {background: rgb(0 0 0 / 5%);padding: 8px 12px;border-radius: 17px;}
.user-setting-panel .user-comments .main-comment .user-name small { display: block; }

.pt_shadow { box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2); border-radius: 3px; }

.videos-list .video-wrapper .video-views, .videos-list .video-wrapper .video-publisher { color: #777; margin-top: 3px; font-size: 11px; }

.videos-list .video-wrapper { margin-bottom: 10px; }
.videos-list .video-wrapper .video-thumb { width: 170px; margin-right: 10px; }
.videos-list .video-wrapper .video-thumb img { width: 100%; }
.videos-list .video-wrapper .video-info { overflow: hidden; }
.videos-list .video-wrapper .video-title { font-size: 14px; word-wrap: break-word; }
.videos-list .video-wrapper .video-title a { font-weight: 500; color: #333; }
.videos-list .video-wrapper .video-title a:hover { color: #04abf2; text-decoration: none; }

/*Video Analytics*/
.videos-list .vid_analts_info {display: flex;align-items: center;margin-bottom: 15px;}
.videos-list .vid_analts_info.short {margin-bottom: 7px;}
.videos-list .vid_analts_info .video-thumb {width: 100% !important;max-width: 170px;}
.videos-list .vid_analts_info.short .video-thumb {max-width: 120px;min-width: 120px;}
.videos-list .vid_analts_info .video-thumb a {display: block;position: relative;}
.videos-list .vid_analts_info .video-thumb img {border-radius: 6px;}
.videos-list .vid_analts_info .video-thumb a svg {background: #fff;border-radius: 50%;width: 44px;height: 44px;position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);}
.videos-list .vid_analts_info.short .video-thumb a svg {width: 34px;height: 34px;}
.videos-list .vid_analts_info .video-title {font-size: 20px;}
.videos-list .vid_analts_info.short .video-title {font-size: 15px;max-height: 42px;overflow: hidden;}
.videos-list .vid_analts_info .video-title a {font-weight: normal;word-break: break-word;}