.video-player { width: 100%; position: relative;height: 100%;}
.video-player video { width: 100%; }
.video-player .icons { position: absolute; top: 15px; color: #fff; font-size: 20px; right: 7px; }
.video-player .icons span { cursor: pointer; }
.video-player .ads-overlay-info { position: absolute; bottom: 10%; right: 0; left: 0; width: 80%; margin: auto; padding: 15px 15px 10px 15px; background: rgba(6, 4, 4, 0.65); border: 1px solid #252525; color: #fff; z-index: 99999; }
.video-player .ads-overlay-info h4 { padding: 0; margin: 0; font-family: Roboto, sans-serif; font-size: 20px; font-weight: 600; margin-bottom: 5px; }
.video-player .ads-overlay-info p { padding: 0; margin: 0; font-family: Roboto, sans-serif; font-size: 16px; line-height: 16px; margin-bottom: 5px; font-weight: 500; color: #fff; }
.video-player .ads-overlay-info div { width: 100%; overflow: hidden; }
.video-player .ads-overlay-info div a { font-family: Verdana, sans-serif; font-size: 15px; color: #e5e45f; float: left; }
.video-player .ads-overlay-info div a i { font-size: 14px; color: #fff; }
.video-player .ads-overlay-info div span { font-family: Verdana, sans-serif; font-size: 15px; color: #fff; float: right; text-transform: capitalize; }
.video-player .ads-overlay-info span.dismiss { right: 10px; top: 10px; position: absolute; }
.video-player , .video-player video , .video-player .mejs__container{max-height: 670px !important;}

.sticky-container_in-content {
    height: inherit !important;
}

.pt_featured_video .video-player .publisher-element { width: 100%; margin: 9px 0 0; color: #fff; padding: 0; border: 0; }
.pt_featured_video .video-player .publisher-element .publisher-avatar { width: 32px; height: 32px; }
.pt_featured_video .video-player .publisher-element .publisher-avatar img { border-radius: 50%; }
.pt_featured_video .video-player .publisher-element a {font-size: 14px;}

/* custom donate button */
.publisher-element .publisher-name a { font-weight: 100; font-size: 14px; color: #111; }

.publisher-element { margin-bottom: 10px; width: 100%; display: flex; align-items: center; border-top: 1px solid #f3f3f3; padding: 10px 2px; }
.publisher-element .publisher-avatar { width: 48px; height: 48px; margin-right: 8px; }
.publisher-element .publisher-avatar img { width: 100%; border-radius: 50%; }
.publisher-element .publisher-subscribe-button { margin-left: auto; }
.publisher-element .publisher-name a { color: #333; font-weight: 500; font-size: 16px; }

.publisher-element {
    align-items: unset;
}
.publisher-element .publisher-subscribe-button {
    margin-left: 8px;
}
.publisher-element .publisher-donante-button {
    margin-left: auto;
}
.publisher-element .publisher-donante-button .btn {
    height: 40px;
    border-radius: 8px;
    font-weight: bold;
}

body.night-mode .publisher-element { border-top: 1px solid #444; }


.video-big-title { font-size: 20px; color: #202020; margin-top: 8px; margin-bottom: 12px; }
.video-big-title h1 { font-size: 24px; margin: 0; line-height: 1.3; font-weight: 400 !important;word-break: break-all; }
.video-big-title .featured-text { color: green; }
.video-big-title a { color: #202020; text-decoration: none; }

.videos-list .video-wrapper { margin-bottom: 10px; }
.videos-list .video-wrapper .video-thumb { width: 170px; margin-right: 10px; }
.videos-list .video-wrapper .video-thumb img { width: 100%; }
.videos-list .video-wrapper .video-info { overflow: hidden; }
.videos-list .video-wrapper .video-title { font-size: 14px; word-wrap: break-word; }
.videos-list .video-wrapper .video-title a { font-weight: 500; color: #333; }
.videos-list .video-wrapper .video-title a:hover { color: #04abf2; text-decoration: none; }
.videos-list .pt_video_side_vids { margin-bottom: 15px; }
.videos-list .pt_video_side_vids:last-child { margin: 0; }
.videos-list .pt_video_side_vids .video-thumb { width: 168px; height: 94px; overflow: hidden; }
.videos-list .pt_video_side_vids .video-thumb img { object-fit: cover; height: 94px; }
.videos-list .pt_video_side_vids .video-title { max-height: 3.6em; line-height: 1.2; margin-bottom: 2px; }
.videos-list .pt_video_side_vids .video-publisher { margin: 0; color: #777; }
.videos-list .pt_video_side_vids .video-views { margin: 0; color: #777; }
.videos-list .video-wrapper .video-views, .videos-list .video-wrapper .video-publisher { color: #777; margin-top: 3px; font-size: 11px; }

.videos-list .pt_video_side_vids .video-thumb:hover .play_hover_btn { opacity: 1; visibility: visible; }
.videos-list .pt_video_side_vids .video-thumb:hover .play_hover_btn svg.feather { transform: translate(-50%, -50%) scale(1); }
.videos-list .pt_video_side_vids .video-thumb .play_hover_btn { position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.2); color: #fff; opacity: 0; visibility: hidden; transition: all 0.2s ease;border-radius: 5px;}
.videos-list .pt_video_side_vids .video-thumb a { display: block; position: relative; overflow: hidden; }
.videos-list .pt_video_side_vids .video-thumb .play_hover_btn svg.feather { left: 50%; position: absolute; top: 50%; margin: 0; transform: translate(-50%, -50%) scale(0.7); width: 45px; height: 45px; stroke-width: 1.2px; }
.videos-list .pt_video_side_vids .video-thumb .play_hover_btn svg.feather { transform: translate(-50%, -50%) scale(1); }


.btn-subscribe, .btn-subscribed { padding: 8.7px 18px; width: auto; min-width: 90px; text-transform: uppercase; font-size: 14px; letter-spacing: .007px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.16), 0 1px 2px rgba(0, 0, 0, 0.1); border: 0; transition: all 0.2s; position: relative; font-weight: 500; border-radius: 3px; outline: 0 !important; color: #fff; }
.btn-subscribe:before, .btn-subscribed:before { content: ''; display: block; position: absolute; left: 100%; margin-left: 4px; top: 50%; margin-top: -6px; width: 0; height: 0; border: 6px solid transparent; border-left-width: 0; border-right-color: #e1e1e1; }


.pt_mn_wtch_rlts_prnt {margin: 0 -6px;}
.pt_mn_wtch_rlts_prnt .pt_pt_mn_wtch_rltvids {width: 50%;display: inline-block;padding: 0 6px;}
.pt_mn_wtch_upnxt_prnt .pt_pt_mn_wtch_rltvids {width: 100%;}
.pt_mn_wtch_rlts_prnt .pt_pt_mn_wtch_rltvids .video-thumb {width: 100%;height: auto;overflow: hidden;margin: 0 0 8px;}
.pt_mn_wtch_rlts_prnt .pt_pt_mn_wtch_rltvids .video-thumb a {width: 100%;padding-bottom: 56.25%;border-radius: 5px;}
.pt_mn_wtch_rlts_prnt .pt_pt_mn_wtch_rltvids .video-thumb img {height: 100%;position: absolute;top: 0;right: 0;left: 0;bottom: 0;}
.pt_mn_wtch_rlts_prnt .pt_pt_mn_wtch_rltvids .video-duration {top: 5px;bottom: auto;background-color: rgba(0, 0, 0, 0.6);font-size: 12px;border-radius: 2em;padding: 0 8px;line-height: 20px;}
.pt_mn_wtch_rlts_prnt .pt_pt_mn_wtch_rltvids .video-title {line-height: normal;font-size: 17px;margin-bottom: 6px;min-height: 42px;}
.pt_mn_wtch_rlts_prnt .pt_pt_mn_wtch_rltvids .vid_pub_info {white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.pt_mn_wtch_rlts_prnt .pt_pt_mn_wtch_rltvids .video-publisher, .pt_mn_wtch_rlts_prnt .pt_pt_mn_wtch_rltvids .video-views {display: inline-block;}
.pt_mn_wtch_rlts_prnt .pt_pt_mn_wtch_rltvids .video-publisher img {width: 20px;height: 20px;object-fit: cover;border-radius: 7px;margin: -2px 1px 0 0;}
.pt_mn_wtch_rlts_prnt .pt_pt_mn_wtch_rltvids .bold {margin: 0 4px;color: gainsboro;font-weight: normal;display: inline-block;}

.pt_video_info { padding: 0 5px; }
.pt_video_info .video-views { font-size: 15px; color: #848484; }
.pt_video_info .btn-subscribe, .pt_video_info .btn-subscribed {border-radius: 2em;box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);padding: 0 14px;line-height: 36px;font-size: 13px;letter-spacing: 0.7px;display: inline-block;text-decoration: none;color: white;}
.pt_video_info .btn-subscribed svg {margin-top: -1px;width: 17px;height: 17px;}
.pt_video_info .publisher-subscribe-button .subs-amount {padding: 0 10px;line-height: 36px;display: inline-block;border-radius: 2em;}
.pt_video_info .watch-video-show-more { margin-top: 10px; width: 150px; padding: 5px 10px; font-family: Roboto; font-weight: 500; }
.pt_video_info .watch-video-description { padding: 0 5px; }
.pt_video_info .watch-video-description p { word-wrap: break-word; font-size: 13px; line-height: 21px; }
.pt_video_info .video-published { padding: 0 5px; }
.pt_video_info .pt_mn_wtch_rdmre {margin: 10px 0 0;border: 0;background: rgba(63, 81, 181, 0.12);box-shadow: none;width: auto;display: inline-block;color: #3F51B5;}

.video-options { padding-bottom: 10px; border-bottom: 1px solid #f2f2f2; }
.video-options .btn-share { border: 0; color: #555; background: transparent; margin: 0 5px; padding: 5px 10px; transition: all 0.2s ease; border-radius: 2px; }
.video-options .btn-share:hover { background-color: rgba(0, 0, 0, 0.05); }
.video-options .btn-share:active { background-color: rgba(0, 0, 0, 0.14); }
.video-options .btn-share:focus { outline: none; }
.video-options svg.feather { margin-top: -3px; width: 17px; height: 17px; }
.pt_mn_wtch_opts {border-bottom: 0;border-top: 1px solid #f2f2f2;padding: 15px 0;margin-top: 10px;}
.pt_mn_wtch_opts .btn-share {display: inline-block;vertical-align: middle;text-decoration: none;margin: 0 8px;}
.pt_mn_wtch_opts .btn-share > svg {width: 26px;height: 26px;vertical-align: middle;display: block;background-color: rgba(0, 0, 0, 0.1);border-radius: 50%;padding: 5px;margin: 0 auto 4px;}
body.night-mode .pt_mn_wtch_opts {
    border-top-color: #3e3e3e;
}
body.night-mode .pt_mn_wtch_opts .btn-share > svg {
    background-color: rgba(255, 255, 255, 0.1);
}

.video-published { margin-top: 18px; color: #202020; }
.video-published a { color: #04abf2 !important; }

.watch-video-description { max-height: 100px; overflow: hidden; position: relative; }
.watch-video-description a { color: #04abf2 !important; }
.watch-video-description p { font-size: 12px; color: #777; margin-top: 10px; word-wrap: break; }

.btn-main { background-color: #04abf2; color: #fff; }
.btn-main:hover { background-color: #04abf2; color: #fff; }
.btn-main:focus { background-color: #04abf2; color: #fff; }
.btn-main:disabled { background-color: #3dc4ff; color: #fff; }

.pt_mn_wtch_pub {border-bottom: 0;margin: 0;padding-bottom: 0;padding-top: 20px;}

.btn-subscribed { background: #777; }
.btn-subscribed:active { box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2), 0 1px 4px rgba(0, 0, 0, 0.14); }

.subs-amount { border: 0; font-size: 14px; background: #e1e1e1; color: #777; border-radius: 3px; margin-left: 6.5px; padding: 10px 12px; font-weight: 500; }

.no-padding-left { padding-left: 0; }

.watch-video-show-more { text-align: center; cursor: pointer; display: block; width: 250px; margin: auto; background-color: #f8f8f8; padding: 10px; border-radius: 3px; border: 1px solid #d3d3d3; background-image: linear-gradient(to top, #fcfcfc 0, #f8f8f8 100%); box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05); font-weight: bold; font-family: Helvetica; font-size: 12px; transition: all 0.1s ease; }
.watch-video-show-more:hover { background-color: #f0f0f0; border-color: #c6c6c6; background-image: linear-gradient(to top, #f0f0f0 0, #f8f8f8 100%); }

.next-video { border-bottom: 1px solid #ebebeb; margin-bottom: 20px; padding-bottom: 5px; }
.next-video h4 { color: #333; font-family: Lato, sans-serif; font-size: 20px; margin-top: 7px; }
.next-video h4 .fa-bolt { color: #04abf2; }

.pointer { cursor: pointer; cursor: pointer !important; }

.top-video-wrapper .video-title { max-height: 4.5em; overflow: hidden; }

.pt_blogcomm_combo { display: flex; }
.pt_blogcomm_combo img { width: 50px; height: 50px; border-radius: 50%; border: 1px solid #f4f4f4; margin-right: 10px; }
.pt_blogcomm_combo textarea { border-radius: 25px; padding: 13px 15px 7px; height: 50px; }
.pt_blogcomm_combo button { border-radius: 25px; width: 50px; height: 50px; padding: 0 15px; margin-left: 10px; }

.comments-loading { width: 100%; text-align: center; padding: 20px 0; font-size: 20px; color: #929292; }

.sort-comments-dropdown { margin-left: 10px; }
.sort-comments-dropdown .dropdown-toggle { font-size: inherit; text-transform: capitalize; }
.sort-comments-dropdown .dropdown-toggle i { font-size: 20px; }
.sort-comments-dropdown ul.dropdown-menu { border-radius: 0; padding: 0; margin: 0; }
.sort-comments-dropdown ul.dropdown-menu li a { padding: 10px 15px; }

.mejs__overlay.mejs__layer { overflow: hidden; }
.mejs__overlay.mejs__layer img { max-height: 100%; max-width: 100%; }

/*Watch Next*/
.pt_mn_wtch_nxttxt h4 {font-family: "Roboto", sans-serif;margin: 5px 0 0;font-size: 18px;}
.pt_mn_wtch_nxttxt h4 svg {vertical-align: middle;margin-top: -2px;}

.pt_mn_wtch_switch {padding: 4px 5px 9px;}
.pt_mn_wtch_switch .tgl {visibility: hidden;position: absolute;opacity: 0;margin: 0;}
.pt_mn_wtch_switch .tgl-btn {transition: all .4s ease;margin: 0px;display: block;position: relative;cursor: pointer;user-select: none;padding-right: 45px;}
.pt_mn_wtch_switch .tgl-btn:after {position: absolute;display: block;content: "";width: 20px;height: 20px;top: 0px;right: 18px;}
.pt_mn_wtch_switch .tgl-btn:before {position: absolute;display: block;content: "";height: 14px;border-radius: 30px;width: 36px;background: rgba(0, 0, 0, 0.1);right: 0;top: 50%;transform: translateY(-50%);}
.pt_mn_wtch_switch .tgl-btn:after {border-radius: 2em;background: #b7b7b7;transition: right 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), padding 0.3s ease, margin 0.3s ease;box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;}
.pt_mn_wtch_switch .tgl:checked + .tgl-btn:before {background: rgba(4, 171, 242, 0.3);}
.pt_mn_wtch_switch .tgl:checked + .tgl-btn:after {right: 0;background: #04abf2;}
body.night-mode .pt_mn_wtch_switch .tgl-btn:before {
    background: rgba(255, 255, 255, 0.15);
}

.pt_featured_video .thumbnail_holder {
    border-radius: 10px;
}

.pt_featured_video .video-player .video-title {
    bottom: 0px;
    left: 0px;
    right: 0px;
    padding: 10px;
    border-radius: 10px;
}

.play-list-player { width: 100%; overflow: hidden; margin-bottom: 10px; }
.play-list-player .mejs__container { max-height: 100% !important; }

/*Sticky Player*/
.sticky-container_sticky .sticky-container__video {height: 247.50px; width: 440px;right: 0;bottom: 0;position: fixed;z-index: 9;}
.sticky-container_sticky .sticky-container__video .mejs__video {height: 100% !important;width: 100% !important;min-height: auto;}
.sticky-container_sticky .sticky-container__video .mejs__video video {height: 100% !important;width: 100% !important;}
.sticky-container_in-content .sticky-container__video .sticky-container__object {position: absolute;top:0;left: 0;width: 100%;height: 100%;}
.sticky-container_sticky .wow_liv_comments_feed {display: none;}

.pt_featured_video .video-player .video-big-title { margin: 0;}
.pt_featured_video .video-player .video-big-title a { color: #fff; font-size: 26px; }

.mejs__container { max-height: 80%; }

html, body {
    overflow-x: hidden;
    width: 100%
}

.user-comments .no-comments-found { margin-bottom: 10px; color: #777; }
.user-comments .main-comment { margin-bottom: 40px; margin-bottom: 20px !important; }
.user-comments .main-comment .user-avatar { width: 50px; margin-right: 10px; }
.user-comments .main-comment .user-avatar img { width: 100%; border-radius: 50%; border: 1px solid #f4f4f4; }
.user-comments .main-comment .user-name { font-size: 15px;}
.user-comments .main-comment .user-name a { font-weight: 500;word-break: break-word;}
.user-comments .main-comment .user-name small { font-size: 12px; color: #aaa; display: inline; }
.user-comments .main-comment .user-name .dropdown {
	cursor: pointer;
}
.user-comments .main-comment .user-comment {width: 85%;
    font-size: 15px;
    margin-top: 5px;
    overflow: hidden;
    font-family: 'Lato', sans-serif;}
.user-comments .main-comment .user-comment .div-vote-comment { color: #888; margin-top: 10px; font-size: 12px; }
.user-comments .main-comment .user-comment .div-vote-comment .likes { color: #2ec0bc; }
.user-comments .main-comment .user-comment .div-vote-comment .voting { margin-left: 5px; }
.user-comments .main-comment .user-comment .div-vote-comment .voting i { cursor: pointer; }
.user-comments .main-comment .user-comment .div-vote-comment .voting i:hover { color: #555; }
.user-comments .main-comment .user-comment .div-vote-comment .voting i.active { color: #2ec0bc; }

.main-comment .delete-comment { margin-left: 3px; }
.main-comment .delete-comment i { font-size: 18px !important; margin-top: -3px; }
.main-comment .delete-comment svg.feather { color: #aaa; margin-top: 0; width: 15px; height: 15px; visibility: hidden; }
.main-comment .delete-comment svg.feather:hover { color: #444; }
.main-comment .pt-comment-item-reply-form { padding: 0 60px; margin: 5px 0 0; }
.main-comment .user-name a { color: #111; font-weight: 600; }
.main-comment .main-comment-data-sp:hover > .delete-comment svg.feather { visibility: visible; }
.main-comment .main-comment-data-sp:hover > .pin-comment svg.feather { visibility: visible; }
.main-comment .comms-reply:hover { color: #444; }
.main-comment .div-vote-comment span svg.feather { margin-top: 0; width: 15px; height: 15px; cursor: pointer; }
.main-comment .div-vote-comment span svg.feather-thumbs-up.active { color: #4caf50; fill: #cfffd1; }
.main-comment .div-vote-comment span svg.feather-thumbs-down.active { color: #f44336; fill: #ffd8d5; }
.main-comment .pin-comment svg.feather { color: #aaa; margin-top: 0; width: 15px; height: 15px; visibility: hidden; cursor: pointer; }
.main-comment .pin-comment svg.feather:hover { color: #444; }

.videos-list .video-wrapper .video-title a{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

@media (min-width: 1200px) {
    .watch-container {
        width: 1180px;
    }
}
@media (min-width: 1300px) {
    .watch-container {
        width: 1250px;
    }
}
@media (min-width: 1500px) {
    .watch-container {width: 1430px !important;}
    .video-player.sticky-container__video .mejs__video {min-height: 100%;}
}
@media (min-width: 1700px) {
    .watch-container {width: 1530px !important;}
}


@media (max-width: 1200px) {
    .pt_featured_video .video-player .video-big-title { margin: 0; }
    .pt_featured_video .thumbnail_holder { height: 450px; min-height: 450px; max-height: 450px; }
    .pt_featured_video .video-title .video_info { display: none; }

    .pt_mn_wtch_rlts_prnt .pt_pt_mn_wtch_rltvids {
        width: 100%;
    }
}

@media (max-width: 992px) {
    .pt_featured_video .thumbnail_holder { height: 400px; min-height: 400px; max-height: 400px; }

    .pt_mn_wtch_rlts_prnt .pt_pt_mn_wtch_rltvids {
        width: 50%;
    }
}

@media (max-width: 990px) {
    .video-player-page .no-padding-right { padding-left: 5px !important; }
    .video-player-page .no-padding-left { padding-left: 5px !important; }

    .play-list-player .no-padding-right { padding-right: 0 !important; }
    .no-padding-left { padding-left: 15px !important; }
}

@media (max-width: 900px) {
    .video-player-page .no-padding-right { padding-left: 0 !important; }
    .video-player-page .no-padding-left { padding-left: 0 !important; }
}

@media (max-width: 760px) {
    .publisher-element .publisher-name a { font-weight: 100; font-size: 14px; color: #111; }

    .video-big-title { font-size: 18px; margin-top: 5px; margin-bottom: 10px; }
    .video-big-title h1 { font-size: 18px; margin-top: 0; margin-bottom: 10px; }

    .video-player-page .col-lg-1 { padding-right: 0; padding-left: 0; }
    .video-player-page .col-lg-10 { padding-right: 0; padding-left: 0; }
    .video-player-page .col-lg-11 { padding-right: 0; padding-left: 0; }
    .video-player-page .col-lg-12 { padding-right: 0; padding-left: 0; }
    .video-player-page .col-lg-2 { padding-right: 0; padding-left: 0; }
    .video-player-page .col-lg-3 { padding-right: 0; padding-left: 0; }
    .video-player-page .col-lg-4 { padding-right: 0; padding-left: 0; }
    .video-player-page .col-lg-5 { padding-right: 0; padding-left: 0; }
    .video-player-page .col-lg-6 { padding-right: 0; padding-left: 0; }
    .video-player-page .col-lg-7 { padding-right: 0; padding-left: 0; }
    .video-player-page .col-lg-8 { padding-right: 0; padding-left: 0; }
    .video-player-page .col-lg-9 { padding-right: 0; padding-left: 0; }
    .video-player-page .col-md-1 { padding-right: 0; padding-left: 0; }
    .video-player-page .col-md-10 { padding-right: 0; padding-left: 0; }
    .video-player-page .col-md-11 { padding-right: 0; padding-left: 0; }
    .video-player-page .col-md-12 { padding-right: 0; padding-left: 0; }
    .video-player-page .col-md-2 { padding-right: 0; padding-left: 0; }
    .video-player-page .col-md-3 { padding-right: 0; padding-left: 0; }
    .video-player-page .col-md-4 { padding-right: 0; padding-left: 0; }
    .video-player-page .col-md-5 { padding-right: 0; padding-left: 0; }
    .video-player-page .col-md-6 { padding-right: 0; padding-left: 0; }
    .video-player-page .col-md-7 { padding-right: 0; padding-left: 0; }
    .video-player-page .col-md-8 { padding-right: 0; padding-left: 0; }
    .video-player-page .col-md-9 { padding-right: 0; padding-left: 0; }

    .pt_featured_video .thumbnail_holder { height: 370px; min-height: 370px; max-height: 370px; }
    .pt_featured_video .video-player .publisher-name a { color: #fff; }

}


@media (max-width: 620px) {
    .pt_featured_video .video-player .video-big-title a { font-size: 23px; }
    .pt_mn_wtch_opts .btn-share {
        margin: 0 1px;
    }
    .pt_featured_video .thumbnail_holder { height: 330px; min-height: 330px; max-height: 330px; }
}


@media (max-width: 520px) {
    .pt_featured_video .video-player .video-big-title a { font-size: 21px; }
    .pt_featured_video .thumbnail_holder { height: 280px; min-height: 280px; max-height: 280px; }
    .pt_featured_video .video-player .feat_desc{display: none;}

    .pt_mn_wtch_rlts_prnt .pt_pt_mn_wtch_rltvids {
        width: 100%;
    }

    .pt_video_info .btn-subscribe { padding: 5.7px 12px; font-size: 13px; }
    .pt_video_info .btn-subscribe:before { display: none; }
    .pt_video_info .btn-subscribe svg.feather { margin-top: -2px; width: 16px; height: 16px; }
    .pt_video_info .btn-subscribed { padding: 0px 12px;}
    .pt_video_info .btn-subscribed:before { display: none; }
    .pt_video_info .btn-subscribed svg.feather { margin-top: -2px; width: 16px; height: 16px; }
    .pt_video_info .publisher-subscribe-button .subs-amount { display: none; }

    .video-options { text-align: center; }
    .video-options .btn-share { float: none !important; }

    .sticky-container_sticky .sticky-container__video {position: relative;}

}


@media (max-width: 460px) {
    .pt_featured_video .video-player .video-big-title a { font-size: 19px !important; }
    .pt_featured_video .thumbnail_holder { height: 240px; min-height: 240px; max-height: 240px; }
    .pt_featured_video {
        padding: 0 10px;
    }
}


@media (max-width: 400px) {
    .pt_featured_video .video-player .publisher-element {
        display: none;
    }
    .pt_featured_video .thumbnail_holder { height: 220px; min-height: 220px; max-height: 220px; }
}


@media (max-width: 380px) {
    .pt_featured_video .video-player .video-big-title a { font-size: 16px; }
    .pt_featured_video .thumbnail_holder { height: 200px; min-height: 200px; max-height: 200px; }
}

@media (max-width: 350px) {
    .pt_featured_video .thumbnail_holder { height: 180px; min-height: 180px; max-height: 180px; }
}














