<tr id="list-{{USER id}}" data_selected="{{USER id}}">
	<td><input type="checkbox" id="check-data-{{USER id}}" class="delete-checkbox filled-in"><label for="check-data-{{USER id}}"></label></td>
  <td>{{USER id}}</td>
  <td><a href="{{USER url}}"><figure class="avatar avatar-sm mr-2">
            <img src="{{USER avatar}}" class="rounded-circle" alt="avatar">
        </figure> {{USER username}}</a></td>
  <td>{{USER email}}</td>
  <td>{{USER ip_address}}</td>
  <td>{{STATUS}}</td>
  <td style="display: flex; gap: 8px; flex-wrap:wrap;">
  	<a class="btn bg-success admn_table_btn" href="{{SETTINGS_LINK}}" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M20.71,7.04C21.1,6.65 21.1,6 20.71,5.63L18.37,3.29C18,2.9 17.35,2.9 16.96,3.29L15.12,5.12L18.87,8.87M3,17.25V21H6.75L17.81,9.93L14.06,6.18L3,17.25Z" /></svg> Edit</a>
  	<button class="btn bg-danger admn_table_btn" data-id="{{USER id}}" onclick="pt_delete_user('{{USER id}}','hide');"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M19,4H15.5L14.5,3H9.5L8.5,4H5V6H19M6,19A2,2 0 0,0 8,21H16A2,2 0 0,0 18,19V7H6V19Z" /></svg> Delete</button>
    <?php if($pt->user->admin == 1 && $pt->user->id != $pt->user_data->id){ ?>
		<a href="<?php echo PT_LoadAdminLinkSettings('manage-permission?id='.$pt->user_data->id); ?>" class="btn bg-info admn_table_btn"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M3,17V19H9V17H3M3,5V7H13V5H3M13,21V19H21V17H13V15H11V21H13M7,9V11H3V13H7V15H9V9H7M21,13V11H11V13H21M15,9H17V7H21V5H17V3H15V9Z" /></svg> Permissions</a>
    <?php }?>
    <button class="btn bg-info admn_table_btn"
      onclick="getTransaction(0,'{{USER id}}', '{{USER username}}')" 
      data-toggle="modal"
      data-target="#cp-user-manage-transaction">
      <svg xmlns="http://www.w3.org/2000/svg" height="24" width="24" viewBox="0 0 24 24" style="fill: currentColor;"><path d="M6 22q-1.25 0-2.125-.875T3 19v-3h3V2l1.5 1.5L9 2l1.5 1.5L12 2l1.5 1.5L15 2l1.5 1.5L18 2l1.5 1.5L21 2v17q0 1.25-.875 2.125T18 22Zm12-2q.425 0 .712-.288Q19 19.425 19 19V5H8v11h9v3q0 .425.288.712.287.288.712.288ZM9 9V7h6v2Zm0 3v-2h6v2Zm8-3q-.425 0-.712-.288Q16 8.425 16 8t.288-.713Q16.575 7 17 7t.712.287Q18 7.575 18 8t-.288.712Q17.425 9 17 9Zm0 3q-.425 0-.712-.288Q16 11.425 16 11t.288-.713Q16.575 10 17 10t.712.287Q18 10.575 18 11t-.288.712Q17.425 12 17 12ZM6 20h9v-2H5v1q0 .425.287.712Q5.575 20 6 20Zm-1 0v-2 2Z"/></svg>
      Transactions
    </button>
  </td>
</tr>