<div
  class="modal fade"
  tabindex="-1"
  role="dialog"
  id="cp-user-manage-transaction"
>
  <div
    class="modal-dialog modal-lg"
    role="document"
  >
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">{{LANG tx_history}}</h4>
      </div>
      <div class="modal-body" style="padding: 1em 0;">
        <div id="transaction-table"></div>
        <nav aria-label="Table pagination" style="text-align: center;">
          <ul class="pagination" id="transaction-pagination">
            <li class="txpagination" data="prev">
              <a aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <li class="txpagination" data="1"><a>1</a></li>
            <!-- <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li> -->
            <li class="txpagination" data="next">
              <a aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-default"
          data-dismiss="modal"
        >
          {{LANG close}}
        </button>
      </div>
    </div>
  </div>
</div>
<script>
  var cp_txCurrentPage = 1;
  var cp_txTotalPage = 1;
  var cp_txPageSize = 10;
  var g_UserId = 0;
  var g_username = 'admin';
  function addEvent(){
    $('.txpagination').on('click', function (event) {
      const data = this.getAttribute('data');
      switch(data) {
        case 'next':
          if (cp_txCurrentPage < cp_txTotalPage)
            getTransaction(Number(cp_txCurrentPage) + 1, g_UserId);
          break;
        case 'prev':
          if (cp_txCurrentPage > 1)
            getTransaction(Number(cp_txCurrentPage) - 1, g_UserId);
          break;
        default:
          getTransaction(data, g_UserId);
          break;
      }
    });
  };
  addEvent();
  const mapType = (type) => {
    switch(type) {
      case 1: return "{{LANG tx_deposit}}";
      case 2: return "{{LANG tx_withdraw}}";
      case 3: return "{{LANG tx_donate}}";
    }
  }
  const mapGateWay = (gateway) => {
    switch(gateway) {
      case 1: return "MOMO";
      case 2: return "PAYME";
      case 3: return "PAYPAL";
      default: return "";
    }
  }
  const mapStatus = (status) => {
    switch(status) {
      case 1: return "{{LANG tx_pending}}";
      case 2: return "{{LANG tx_success}}";
      case 3: return "{{LANG tx_failed}}";
      case 4: return "{{LANG tx_rejected}}";
      case 5: return "{{LANG tx_refund}}";
      case 6: return "{{LANG tx_canceled}}";
      case 7: return "{{LANG tx_unclaimed}}";
    }
  }
  const getTransaction = (page, userId, username) => {
    if (userId) {
      g_UserId=userId;
    }
    if (username) {
      g_username = username;
    }
    if (g_username) {
      $('.modal-title').html(`{{LANG tx_history}} - ${g_username}`);
    }
    if (page) {
      cp_txCurrentPage = Number(page);
    }
    const headers = {
      "Authorization": `Bearer <?php echo get_jwt_token(); ?>`
    };
    $.ajax({
      type: 'get',
      url: `{{CONFIG api_url}}/v1/new-transaction/get-transactions?page=${page || ''}&username=${g_username || ''}&pageSize=10`,
      headers,
      success: function (data, status) {
        const result = data.data.rows;
        const count = data.data.count;
        cp_txTotalPage = Math.round(Math.ceil(count / cp_txPageSize)) || 1;

        $("#transaction-pagination").html(`<li class="txpagination" data="prev">
              <a aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            ${cp_txCurrentPage > 1 ? '<li class="txpagination" data="' + (cp_txCurrentPage - 1) + '"><a>' + (cp_txCurrentPage - 1) + '</a></li>' : ''}
            <li class="txpagination active" data="${cp_txCurrentPage}"><a>${cp_txCurrentPage}</a></li>
            ${cp_txCurrentPage < cp_txTotalPage ? '<li class="txpagination" data="' + (cp_txCurrentPage + 1) + '"><a>' + (cp_txCurrentPage + 1) + '</a></li>' : ''}
            <li class="txpagination" data="next">
              <a aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>`);
        addEvent();
        $("#transaction-table").html('<table class="table table-striped">'
          + '<tr><th>Time</th><th>Type</th><th>Amount</th><th>GateWay</th><th>Status</th><th>Action</th></tr>'
          + (result.length ? result.map((it) => `<tr>
            <td>${(new Date(it.createdAt)).toLocaleString('vi-VN', {timeZone: 'UTC'})}</td>
            <td>${mapType(it.type)}</td><td>${it.amount}</td>
            <td>${mapGateWay(it.gateway)}</td>
            <td>${mapStatus(it.status)}</td>
            <td style="display:flex; flex-wrap: wrap; gap: 8px">
              <button class="btn bg-info admn_table_btn" data-toggle="popover" data-trigger="focus" title="Details" data-content="${(it.more || "").replace(/\"/g, '&#147;')}">More</button>
            </td>
            </tr>`).join('') : '<tr><td colspan="6" style="text-align: center;">Empty Data</td></tr>')
          + '</table>');
          $(function () {
            $('[data-toggle="popover"]').popover()
          });
      },
      error: function (err) {
        window.Snackbar.show({
          pos: 'top-center',
          text: `ERROR: ${err.responseText}`,
          textColor: "white",
          backgroundColor: "red",
        });
      }
    });
  }
</script>
<style>
  .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    border-top: none;
  }
</style>