<tr id="list-{{ID}}" data_selected="{{ID}}">
	<td><input type="checkbox" id="check-data-{{ID}}" class="delete-checkbox filled-in"><label for="check-data-{{ID}}"></label></td>
  <td>{{ID}}</td>
  <td id="sub_name_{{ID}}">{{CAT_NAME}}</td>
	<td>{{ORDER}}</td>
  <td>
  	<button class="btn bg-success admn_table_btn" onclick="edit_category('{{ID}}')"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M20.71,7.04C21.1,6.65 21.1,6 20.71,5.63L18.37,3.29C18,2.9 17.35,2.9 16.96,3.29L15.12,5.12L18.87,8.87M3,17.25V21H6.75L17.81,9.93L14.06,6.18L3,17.25Z" /></svg> Edit</button>
  	<?php if ($pt->category_key != 'other') { ?>
  		<button class="btn bg-danger admn_table_btn" data-id="{{ID}}" onclick="DeleteCategory('{{ID}}','hide')"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M19,4H15.5L14.5,3H9.5L8.5,4H5V6H19M6,19A2,2 0 0,0 8,21H16A2,2 0 0,0 18,19V7H6V19Z" /></svg> Delete</button>
  	<?php } ?>
  </td>
</tr>