<div class="col-lg-3 col-md-4 col-sm-6 channels_list" data-channel-id="{{ID}}" data-channel-views="{{VIEWS_COUNT}}">
	<div class="user-wrapper vid_pop_channls" data-id="{{ID}}">
		<div class="video-thumb">
			<a href="{{USER url}}">
				<img src="{{USER avatar}}" onerror="callBackImgFailed(this)" alt="{{USER name}}">
			</a>
		</div>
		<div class="video-title">
			<a href="{{USER url}}" data-load="?link1=timeline&id={{USER username}}"><h4 style="margin-top: 0">{{USER name}}</h4></a>
			<h6><svg class="feather" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#2196F3" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true"><path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path><circle cx="12" cy="12" r="3"></circle></svg> {{VIEWS}} {{LANG views}}</h6>
			<h6><svg class="feather" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#4caf50" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true"><path d="M16 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="8.5" cy="7" r="4"></circle><line x1="20" y1="8" x2="20" y2="14"></line><line x1="23" y1="11" x2="17" y2="11"></line></svg> {{SUB}} {{LANG subscribers}}</h6>
			<!-- <h6 style="margin-bottom: 0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#d84c47" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-clock"><circle cx="12" cy="12" r="10"></circle><polyline points="12 6 12 12 16 14"></polyline></svg>{{ACTIVE_TIME}}</h6> -->
		</div>
	</div>
</div>
<script>
	function callBackImgFailed(image) {
	  /* prevent endless loop */
	  image.onerror = null;
	  /* an error occured, change the source */
	  var src = image.srcset;
	  var newSrc = "{{CONFIG theme_url}}/img/ichill_logo.svg";
	  image.srcset = newSrc;
	}
</script>