<div class="content pt_shadow" id="search-page">
	<div class="col-md-12">
		<div class="upload-head">
			<h4><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg> {{LANG search_results}}: {{KEYWORD}}
<!--				<span class="pull-right" onclick="show_search_filter()" id="search_filter"><svg class="feather filter_icon pointer" viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet" focusable="false" class="style-scope yt-icon" ><g class="style-scope yt-icon">-->
<!--        <path d="M0 0h24v24H0z" fill="none" class="style-scope yt-icon"></path>-->
<!--        <path d="M3 17v2h6v-2H3zM3 5v2h10V5H3zm10 16v-2h8v-2h-8v-2h-2v6h2zM7 9v2H3v2h4v2h2V9H7zm14 4v-2H11v2h10zm-6-4h2V7h4V5h-4V3h-2v6z" class="style-scope yt-icon"></path>-->
<!--      </g></svg></span>-->
			</h4>
      <div class="vid_srch_filtr" id="filter_settings" style="display: <?php echo (empty($_POST['date']) && empty($_POST['category'])) ? 'none': 'block'?>;">
      	<form class="search_filter_form row pt_forms" method="POST" action="{{LINK search}}<?php echo(!empty($_GET['keyword']) ? '?keyword='.$_GET['keyword'] : '') ?><?php echo(!empty($pt->page_number) ? '&page_id='.$pt->page_number : '') ?>">
	      	<div class="form-group col-lg-4">
				<label class="col-md-12 bold" for="type">{{LANG upload_date}}</label>
				<div class="col-md-12">
					<div>
						<label for="date_last_hour">
						<input onchange="ChangePage()" type="radio" name="date" id="date_last_hour" value="last_hour" <?php echo (isset($_POST['date']) && $_POST['date'] == 'last_hour') ? 'checked': ''?>>
						<span>{{LANG last_hour}}</span>
						</label>
					</div>
					<div>
						<label for="date_today">
						<input onchange="ChangePage()" type="radio" name="date" id="date_today" value="today" <?php echo (isset($_POST['date']) && $_POST['date'] == 'today') ? 'checked': ''?>>
						<span>{{LANG today}}</span>
						</label>
					</div>
					<div>
						<label for="date_this_week">
						<input onchange="ChangePage()" type="radio" name="date" id="date_this_week" value="this_week" <?php echo (isset($_POST['date']) && $_POST['date'] == 'this_week') ? 'checked': ''?>>
						<span>{{LANG this_week}}</span>
						</label>
					</div>
					<div>
						<label for="date_this_month">
						<input onchange="ChangePage()" type="radio" name="date" id="date_this_month" value="this_month" <?php echo (isset($_POST['date']) && $_POST['date'] == 'this_month') ? 'checked': ''?>>
						<span>{{LANG this_month}}</span>
						</label>
					</div>
					<div>
						<label for="date_this_year">
						<input onchange="ChangePage()" type="radio" name="date" id="date_this_year" value="this_year" <?php echo (isset($_POST['date']) && $_POST['date'] == 'this_year') ? 'checked': ''?>>
						<span>{{LANG this_year}}</span>
						</label>
					</div>
				</div>
			</div>
			<div class="form-group col-lg-8">
				<label class="col-md-12 bold" for="type">{{LANG categories}}</label>
				<div class="col-md-12">
					<?php foreach($pt->categories as $key => $category) { ?>
					    <div class="col-md-4 no-padding-left">
							<label for="category_<?php echo $key; ?>">
							<input onchange="ChangePage()" type="checkbox" name="category[]" id="category_<?php echo $key; ?>" value="<?php echo $key; ?>" <?php echo (isset($_POST['category']) && in_array($key, $_POST['category'])) ? 'checked': ''?>>
							<span><?php echo $category; ?></span>
							</label>
						</div>
					<?php } ?>
				</div>
			</div>
			<div class="clear"></div>
			<div class="last-sett-btn modal-footer" style="margin: 0px 0 -7px">
				<button id="submit" name="submit" class="btn btn-main setting-panel-mdbtn">{{LANG search}}</button>
			</div>
		</form>
      </div>
			<hr>
		</div>
		<div class="videos-latest-list row">
<!--      		{{VIDEOS}}-->
		</div>
			<div id="searh-pagination">
				<hr>
				<div class="pull-left showing_pages">
<!--		        	<?php echo "Showing $pt->page_number out of " . $pt->total_pages; ?>-->
					Showing <span id="page-current">  </span> out of  <span id="total-page">  </span>
		        </div>

		        <div class="pull-right">
		        	<nav class="showing_nav">
		                <ul class="pagination">
<!--							<li class="page-prev">-->
<!--								<a href="javascript:void(0)" class="waves-effect" title='First Page' onclick="GoToPage(1)">-->
<!--									<i class="material-icons">chevron_left</i>-->
<!--								</a>-->
<!--							</li>-->

<!--		                    <?php if ($pt->page_number > 1) {  ?>-->
<!--		                    <li>-->
<!--		                        <a href="javascript:void(0)" onclick="GoToPage(<?php echo($pt->page_number - 1) ?>)" class="waves-effect" title='Previous Page'>-->
<!--		                            <i class="material-icons">chevron_left</i>-->
<!--		                        </a>-->
<!--		                    </li>-->
<!--		                    <?php  } ?>-->

<!--							 <li class="<?php echo ($pt->page_number == $i) ? 'active' : ''; ?>"><a href="javascript:void(0)" onclick="GoToPage(<?php echo($i); ?>)" class="waves-effect"> 1 </a></li>-->
<!--							 <li class="<?php echo ($pt->page_number == $i) ? 'active' : ''; ?>"><a href="javascript:void(0)" onclick="GoToPage(<?php echo($i); ?>)" class="waves-effect"> 2 </a></li>-->
<!--							 <li class="<?php echo ($pt->page_number == $i) ? 'active' : ''; ?>"><a href="javascript:void(0)" onclick="GoToPage(<?php echo($i); ?>)" class="waves-effect"> 3 </a></li>-->

<!--		                    <?php if ($pt->total_pages > $pt->page_number) { ?>-->
<!--		                    <li>-->
<!--		                        <a href="javascript:void(0)" onclick="GoToPage(<?php echo ($pt->page_number + 1); ?>)" class="waves-effect" title="Next Page">-->
<!--		                            <i class="material-icons">chevron_right</i>-->
<!--		                        </a>-->
<!--		                    </li>-->
<!--		                    <?php } ?>-->

<!--		                    <li class="page-next">-->
<!--		                        <a href="javascript:void(0)" onclick="GoToPage(<?php echo($pt->total_pages) ?>)" class="waves-effect" title='Last Page'>-->
<!--		                            <i class="material-icons">chevron_right</i>-->
<!--		                        </a>-->
<!--		                    </li>-->
		                </ul>
		            </nav>
		        </div>
			</div>
		<div class="clear"></div>
	</div>
	
	<div class="clear"></div>
</div>
<?php if (!empty($pt->users )) { ?>
<div class="content pt_shadow">
	<div class="col-md-12">
		<div class="upload-head">
			<h4><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg> {{LANG channels}}</h4>
			<hr>
		</div>
		<div class=" row">
      		{{USERS}}
		</div>
		<div class="clear"></div>
	</div>
	<div class="clear"></div>
</div>
<?php } ?>
<script type="text/javascript">
 	const limit = 20;
	let pageIndex = 1;
	let totalPages = 0

	function ChangePage() {
		$('.search_filter_form').attr('action', "{{LINK search}}<?php echo(!empty($_GET['keyword']) ? '?keyword='.$_GET['keyword'] : '') ?>&page_id=1");
	}
	function GoToPage(page_id) {
		// $('.search_filter_form').attr('action', "{{LINK search}}<?php echo(!empty($_GET['keyword']) ? '?keyword='.$_GET['keyword'] : '') ?>&page_id="+page_id);
		// $('#submit').click();
		pageIndex = page_id;
		getListVideoBySearch()
	}

	function GoToPagePrev(){
		if(pageIndex > 1){
			pageIndex = pageIndex - 1
			getListVideoBySearch()
		}
	}

	function GoToPageNext(){
		if(pageIndex < totalPages){
			pageIndex = pageIndex + 1
			getListVideoBySearch()

		}
	}

	function show_search_filter() {
		if ($('#filter_settings').is(":hidden")) {
			$('#filter_settings').slideDown('slow');
		}
		else{
			$('#filter_settings').slideUp('slow');
		}
	}

	function initPagination(start = 1, end = 3, prev = 1 , next = 1 ){
		let pagination = `<li class="page-prev">
			                <a href="javascript:void(0)" class="waves-effect" title='First Page' onclick="GoToPagePrev()">
			                  <i class="material-icons">chevron_left</i>
			                </a>
			              </li>`
		for (let page = start; page <= end; page++) {
			const active = pageIndex === page ? 'active' : '';
			pagination += `<li class="${active}"><a href="javascript:void(0)" onclick="GoToPage(${page})" class="waves-effect"> ${page} </a></li>`
		}
		pagination += ` <li class="page-next">
                            <a href="javascript:void(0)" onclick="GoToPageNext()" class="waves-effect" title='Last Page'>
                                <i class="material-icons">chevron_right</i>
                            </a>
                        </li>`
		return pagination;
	}

	function getItemVideo({ videoId, url, videoKey, thumbnail, gif, title, userUrl, duration, userNameV, userName, viewNum, time }){
		return `<div class="col-md-3 col-sm-6 no-padding-right-at-all no-padding-mobile-left">
				  <div class="video-latest-list video-wrapper" data-id="${videoId}" data-views="{{VIEWS}}">
				    <div class="video-thumb">
				      <a href="${url}"  data-load="?link1=watch&id=${videoKey}">
				        <img src="${thumbnail}" alt="${title}">
				        <div class="play_hover_btn" onmouseenter="show_gif(this,'${gif}')" onmouseleave="hide_gif(this)">
				          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-play-circle"><circle cx="12" cy="12" r="10"></circle><polygon points="10 8 16 12 10 16 10 8"></polygon></svg>
				        </div>
				      </a>
				      <div class="video-duration"> ${duration} </div>
				    </div>
				    <div class="video-title">
				      <a href="${url}" data-load="?link1=watch&id=${videoKey}"><h4 title="${title}"> ${title} </h4></a>
				    </div>
				    <div class="video-info">
				      <div>
				        <a href="${userUrl}"  data-load="?link1=timeline&id=${userName}">${userNameV}</a><br/>
				        <span>${viewNum} {{LANG views}}</span> <span class="bold">·</span> <span>${time}</span>
				      </div>
				    </div>
				  </div>
				</div>`
	}

	function getListVideoBySearch(){
		const page = pageIndex
		$.ajax({
			url : '<?php global $api_url; echo $api_url;?>' + `/v1/searching/list-video?query={{KEYWORD}}&limit=${limit}&page=${page}`,
			type: 'GET',
			dataType: 'json',
			beforeSend: (request) => {
				request.setRequestHeader("Content-Language", '<?php global $pt; echo $pt->language; ?>');
			}
		})
		.done(function(data) {
			if (data.success === true) {
				let listVideo = ''
				for (const video of data.message.videos){
					listVideo += getItemVideo({
						videoId : video.id,
						url : `<?php global $site_url; echo $site_url; ?>/${video.url}` ,
						videoKey : `_${video.video_id}.html`,
						thumbnail : video.standard_thumb,
						gif : video.gif,
						title : video.title,
						userUrl : `<?php global $site_url; echo $site_url; ?>/${video.owner.url}`,
						duration : video.duration,
						userNameV: video.owner.name_v,
						userName : video.owner.username,
						viewNum : video.views,
						time: video.time_ago
					});
				}
				$('#search-page .videos-latest-list').html(listVideo);

				if(data.message.totalItems > 1){
					$('#searh-pagination').show();
					$('#total-page').html(data.message.totalPages)
					$('#page-current').html(page)
				}else{
					$('#searh-pagination').hide();
				}
				totalPages = data.message.totalPages


				let pageInside = 3
				let start = 1;
				let end = pageInside;
				if(page > pageInside && data.message.totalPages > pageInside){
					start = page - (pageInside - 1);
					end = page;
				}else if(page < pageInside && data.message.totalPages < pageInside){
					start = 1;
					end = data.message.totalPages;
				}
				$("#searh-pagination .pagination").html(initPagination(start, end))

			}
		});
	}

	jQuery(document).ready(function($) {

		getListVideoBySearch(1)
	});

</script>

