<link
  href="{{CONFIG theme_url}}/js/lib/jquery-datatable/skin/bootstrap/css/dataTables.bootstrap.min.css"
  rel="stylesheet"
/>
<script>
  var isTopup = localStorage.getItem('topup');
  var backUrl = localStorage.getItem('back_url');
  if (isTopup && backUrl) {
    console.log('debug - isTopup -->', isTopup);
    console.log('debug - backUrl -->', backUrl);
    localStorage.removeItem('back_url');
    localStorage.removeItem('topup');
    location.href = backUrl;
  }
</script>
<script src="{{CONFIG theme_url}}/js/lib/jquery-datatable/jquery.dataTables.js"></script>
<script src="{{CONFIG theme_url}}/js/lib/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js"></script>
<?php include "banklist.html"; ?>
<button
  class="btn btn-default"
  style="font-size: medium; margin-bottom: 1em; float: right;"
  onclick="getTransaction()"
  data-toggle="modal"
  data-target="#transactionHistory"
>
  <span class="glyphicon glyphicon-time"></span>
  {{LANG tx_history}}
</button>
<div class="balance-info">
  <div class="balance-avatar">
    <img
      class="header-image"
      src="{{ME avatar}}"
      alt="{{ME name}} avatar"
    />
  </div>
  <div>
    <h4>{{ME name}}</h4>
  </div>
</div>
<div
  class="row"
  style="margin-top: 2em"
>
  <div class="col col-md-6">
    <h4>{{LANG available_chill}}</h4>
    <div class="balance-info">
      <!-- <div class="balance-avatar">
        <img
          class="header-image"
          src="{{ME avatar}}"
          alt="{{ME name}} avatar"
        />
      </div> -->
      <div>
        <!-- <h4>{{ME name}}</h4> -->
        <div class="chill-coin-wrapper">
          <div class="chill-coin chill-16"></div>
          <div class="chill-title chill-16">{{ME wallet}}</div>
        </div>
      </div>
    </div>
  </div>
  <div class="col col-md-6">
    <h4>{{LANG available_diamond}}</h4>
    <div>
      <div class="chill-coin-wrapper">
        <div>
          <img
            src="/themes/default/img/diamond-coin.png"
            class="img-16"
          />
        </div>
        <div class="chill-title chill-16">
          {{ME balance}}
          <span class="cvt-fade">~ <span class="convert-balance"></span></span>
        </div>
      </div>
      <div style="display: flex; gap: 0.5em; margin-top: 1em">
        <button
        class="btn btn-success"
        data-toggle="modal"
        data-target="#transferModal"
        onclick="resetTransferToChill()"
      >
        {{LANG convert_to_chill}}
      </button>
        <button
          class="btn btn-primary"
          data-toggle="modal"
          onclick="resetWithdrawForm()"
          data-target="#withdrawModal"
        >
          {{LANG withdrawals}}
        </button>
      </div>
    </div>
  </div>
</div>
<h4>{{LANG buy_chill}}</h4>
<br />

<div style="display: flex; gap: 1.25rem; flex-wrap: wrap">
  <div
    style="
      min-width: 200px;
      border: 1px solid grey;
      border-radius: 6px;
      padding: 1.5rem;
      text-align: center;
      flex: 1;
    "
    class="deposit-suggestion"
  >
    <div
      style="
        display: flex;
        align-items: center;
        column-gap: 0.5rem;
        justify-content: center;
      "
    >
      <div
        class="chill-coin"
        style="height: 18px; width: 18px"
      ></div>
      <div style="font-weight: bold; font-size: large">70</div>
    </div>
    <div style="text-align: center; color: grey">₫ 23,000</div>
  </div>
  <div
    style="
      min-width: 200px;
      border: 1px solid grey;
      border-radius: 6px;
      padding: 1.5rem;
      text-align: center;
      flex: 1;
    "
    class="deposit-suggestion"
  >
    <div
      style="
        display: flex;
        align-items: center;
        column-gap: 0.5rem;
        justify-content: center;
      "
    >
      <div
        class="chill-coin"
        style="height: 18px; width: 18px"
      ></div>
      <div style="font-weight: bold; font-size: large">350</div>
    </div>
    <div style="text-align: center; color: grey">₫ 23,000</div>
  </div>
  <div
    style="
      min-width: 200px;
      border: 1px solid grey;
      border-radius: 6px;
      padding: 1.5rem;
      text-align: center;
      flex: 1;
    "
    class="deposit-suggestion"
  >
    <div
      style="
        display: flex;
        align-items: center;
        column-gap: 0.5rem;
        justify-content: center;
      "
    >
      <div
        class="chill-coin"
        style="height: 18px; width: 18px"
      ></div>
      <div style="font-weight: bold; font-size: large">700</div>
    </div>
    <div style="text-align: center; color: grey">₫ 23,000</div>
  </div>
  <div
    style="
      min-width: 200px;
      border: 1px solid grey;
      border-radius: 6px;
      padding: 1.5rem;
      text-align: center;
      flex: 1;
    "
    class="deposit-suggestion"
  >
    <div
      style="
        display: flex;
        align-items: center;
        column-gap: 0.5rem;
        justify-content: center;
      "
    >
      <div
        class="chill-coin"
        style="height: 18px; width: 18px"
      ></div>
      <div style="font-weight: bold; font-size: large">1,400</div>
    </div>
    <div style="text-align: center; color: grey">₫ 23,000</div>
  </div>
  <div
    style="
      min-width: 200px;
      border: 1px solid grey;
      border-radius: 6px;
      padding: 1.5rem;
      text-align: center;
      flex: 1;
    "
    class="deposit-suggestion"
  >
    <div
      style="
        display: flex;
        align-items: center;
        column-gap: 0.5rem;
        justify-content: center;
      "
    >
      <div
        class="chill-coin"
        style="height: 18px; width: 18px"
      ></div>
      <div style="font-weight: bold; font-size: large">3,500</div>
    </div>
    <div style="text-align: center; color: grey">₫ 23,000</div>
  </div>
  <div
    style="
      min-width: 200px;
      border: 1px solid grey;
      border-radius: 6px;
      padding: 1.5rem;
      text-align: center;
      flex: 1;
    "
    class="deposit-suggestion"
  >
    <div
      style="
        display: flex;
        align-items: center;
        column-gap: 0.5rem;
        justify-content: center;
      "
    >
      <div
        class="chill-coin"
        style="height: 18px; width: 18px"
      ></div>
      <div style="font-weight: bold; font-size: large">7,000</div>
    </div>
    <div style="text-align: center; color: grey">₫ 23,000</div>
  </div>
  <div
    style="
      min-width: 200px;
      border: 1px solid grey;
      border-radius: 6px;
      padding: 1.5rem;
      text-align: center;
      flex: 1;
    "
    class="deposit-suggestion"
  >
    <div
      style="
        display: flex;
        align-items: center;
        column-gap: 0.5rem;
        justify-content: center;
      "
    >
      <div
        class="chill-coin"
        style="height: 18px; width: 18px"
      ></div>
      <div style="font-weight: bold; font-size: large">17,500</div>
    </div>
    <div style="text-align: center; color: grey">₫ 4,775,000</div>
  </div>
  <div
    style="
      min-width: 200px;
      border: 1px solid grey;
      border-radius: 6px;
      padding: 1.5rem;
      text-align: center;
      flex: 1;
    "
    class="deposit-suggestion"
    id="custom-qty"
  >
    <div
      style="
        display: flex;
        align-items: center;
        column-gap: 0.5rem;
        justify-content: center;
      "
    >
      <div
        class="chill-coin"
        style="height: 18px; width: 18px"
      ></div>
      <div
        style="font-weight: bold; font-size: large"
        id="custom-qty-label"
      >
        {{LANG custom_amount}}
      </div>
      <div
        id="custom-qty-input"
        style="display: none"
      >
        <input
          style="
            font-size: medium;
            height: 24px;
            outline: none;
            border: none;
            border-bottom: 1px solid grey;
            border-radius: 0;
            text-align: center;
            background-color: transparent !important;
          "
          id="wallet_amount"
          type="number"
          placeholder="{{LANG topup_amount}}"
          value="0"
          max="1000000000000"
          min="0"
        />
      </div>
    </div>
    <div
      style="text-align: center; color: grey"
      id="custom-qty-text"
    >
      {{LANG support_large_amount}}
    </div>
    <div
      style="color: grey; display: none"
      id="custom-qty-calc"
    >
      ₫ 0
    </div>
  </div>
</div>
<div
  style="
    margin-top: 2em;
    font-size: large;
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
  "
>
  <div>{{LANG topup_amount}}:</div>
  <div
    id="convertion-result"
    style="font-weight: bold"
  >
    ₫ 0
  </div>
</div>
<input
  id="total-amount"
  type="number"
  style="display: none"
/>
<div style="margin-top: 1rem; font-size: large">
  <form onsubmit="return depositSubmit(event)">
    <div class="form-group">
      <button
        id="topup-submit"
        class="btn btn-danger"
        style="font-size: large; text-transform: uppercase"
        disabled
      >
        {{LANG top_up}}
      </button>
    </div>
  </form>
</div>
<style>
  .cvt-fade,
  .cvt-fade * {
    color: grey !important;
    font-size: 14px !important;
    font-weight: normal !important;
  }
  .withdraw-wallet-form .tooltip-inner {
    white-space: nowrap;
    min-width: max-content;
    background-color: gray;
  }
  .withdraw-wallet-form .tooltip-arrow {
    border-top-color: grey !important;
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type='number'] {
    -moz-appearance: textfield;
  }
  .withdraw-wallet-form {
    text-align: left;
  }
  .withdraw-wallet-form #bank-select {
    width: 200px;
    height: 32px;
    margin-left: 5px;
    border: 1px solid grey;
    border-radius: 4px;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
  }
  .withdraw-wallet-form * {
    font-size: 16px;
  }
  .withdraw-wallet-form .row label {
    padding-top: 1em;
  }
  .withdraw-wallet-form input {
    font-size: 16px;
    height: 2em;
    margin: 0.5rem;
    padding: 0.5em;
    border: 1px solid grey;
    border-radius: 4px;
  }
  .alert {
  }

  .withdraw-wallet-form input[type='radio'] {
    width: 16px;
  }
  /* Customize the label (the checkbox-container) */
  .checkbox-container {
    display: block;
    position: relative;
    padding-left: 35px;
    padding-top: 0.125em;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  /* Hide the browser's default checkbox */
  .checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 22px;
    width: 22px;
    background-color: #eee;
  }

  /* On mouse-over, add a grey background color */
  .checkbox-container:hover input ~ .checkmark {
    background-color: #ccc;
  }

  /* When the checkbox is checked, add a blue background */
  .checkbox-container input:checked ~ .checkmark {
    background-color: #2196f3;
  }

  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: '';
    position: absolute;
    display: none;
  }

  /* Show the checkmark when checked */
  .checkbox-container input:checked ~ .checkmark:after {
    display: block;
  }

  /* Style the checkmark/indicator */
  .checkbox-container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  #calc-withdraw {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  #calc-transfer {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
</style>
<?php if ($pt->config->env === "development") { ?>
<label class="checkbox-container"
  >Using USD
  <input
    type="checkbox"
    id="dev-payment"
    name="using-usd"
    value="usd" />
  <span class="checkmark"></span
></label>
<?php } ?>
<form class="replenish-balance-form pt_wallet_forms hidden">
  <div class="form-group">
    <label>
      <span>{{LANG convert}}</span>
    </label>
  </div>
  <div class="form-group">
    <small>{{LANG convert_diamond}}</small>
    <input
      type="number"
      placeholder="00.00"
    />
  </div>
</form>
<div
  class="modal fade"
  tabindex="-1"
  role="dialog"
  id="withdrawModal"
>
  <div
    class="modal-dialog"
    role="document"
  >
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">{{LANG withdrawals}}</h4>
      </div>
      <div class="modal-body">
        <form class="withdraw-wallet-form pt_wallet_forms">
          <div class="form-group">
            <label>
              {{LANG withdrawable}}: <b>{{ME balance}}</b> {{LANG diamond}}
              <span
                class="cvt-fade"
                style="font-size: 14px; display: unset"
              >
                ~
                <span
                  class="convert-balance"
                  style="font-size: 14px; display: unset"
                ></span>
              </span>
            </label>
          </div>
          <div class="row">
            <div class="col-sm-5">
              <label for="withdraw-amount"
                >{{LANG withdraw_diamond_amount}}</label
              >
            </div>
            <div class="col-sm-7">
              <div style="display: flex; align-items: center">
                <input
                  id="withdraw-amount"
                  placeholder="0.0"
                  type="text"
                />
                <div
                  id="calc-withdraw"
                  data-toggle="tooltip"
                  data-placement="top"
                >
                  ~ 0 ₫
                </div>
              </div>
              <div
                id="withdraw-amount-alert"
                class="text-danger"
                style="padding: 0.5em; display: none"
              >
                Error Text
              </div>
            </div>
          </div>
          <div
            id="payme-withdraw"
            style="display: none"
          >
            <div
              class="form-group"
              style="margin-top: 1em; display: flex; gap: 2em"
            >
              <label style="padding-top: 0.125em"
                >{{LANG withdraw_method}}</label
              >

              <label class="checkbox-container"
                >{{LANG payme}}
                <input
                  type="radio"
                  id="type-payme"
                  name="payment_type"
                  value="payme"
                  checked />
                <span class="checkmark"></span
              ></label>

              <label class="checkbox-container"
                >{{LANG bank_account}}
                <input
                  type="radio"
                  id="type-bank"
                  name="payment_type"
                  value="bank" /><span class="checkmark"></span
              ></label>
            </div>
            <div
              id="by-payme"
              class="by-payme"
            >
              <div class="row">
                <div class="col-sm-5">
                  <label>{{LANG payme_account}}</label>
                </div>
                <div class="col-sm-7">
                  <input
                    id="payme-account"
                    type="phone"
                    placeholder="0123456789"
                  />
                </div>
              </div>
              <div class="row">
                <div class="col-sm-5">
                  <label>{{LANG payme_account_name}}</label>
                </div>
                <div class="col-sm-7">
                  <input
                    id="payme-name"
                    type="text"
                    placeholder="Nguyen Van A"
                  />
                </div>
              </div>
            </div>
            <div
              id="by-bank"
              class="by-bank"
              style="display: none"
            >
              <div class="row">
                <div class="col-sm-5">
                  <label>{{LANG bank_account_number}}</label>
                </div>
                <div class="col-sm-7">
                  <input
                    id="atm-account"
                    type="text"
                    placeholder="0123456789"
                  />
                </div>
              </div>
              <div class="row">
                <div class="col-sm-5"><label>{{LANG account_name}}</label></div>
                <div class="col-sm-7">
                  <input
                    id="atm-name"
                    type="text"
                    placeholder="Nguyen Van A"
                  />
                </div>
              </div>
              <div class="row">
                <div class="col-sm-5"><label>{{LANG bank}}</label></div>
                <div class="col-sm-7">
                  <select id="bank-select"></select>
                </div>
              </div>
              <div
                class="row"
                id="bank-branch"
                style="display: none"
              >
                <div class="col-sm-5"><label>{{LANG branch}}</label></div>
                <div class="col-sm-7">
                  <input
                    id="atm-branch"
                    type="text"
                    placeholder="Ho Chi Minh"
                  />
                </div>
              </div>
            </div>
          </div>
          <div id="paypal-withdraw">
            <div
              class="form-group"
              style="margin-top: 1em; display: flex; gap: 1em"
            >
              <label style="padding-top: 0.125em"
                >{{LANG withdraw_method}}</label
              >

              <label class="checkbox-container"
                >Email
                <input
                  type="radio"
                  id="paypal-email"
                  name="paypal-type"
                  value="paypal-email"
                  checked />
                <span class="checkmark"></span
              ></label>
              <label class="checkbox-container"
                >{{LANG phone}}
                <input
                  type="radio"
                  id="paypal-phone"
                  name="paypal-type"
                  value="paypal-phone" />
                <span class="checkmark"></span
              ></label>
              <label class="checkbox-container"
                >PayPal's ID
                <input
                  type="radio"
                  id="paypal-id"
                  name="paypal-type"
                  value="paypal-id" />
                <span class="checkmark"></span
              ></label>
            </div>
            <div class="row">
              <div class="col-sm-5">
                <label id="paypal-input-label">{{LANG phone}}</label>
              </div>
              <div class="col-sm-7">
                <input
                  id="paypal-input"
                  type="text"
                  placeholder="payment@ichill.tv"
                />
              </div>
            </div>
          </div>
          <div
            id="withdraw-alert"
            class="alert alert-danger"
            style="padding: 0.5em; margin-top: 0.5em; display: none"
          >
            Loi
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-default"
          data-dismiss="modal"
        >
          {{LANG cancel}}
        </button>
        <button
          type="button"
          class="btn btn-primary"
          onclick="requestWithdraw()"
        >
          OK
        </button>
      </div>
    </div>
  </div>
</div>
<script>
    var convertionRate = Number({{CONFIG chill_to_vnd}});
    var diamondConvertionRate = Number({{CONFIG diamond_to_vnd}});
    var moneySign = '₫';
    var currencySelect = "vnd";
    var amount = $("#wallet_amount").val() || 0;
    var meBalanceStr = "{{ME balance}}";
    var meBalance = Number(meBalanceStr.replace(/\,/g, ''));
    $('.convert-balance').html(`${(meBalance*diamondConvertionRate).toLocaleString(undefined, {minimumFractionDigits: 0})} ${moneySign}`);

    function updateDepositSuggestion(){
      $('.deposit-suggestion').toArray().map((item)=> {
        item.style["max-width"] = $('.deposit-suggestion')[0].offsetWidth + "px";
        const amount = item.children[0].children[1].innerHTML.replace(/\,/g, '');
        if (!Number(amount)) return;
        item.children[1].innerHTML = `${moneySign} ${Number(amount * convertionRate).toLocaleString(undefined, {minimumFractionDigits: 0})}`;
      });
    };
    updateDepositSuggestion();
    var selection;
    $('.deposit-suggestion').on('mouseover', function(e) {
      if(this!=selection) this.style["border-color"] = "white";
    });
    $('.deposit-suggestion').on('mouseleave', function(e) {
      if(this!=selection) this.style["border-color"] = "grey";
    });
    $('.deposit-suggestion').on('click', function(e) {
        e.preventDefault();
        $('.deposit-suggestion').toArray().forEach(it => {
          it.style["border-color"] = "grey";
          it.style["border-width"] = "1px";
        });
        this.style["border-color"] = "#d9534f";
        this.style["border-width"] = "3px";
        selection = this;
        const amount = this.children[0].children[1].innerHTML.replace(/\,/g, '');
        if (this.attributes.id && this.attributes.id.value === 'custom-qty') {
        $('#custom-qty-label').hide();
        $('#custom-qty-input').show();
        $('#custom-qty-calc').show();
        $('#custom-qty-text').hide();
        return;
        }
        $('#custom-qty-label').show();
        $('#custom-qty-input').hide();
        $('#custom-qty-calc').hide();
        $('#custom-qty-text').show();
        $("#wallet_amount").val(Number(amount));
        $("#wallet_amount").change();
      //  PT_ShowMethods('wallet');
    });
    function depositSubmit(e) {
        e.preventDefault();
        if (currencySelect === "vnd") {
          pay_using_payme();
        } else {
          pay_using_paypal();
        }
      //  PT_ShowMethods('wallet',0,0,0,currencySelect);
    }
    function updateConvertionResult() {
      let exp = 10000;
      if (currencySelect === "vnd") {
        exp = 1;
      } else {
        exp = 10000;
      };
      const result = Number(Math.round(convertionRate * amount * exp)/exp);
      $('#total-amount').val(result);
      $('#convertion-result')
        .text(`${moneySign} ${result
          .toLocaleString(undefined, {
            minimumFractionDigits: 0
        })}`);
        $('#custom-qty-calc')
        .text(`${moneySign} ${result
          .toLocaleString(undefined, {
            minimumFractionDigits: 0
        })}`);
    };
    updateConvertionResult();
    $('#wallet_amount').on('change', (event) => {
      amount = event.target.value;
      if (Number(amount) > 0) {
        $('#topup-submit').prop('disabled', false);
      } else {
        $('#topup-submit').prop('disabled', true);
      }
      if (amount > 1e12) {
        $('#wallet_amount').val(1000000000000);
        amount = 1e12;
      }
      updateConvertionResult();
    })

    function pay_using_momo() {
      amount = $("#wallet_amount").val();
      $.ajax({
        type: 'post',
        url: '{{CONFIG api_url}}/v1/momo-gateway/top-up',
        data: {
          amount: amount
        },
        headers: {
            "Authorization": `Bearer <?php echo get_jwt_token(); ?>`
        },
        success: function (data, status) {
          if (data.success) {
            location.href = data.message.payUrl;
          }
        },
        error: function(data) {
          window.Snackbar.show({
              pos: 'top-center',
              text: `Error: ${JSON.stringify(data)}`,
              textColor: "white",
              backgroundColor: "red",
          })
        }
      });
    }
    function pay_using_payme() {
      amount = $("#wallet_amount").val();
      if (Number(amount) * convertionRate < 10000) {
        window.Snackbar.show({
              pos: 'top-center',
              text: `Error: {{LANG min_price}}: 10,000 vnd`,
              textColor: "white",
              backgroundColor: "red",
          });
        return;
      }
      $.ajax({
        type: 'post',
        url: '{{CONFIG api_url}}/v1/payme-gateway/top-up',
        data: {
          amount: amount,
          display_currency: currencySelect
        },
        headers: {
            "Authorization": `Bearer <?php echo get_jwt_token(); ?>`
        },
        success: function (data, status) {
          if (data.success) {
            markTopup();
            location.href = data.message.url;
          }
        },
        error: function(err) {
          window.Snackbar.show({
              pos: 'top-center',
              text: `Error: ${err.responseText}`,
              textColor: "white",
              backgroundColor: "red",
          })
        }
      });
    }
    function pay_using_paypal() {
      amount = $("#wallet_amount").val();
      if (Number(amount) * convertionRate < 0) {
        window.Snackbar.show({
              pos: 'top-center',
              text: `Error: {{LANG min_price}}: 0 usd`,
              textColor: "white",
              backgroundColor: "red",
          });
        return;
      }
      $.ajax({
        type: 'post',
        url: '{{CONFIG api_url}}/v1/paypal-gateway/top-up',
        data: {
          amount,
        },
        headers: {
            "Authorization": `Bearer <?php echo get_jwt_token(); ?>`
        },
        success: function (data, status) {
          if (data.success) {
            markTopup();
            location.href = data.message.href;
          }
        },
        error: function(err) {
          window.Snackbar.show({
              pos: 'top-center',
              text: `Error: ${err.responseText}`,
              textColor: "white",
              backgroundColor: "red",
          })
        }
      });
    }
    $(document).ready(()=>{
      // fetch('https://api.ipregistry.co/?key=tryout')
      // fetch('https://ipinfo.io')
      // fetch('http://ip-api.com/json')
      // .then(function (response) {
      //     return response.json();
      // })
      // .then(function (payload) {
      //     // console.log('Detect location: ', payload.country + ', ' + payload.regionName);
      //     console.log('Detect location: ', payload.country + ', ' + payload.region)
      //     // if (payload.countryCode === 'VN') {
      //     if (payload.country === 'VN') {
      //       convertionRate = Number({{CONFIG chill_to_vnd}});
      //       diamondConvertionRate = Number({{CONFIG diamond_to_vnd}});
      //       moneySign = '₫';
      //       currencySelect = 'vnd';
      //       $('#payme-withdraw').show();
      //       $('#paypal-withdraw').hide();
      //     } else {
      //       convertionRate = Number({{CONFIG chill_to_usd}});
      //       diamondConvertionRate = Number({{CONFIG diamond_to_usd}});
      //       moneySign = '$';
      //       currencySelect = 'usd';
      //       $('#payme-withdraw').hide();
      //       $('#paypal-withdraw').show();
      //     }
      //     const balanceStr = "{{ME balance}}";
      //     const balance = Number(balanceStr.replace(/\,/g, ''));
      //     $('.convert-balance').html(`${(balance*diamondConvertionRate).toLocaleString(undefined, {minimumFractionDigits: 0})} ${moneySign}`);
      //     updateConvertionResult();
      //     updateDepositSuggestion();
      // });
      $.get("https://ipinfo.io", function(payload) {
        console.log('Detect location: city - ',payload.city, ', country - ', payload.country);
        const country = payload.country || '';
        if (country.toUpperCase() === 'VN' || country.toUpperCase() === 'VIETNAM' || country.toUpperCase() === 'VIET NAM') {
            convertionRate = Number({{CONFIG chill_to_vnd}});
            diamondConvertionRate = Number({{CONFIG diamond_to_vnd}});
            moneySign = '₫';
            currencySelect = 'vnd';
            $('#payme-withdraw').show();
            $('#paypal-withdraw').hide();
          } else {
            convertionRate = Number({{CONFIG chill_to_usd}});
            diamondConvertionRate = Number({{CONFIG diamond_to_usd}});
            moneySign = '$';
            currencySelect = 'usd';
            $('#payme-withdraw').hide();
            $('#paypal-withdraw').show();
          }
          const balanceStr = "{{ME balance}}";
          const balance = Number(balanceStr.replace(/\,/g, ''));
          $('.convert-balance').html(`${(balance*diamondConvertionRate).toLocaleString(undefined, {minimumFractionDigits: 0})} ${moneySign}`);
          updateConvertionResult();
          updateDepositSuggestion();
      }, "jsonp");
    })
    <?php if ($pt->config->env === "development") { ?>
      $("#dev-payment").change((e)=> {
        if (e.target.checked) {
          convertionRate = Number({{CONFIG chill_to_usd}});
          diamondConvertionRate = Number({{CONFIG diamond_to_usd}});
          moneySign = '$';
          currencySelect = 'usd';
          $('#payme-withdraw').hide();
          $('#paypal-withdraw').show();
        } else {
          convertionRate = Number({{CONFIG chill_to_vnd}});
          diamondConvertionRate = Number({{CONFIG diamond_to_vnd}});
          moneySign = '₫';
          currencySelect = 'vnd';
          $('#payme-withdraw').show();
          $('#paypal-withdraw').hide();
        }
        const balanceStr = "{{ME balance}}";
        const balance = Number(balanceStr.replace(/\,/g, ''));
        $('.convert-balance').html(`${(balance*diamondConvertionRate).toLocaleString(undefined, {minimumFractionDigits: 0})} ${moneySign}`);
        updateConvertionResult();
        updateDepositSuggestion();
      })
    <?php } ?>
    function PT_ReplenishWallet() {
        swal({
          html:$('.replenish-balance-form').clone().addClass('clone').removeClass('hidden'),
          showCloseButton: true,
          showCancelButton: false,
          focusConfirm: false,
          confirmButtonText:"{{LANG convert}}",
          buttonsStyling:false,
          confirmButtonClass:'btn btn-success btn-block pt_wallet_btn',
          allowOutsideClick:false,
          showLoaderOnConfirm: true,
          preConfirm: function () {
            return new Promise(function (resolve, reject) {
              const balanceStr = "{{ME balance}}";
              const balance = Number(balanceStr.replace(/\,/g, ''));
              amount = $(".replenish-balance-form.clone").find('input').val();
              if (balance < 1) {
                reject("{{LANG no_balance_to_move}}!");
              }
              else if (!amount || amount < 1){
                reject("{{LANG please_check_details}}!");
              }
              else if(amount > balance){
                reject("{{LANG more_than_balance}}!");
              }
              else{
                $.post('{{LINK aj/wallet/move_to_wallet}}', {amount: amount}, function(data, textStatus, xhr) {
                  if (data.status == 200) {
                    markTopup();
                    location.reload();
                  }
                  else{
                    reject(data.message);
                  }
                });
              }
            })
          }
    }).then(function(){/*pass*/},function(){/*pass*/});
  }
  function withdrawPayME() {
    const balanceStr = "{{ME balance}}";
    const balance = Number(balanceStr.replace(/\,/g, ''));
    paymeAccount = $('#payme-account').val();
    paymeName = $('#payme-name').val();
    amount = Number($('#withdraw-amount').val());
    atmAccount = $('#atm-account').val();
    atmName = $('#atm-name').val();
    atmBranch = $('#atm-branch').val();
    atmBank = $('#bank-select').val();
    byPayME = !! $('#type-payme:checked').val();
    byBank = !! $('#type-bank:checked').val();

    const reqData = {
      by_payme: byPayME,
      by_bank: byBank,
      amount,
      payme_account: paymeAccount,
      payme_name: paymeName,
      atm_account: atmAccount,
      atm_name: atmName,
      atm_branch: atmBranch,
      atm_bank: atmBank,
    };
    const total = Number(amount) * diamondConvertionRate;
    const headers= {
        "Authorization": `Bearer <?php echo get_jwt_token(); ?>`
    };
    if (!amount || amount <= 0){
      $("#withdraw-alert").html("{{LANG invalid_amount}}");
      $("#withdraw-alert").show();
    } else if (amount > Number(balance)){
      $("#withdraw-alert").html("{{LANG overbalance}}");
      $("#withdraw-alert").show();
    } else if (total < 2e4) {
      $("#withdraw-alert").show();
      $("#withdraw-alert").html("{{LANG invalid_amount}}. (≥ 20.000 ₫)");
    } else if ((byPayME && (!paymeAccount || !paymeName)) || (byBank && (!atmAccount || !atmName))) {
      $("#withdraw-alert").show();
      $("#withdraw-alert").html(`{{LANG please_check_details}}: ${byPayME ? "{{LANG payme_account}}, {{LANG payme_account_name}}" : "{{LANG bank_account_number}}, {{LANG account_name}}"}`);
    } else {
      $("#withdraw-alert").hide();
      $.ajax({type: 'post',
        url:'{{CONFIG api_url}}/v1/payme-gateway/withdraw',
        data: reqData,
        headers,
        success: function(data, status) {
          window.Snackbar.show({
          pos: 'top-center',
          text: `Yêu cầu rút tiền đã được ghi nhận, tiền sẽ được chuyển đến tài khoản của bạn sau 48h`,
          textColor: "white",
          backgroundColor: "green",
        });
          setTimeout(location.reload(), 1000);
        },
        error: function(err){
          window.Snackbar.show({
          pos: 'top-center',
          text: `ERROR: ${err.responseText}`,
          textColor: "white",
          backgroundColor: "red",
        })
        }
      });
    }
  }
  function withdrawPayPal() {
    const balanceStr = "{{ME balance}}";
    const balance = Number(balanceStr.replace(/\,/g, ''));
    const amount = Number($('#withdraw-amount').val());
    const headers= {
        "Authorization": `Bearer <?php echo get_jwt_token(); ?>`
    };
    if (!amount || amount <= 0){
      $("#withdraw-alert").html("{{LANG invalid_amount}}");
      $("#withdraw-alert").show();
      return;
    } else if (amount > Number(balance)){
      $("#withdraw-alert").html("{{LANG overbalance}}");
      $("#withdraw-alert").show();
      return;
    } else if (!paypalTestRegex.test($("#paypal-input").val())) {
      $("#withdraw-alert").show();
      $("#withdraw-alert").html(`{{LANG please_check_details}}: ${paypalInputLabel}`);
      return;
    }
    $("#withdraw-alert").hide();
    $.ajax({type: 'post',
        url:'{{CONFIG api_url}}/v1/paypal-gateway/withdraw',
        data: {
          amount,
          receiver: $("#paypal-input").val(),
          recipient_type: paypalMethodSelected,
        },
        headers,
        success: function(data, status) {
            window.Snackbar.show({
            pos: 'top-center',
            text: `Your withdraw request successful`,
            textColor: "white",
            backgroundColor: "green",
          });
          setTimeout(location.reload(), 1000);
        },
        error: function(err){
            window.Snackbar.show({
              pos: 'top-center',
              text: `ERROR: ${err.responseText}`,
              textColor: "white",
              backgroundColor: "red",
            })
          }
        });
  }
  var prevAmount = null;
  var prevPayMeAccount = null;
  var prevAtmAccount = null;
  function resetWithdrawForm() {
    $('#payme-account').val('');
    $('#payme-name').val('');
    $('#withdraw-amount').val(null);
    $('#atm-account').val('');
    $('#atm-name').val('');
    $('#atm-branch').val('');
    $('#type-payme')[0].checked=true;
    $('#type-bank')[0].checked=false;
    $("#withdraw-amount-alert").hide();
    $("#withdraw-alert").hide();
    showWithdrawByPayme();
    $('#calc-withdraw').html(`~ 0 ${moneySign}`);
    $('#calc-withdraw').attr('data-original-title', `0 ${moneySign}`);
    prevAmount = null;
    prevPayMeAccount = null;
    prevAtmAccount = null;
    paypalMethodSelected = 'email';
    paypalInputLabel = 'Email';
    $('#paypal-input').val('');
    $('#paypal-email')[0].checked=true;
    $('#paypal-phone')[0].checked=false;
    $('#paypal-id')[0].checked=false;
    $('#paypal-email').change();
    paypalTestRegex = /^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$/;
  }
  $('#payme-account').on('keyup', (e)=>{
    const paymeAccount = e.target;
    if (/^\d*$/.test(paymeAccount.value)) {
      prevPayMeAccount = paymeAccount.value;
    } else {
      paymeAccount.value = prevPayMeAccount;
    }
  });
  $('#atm-account').on('keyup', (e)=>{
    const atmAccount = e.target;
    if (/^\d*$/.test(atmAccount.value)) {
      prevAtmAccount = atmAccount.value;
    } else {
      atmAccount.value = prevAtmAccount;
    }
  });
  $('#withdraw-amount').on('keyup',() => {
    const balanceStr = "{{ME balance}}";
    const balance = Number(balanceStr.replace(/\,/g, ''));
    amount = $('#withdraw-amount').val();
    const regex = /^\d*(?:\d+.\d*)?$/;
    const isValid = regex.test(amount);
    if (!isValid) {
      $('#withdraw-amount').val(prevAmount);
      amount = prevAmount;
    } else {
      prevAmount = amount;
    }
    if (Number(amount) > balance) {
      $("#withdraw-amount-alert").show();
      $("#withdraw-amount-alert").html("{{LANG overbalance}}");
    } else if (Number(amount) < 0) {
      $("#withdraw-amount-alert").show();
      $("#withdraw-amount-alert").html("{{LANG invalid_amount}}");
    } else {
      $("#withdraw-amount-alert").hide();
    }
    const total = Number(amount) * diamondConvertionRate;
    if (total < 2e4 && currencySelect === 'vnd') {
      $("#withdraw-amount-alert").show();
      $("#withdraw-amount-alert").html("{{LANG invalid_amount}}. (≥ 20.000 ₫)");
    }
    if(total >= 3e8) {
      $('#bank-branch').show();
    } else {
      $('#bank-branch').hide();
    }
    $('#calc-withdraw').html(`~ ${total.toLocaleString(undefined, {minimumFractionDigits: 0})} ${moneySign}`);
    $('#calc-withdraw').attr('data-original-title', `${total.toLocaleString(undefined, {minimumFractionDigits: 0})} ${moneySign}`);
    $('#calc-withdraw').tooltip();
  });
  $('#bank-select').html(
    bankList
      .map((it) => `<option value="${it.swiftCode}">${it.shortName}</option>`)
      .join('')
  );
  $('#type-payme').change(function () {
    if (this.checked) showWithdrawByPayme();
  });
  $('#type-bank').change(function () {
    if (this.checked) showWithdrawByBank();
  });
  function showWithdrawByBank() {
    $('.by-bank').show();
    $('.by-payme').hide();
  }
  function showWithdrawByPayme() {
    $('.by-bank').hide();
    $('.by-payme').show();
  }
  function markTopup() {
    localStorage.setItem("topup", "true")
  }
  var paypalMethodSelected = 'email';
  var paypalInputLabel = 'Email PayPal';
  var paypalTestRegex = /^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$/;
  $('#paypal-email').change(function () {
    if (this.checked) {
      paypalMethodSelected = 'email';
      paypalInputLabel = 'Email PayPal';
      paypalTestRegex = /^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$/;
      $("#paypal-input")[0].placeholder = "payment@ichill.tv";
      paypalMethodChange();
    }
  });
  $('#paypal-phone').change(function () {
    if (this.checked) {
      paypalTestRegex = /^\d+$/;
      paypalMethodSelected = 'phone';
      paypalInputLabel = "{{LANG phone}} PayPal";
      $("#paypal-input")[0].placeholder = "0123456789";
      paypalMethodChange();
    }
  });
  $('#paypal-id').change(function () {
    if (this.checked) {
      paypalMethodSelected = 'id';
      paypalTestRegex = /^[\w-]+$/;
      paypalInputLabel = 'PayPal\'s ID';
      $("#paypal-input")[0].placeholder = "EQJYTHU9NMHC6";
      paypalMethodChange();
    }
  });
  function paypalMethodChange() {
    $("#paypal-input-label").html(paypalInputLabel);
  };
  $("#paypal-input").on('keyup', (e) => {
    const ppInput = e.target;
    if (!paypalTestRegex.test(ppInput.value)) {
      $("#withdraw-alert").show();
      $("#withdraw-alert").html(`{{LANG please_check_details}}: ${paypalInputLabel}`);
    } else {
      $("#withdraw-alert").hide();
    }
  });
  function requestWithdraw() {
    if (currencySelect === "vnd") {
      withdrawPayME();
    } else {
      withdrawPayPal();
    }
  }
</script>

<?php
  include "transaction.html"; 
  include "diamondToChill.html";
?>