<div class="modal fade" tabindex="-1" role="dialog" id="transferModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">{{LANG convert}}</h4>
      </div>
      <div class="modal-body">
        <form class="withdraw-wallet-form">
          <div class="form-group">
              <label>{{LANG convert_diamond}}</label>
          </div>
          <div class="form-group">
            <label>
              {{LANG available_diamond}}: <b>{{ME balance}}</b> {{LANG diamond}}
              <span class="cvt-fade" style="font-size: 14px; display: unset">
                ~
                <span class="convert-to-chill" style="font-size: 14px; display: unset"></span>
              </span>
            </label>
          </div>
          <div class="row" style="margin-top: -12px;">
            <div class="col-sm-6">
              <label for="transfer-amount" style="padding-top: 0.5em;">{{LANG transfer_amount}}: </label>
            </div>
            <div class="col-sm-6">
              <div style="display: flex; align-items: center">
                <input id="transfer-amount" name="transfer-amount" placeholder="0.0" type="text" style="width: 150px;"/>
                <div id="calc-transfer" data-toggle="tooltip" data-placement="top">
                  ~ 0 CHILL
                </div>
              </div>
            </div>
          </div>
          <div id="transfer-alert" class="alert alert-danger" style="padding: 0.5em; margin-top: 0.5em; display: none">
            Loi
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">
          {{LANG cancel}}
        </button>
        <button type="button" class="btn btn-primary" onclick="transferToChill()">
          OK
        </button>
      </div>
    </div>
  </div>
</div>
<script>
  var prevTransferValue;
  var transferValue;
  const balanceStr = "{{ME balance}}";
  const balance = Number(balanceStr.replace(/\,/g, ''));
  var toChillRate = 1 / Number("{{CONFIG chill_to_diamond}}");
  $("#transfer-amount").on("keyup", function(e){
    if(/^\d*$/.test(this.value)) {
      prevTransferValue = this.value;
      $("#calc-transfer").html(`~ ${(Number(this.value)/toChillRate).toLocaleString(undefined, {minimumFractionDigits: 2})} CHILL`);
      $('#calc-transfer').attr('data-original-title', `${(Number(this.value)/toChillRate).toLocaleString(undefined, {minimumFractionDigits: 2})} CHILL`);
      $('#calc-transfer').tooltip();
      const amount = $("#transfer-amount").val();
      $("#transfer-alert").hide();
      if (balance < 1) {
        $("#transfer-alert").show();
        $("#transfer-alert").html("{{LANG no_balance_to_move}}!");
      } else if (!amount || amount < 1){
        $("#transfer-alert").show();
        $("#transfer-alert").html("{{LANG please_input_transfer_amount}}!");
      } else if(amount > balance){
        $("#transfer-alert").show();
        $("#transfer-alert").html("{{LANG more_than_balance}}!");
      }
    } else {
      $("#transfer-amount").val(prevTransferValue);
    }
  });
  $(".convert-to-chill").html(`${(balance/toChillRate).toLocaleString(undefined, {minimumFractionDigits: 2})} CHILL`)
  function resetTransferToChill() {
    $("#transfer-amount").val('');
    $("#transfer-alert").hide();
  }
  function transferToChill() {
    const amount = $("#transfer-amount").val();
    $("#transfer-alert").hide();
    if (balance < 1) {
      $("#transfer-alert").show();
      $("#transfer-alert").html("{{LANG no_balance_to_move}}!");
    } else if (!amount || amount < 1){
      $("#transfer-alert").show();
      $("#transfer-alert").html("{{LANG please_input_transfer_amount}}!");
    } else if(amount > balance){
      $("#transfer-alert").show();
      $("#transfer-alert").html("{{LANG more_than_balance}}!");
    } else {
      $.post('{{LINK aj/wallet/move_to_wallet}}', {amount: amount}, function(data, textStatus, xhr) {
        if (data.status == 200) {
          markTopup();
          location.reload();
        }
        else{
          $("#transfer-alert").show();
          $("#transfer-alert").html(data.message);
        }
      });
    }
  }
</script>