<div
  class="modal fade"
  tabindex="-1"
  role="dialog"
  id="transactionHistory"
>
  <div
    class="modal-dialog"
    role="document"
  >
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">{{LANG tx_history}}</h4>
      </div>
      <div class="modal-body" style="padding: 1em 0;">
        <div id="transaction-table"></div>
        <nav aria-label="Table pagination" style="text-align: center;">
          <ul class="pagination" id="transaction-pagination">
            <li class="txpagination" data="prev">
              <a aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <li class="txpagination" data="1"><a>1</a></li>
            <!-- <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li> -->
            <li class="txpagination" data="next">
              <a aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-default"
          data-dismiss="modal"
        >
          {{LANG close}}
        </button>
      </div>
    </div>
  </div>
</div>
<script>
  var txCurrentPage = 1;
  var txTotalPage = 1;
  var txPageSize = 20;
  function addEvent(){
    $('.txpagination').on('click', function (event) {
      const data = this.getAttribute('data');
      switch(data) {
        case 'next':
          if (txCurrentPage < txTotalPage)
            getTransaction(txCurrentPage + 1);
          break;
        case 'prev':
          if (txCurrentPage > 1)
            getTransaction(txCurrentPage - 1);
          break;
        default:
          getTransaction(data);
          break;
      }
    });
  };
  addEvent();
  const mapType = (type) => {
    switch(type) {
      case 1: return "{{LANG tx_deposit}}";
      case 2: return "{{LANG tx_withdraw}}";
      case 3: return "{{LANG tx_donate}}";
    }
  }
  const mapGateWay = (gateway) => {
    switch(gateway) {
      case 1: return "MOMO";
      case 2: return "PAYME";
      case 3: return "PAYPAL";
      default: return "";
    }
  }
  const mapStatus = (status) => {
    switch(status) {
      case 1: return "{{LANG tx_pending}}";
      case 2: return "{{LANG tx_success}}";
      case 3: return "{{LANG tx_failed}}";
      case 4: return "{{LANG tx_rejected}}";
      case 5: return "{{LANG tx_refund}}";
      case 6: return "{{LANG tx_canceled}}";
      case 7: return "{{LANG tx_unclaimed}}";
    }
  }
  const getTransaction = (page) => {
    if (page) {
      txCurrentPage = page;
    }
    const headers = {
      "Authorization": `Bearer <?php echo get_jwt_token(); ?>`
    };
    $.ajax({
      type: 'get',
      url: `{{CONFIG api_url}}/v1/new-transaction/get-transactions${page ? '?page=' + page : ''}`,
      headers,
      success: function (data, status) {
        const result = data.data.rows;
        const count = data.data.count;
        txTotalPage = Math.round(Math.ceil(count / txPageSize)) || 1;

        $("#transaction-pagination").html(`<li class="txpagination" data="prev">
              <a aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            ${txCurrentPage > 1 ? '<li class="txpagination" data="' + (txCurrentPage - 1) + '"><a>' + (txCurrentPage - 1) + '</a></li>' : ''}
            <li class="txpagination active" data="${txCurrentPage}"><a>${txCurrentPage}</a></li>
            ${txCurrentPage < txTotalPage ? '<li class="txpagination" data="' + (txCurrentPage + 1) + '"><a>' + (txCurrentPage + 1) + '</a></li>' : ''}
            <li class="txpagination" data="next">
              <a aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>`);
        addEvent();
        $("#transaction-table").html('<table class="table table-striped">'
          + '<tr><th>Time</th><th>Type</th><th>Amount</th><th>GateWay</th><th>Status</th></tr>'
          + result.map((it) => `<tr><td>${(new Date(it.createdAt)).toLocaleString('vi-VN', {timeZone: 'UTC'})}</td><td>${mapType(it.type)}</td><td>${it.amount}</td><td>${mapGateWay(it.gateway)}</td><td>${mapStatus(it.status)}</td></tr>`).join('')
          + '</table>');
      },
      error: function (err) {
        window.Snackbar.show({
          pos: 'top-center',
          text: `ERROR: ${err.responseText}`,
          textColor: "white",
          backgroundColor: "red",
        });
      }
    });
  }
</script>
<style>
  .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    border-top: none;
  }
</style>