<li class="dropdown hide-from-mobile profile-nav">
	<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
		<span class="hide_hdr_usr_name">&nbsp;&nbsp;{{LANG my_account}}&nbsp;&nbsp;</span><img class="header-image" src="{{ME avatar}}" alt="{{ME name}}" /> <svg width="21" height="21" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M12 7C13.1 7 14 6.1 14 5C14 3.9 13.1 3 12 3C10.9 3 10 3.9 10 5C10 6.1 10.9 7 12 7ZM12 10C10.9 10 10 10.9 10 12C10 13.1 10.9 14 12 14C13.1 14 14 13.1 14 12C14 10.9 13.1 10 12 10ZM10 19C10 17.9 10.9 17 12 17C13.1 17 14 17.9 14 19C14 20.1 13.1 21 12 21C10.9 21 10 20.1 10 19Z" fill="currentColor"/></svg>
	</a>
	<ul class="dropdown-menu dropdown-menu-right ani-acc-menu" role="menu">
		<li>
			<div class="pt_acc_menu_hdr">
				<a href="{{ME url}}" data-load="?link1=timeline&id={{ME username}}">
					<img src="{{ME avatar}}" alt="{{ME name}}" />
				</a>
				<div>
					<a href="{{ME url}}" data-load="?link1=timeline&id={{ME username}}">
						<b>{{ME name}}</b>
						<p>@{{ME username}}</p>
					</a>
					<?php if ($pt->config->point_level_system == 1) { ?>
						<a class="points" href="{{LINK settings/points/<?php echo $pt->user->username; ?>}}" data-load="?link1=settings&page=points&user=<?php echo $pt->user->username; ?>">{{ME points}} {{LANG points}}</a>
					<?php } ?>
				</div>
			</div>
		</li>
		<?php 
			if ((!empty($pt->page) && $pt->page != 'watch' && $pt->page != 'movies') || (!empty($pt->page) && $pt->page == 'watch' && !empty($pt->get_video) && !$pt->get_video->is_movie)) { ?>
			<?php if ($pt->config->night_mode == 'both' || $pt->config->night_mode == 'night_default'): ?>
				<li>
					<div class="toggle-mode">
						<label class="switch">
							<input type="checkbox" {{MODE}} id="toggle-mode">
							<span class="slider">
								<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"> <path fill-rule="evenodd" clip-rule="evenodd" d="M5.75 9C5.75 5.54822 8.54822 2.75 12 2.75C15.4518 2.75 18.25 5.54822 18.25 9C18.25 10.6664 17.5988 12.1791 16.5355 13.3002C15.7338 14.1455 14.8913 15.1981 14.49 16.4347C14.4575 16.4543 14.4173 16.4781 14.3701 16.5051C14.2232 16.589 14.0116 16.7019 13.7579 16.8146C13.2374 17.046 12.5989 17.25 12.0002 17.25C11.4014 17.25 10.7628 17.046 10.2422 16.8146C9.98848 16.7019 9.77682 16.589 9.62992 16.505C9.58272 16.4781 9.54251 16.4543 9.51004 16.4346C9.10872 15.1981 8.2662 14.1455 7.46448 13.3002C6.40119 12.1791 5.75 10.6664 5.75 9ZM9.75 18.2363C10.346 18.49 11.1557 18.75 12.0002 18.75C12.8445 18.75 13.6541 18.4901 14.25 18.2363V19C14.25 20.2426 13.2426 21.25 12 21.25C10.7574 21.25 9.75 20.2426 9.75 19V18.2363ZM12 1.25C7.71979 1.25 4.25 4.71979 4.25 9C4.25 11.0656 5.0591 12.9438 6.37615 14.3325C7.44473 15.4591 8.25 16.6431 8.25 17.9109V19C8.25 21.0711 9.92893 22.75 12 22.75C14.0711 22.75 15.75 21.0711 15.75 19V17.9109C15.75 16.6431 16.5553 15.4591 17.6238 14.3325C18.9409 12.9438 19.75 11.0656 19.75 9C19.75 4.71979 16.2802 1.25 12 1.25Z" fill="currentColor"/> </svg> {{LANG mode}}
							</span>
						</label>
					</div>
				</li>
			<?php endif; ?>
		<?php } ?>
		<?php if ($pt->config->go_pro == 'on' && !PT_IsUpgraded()): ?>
			<li class="divider"></li>
			<li>
			<a href="{{LINK go_pro}}" data-load="?link1=go_pro">
				<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M14.2173 1.28219C14.5337 1.37796 14.75 1.6695 14.75 2V9.25H19C19.2766 9.25 19.5307 9.40224 19.6613 9.64611C19.7918 9.88998 19.7775 10.1859 19.624 10.416L11.624 22.416C11.4407 22.691 11.099 22.8136 10.7827 22.7178C10.4663 22.6221 10.25 22.3305 10.25 22V14.75H6C5.7234 14.75 5.46926 14.5978 5.33875 14.3539C5.20823 14.11 5.22254 13.8141 5.37596 13.584L13.376 1.58398C13.5593 1.30899 13.901 1.18641 14.2173 1.28219ZM7.40139 13.25H11C11.4142 13.25 11.75 13.5858 11.75 14V19.5229L17.5986 10.75H14C13.5858 10.75 13.25 10.4142 13.25 10V4.47709L7.40139 13.25Z" fill="currentColor"/></svg> {{LANG go_pro}}
			</a>
			</li>
		<?php endif; ?>
		<li class="divider"></li>
		<li>
			<a href="{{LINK subscriptions}}" data-load="?link1=subscriptions">
				<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"> <path fill-rule="evenodd" clip-rule="evenodd" d="M11.9622 1.25H12H12.0378H12.0379C13.8751 1.25 15.305 1.24999 16.4475 1.35354C17.6082 1.45874 18.5457 1.67552 19.375 2.15433C20.4011 2.74677 21.2532 3.59887 21.8457 4.625C22.3245 5.45433 22.5413 6.39182 22.6465 7.55249C22.75 8.69502 22.75 10.1249 22.75 11.9621V12V12.0379C22.75 13.8751 22.75 15.305 22.6465 16.4475C22.5413 17.6082 22.3245 18.5457 21.8457 19.375C21.2532 20.4011 20.4011 21.2532 19.375 21.8457C18.5457 22.3245 17.6082 22.5413 16.4475 22.6465C15.305 22.75 13.8751 22.75 12.0379 22.75H12H11.9621C10.1249 22.75 8.69502 22.75 7.55249 22.6465C6.39182 22.5413 5.45433 22.3245 4.625 21.8457C3.59887 21.2532 2.74677 20.4011 2.15433 19.375C1.67552 18.5457 1.45874 17.6082 1.35354 16.4475C1.24999 15.305 1.25 13.8751 1.25 12.0379V12.0378V12V11.9622V11.9621C1.25 10.1249 1.24999 8.69502 1.35354 7.55249C1.45874 6.39182 1.67552 5.45433 2.15433 4.625C2.74677 3.59887 3.59887 2.74677 4.625 2.15433C5.45433 1.67552 6.39182 1.45874 7.55249 1.35354C8.69502 1.24999 10.1249 1.25 11.9621 1.25H11.9622ZM7.68789 2.84742C6.63125 2.94319 5.93798 3.12833 5.375 3.45337C4.5769 3.91415 3.91415 4.5769 3.45337 5.375C3.12833 5.93798 2.94319 6.63125 2.84742 7.68789C2.75072 8.75483 2.75 10.117 2.75 12C2.75 13.883 2.75072 15.2452 2.84742 16.3121C2.94319 17.3687 3.12833 18.062 3.45337 18.625C3.91415 19.4231 4.5769 20.0858 5.375 20.5466C5.93798 20.8717 6.63125 21.0568 7.68789 21.1526C8.75483 21.2493 10.117 21.25 12 21.25C13.883 21.25 15.2452 21.2493 16.3121 21.1526C17.3687 21.0568 18.062 20.8717 18.625 20.5466C19.4231 20.0858 20.0858 19.4231 20.5466 18.625C20.8717 18.062 21.0568 17.3687 21.1526 16.3121C21.2493 15.2452 21.25 13.883 21.25 12C21.25 10.117 21.2493 8.75483 21.1526 7.68789C21.0568 6.63125 20.8717 5.93798 20.5466 5.375C20.0858 4.5769 19.4231 3.91415 18.625 3.45337C18.062 3.12833 17.3687 2.94319 16.3121 2.84742C15.2452 2.75072 13.883 2.75 12 2.75C10.117 2.75 8.75483 2.75072 7.68789 2.84742ZM10.6667 13.75C9.60812 13.75 8.75 14.6081 8.75 15.6667C8.75 15.9888 9.01117 16.25 9.33333 16.25H14.6667C14.9888 16.25 15.25 15.9888 15.25 15.6667C15.25 14.6081 14.3919 13.75 13.3333 13.75H10.6667ZM7.25 15.6667C7.25 13.7797 8.77969 12.25 10.6667 12.25H13.3333C15.2203 12.25 16.75 13.7797 16.75 15.6667C16.75 16.8173 15.8173 17.75 14.6667 17.75H9.33333C8.18274 17.75 7.25 16.8173 7.25 15.6667ZM10.75 8C10.75 7.30964 11.3096 6.75 12 6.75C12.6904 6.75 13.25 7.30964 13.25 8C13.25 8.69036 12.6904 9.25 12 9.25C11.3096 9.25 10.75 8.69036 10.75 8ZM12 5.25C10.4812 5.25 9.25 6.48122 9.25 8C9.25 9.51878 10.4812 10.75 12 10.75C13.5188 10.75 14.75 9.51878 14.75 8C14.75 6.48122 13.5188 5.25 12 5.25Z" fill="currentColor"/> </svg> {{LANG subscriptions}}
			</a>
		</li>
		<li>
			<a href="{{LINK balance}}" data-load="?link1=balance">
				<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="12" y1="1" x2="12" y2="23"></line><path d="M17 5H9.5a3.5 3.5 0 0 0 0 7h5a3.5 3.5 0 0 1 0 7H6"></path></svg> {{LANG wallet}}
			</a>
		</li>
		<li>
			<a href="{{ME url}}?page=play-lists" data-load="?link1=timeline&id={{ME username}}&page=play-lists">
				<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"> <path fill-rule="evenodd" clip-rule="evenodd" d="M2.25 5C2.25 4.58579 2.58579 4.25 3 4.25H19C19.4142 4.25 19.75 4.58579 19.75 5C19.75 5.41421 19.4142 5.75 19 5.75H3C2.58579 5.75 2.25 5.41421 2.25 5ZM2.25 9C2.25 8.58579 2.58579 8.25 3 8.25H15C15.4142 8.25 15.75 8.58579 15.75 9C15.75 9.41421 15.4142 9.75 15 9.75H3C2.58579 9.75 2.25 9.41421 2.25 9ZM3 12.25C2.58579 12.25 2.25 12.5858 2.25 13C2.25 13.4142 2.58579 13.75 3 13.75H11C11.4142 13.75 11.75 13.4142 11.75 13C11.75 12.5858 11.4142 12.25 11 12.25H3ZM2.25 17C2.25 16.5858 2.58579 16.25 3 16.25H9C9.41421 16.25 9.75 16.5858 9.75 17C9.75 17.4142 9.41421 17.75 9 17.75H3C2.58579 17.75 2.25 17.4142 2.25 17ZM19.5254 13.4489L19.4759 13.4159C18.8339 12.9878 18.2825 12.6201 17.8238 12.4035C17.3527 12.181 16.7611 12.0115 16.1742 12.3256C15.5874 12.6397 15.4003 13.2259 15.3241 13.7414C15.2499 14.2431 15.2499 14.9059 15.25 15.6775V15.6775L15.25 15.737V16.263L15.25 16.3225V16.3225C15.2499 17.0941 15.2499 17.7569 15.3241 18.2586C15.4003 18.7741 15.5874 19.3603 16.1742 19.6744C16.7611 19.9885 17.3527 19.819 17.8238 19.5965C18.2825 19.3799 18.8339 19.0122 19.4759 18.5841L19.4759 18.5841L19.5254 18.5511L19.9199 18.2881L19.966 18.2574L19.9661 18.2574C20.4909 17.9075 20.9531 17.5995 21.2767 17.307C21.6209 16.996 21.9472 16.581 21.9472 16C21.9472 15.419 21.6209 15.004 21.2767 14.693C20.953 14.4005 20.4909 14.0925 19.966 13.7426L19.9199 13.7119L19.5254 13.4489ZM16.8556 13.6558C16.8552 13.6551 16.859 13.6539 16.8685 13.654C16.8608 13.6565 16.8561 13.6564 16.8556 13.6558ZM17.1833 13.7599C17.0171 13.6814 16.9275 13.6599 16.8858 13.6551C16.8666 13.6924 16.8348 13.7789 16.808 13.9607C16.752 14.3393 16.75 14.889 16.75 15.737V16.263C16.75 17.111 16.752 17.6607 16.808 18.0393C16.8348 18.2211 16.8666 18.3076 16.8858 18.3449C16.9275 18.3402 17.0171 18.3186 17.1833 18.2401C17.5293 18.0767 17.9878 17.7734 18.6934 17.303L19.0878 17.0401C19.6729 16.65 20.0397 16.4031 20.271 16.1941C20.3802 16.0954 20.4247 16.0347 20.4417 16.0052L20.4446 16L20.4417 15.9948C20.4247 15.9653 20.3802 15.9046 20.271 15.8059C20.0397 15.5969 19.6729 15.35 19.0878 14.9599L18.6934 14.697C17.9878 14.2266 17.5293 13.9233 17.1833 13.7599ZM16.8556 18.3442C16.8561 18.3436 16.8608 18.3435 16.8685 18.346C16.859 18.3461 16.8552 18.3449 16.8556 18.3442ZM16.8944 18.3599C16.9007 18.3649 16.9034 18.3689 16.9031 18.3696C16.9028 18.3704 16.8996 18.3679 16.8944 18.3599ZM16.8944 13.6401C16.8996 13.6321 16.9028 13.6296 16.9031 13.6304C16.9034 13.6311 16.9007 13.6351 16.8944 13.6401Z" fill="currentColor"/> </svg> {{LANG play_lists}}
			</a>
		</li>
		<?php if ($pt->config->history_system == 'on') { ?>
			<li class="hide_mobi_hist">
				<a href="{{LINK history}}" data-load="?link1=history">
					<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" fill="currentColor" d="M12 2.25C8.77745 2.25 6.3634 3.5959 4.76988 4.92383C4.38296 5.24627 4.04307 5.56863 3.75002 5.87217V4C3.75002 3.58579 3.41423 3.25 3.00002 3.25C2.5858 3.25 2.25002 3.58579 2.25002 4V8C2.25002 8.41421 2.5858 8.75 3.00002 8.75H6.50002C6.91423 8.75 7.25002 8.41421 7.25002 8C7.25002 7.58579 6.91423 7.25 6.50002 7.25H4.51758C4.83636 6.89199 5.24074 6.48401 5.73015 6.07617C7.13663 4.9041 9.22258 3.75 12 3.75C16.5842 3.75 20.25 7.44205 20.25 12C20.25 16.5563 16.5564 20.25 12 20.25C7.44367 20.25 3.75002 16.5563 3.75002 12C3.75002 11.5858 3.41423 11.25 3.00002 11.25C2.5858 11.25 2.25002 11.5858 2.25002 12C2.25002 17.3848 6.61524 21.75 12 21.75C17.3848 21.75 21.75 17.3848 21.75 12C21.75 6.61682 17.4158 2.25 12 2.25ZM12.75 8C12.75 7.58579 12.4142 7.25 12 7.25C11.5858 7.25 11.25 7.58579 11.25 8V12C11.25 12.2508 11.3753 12.4849 11.584 12.624L14.584 14.624C14.9286 14.8538 15.3943 14.7607 15.6241 14.416C15.8538 14.0714 15.7607 13.6057 15.416 13.376L12.75 11.5986V8Z"></path></svg> {{LANG history}}
				</a>
			</li>
		<?php } ?>
		<li class="divider"></li>
		<li>
			<a href="{{LINK liked-videos}}" data-load="?link1=liked-videos">
				<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"> <path fill-rule="evenodd" clip-rule="evenodd" d="M13.1095 3.01384C13.2562 2.84617 13.4681 2.75 13.6909 2.75C14.2456 2.75 14.6195 3.31713 14.401 3.82695L12.3106 8.70456C12.2113 8.93628 12.2351 9.2024 12.3739 9.41287C12.5127 9.62334 12.7479 9.75 13 9.75H15.763C16.9893 9.75 17.8262 9.75189 18.4359 9.84046C19.0266 9.92628 19.2468 10.0735 19.3749 10.2413C19.503 10.409 19.5871 10.6602 19.5145 11.2526C19.4395 11.8641 19.2212 12.672 18.8985 13.8551L18.0803 16.8551C17.8823 17.5813 17.7497 18.0625 17.6063 18.4177C17.4703 18.7544 17.3537 18.8997 17.2312 18.9934C17.1086 19.087 16.9377 19.1613 16.5771 19.2039C16.1966 19.2488 15.6975 19.25 14.9448 19.25H10C9.03599 19.25 8.38843 19.2484 7.90539 19.1835C7.44393 19.1214 7.24643 19.0142 7.11612 18.8839C6.9858 18.7536 6.87858 18.5561 6.81654 18.0946C6.75159 17.6116 6.75 16.964 6.75 16V11.5029C6.75 10.7047 6.7611 10.4949 6.82987 10.3118C6.89865 10.1288 7.02847 9.96355 7.55413 9.3628L13.1095 3.01384ZM13.6909 1.25C13.0356 1.25 12.4121 1.53289 11.9806 2.02608L6.42526 8.37504L6.35306 8.45746C5.93398 8.93556 5.6025 9.31373 5.42572 9.78422C5.24894 10.2547 5.24938 10.7576 5.24994 11.3934L5.25 11.5029V16L5.25 16.052C5.24997 16.9505 5.24994 17.6997 5.32991 18.2945C5.41432 18.9223 5.59999 19.4891 6.05546 19.9445C6.51093 20.4 7.07773 20.5857 7.70552 20.6701C8.3003 20.7501 9.04952 20.75 9.948 20.75H10H14.9448H14.9882C15.6859 20.75 16.2742 20.75 16.753 20.6935C17.2615 20.6334 17.7267 20.5024 18.1416 20.1854C18.5566 19.8685 18.8054 19.4541 18.9972 18.9794C19.1777 18.5324 19.3325 17.9648 19.516 17.2917L19.5274 17.2498L20.3456 14.2498L20.3613 14.1922C20.6644 13.0811 20.9135 12.1677 21.0033 11.4351C21.097 10.671 21.0392 9.94904 20.5669 9.33077C20.0947 8.71249 19.4134 8.46673 18.6515 8.35604C17.9212 8.24994 16.9744 8.24997 15.8227 8.25L15.763 8.25H14.1374L15.7798 4.41783C16.4225 2.91821 15.3224 1.25 13.6909 1.25ZM3.75 10C3.75 9.58579 3.41421 9.25 3 9.25C2.58579 9.25 2.25 9.58579 2.25 10V20C2.25 20.4142 2.58579 20.75 3 20.75C3.41421 20.75 3.75 20.4142 3.75 20L3.75 10Z" fill="currentColor"/> </svg> {{LANG liked_videos}}
			</a>
		</li>
		<?php if ($pt->config->all_create_articles == 'on') { ?>
			<li>
				<a href="{{LINK my_articles}}" data-load="?link1=my_articles">
					<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"> <path fill-rule="evenodd" clip-rule="evenodd" d="M2.62356 2.35132C2.85479 2.21713 3.13998 2.21617 3.3721 2.34882L6.5 4.13619L9.6279 2.34882C9.85847 2.21706 10.1415 2.21706 10.3721 2.34882L13.5 4.13619L16.6279 2.34882C16.86 2.21617 17.1452 2.21713 17.3764 2.35132C17.6077 2.48551 17.75 2.73265 17.75 3V11.25H21C21.4142 11.25 21.75 11.5858 21.75 12V19C21.75 20.5188 20.5188 21.75 19 21.75H9H8.94513C7.57754 21.75 6.47522 21.75 5.60825 21.6335C4.70814 21.5125 3.95027 21.2536 3.34835 20.6517C2.74643 20.0497 2.48754 19.2919 2.36652 18.3918C2.24996 17.5248 2.24998 16.4225 2.25 15.0549V15V3C2.25 2.73265 2.39232 2.48551 2.62356 2.35132ZM19 20.25C19.6904 20.25 20.25 19.6904 20.25 19V12.75H17.75V19C17.75 19.6904 18.3096 20.25 19 20.25ZM16.5499 20.25H9C7.56458 20.25 6.56347 20.2484 5.80812 20.1469C5.07435 20.0482 4.68577 19.8678 4.40901 19.591C4.13225 19.3142 3.9518 18.9257 3.85315 18.1919C3.75159 17.4365 3.75 16.4354 3.75 15V4.29238L6.1279 5.65118C6.35847 5.78294 6.64153 5.78294 6.8721 5.65118L10 3.86381L13.1279 5.65118C13.3585 5.78294 13.6415 5.78294 13.8721 5.65118L16.25 4.29239V12V19C16.25 19.4501 16.3581 19.875 16.5499 20.25ZM6.25 9C6.25 8.58579 6.58579 8.25 7 8.25H11C11.4142 8.25 11.75 8.58579 11.75 9C11.75 9.41421 11.4142 9.75 11 9.75H7C6.58579 9.75 6.25 9.41421 6.25 9ZM7 12.25C6.58579 12.25 6.25 12.5858 6.25 13C6.25 13.4142 6.58579 13.75 7 13.75H13C13.4142 13.75 13.75 13.4142 13.75 13C13.75 12.5858 13.4142 12.25 13 12.25H7ZM6.25 17C6.25 16.5858 6.58579 16.25 7 16.25H13C13.4142 16.25 13.75 16.5858 13.75 17C13.75 17.4142 13.4142 17.75 13 17.75H7C6.58579 17.75 6.25 17.4142 6.25 17Z" fill="currentColor"/> </svg> {{LANG my_articles}}
				</a>
			</li>
		<?php } ?>
		<li>
			<!-- <a href="{{LINK manage-videos}}" data-load="?link1=manage-videos">
				<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-video"><polygon points="23 7 16 12 23 17 23 7"></polygon><rect x="1" y="5" width="15" height="14" rx="2" ry="2"></rect></svg> {{LANG manage_videos}}
			</a> -->
		</li>
		<li>
			<a href="{{LINK dashboard}}" data-load="?link1=dashboard">
				<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"> <path fill-rule="evenodd" clip-rule="evenodd" d="M7.97475 1.25H8H16H16.0252H16.0253C16.4697 1.24999 16.8408 1.24999 17.1454 1.27077C17.4625 1.29241 17.762 1.33905 18.0524 1.45933C18.7262 1.73844 19.2616 2.27379 19.5407 2.94762C19.661 3.23801 19.7076 3.53754 19.7292 3.85464C19.7407 4.02346 19.7459 4.21269 19.7482 4.42352C20.4935 4.56362 21.1309 4.82762 21.6517 5.34835C22.2536 5.95027 22.5125 6.70814 22.6335 7.60825C22.75 8.47522 22.75 9.57754 22.75 10.9451V11V13V13.0549C22.75 14.4225 22.75 15.5248 22.6335 16.3918C22.5125 17.2919 22.2536 18.0497 21.6517 18.6517C21.1309 19.1724 20.4935 19.4364 19.7482 19.5765C19.7459 19.7873 19.7407 19.9765 19.7292 20.1454C19.7076 20.4625 19.661 20.762 19.5407 21.0524C19.2616 21.7262 18.7262 22.2616 18.0524 22.5407C17.762 22.661 17.4625 22.7076 17.1454 22.7292C16.8408 22.75 16.4697 22.75 16.0253 22.75H16H8H7.97474C7.53028 22.75 7.15925 22.75 6.85464 22.7292C6.53754 22.7076 6.23801 22.661 5.94762 22.5407C5.27379 22.2616 4.73844 21.7262 4.45933 21.0524C4.33905 20.762 4.29241 20.4625 4.27077 20.1454C4.25925 19.9765 4.25412 19.7873 4.25183 19.5765C3.50654 19.4364 2.86908 19.1724 2.34835 18.6517C1.74643 18.0497 1.48754 17.2919 1.36652 16.3918C1.24996 15.5248 1.24998 14.4225 1.25 13.0549V13V11V10.9451C1.24998 9.57754 1.24996 8.47522 1.36652 7.60825C1.48754 6.70814 1.74643 5.95027 2.34835 5.34835C2.86908 4.82762 3.50654 4.56362 4.25183 4.42352C4.25412 4.21269 4.25925 4.02346 4.27077 3.85464C4.29241 3.53754 4.33905 3.23801 4.45933 2.94762C4.73844 2.27379 5.27379 1.73844 5.94762 1.45933C6.23801 1.33905 6.53754 1.29241 6.85464 1.27077C7.15924 1.24999 7.53028 1.24999 7.97473 1.25H7.97475ZM18.2327 3.95674C18.2391 4.05098 18.2432 4.15569 18.2457 4.27551C17.6075 4.24998 16.8794 4.24999 16.0549 4.25L16 4.25H8L7.94513 4.25C7.12061 4.24999 6.39251 4.24998 5.75428 4.27551C5.75682 4.15569 5.76086 4.05098 5.76729 3.95674C5.78372 3.71602 5.81319 3.5988 5.84515 3.52165C5.97202 3.21536 6.21536 2.97202 6.52165 2.84515C6.5988 2.81319 6.71602 2.78372 6.95674 2.76729C7.20421 2.75041 7.5238 2.75 8 2.75L16 2.75C16.4762 2.75 16.7958 2.75041 17.0433 2.76729C17.284 2.78372 17.4012 2.81319 17.4784 2.84515C17.7846 2.97202 18.028 3.21536 18.1549 3.52165C18.1868 3.5988 18.2163 3.71602 18.2327 3.95674ZM18.2457 19.7245C17.6075 19.75 16.8794 19.75 16.0549 19.75H16H8H7.94513C7.12061 19.75 6.39252 19.75 5.75428 19.7245C5.75682 19.8443 5.76086 19.949 5.76729 20.0433C5.78372 20.284 5.81319 20.4012 5.84515 20.4784C5.97202 20.7846 6.21536 21.028 6.52165 21.1549C6.5988 21.1868 6.71602 21.2163 6.95674 21.2327C7.20421 21.2496 7.5238 21.25 8 21.25H16C16.4762 21.25 16.7958 21.2496 17.0433 21.2327C17.284 21.2163 17.4012 21.1868 17.4784 21.1549C17.7846 21.028 18.028 20.7846 18.1549 20.4784C18.1868 20.4012 18.2163 20.284 18.2327 20.0433C18.2391 19.949 18.2432 19.8443 18.2457 19.7245ZM3.40901 6.40901C3.68577 6.13225 4.07435 5.9518 4.80812 5.85315C5.56347 5.75159 6.56458 5.75 8 5.75H16C17.4354 5.75 18.4365 5.75159 19.1919 5.85315C19.9257 5.9518 20.3142 6.13225 20.591 6.40901C20.8678 6.68577 21.0482 7.07435 21.1469 7.80812C21.2484 8.56347 21.25 9.56458 21.25 11V13C21.25 14.4354 21.2484 15.4365 21.1469 16.1919C21.0482 16.9257 20.8678 17.3142 20.591 17.591C20.3142 17.8678 19.9257 18.0482 19.1919 18.1469C18.4365 18.2484 17.4354 18.25 16 18.25H8C6.56458 18.25 5.56347 18.2484 4.80812 18.1469C4.07435 18.0482 3.68577 17.8678 3.40901 17.591C3.13225 17.3142 2.9518 16.9257 2.85315 16.1919C2.75159 15.4365 2.75 14.4354 2.75 13V11C2.75 9.56458 2.75159 8.56347 2.85315 7.80812C2.9518 7.07435 3.13225 6.68577 3.40901 6.40901ZM13.5254 9.4489L13.4759 9.41588C12.8339 8.98785 12.2825 8.62015 11.8238 8.40354C11.3527 8.181 10.7611 8.0115 10.1742 8.32559C9.58737 8.63968 9.40028 9.22588 9.32408 9.74137C9.24991 10.2431 9.24995 10.9059 9.25 11.6775L9.25 11.737V12.263L9.25 12.3225C9.24995 13.0941 9.24991 13.7569 9.32408 14.2586C9.40028 14.7741 9.58737 15.3603 10.1742 15.6744C10.7611 15.9885 11.3527 15.819 11.8238 15.5965C12.2825 15.3799 12.8339 15.0122 13.4759 14.5841L13.4759 14.5841L13.5254 14.5511L13.9199 14.2881L13.966 14.2574L13.966 14.2574C14.4909 13.9075 14.953 13.5995 15.2767 13.307C15.6209 12.996 15.9472 12.581 15.9472 12C15.9472 11.419 15.6209 11.004 15.2767 10.693C14.953 10.4005 14.4909 10.0925 13.966 9.74263L13.9199 9.71186L13.5254 9.4489ZM10.8556 9.65578C10.8552 9.65513 10.859 9.65389 10.8685 9.65395C10.8608 9.65645 10.8561 9.65642 10.8556 9.65578ZM11.1833 9.75987C11.0171 9.68139 10.9275 9.65985 10.8858 9.65511C10.8666 9.69243 10.8348 9.77893 10.808 9.96073C10.752 10.3393 10.75 10.889 10.75 11.737V12.263C10.75 13.111 10.752 13.6607 10.808 14.0393C10.8348 14.2211 10.8666 14.3076 10.8858 14.3449C10.9275 14.3402 11.0171 14.3186 11.1833 14.2401C11.5293 14.0767 11.9878 13.7734 12.6934 13.303L13.0878 13.0401C13.6729 12.65 14.0397 12.4031 14.271 12.1941C14.3802 12.0954 14.4247 12.0347 14.4418 12.0052L14.4446 12L14.4418 11.9948C14.4247 11.9653 14.3802 11.9046 14.271 11.8059C14.0397 11.5969 13.6729 11.35 13.0878 10.9599L12.6934 10.697C11.9878 10.2266 11.5293 9.9233 11.1833 9.75987ZM10.8556 14.3442C10.8561 14.3436 10.8608 14.3435 10.8685 14.346C10.859 14.3461 10.8552 14.3449 10.8556 14.3442ZM10.8944 14.3599C10.9007 14.3649 10.9034 14.3689 10.9031 14.3696C10.9028 14.3704 10.8996 14.3679 10.8944 14.3599ZM10.8944 9.64011C10.8996 9.63215 10.9028 9.62964 10.9031 9.63038C10.9034 9.63111 10.9007 9.63509 10.8944 9.64011Z" fill="currentColor"/> </svg> {{LANG video_studio}}
			</a>
		</li>
		<li>
			<a href="{{LINK settings/profile}}" data-load="?link1=settings&page=profile"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"> <path fill-rule="evenodd" clip-rule="evenodd" d="M19.8408 3.90346C19.364 3.47009 18.636 3.47009 18.1592 3.90346C18.1405 3.92046 18.1161 3.94457 18.0303 4.03033L17.7233 4.33734C17.6991 5.41352 18.5865 6.30094 19.6627 6.27668L19.9697 5.96967C20.0554 5.88391 20.0795 5.85949 20.0965 5.84079C20.5299 5.36403 20.5299 4.63598 20.0965 4.15922C20.0795 4.14051 20.0554 4.1161 19.9697 4.03033C19.8839 3.94457 19.8595 3.92046 19.8408 3.90346ZM18.3917 7.54761C17.5064 7.20196 16.798 6.49363 16.4524 5.60827L14.0972 7.96348C13.2904 8.77024 12.9898 9.07964 12.7837 9.44373C12.5776 9.80782 12.4669 10.2248 12.1902 11.3316L12.0308 11.9692L12.6684 11.8098C13.7753 11.5331 14.1922 11.4224 14.5563 11.2163C14.9204 11.0102 15.2298 10.7096 16.0365 9.90282L18.3917 7.54761ZM17.1503 2.79349C18.1991 1.84008 19.8009 1.84008 20.8497 2.79349C20.8985 2.83785 20.9504 2.8897 21.0177 2.95703L21.0177 2.95705L21.0177 2.95708L21.0303 2.96967L21.0429 2.98227L21.043 2.98234C21.1103 3.04964 21.1622 3.10147 21.2065 3.15027C22.1599 4.19915 22.1599 5.80086 21.2065 6.84973C21.1621 6.89855 21.1103 6.95041 21.0429 7.01774L21.0303 7.03033L17.0972 10.9635L17.0237 11.037C16.3156 11.7454 15.8583 12.2028 15.2953 12.5216C14.7324 12.8403 14.1048 12.9971 13.1331 13.2398L13.1331 13.2398L13.1331 13.2398L13.0322 13.265L11.1819 13.7276C10.9263 13.7915 10.656 13.7166 10.4697 13.5303C10.2834 13.344 10.2085 13.0737 10.2724 12.8181L10.735 10.9678L10.7602 10.8669C11.0029 9.89522 11.1597 9.26766 11.4784 8.70468C11.7972 8.14171 12.2546 7.68441 12.963 6.97634L13.0365 6.90282L16.9697 2.96967L16.9823 2.95709C17.0496 2.88973 17.1014 2.83786 17.1503 2.79349ZM10.9436 2.25L11 2.25H12C12.4142 2.25 12.75 2.58579 12.75 3C12.75 3.41422 12.4142 3.75 12 3.75H11C9.09318 3.75 7.73851 3.7516 6.71085 3.88976C5.70476 4.02503 5.12511 4.2787 4.7019 4.70191C4.27869 5.12512 4.02503 5.70476 3.88976 6.71085C3.75159 7.73852 3.75 9.09318 3.75 11V13C3.75 14.9068 3.75159 16.2615 3.88976 17.2892C4.02503 18.2952 4.27869 18.8749 4.7019 19.2981C5.12511 19.7213 5.70476 19.975 6.71085 20.1102C7.73851 20.2484 9.09318 20.25 11 20.25H13C14.9068 20.25 16.2615 20.2484 17.2892 20.1102C18.2952 19.975 18.8749 19.7213 19.2981 19.2981C19.7213 18.8749 19.975 18.2952 20.1102 17.2892C20.2484 16.2615 20.25 14.9068 20.25 13V12C20.25 11.5858 20.5858 11.25 21 11.25C21.4142 11.25 21.75 11.5858 21.75 12V13V13.0564V13.0565C21.75 14.8942 21.75 16.3498 21.5969 17.489C21.4392 18.6614 21.1071 19.6104 20.3588 20.3588C19.6104 21.1071 18.6614 21.4392 17.489 21.5969C16.3498 21.75 14.8942 21.75 13.0565 21.75H13.0564H13H11H10.9436H10.9435C9.1058 21.75 7.65018 21.75 6.51098 21.5969C5.33856 21.4392 4.38961 21.1071 3.64124 20.3588C2.89288 19.6104 2.56076 18.6614 2.40314 17.489C2.24997 16.3498 2.24999 14.8942 2.25 13.0565V13.0564V13V11V10.9436V10.9436C2.24999 9.10581 2.24997 7.65019 2.40314 6.51098C2.56076 5.33856 2.89288 4.38961 3.64124 3.64125C4.38961 2.89288 5.33856 2.56077 6.51098 2.40314C7.65019 2.24997 9.10582 2.24999 10.9436 2.25Z" fill="currentColor"/> </svg> {{LANG edit}}</a>
		</li>
		<li>
			<a href="{{LINK settings}}" data-load="?link1=settings"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"> <path fill-rule="evenodd" clip-rule="evenodd" d="M12 1.25C10.4812 1.25 9.25002 2.48122 9.25002 4V4.75228C9.10444 4.80755 8.96097 4.86706 8.81976 4.93068L8.28769 4.3986C7.21375 3.32466 5.47254 3.32466 4.3986 4.3986C3.32466 5.47254 3.32466 7.21375 4.3986 8.28769L4.93068 8.81976C4.86706 8.96097 4.80755 9.10443 4.75229 9.25H4C2.48122 9.25 1.25 10.4812 1.25 12C1.25 13.5188 2.48122 14.75 4 14.75H4.75229C4.80755 14.8956 4.86706 15.039 4.93068 15.1802L4.3986 15.7123C3.32466 16.7863 3.32466 18.5275 4.3986 19.6014L4.92893 19.0711L4.3986 19.6014C5.47254 20.6753 7.21375 20.6753 8.28769 19.6014L8.81976 19.0693C8.96097 19.1329 9.10444 19.1925 9.25002 19.2477V20C9.25002 21.5188 10.4812 22.75 12 22.75C13.5188 22.75 14.75 21.5188 14.75 20V19.2477C14.8956 19.1924 15.039 19.1329 15.1802 19.0693L15.7123 19.6014C16.7863 20.6753 18.5275 20.6753 19.6014 19.6014C20.6753 18.5275 20.6753 16.7863 19.6014 15.7123L19.0693 15.1802C19.1329 15.039 19.1925 14.8956 19.2477 14.75H20C21.5188 14.75 22.75 13.5188 22.75 12C22.75 10.4812 21.5188 9.25 20 9.25H19.2477C19.1925 9.10443 19.1329 8.96096 19.0693 8.81976L19.6014 8.28769C20.6753 7.21375 20.6753 5.47254 19.6014 4.3986L19.0711 4.92893L19.6014 4.3986C18.5275 3.32466 16.7863 3.32466 15.7123 4.3986L15.1802 4.93067C15.039 4.86706 14.8956 4.80755 14.75 4.75229V4C14.75 2.48122 13.5188 1.25 12 1.25ZM10.75 4C10.75 3.30964 11.3097 2.75 12 2.75C12.6904 2.75 13.25 3.30964 13.25 4V5.28988C13.25 5.6217 13.468 5.91407 13.7861 6.00872C14.2013 6.1323 14.5985 6.29794 14.9729 6.50079C15.2647 6.65893 15.6258 6.60642 15.8605 6.37171L16.773 5.45926C17.2611 4.97111 18.0526 4.97111 18.5407 5.45926C19.0289 5.94742 19.0289 6.73887 18.5407 7.22703L17.6283 8.13947C17.3936 8.37419 17.3411 8.73528 17.4992 9.02713C17.7021 9.40148 17.8677 9.79872 17.9913 10.2139C18.0859 10.532 18.3783 10.75 18.7101 10.75H20C20.6904 10.75 21.25 11.3096 21.25 12C21.25 12.6904 20.6904 13.25 20 13.25H18.7101C18.3783 13.25 18.0859 13.468 17.9913 13.7861C17.8677 14.2013 17.7021 14.5985 17.4992 14.9729C17.3411 15.2647 17.3936 15.6258 17.6283 15.8605L18.5407 16.773C19.0289 17.2611 19.0289 18.0526 18.5407 18.5407C18.0526 19.0289 17.2611 19.0289 16.773 18.5407L15.8605 17.6283C15.6258 17.3936 15.2647 17.3411 14.9729 17.4992C14.5985 17.7021 14.2013 17.8677 13.7861 17.9913C13.4681 18.0859 13.25 18.3783 13.25 18.7101V20C13.25 20.6904 12.6904 21.25 12 21.25C11.3097 21.25 10.75 20.6904 10.75 20V18.7101C10.75 18.3783 10.532 18.0859 10.214 17.9913C9.79873 17.8677 9.40148 17.7021 9.02713 17.4992C8.73528 17.3411 8.37419 17.3936 8.13948 17.6283L7.22703 18.5407C6.73887 19.0289 5.94742 19.0289 5.45926 18.5407C4.97111 18.0526 4.97111 17.2611 5.45926 16.773L6.37171 15.8605C6.60643 15.6258 6.65894 15.2647 6.50079 14.9729C6.29794 14.5985 6.1323 14.2013 6.00872 13.7861C5.91407 13.468 5.6217 13.25 5.28988 13.25H4C3.30964 13.25 2.75 12.6904 2.75 12C2.75 11.3096 3.30964 10.75 4 10.75H5.28988C5.62169 10.75 5.91407 10.532 6.00872 10.2139C6.1323 9.79872 6.29794 9.40148 6.50079 9.02713C6.65894 8.73528 6.60643 8.37419 6.37171 8.13948L5.45926 7.22703C4.97111 6.73887 4.97111 5.94742 5.45926 5.45926C5.94742 4.97111 6.73887 4.97111 7.22703 5.45926L8.13948 6.37171C8.37419 6.60643 8.73528 6.65894 9.02713 6.50079C9.40149 6.29793 9.79873 6.13229 10.214 6.00872C10.532 5.91407 10.75 5.62169 10.75 5.28988V4ZM9.75 12C9.75 10.7574 10.7574 9.75 12 9.75C13.2426 9.75 14.25 10.7574 14.25 12C14.25 13.2426 13.2426 14.25 12 14.25C10.7574 14.25 9.75 13.2426 9.75 12ZM12 8.25C9.92893 8.25 8.25 9.92893 8.25 12C8.25 14.0711 9.92893 15.75 12 15.75C14.0711 15.75 15.75 14.0711 15.75 12C15.75 9.92893 14.0711 8.25 12 8.25Z" fill="currentColor"/> </svg> {{LANG settings}}</a>
		</li>
		<?php if ($pt->config->user_ads == 'on'): ?>
			<li>
				<a href="{{LINK ads}}" data-load="?link1=ads"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"> <path fill-rule="evenodd" clip-rule="evenodd" d="M14.05 6.39981C15.4667 5.33729 16.4616 4.59355 17.238 4.17166C18.0191 3.74713 18.3492 3.77688 18.559 3.88178C18.7688 3.98668 18.9907 4.2329 19.1198 5.11255C19.248 5.98675 19.25 7.22894 19.25 8.99981L19.25 12.9998C19.25 14.7707 19.248 16.0129 19.1198 16.8871C18.9907 17.7667 18.7688 18.013 18.559 18.1178C18.3492 18.2227 18.0191 18.2525 17.238 17.828C16.4616 17.4061 15.4667 16.6623 14.05 15.5998L12.75 14.6248L12.75 7.37481L14.05 6.39981ZM20.7442 14.676C20.733 15.6366 20.7002 16.4483 20.6039 17.1049C20.4565 18.1087 20.1256 19.0116 19.2298 19.4595C18.3341 19.9074 17.4132 19.6304 16.5217 19.1459C15.637 18.6651 14.5544 17.8532 13.2035 16.8399L13.15 16.7998L11.7502 15.75L9.75 15.75L9.75 19.5001C9.75 20.7427 8.74264 21.7501 7.5 21.7501C6.25736 21.7501 5.25 20.7427 5.25 19.5001L5.25 15.6911C2.98301 15.3315 1.25 13.3681 1.25 11C1.25 8.37663 3.37665 6.24998 6 6.24998L11.7498 6.24998L13.15 5.19981L13.2035 5.15969C14.5544 4.14648 15.637 3.3345 16.5217 2.85371C17.4132 2.36922 18.3341 2.09225 19.2298 2.54014C20.1256 2.98803 20.4565 3.89088 20.6039 4.89478C20.7002 5.55139 20.733 6.36309 20.7442 7.32369C22.4588 7.66891 23.75 9.18359 23.75 10.9998C23.75 12.8161 22.4588 14.3308 20.7442 14.676ZM20.75 13.1218C21.6239 12.8129 22.25 11.9795 22.25 10.9998C22.25 10.0202 21.6239 9.18675 20.75 8.87788C20.75 8.8962 20.75 8.91456 20.75 8.93296L20.75 8.99981L20.75 12.9998L20.75 13.0667M11.25 14.25L11.25 7.74999L6 7.74999C4.20507 7.74998 2.75 9.20506 2.75 11C2.75 12.7949 4.20507 14.25 6 14.25L11.25 14.25ZM6.75 15.7501L6.75 19.5001C6.75 19.9143 7.08579 20.2501 7.5 20.2501C7.91421 20.2501 8.25 19.9143 8.25 19.5001L8.25 15.7501L6.75 15.7501Z" fill="currentColor"/> </svg> {{LANG ads}}</a>
			</li>
		<?php endif; ?>
		<?php if (($pt->config->sell_videos_system == 'on')) {  ?>
		<!-- <li>
			<a href="{{LINK transactions}}" data-load="?link1=transactions">{{LANG transactions}}</a>
		</li> -->
		<?php } ?>
		<?php if (PT_IsAdmin() || $pt->user->admin != 0) { ?> 
			<li>
				<a href="{{LINK admin-cp/}}"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"> <path fill-rule="evenodd" clip-rule="evenodd" d="M16.4267 2.24998L16.5 2.25H18.5L18.5733 2.24998C18.966 2.24978 19.269 2.24963 19.5365 2.30284C20.6274 2.51983 21.4802 3.3726 21.6972 4.4635C21.7504 4.73101 21.7502 5.034 21.75 5.42673L21.75 5.5L21.75 5.57327C21.7502 5.966 21.7504 6.26899 21.6972 6.5365C21.4802 7.6274 20.6274 8.48017 19.5365 8.69716C19.269 8.75037 18.966 8.75022 18.5733 8.75002L18.5 8.75H16.5L16.4267 8.75002C16.034 8.75022 15.731 8.75037 15.4635 8.69716C14.3726 8.48017 13.5198 7.6274 13.3028 6.5365C13.2496 6.26899 13.2498 5.966 13.25 5.57328L13.25 5.5L13.25 5.42672C13.2498 5.034 13.2496 4.73101 13.3028 4.4635C13.5198 3.3726 14.3726 2.51983 15.4635 2.30284C15.731 2.24963 16.034 2.24978 16.4267 2.24998ZM16.5 3.75C15.9994 3.75 15.8586 3.75363 15.7561 3.77402C15.2603 3.87265 14.8727 4.26027 14.774 4.75614C14.7536 4.85862 14.75 4.9994 14.75 5.5C14.75 6.0006 14.7536 6.14138 14.774 6.24386C14.8727 6.73973 15.2603 7.12735 15.7561 7.22598C15.8586 7.24637 15.9994 7.25 16.5 7.25H18.5C19.0006 7.25 19.1414 7.24637 19.2439 7.22598C19.7397 7.12735 20.1273 6.73973 20.226 6.24386C20.2464 6.14138 20.25 6.0006 20.25 5.5C20.25 4.9994 20.2464 4.85862 20.226 4.75614C20.1273 4.26027 19.7397 3.87265 19.2439 3.77402C19.1414 3.75363 19.0006 3.75 18.5 3.75H16.5ZM6.5 2.25H6.46165C5.79208 2.24998 5.23335 2.24997 4.78102 2.29598C4.30755 2.34415 3.86818 2.44886 3.47218 2.71346C3.17191 2.91409 2.91409 3.17191 2.71346 3.47218C2.44886 3.86818 2.34415 4.30755 2.29598 4.78102C2.24997 5.23335 2.24998 5.79208 2.25 6.46165V6.5V8.5V8.53835C2.24998 9.20792 2.24997 9.76665 2.29598 10.219C2.34415 10.6925 2.44886 11.1318 2.71346 11.5278C2.91409 11.8281 3.17191 12.0859 3.47218 12.2865C3.86818 12.5511 4.30755 12.6559 4.78102 12.704C5.23335 12.75 5.79207 12.75 6.46164 12.75H6.5H6.53836C7.20793 12.75 7.76665 12.75 8.21898 12.704C8.69245 12.6559 9.13182 12.5511 9.52782 12.2865C9.82809 12.0859 10.0859 11.8281 10.2865 11.5278C10.5511 11.1318 10.6559 10.6925 10.704 10.219C10.75 9.76665 10.75 9.20792 10.75 8.53834L10.75 8.5V6.5L10.75 6.46166C10.75 5.79208 10.75 5.23335 10.704 4.78102C10.6559 4.30755 10.5511 3.86818 10.2865 3.47218C10.0859 3.17191 9.82809 2.91409 9.52782 2.71346C9.13182 2.44886 8.69245 2.34415 8.21898 2.29598C7.76665 2.24997 7.20792 2.24998 6.53835 2.25H6.5ZM4.30554 3.96066C4.41399 3.8882 4.57796 3.82438 4.93283 3.78828C5.30023 3.75091 5.78216 3.75 6.5 3.75C7.21784 3.75 7.69977 3.75091 8.06717 3.78828C8.42204 3.82438 8.58601 3.8882 8.69446 3.96066C8.83095 4.05186 8.94814 4.16905 9.03934 4.30554C9.1118 4.41399 9.17562 4.57796 9.21172 4.93283C9.24909 5.30023 9.25 5.78216 9.25 6.5V8.5C9.25 9.21784 9.24909 9.69977 9.21172 10.0672C9.17562 10.422 9.1118 10.586 9.03934 10.6945C8.94814 10.8309 8.83095 10.9481 8.69446 11.0393C8.58601 11.1118 8.42204 11.1756 8.06717 11.2117C7.69977 11.2491 7.21784 11.25 6.5 11.25C5.78216 11.25 5.30023 11.2491 4.93283 11.2117C4.57796 11.1756 4.41399 11.1118 4.30554 11.0393C4.16905 10.9481 4.05186 10.8309 3.96066 10.6945C3.8882 10.586 3.82438 10.422 3.78828 10.0672C3.75091 9.69977 3.75 9.21784 3.75 8.5V6.5C3.75 5.78216 3.75091 5.30023 3.78828 4.93283C3.82438 4.57796 3.8882 4.41399 3.96066 4.30554C4.05186 4.16905 4.16905 4.05186 4.30554 3.96066ZM5.5 15.25L5.42672 15.25C5.034 15.2498 4.73101 15.2496 4.4635 15.3028C3.3726 15.5198 2.51983 16.3726 2.30284 17.4635C2.24963 17.731 2.24978 18.034 2.24998 18.4267L2.25 18.5L2.24998 18.5733C2.24978 18.966 2.24963 19.269 2.30284 19.5365C2.51983 20.6274 3.3726 21.4802 4.4635 21.6972C4.73101 21.7504 5.034 21.7502 5.42673 21.75L5.5 21.75H7.5L7.57327 21.75C7.966 21.7502 8.26899 21.7504 8.5365 21.6972C9.6274 21.4802 10.4802 20.6274 10.6972 19.5365C10.7504 19.269 10.7502 18.966 10.75 18.5733L10.75 18.5L10.75 18.4267C10.7502 18.034 10.7504 17.731 10.6972 17.4635C10.4802 16.3726 9.6274 15.5198 8.5365 15.3028C8.26899 15.2496 7.966 15.2498 7.57328 15.25L7.5 15.25H5.5ZM4.75614 16.774C4.85862 16.7536 4.9994 16.75 5.5 16.75H7.5C8.0006 16.75 8.14138 16.7536 8.24386 16.774C8.73973 16.8727 9.12735 17.2603 9.22598 17.7561C9.24637 17.8586 9.25 17.9994 9.25 18.5C9.25 19.0006 9.24637 19.1414 9.22598 19.2439C9.12735 19.7397 8.73973 20.1273 8.24386 20.226C8.14138 20.2464 8.0006 20.25 7.5 20.25H5.5C4.9994 20.25 4.85862 20.2464 4.75614 20.226C4.26027 20.1273 3.87265 19.7397 3.77402 19.2439C3.75363 19.1414 3.75 19.0006 3.75 18.5C3.75 17.9994 3.75363 17.8586 3.77402 17.7561C3.87265 17.2603 4.26027 16.8727 4.75614 16.774ZM17.5 11.25L17.4617 11.25C16.7921 11.25 16.2334 11.25 15.781 11.296C15.3075 11.3441 14.8682 11.4489 14.4722 11.7135C14.1719 11.9141 13.9141 12.1719 13.7135 12.4722C13.4489 12.8682 13.3441 13.3075 13.296 13.781C13.25 14.2334 13.25 14.7921 13.25 15.4617L13.25 15.5V17.5L13.25 17.5383C13.25 18.2079 13.25 18.7666 13.296 19.219C13.3441 19.6925 13.4489 20.1318 13.7135 20.5278C13.9141 20.8281 14.1719 21.0859 14.4722 21.2865C14.8682 21.5511 15.3075 21.6559 15.781 21.704C16.2333 21.75 16.7921 21.75 17.4616 21.75H17.5H17.5384C18.2079 21.75 18.7667 21.75 19.219 21.704C19.6925 21.6559 20.1318 21.5511 20.5278 21.2865C20.8281 21.0859 21.0859 20.8281 21.2865 20.5278C21.5511 20.1318 21.6559 19.6925 21.704 19.219C21.75 18.7666 21.75 18.2079 21.75 17.5383V17.5V15.5V15.4617C21.75 14.7921 21.75 14.2334 21.704 13.781C21.6559 13.3075 21.5511 12.8682 21.2865 12.4722C21.0859 12.1719 20.8281 11.9141 20.5278 11.7135C20.1318 11.4489 19.6925 11.3441 19.219 11.296C18.7666 11.25 18.2079 11.25 17.5383 11.25L17.5 11.25ZM15.3055 12.9607C15.414 12.8882 15.578 12.8244 15.9328 12.7883C16.3002 12.7509 16.7822 12.75 17.5 12.75C18.2178 12.75 18.6998 12.7509 19.0672 12.7883C19.422 12.8244 19.586 12.8882 19.6945 12.9607C19.8309 13.0519 19.9481 13.169 20.0393 13.3055C20.1118 13.414 20.1756 13.578 20.2117 13.9328C20.2491 14.3002 20.25 14.7822 20.25 15.5V17.5C20.25 18.2178 20.2491 18.6998 20.2117 19.0672C20.1756 19.422 20.1118 19.586 20.0393 19.6945C19.9481 19.8309 19.8309 19.9481 19.6945 20.0393C19.586 20.1118 19.422 20.1756 19.0672 20.2117C18.6998 20.2491 18.2178 20.25 17.5 20.25C16.7822 20.25 16.3002 20.2491 15.9328 20.2117C15.578 20.1756 15.414 20.1118 15.3055 20.0393C15.169 19.9481 15.0519 19.8309 14.9607 19.6945C14.8882 19.586 14.8244 19.422 14.7883 19.0672C14.7509 18.6998 14.75 18.2178 14.75 17.5V15.5C14.75 14.7822 14.7509 14.3002 14.7883 13.9328C14.8244 13.578 14.8882 13.414 14.9607 13.3055C15.0519 13.169 15.169 13.0519 15.3055 12.9607Z" fill="currentColor"/> </svg> Admin Panel</a>
			</li> 
		<?php } ?>
		<li class="divider"></li>
		<li>
			<a href="{{LINK logout}}"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"> <path fill-rule="evenodd" clip-rule="evenodd" d="M8 1.2506H7.96421C7.05997 1.25059 6.33069 1.25058 5.7424 1.3039C5.13605 1.35885 4.60625 1.47515 4.125 1.753C3.55493 2.08213 3.08154 2.55552 2.75241 3.12559C2.47456 3.60685 2.35826 4.13665 2.3033 4.74299C2.24999 5.33127 2.24999 6.06053 2.25 6.96474V6.9648V7.00059L2.25 17.0006V17.0364C2.24999 17.9406 2.24998 18.6699 2.3033 19.2582C2.35826 19.8645 2.47455 20.3943 2.7524 20.8756C3.08154 21.4457 3.55493 21.9191 4.125 22.2482C4.60625 22.526 5.13605 22.6423 5.7424 22.6973C6.33069 22.7506 7.05995 22.7506 7.96418 22.7506H8H8.03582C8.94005 22.7506 9.66932 22.7506 10.2576 22.6973C10.8639 22.6423 11.3937 22.526 11.875 22.2482C12.4451 21.9191 12.9185 21.4457 13.2476 20.8756C13.5254 20.3943 13.6417 19.8645 13.6967 19.2582C13.75 18.6699 13.75 17.9406 13.75 17.0364V17.0006V16.0006C13.75 15.5864 13.4142 15.2506 13 15.2506C12.5858 15.2506 12.25 15.5864 12.25 16.0006V17.0006C12.25 17.949 12.2493 18.6102 12.2028 19.1228C12.1573 19.6251 12.0726 19.9107 11.9486 20.1256C11.7511 20.4676 11.467 20.7517 11.125 20.9492C10.9101 21.0732 10.6245 21.1579 10.1222 21.2034C9.60959 21.2499 8.94842 21.2506 8 21.2506C7.05158 21.2506 6.39041 21.2499 5.87779 21.2034C5.37549 21.1579 5.0899 21.0732 4.875 20.9492C4.53296 20.7517 4.24892 20.4676 4.05144 20.1256C3.92737 19.9107 3.8427 19.6251 3.79718 19.1228C3.75072 18.6102 3.75 17.949 3.75 17.0006L3.75 7.00059C3.75 6.05218 3.75072 5.39101 3.79718 4.87839C3.84271 4.37608 3.92737 4.0905 4.05145 3.8756C4.24892 3.53355 4.53296 3.24952 4.875 3.05204C5.0899 2.92796 5.37549 2.8433 5.87779 2.79777C6.39041 2.75131 7.05158 2.7506 8 2.7506C8.94842 2.7506 9.60959 2.75131 10.1222 2.79777C10.6245 2.8433 10.9101 2.92797 11.125 3.05204C11.467 3.24952 11.7511 3.53355 11.9486 3.8756C12.0726 4.0905 12.1573 4.37608 12.2028 4.87839C12.2493 5.39101 12.25 6.05218 12.25 7.0006V8.0006C12.25 8.41481 12.5858 8.7506 13 8.7506C13.4142 8.7506 13.75 8.41481 13.75 8.0006V7.0006V6.96482C13.75 6.06057 13.75 5.33129 13.6967 4.74299C13.6417 4.13665 13.5254 3.60685 13.2476 3.1256C12.9185 2.55552 12.4451 2.08213 11.875 1.753C11.3938 1.47515 10.8639 1.35885 10.2576 1.3039C9.66931 1.25058 8.94003 1.25059 8.03579 1.2506H8ZM17.5303 7.46978C17.2374 7.17688 16.7626 7.17688 16.4697 7.46978C16.1768 7.76267 16.1768 8.23754 16.4697 8.53044L19.1893 11.2501L8 11.2501C7.58579 11.2501 7.25 11.5859 7.25 12.0001C7.25 12.4143 7.58579 12.7501 8 12.7501L19.1893 12.7501L16.4697 15.4698C16.1768 15.7627 16.1768 16.2375 16.4697 16.5304C16.7626 16.8233 17.2374 16.8233 17.5303 16.5304L21.5303 12.5304C21.8232 12.2375 21.8232 11.7627 21.5303 11.4698L17.5303 7.46978Z" fill="currentColor"/> </svg> {{LANG log_out}}</a>
		</li>
	</ul>
</li>