<link href="{{CONFIG theme_url}}/js/lib/jquery-datatable/skin/bootstrap/css/dataTables.bootstrap.min.css" rel="stylesheet">
<script src="{{CONFIG theme_url}}/js/lib/jquery-datatable/jquery.dataTables.js"></script>
<script src="{{CONFIG theme_url}}/js/lib/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js"></script>



<?php if ($pt->config->credit_card == 'yes') { ?>
<script type="text/javascript" charset="utf8" src="https://js.stripe.com/v2/"></script>
<?php } ?>
<?php echo PT_LoadPage('third-party/paypal-demo'); ?>
<div class="user-ads-list-container">

	<div class="user-ads-list-header">
		<span class="pointer">
			<a href="{{LINK ads}}" data-load="?link1=ads">
				<i class="material-icons">dvr</i> {{LANG ads}}
			</a>
		</span>
		&nbsp;
		<span  class="pointer" title="Wallet">
			<a href="{{LINK balance}}" data-load="?link1=balance">
				<i class="material-icons">account_balance_wallet</i> {{LANG wallet}} ( <img src="/themes/default/img/chill-coin-gold.png" class="img-16"/> {{ME wallet}})
			</a>
		</span>
<!--		<span  class="pointer" title="{{LANG balance}}">-->
<!--			<a href="{{LINK balance}}" data-load="?link1=balance">-->
<!--				<i class="material-icons">account_balance_wallet</i> {{LANG balance}} ( <img src="/themes/default/img/diamond-coin.png" class="img-16"/> {{ME balance}})-->
<!--			</a>-->
<!--		</span>-->
		<a href="{{LINK ads/create}}" data-load="?link1=create_ads">
			<span class="create-ad-btn">
				<i class="fa fa-plus"></i> {{LANG create_ad}}
			</span>
		</a>
	</div>
	<div class="col-10">
		<div class="row">
			<div class="col-sm-6">
				<div class="dataTables_length" id="pt-user-ads-table_length">
					<label style="display: flex; align-items: center;">
						<span style="margin-right: 5px;">Show</span>
						<select value="10" id="limit-page" name="pt-user-ads-table_length" aria-controls="pt-user-ads-table"
								class="form-control input-sm" style="width: auto;">
							<option value="10">10</option>
							<option value="25">25</option>
							<option value="50">50</option>
							<option value="100">100</option>
						</select>
						<span style="margin-left: 5px;"> entries </span>
					</label>
				</div>
			</div>
			<div class="col-sm-6">
				<div id="pt-user-ads-table_filter" class="dataTables_filter" style="display:flex;justify-content:end">
					<label style="margin-right:10px; display: flex; align-items: center;">
						<span style="margin-right: 5px;"> Search: </span>
						<input type="search"
							   class="form-control input-sm"
							   placeholder=""
							   aria-controls="pt-user-ads-table">
					</label>
					<div style="display: flex; justify-content: end; margin-bottom: 5px; ">
						<span style="display: flex; align-items: center; margin-right: 5px;"> Status : </span>
						<div class="dropdown" style="text-transform: capitalize;">
							<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1"
									data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
								<span id="selected-status" style="text-transform: capitalize;"> All </span>
								<span class="caret"></span>
							</button>
							<ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
								<li><a onclick="onClickFilter(this, 'all' )"> all </a></li>
								<?php global $StatusAds; foreach ($StatusAds as $key => $status) { if($status !=
								$StatusAds->Deleted){ ?>
								<li>
									<a onclick="onClickFilter(this, '<?php echo $status ?>' )"> <?php echo $status  ?> </a>
								</li>
								<?php }} ?>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>

		<table class="table" id="pt-user-ads-table">
			<thead>
				<th >
					{{LANG status}}
				</th>
				<th>
					{{LANG category}}
				</th>
				<th >
					<a onclick="onClickOrderBy('Name')"> {{LANG name}} </a>
				</th>
				<th >
					<a onclick="onClickOrderBy('Impression')"> {{LANG impression_user_ads}} </a>
				</th>
				<th >
					<a onclick="onClickOrderBy('Reach')"> {{LANG reach_user_ads}} </a>
				</th>
<!--				<th>-->
<!--					{{LANG results}}-->
<!--				</th>-->
				<th>
					<a onclick="onClickOrderBy('Clicks')"> {{LANG clicks_user_ads}} </a>
				</th>
<!--				<th>-->
<!--					{{LANG engagement_user_ads}}-->
<!--				</th>-->
				<th>
					<a onclick="onClickOrderBy('Budget')"> {{LANG budget_user_ads}} </a>
				</th>
				<th>
					<a onclick="onClickOrderBy('Spent')"> {{LANG spent}} </a>
				</th>
				<th>
					{{LANG action}}
				</th>
			</thead>
			<tbody> </tbody>
		</table>

		<div class="row">
			<div class="col-sm-5">
				<div class="dataTables_info" id="pt-user-ads-table_info" role="status" aria-live="polite">
					<span> Showing <span id="page-start"> 0 </span> to <span id="page-end">0</span> of <span id="page-total">0</span> entries </span>
				</div>
			</div>
			<div class="col-sm-7">
				<div class="dataTables_paginate paging_simple_numbers" id="pt-user-ads-table_paginate" style="display: flex; justify-content: end;">
					<ul class="pagination">
						<li  class="paginate_button previous disabled" id="pt-user-ads-table_previous">
							<a aria-controls="pt-user-ads-table" data-dt-idx="0" tabindex="0">Previous</a>
						</li>
						<li  class="paginate_button active">
							<a id="page-index" aria-controls="pt-user-ads-table" data-dt-idx="1" tabindex="0">1</a>
						</li>
						<li class="paginate_button next" id="pt-user-ads-table_next">
							<a  aria-controls="pt-user-ads-table" data-dt-idx="2" tabindex="0">Next</a>
						</li>
					</ul>
				</div>
			</div>
		</div>

	</div>
</div>
<br>
<div class="modal fade matdialog" id="2checkout_modal" role="dialog" data-keyboard="false" style="overflow-y: auto;">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg></span></button>
				<h4 class="modal-title">{{LANG checkout_text}}</h4>
			</div>
			<form class="form form-horizontal" method="post" id="2checkout_form" action="#">
				<div class="modal-body twocheckout_modal">
					<div id="2checkout_alert"></div>
					<div class="clear"></div>
					<div class="sun_input col-md-6">
						<input id="card_name" type="text" class="form-control input-md" autocomplete="off" placeholder="{{LANG name}}" value="<?php echo($pt->user->name) ?>">
					</div>
					<div class="sun_input col-md-6">
						<input id="card_address" type="text" class="form-control input-md" autocomplete="off" placeholder="{{LANG address}}" value="<?php echo($pt->user->address) ?>">
					</div>
					<div class="sun_input col-md-6">
						<input id="card_city" type="text" class="form-control input-md" autocomplete="off" placeholder="{{LANG city}}" value="<?php echo($pt->user->city) ?>">
					</div>
					<div class="sun_input col-md-6">
						<input id="card_state" type="text" class="form-control input-md" autocomplete="off" placeholder="{{LANG state}}" value="<?php echo($pt->user->state) ?>">
					</div>
					<div class="sun_input col-md-6">
						<input id="card_zip" type="text" class="form-control input-md" autocomplete="off" placeholder="{{LANG zip}}" value="<?php echo($pt->user->zip) ?>">
					</div>
			        <div class="sun_input col-md-6">
			             <select id="card_country" name="card_country" class="form-control">{{COUNTRIES}}</select>
			        </div>
					<div class="sun_input col-md-6">
						<input id="card_email" type="text" class="form-control input-md" autocomplete="off" placeholder="{{LANG email}}" value="<?php echo($pt->user->email) ?>">
					</div>
					<div class="sun_input col-md-6">
						<input id="card_phone" type="text" class="form-control input-md" autocomplete="off" placeholder="{{LANG phone_number}}" value="<?php echo($pt->user->phone_number) ?>">
					</div>
					<div class="clear"></div>
					<hr>
					<div class="row two_check_card">
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M20,8H4V6H20M20,18H4V12H20M20,4H4C2.89,4 2,4.89 2,6V18A2,2 0 0,0 4,20H20A2,2 0 0,0 22,18V6C22,4.89 21.1,4 20,4Z" /></svg>
						<div class="sun_input col-xs-12">
							<input id="_number_" type="text" class="form-control input-md" autocomplete="off" placeholder="{{LANG card_number}}">
							<input id="card_number" name="card_number" type="hidden" class="form-control input-md" autocomplete="off">
						</div>
						<div class="sun_input col-xs-4">
							<select id="card_month" name="card_month" type="text" class="form-control input-md" autocomplete="off" placeholder="{{LANG month}} (01)">
								<option value="01">01</option>
								<option value="02">02</option>
								<option value="03">03</option>
								<option value="04">04</option>
								<option value="05">05</option>
								<option value="06">06</option>
								<option value="07">07</option>
								<option value="08">08</option>
								<option value="09">09</option>
								<option value="10">10</option>
								<option value="11">11</option>
								<option value="12">12</option>
							</select>
						</div>
						<div class="sun_input col-xs-4 no-padding-both">
							<select id="card_year" name="card_year" type="text" class="form-control input-md" autocomplete="off" placeholder="{{LANG year}} (2019)">
				                <?php for ($i=date('Y'); $i <= date('Y')+15; $i++) {  ?>
									<option value="<?php echo($i) ?>"><?php echo($i) ?></option>
								<?php } ?>
				            </select>
						</div>
						<div class="sun_input col-xs-4">
							<input id="card_cvc" name="card_cvc" type="text" class="form-control input-md" autocomplete="off" placeholder="CVC" maxlength="3" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
						</div>
					</div>
					<div class="clear"></div>
					<input type="text" id="2checkout_type" class="hidden" name="type">
					<input id="card_token" name="token" type="hidden" value="">
				</div>
				<div class="clear"></div>
				<div class="modal-footer">
					<div class="ball-pulse"><div></div><div></div><div></div></div>
					<button type="button" class="btn btn-main" onclick="tokenRequest()" id="2checkout_btn">{{LANG pay}}</button>
				</div>
			</form>
		</div>
	</div>
</div>



<?php echo PT_LoadPage('modals/stripe_modal'); ?>



<script>
	var timeout;
	var sort = 'ASC';
	var orderBy = 'CreatedTime';

	function onClickOrderBy(orderSort){
		setPage("reset_page");
		sort = sort === "DESC" ? "ASC" : "DESC";
		orderBy = orderSort;
		getListByFilter()
	}

	function onChangeStatusAds(self, ad_id){
		let api_url = "<?php global $api_url; echo $api_url;?>";
		$.ajax({
			type: 'POST',
			url: api_url + '/v1/user-ads/update-status',
			contentType: 'application/json',
			data: JSON.stringify({ ad_id, status : self.value  }),
			beforeSend: function(xhr) {
				xhr.setRequestHeader ("Authorization",  'Bearer <?php echo get_jwt_token(); ?>' );
			}
		});
	}


	$('#pt-user-ads-table_filter label input').keyup(function() {
		setPage("reset_page");
		getListByFilter();
	});

	$('#limit-page').on('change', function() {
		let element = document.getElementById("limit-page");
		element.value = this.value;
		setPage("reset_page");
		getListByFilter();
	});


	$( "#pt-user-ads-table_previous" ).click(function() {
		setPage("prev_page");
		getListByFilter();
	});

	$( "#pt-user-ads-table_next" ).click(function() {
		setPage("next_page");
		getListByFilter();
	});

	function setPage(page_action){
		let page = $("#page-index").attr("data-dt-idx");
		if(page_action === "next_page"){
			page = parseInt(page) + 1
		}else if(page_action === "prev_page"){
			page = parseInt(page) - 1
		}else if(page_action === "reset_page"){
			page = 1;
		}
		$("#page-index").attr("data-dt-idx", page );
		$("#page-index").text(page);
	}

	function onClickFilter(self, status){
		$("#selected-status").text(status)
		setPage("reset_page");
		getListByFilter();
	}

	function getListByFilter() {
		const limit = $("#limit-page").val();
		const page = $("#page-index").attr("data-dt-idx");
		const status = $("#selected-status").text().toLowerCase() ;
		const valueSearch = $("#pt-user-ads-table_filter label input").val();

		clearTimeout(timeout);
		timeout = setTimeout(function() {
			$.ajax({
				type: 'POST',
				url: '{{LINK aj/ads/filter-list}}?hash=' + $('.main_session').val(),
				data: { status, limit, page, value_search : valueSearch , order_by : orderBy, sort  },
				dataType: 'json',
				success: function(data) {
					if(data.status === 200){
						$("#page-start").text(data['page_start']);
						$("#page-end").text(data['page_end']);
						$("#page-total").text(data['total']);
						$("tbody").html(data['list_ads']);

						if(data['disable_page_next'] === true){
							$("#pt-user-ads-table_next").addClass("disabled");
							$("#pt-user-ads-table_next").css({ "pointer-events" : "none" });
						}else{
							$("#pt-user-ads-table_next").removeClass("disabled");
							$("#pt-user-ads-table_next").css({ "pointer-events" : "auto" });
						}

						if(data['disable_page_prev'] === true){
							$("#pt-user-ads-table_previous").addClass("disabled");
							$("#pt-user-ads-table_previous").css({ "pointer-events" : "none" });
						}else{
							$("#pt-user-ads-table_previous").removeClass("disabled");
							$("#pt-user-ads-table_previous").css({ "pointer-events" : "auto" });
						}

					}
				}
			});
		}, 250)
	}



	<?php if ($pt->config->credit_card == 'yes') { ?>
		var stripe_array = [];
		Stripe.setPublishableKey('{{CONFIG stripe_id}}');

		function SH_StripeCardRequest() {
			$('#stripe_btn').text("{{LANG please_wait}}");
			$('#stripe_btn').attr('disabled', 'true');
			if ($("#stripe_name").val() != '' && $("#stripe_email").val() != '' && $("#stripe_number").val() != '' && $("#stripe_month").val() != '' && $("#stripe_year").val() != '' && $("#stripe_cvc").val() != '') {

				stripe_array['stripe_name'] = $('#stripe_name').val();
				stripe_array['stripe_email'] = $('#stripe_email').val();
				stripe_array['stripe_number'] = $('#stripe_number').val();
				stripe_array['stripe_month'] = $('#stripe_month').val();
				stripe_array['stripe_year'] = $('#stripe_year').val();
				stripe_array['stripe_cvc'] = $('#stripe_cvc').val();
				Stripe.createToken({
		            number: $('#stripe_number').val(),
		            exp_month: $('#stripe_month').val(),
		            exp_year: $('#stripe_year').val(),
		            cvc: $('#stripe_cvc').val()
		        }, SH_StripeCardResponseHandler);
			}
			else{
				$('#stripe_alert').html('<div class="alert alert-danger">{{LANG please_check_details}}</div>');
				$('#stripe_btn').text("{{LANG pay}}");
				$('#stripe_btn').removeAttr('disabled');
			}
		}
		function SH_StripeCardResponseHandler(status, response) {
		    if (response.error) {
		    	$('#stripe_alert').html('<div class="alert alert-danger">'+response.error.message+'</div>');
				$('#stripe_btn').text("{{LANG pay}}");
				$('#stripe_btn').removeAttr('disabled');
		    } else {
		    	stripe_array['token'] = response.id;
		    	$.post('{{LINK aj/wallet/stripe_replenish}}', {'stripe_name': stripe_array['stripe_name'],'stripe_email': stripe_array['stripe_email'],'stripe_number': stripe_array['stripe_number'],'stripe_month': stripe_array['stripe_month'],'stripe_year': stripe_array['stripe_year'],'stripe_cvc': stripe_array['stripe_cvc'],stripeToken:stripe_array['token'],amount:stripe_array['amount']}, function (data) {
		          	if (data.status == 200) {
		          	 	window.location.href = data.url;
		          	} else {
		          	 	$('#stripe_alert').html('<div class="alert alert-danger"><i class="fa fa-spin fa-spinner"></i> {{LANG payment_declined}}</div>');
		          	}
		        });
		    }
		}

	<?php } ?>

	$(document).ready( function () {
		$('#pt-user-ads-table').DataTable({
			searching: false,
			paging: false,
			info: false,
			ordering: false,
		});
		$('#pt-user-ads-table').on( 'page.dt', function () {
		    PT_Delay(function(){
		    	$('#pt-user-ads-table').find('[type="checkbox"]').each(function(index, el) {
			    	$(el).bootstrapToggle();
			    });
		    },50)
		});

		getListByFilter();
	});


	var amount;

	function PT_ReplenishWallet() {
		swal({
		  html:$('.replenish-wallet-form').clone().addClass('clone').removeClass('hidden'),
		  showCloseButton: true,
		  showCancelButton: true,
		  focusConfirm: false,
		  confirmButtonText:"<i class='fa fa-paypal'></i> {{LANG replenish}}",
		  cancelButtonText:"<i class='fa fa-ban'></i> {{LANG cancel}}",
		  buttonsStyling:false,
		  confirmButtonClass:'btn btn-success pull-left margin-right',
		  cancelButtonClass:"btn btn-default pull-left",
		  allowOutsideClick:false,
		  showLoaderOnConfirm: true,
		  preConfirm: function () {
		    return new Promise(function (resolve, reject) {
		    	amount = $(".replenish-wallet-form.clone").find('input').val();
		    	if (!amount || amount < 1){
		    		reject("{{LANG please_check_details}}!");
		    	}
		    	else{
		    		$('#wallet_amount').val(amount);
		    		swal.close();
		    		PT_ShowMethods('wallet');
		    	}
		    })
		  }
		}).then(function(){/*pass*/},function(){/*pass*/});
	}
	function PT_ReplenishBalance() {
		swal({
		  html:$('.replenish-balance-form').clone().addClass('clone').removeClass('hidden'),
		  showCloseButton: true,
		  showCancelButton: false,
		  focusConfirm: false,
		  confirmButtonText:"{{LANG replenish}}",
		  buttonsStyling:false,
		  confirmButtonClass:'btn btn-success',
		  allowOutsideClick:false,
		  showLoaderOnConfirm: true,
		  preConfirm: function () {
		    return new Promise(function (resolve, reject) {
		    	amount = $(".replenish-balance-form.clone").find('input').val();
		    	if ({{ME balance_or}} < 1) {
		    		reject("{{LANG no_balance_to_move}}!");
		    	}
		    	else if (!amount || amount < 1){
		    		reject("{{LANG please_check_details}}!");
		    	}
		    	else if(amount > {{ME balance_or}}){
		    		reject("{{LANG more_than_balance}}!");
		    	}
		    	else{
		    		$.post('{{LINK aj/wallet/move_to_wallet}}', {amount: amount}, function(data, textStatus, xhr) {
		    			if (data.status == 200) {
		    				location.reload();
		    			}
		    			else{
		    				reject(data.message);
		    			}
		    		});
		    	}
		    })
		  }
		}).then(function(){/*pass*/},function(){/*pass*/});
	}

	function PT_DeleteAd(id){
		if (!id) {
			return false;
		}
		swal({
		  title: '{{LANG confirmation}}',
		  text: "{{LANG confirm_delete_ad}}",
		  type: 'warning',
		  showCloseButton: true,
		  showCancelButton: true,
		  focusConfirm: false,
		  confirmButtonText:"<i class='material-icons'>delete</i> {{LANG delete}}!",
		  cancelButtonText:"<i class='fa fa-ban'></i> {{LANG cancel}}",
		  buttonsStyling:false,
		  confirmButtonClass:'btn btn-success margin-right',
		  cancelButtonClass:"btn btn-default",
		  allowOutsideClick:false,
		}).then(function (){
			$.post('{{LINK aj/ads/delete}}', {id:id}, function(data, textStatus, xhr) {/* pass */});
			$("tr[data-ads-list='"+id+"']").slideUp(function(){
				$(this).remove();
				swal({
					title:'{{LANG deleted}}',
				    type:'success',
				    buttonsStyling:false,
				    confirmButtonClass:'btn btn-success',
				});
			});
		});
	}

	function PT_ToggleAdsStatus(id){
		if (!id) {
			return false;
		}
		$.post('{{LINK aj/ads/toggle-stat}}', {id:id}, function(data, textStatus, xhr) {/* pass */});
	}


<?php if ($pt->config->checkout_payment == 'yes') { ?>
	// Called when token created successfully.
	var successCallback = function(data) {
		amount = $("#wallet_amount").val();
	    var myForm = document.getElementById('2checkout_form');
	    $.post('{{LINK aj/wallet/checkout_replenish}}', {card_number: $("#card_number").val(),card_cvc: $("#card_cvc").val(),card_month: $("#card_month").val(),card_year: $("#card_year").val(),card_name: $("#card_name").val(),card_address: $("#card_address").val(),card_city: $("#card_city").val(),card_state: $("#card_state").val(),card_zip: $("#card_zip").val(),card_country: $("#card_country").val(),card_email: $("#card_email").val(),card_phone: $("#card_phone").val(),type: 'wallet',token: data.response.token.token,amount:amount}, function(data, textStatus, xhr) {
	    	$('#2checkout_btn').html("{{LANG pay}}");
	    	$('#2checkout_btn').attr('disabled');
	    	$('#2checkout_btn').removeAttr('disabled');
	    	$('#2checkout_form').find('.ball-pulse').fadeOut(100);
	    	if (data.status == 200) {
	      	 	window.location.href = data.url;
	      	} else {
	      	 	$('#2checkout_alert').html("<div class='alert alert-danger'>"+data.error+"</div>");
				setTimeout(function () {
					$('#2checkout_alert').html("");
				},3000);
	      	}
	    	/*optional stuff to do after success */
	    });
	};

	// Called when token creation fails.
	var errorCallback = function(data) {
		$('#2checkout_btn').html("{{LANG pay}}");
		$('#2checkout_btn').removeAttr('disabled');
		$('#2checkout_form').find('.ball-pulse').fadeOut(100);
	    if (data.errorCode === 200) {
	        tokenRequest();
	    } else {
	    	$('#2checkout_alert').html("<div class='alert alert-danger'>"+data.errorMsg+"</div>");
			setTimeout(function () {
				$('#2checkout_alert').html("");
			},3000);
	    }
	};

	var tokenRequest = function() {
		$('#card_number').val($('#_number_').val());
		$('#2checkout_btn').html("{{LANG please_wait}}");
		$('#2checkout_btn').attr('disabled','true');
		if ($("#card_number").val() != '' && $("#card_cvc").val() != '' && $("#card_month").val() != '' && $("#card_year").val() != '' && $("#card_name").val() != '' && $("#card_address").val() != '' && $("#card_city").val() != '' && $("#card_state").val() != '' && $("#card_zip").val() != '' && $("#card_country").val() != 0 && $("#card_email").val() != '' && $("#card_phone").val() != '') {
			$('#2checkout_form').find('.ball-pulse').fadeIn(100);
			// Setup token request arguments
		    var args = {
		        sellerId: "<?php echo($pt->config->checkout_seller_id) ?>",
		        publishableKey: "<?php echo($pt->config->checkout_publishable_key) ?>",
		        ccNo: $("#card_number").val(),
		        cvv: $("#card_cvc").val(),
		        expMonth: $("#card_month").val(),
		        expYear: $("#card_year").val()
		    };

		    // Make the token request
		    TCO.requestToken(successCallback, errorCallback, args);
		}
		else{
			$('#2checkout_btn').html("{{LANG pay}}");
			$('#2checkout_btn').removeAttr('disabled');
			$('#2checkout_alert').html("<div class='alert alert-danger'>{{LANG please_check_details}}</div>");
			setTimeout(function () {
				$('#2checkout_alert').html("");
			},3000);

		}


	};

	$(function() {
	    // Pull in the public encryption key for our environment
	    TCO.loadPubKey("<?php echo($pt->config->checkout_mode) ?>");
	});
<?php } ?>
	function PT_OpenStripe(pkg,self,video_id = 0,price = 0){

		$('#pay-go-pro').modal('hide');
		$('#stripe_modal').modal('show');
		stripe_array['amount'] = $("#wallet_amount").val()+'00';
	 }


	  $(document).on('click', '#select-img', function(event) {
		$("#thumbnail").click()
	});
	$(document).on('change', '#thumbnail', function(event) {
		let imgPath = $(this)[0].files[0].name;
	    if (typeof(FileReader) != "undefined") {
	        let reader = new FileReader();
	        reader.onload = function(e) {
				$('#receipt_img_preview').attr('src', e.target.result);
	        }
	        reader.readAsDataURL(this.files[0]);
	    }
		$('#bank_transfer_modal').addClass('up_rec_img_ready');
	});

	jQuery(document).ready(function($) {
		$('#bank_transfer_form').ajaxForm({
		  url: '{{LINK aj/wallet/bank_replenish}}',
		  beforeSend: function() {
		    $('#bank_transfer_form').find('.ball-pulse').fadeIn(100);
		    $('#bank_transfer_form').find('.btn-main').text("{{LANG please_wait}}").attr('disabled', 'true');
		  },
		  success: function(data) {
		    if (data['status'] == 200) {
		    	$("#blog-alert").html('<div class="alert alert-success">'+ data['message'] +'</div>');
		    	setTimeout(function () {
		    		window.location = "<?php echo $pt->config->site_url;?>";
		    		$(".prv-img").html('<div class="thumbnail-rendderer"><div><div class="error-text-renderer"></div><div><p>{{LINK browse_to_upload}}</p></div></div> </div>');
		    		$("#blog-alert").html('');
		    		$('#configreset').click();

		    	},3000)
		    } else if (data['message']) {
		      $("#blog-alert").html('<div class="alert alert-danger">' + data['message'] + '</div>');
		    }
		    $('#bank_transfer_form').find('.ball-pulse').fadeOut(100);
		    $('#bank_transfer_form').find('.btn-main').text("{{LANG publish}}");
            $('#bank_transfer_form').find('.btn-main').removeAttr('disabled');
		}});
	});

	 function PT_OpenBank(pkg,self,video_id = 0,price = 0){
	    if (!pkg || !self) {
	      return false;
	    }
	    amount = $("#wallet_amount").val()+'00';
	    $('#bank_transfer_amount').val(amount)
	    $(self).text("{{LANG please_wait}}").attr('disabled', 'true');
	    $('#pay-go-pro').modal('hide');
	    $('#configreset').click();
		$("#blog-alert").html('');
    	$('#pay-go-pro').modal('hide');
    	$('#bank_transfer_modal').modal({
             show: true
            });
	}

</script>

<form class="replenish-wallet-form hidden">
	<div class="form-group">
		<label>
			<span>{{LANG my_balance}}</span> <strong>{{CURRENCY}}{{ME wallet}}</strong>
		</label>
	</div>
	<div class="form-group">
		<small>{{LANG replenish_my_balance}}</small>
		<input type="number" class="form-control" placeholder="{{LANG amount}}">
	</div>
</form>
<form class="replenish-balance-form hidden">
	<div class="form-group">
		<label>
			<span>{{LANG my_balance}}</span> <strong>{{CURRENCY}}{{ME balance}}</strong>
		</label>
	</div>
	<div class="form-group">
		<small>{{LANG move_balance_to_wallet}}</small>
		<input type="number" class="form-control" placeholder="{{LANG amount}}">
	</div>
</form>



<div class="modal fade matdialog" id="bank_transfer_modal" role="dialog" data-keyboard="false" style="overflow-y: auto;">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg></span></button>
				<h4 class="modal-title">{{LANG bank_transfer}}</h4>
			</div>
			<form class="form form-horizontal" method="post" id="bank_transfer_form" action="#">
				<div id="blog-alert"></div>
				<div class="modal-body dt_bank_trans_modal">


					<?php echo html_entity_decode($pt->config->bank_description);?>

					<?php if (!empty($pt->config->bank_transfer_note)) { ?>
						<div class="dt_user_profile hide_alert_info_bank_trans">
							<span class="valign-wrapper">
								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M13,13H11V7H13M13,17H11V15H13M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2Z"></path></svg> Note:
							</span>
							<ul class="dt_prof_vrfy">
								<li><?php echo $pt->config->bank_transfer_note;?></li>
							</ul>
						</div>
					<?php } ?>
					<p class="dt_bank_trans_upl_rec"><a href="javascript:void(0);" onclick="$('#bank_transfer_modal').addClass('up_rec_active'); return false"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M14,2H6A2,2 0 0,0 4,4V20A2,2 0 0,0 6,22H18A2,2 0 0,0 20,20V8L14,2M13.5,16V19H10.5V16H8L12,12L16,16H13.5M13,9V3.5L18.5,9H13Z"></path></svg> {{LANG upload}}</a></p>
					<div class="upload_bank_receipts">
						<div onclick="document.getElementById('thumbnail').click(); return false">
							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M14,2H6A2,2 0 0,0 4,4V20A2,2 0 0,0 6,22H18A2,2 0 0,0 20,20V8L14,2M13.5,16V19H10.5V16H8L12,12L16,16H13.5M13,9V3.5L18.5,9H13Z"></path></svg>
							<p>{{LANG browse_to_upload}}</p>
							<img id="receipt_img_preview" src="">
						</div>
					</div>
					<input type="file" class="hidden" id="thumbnail" name="thumbnail" accept="image/*">
					<input name="image" type="file" id="upload" class="hidden">
					<input name="type" type="hidden" id="bank_transfer_type" class="hidden">
					<input name="description" type="hidden" id="bank_transfer_des" class="hidden">
					<input name="amount" type="hidden" id="bank_transfer_amount" class="hidden">
					<input type="reset" id="configreset" value="Reset" class="hidden">
				</div>
				<div class="modal-footer">
					<div class="ball-pulse"><div></div><div></div><div></div></div>
					<button type="submit" class="btn btn-main">{{LANG publish}}</button>
				</div>
			</form>
		</div>
	</div>
</div>
