<tr data-ads-list="{{ID}}">
<!--	<td >-->
<!--		<div onclick="PT_ToggleAdsStatus('{{ID}}');">-->
<!--			<label>-->
<!--				<input type="checkbox" {{ACTIVE}} data-toggle="toggle" data-onstyle="main" data-offstyle="warning" data-on="|" data-off='<i class="fa fa-circle-o"></i>'>-->
<!--			</label>-->
<!--		</div>-->
<!--	</td>-->
	<td>
		<?php global $StatusAds; if($pt->status_ad == $StatusAds->On || $pt->status_ad == $StatusAds->Off ){ ?>
			<div style="display: flex;">
				<select name="status_ads_{{ID}}" id="status_ads_{{ID}}"
						style="text-transform: capitalize; " onchange="onChangeStatusAds(this, {{ID}});" >
					<?php global $StatusAds; foreach ($StatusAds as $key => $status) {
							if($status == $StatusAds->On || $status == $StatusAds->Off ){
					?>
						<option value="<?php echo $status ?>" <?php if($pt->status_ad == $status){ ?> selected <?php } ?> >
							<?php echo $status  ?>
						</option>
					<?php }} ?>
				</select>
			</div>
		<?php }else{ ?>
				{{STATUS}}
		<?php } ?>

	</td>
	<td >
		<i class="material-icons ad-category">{{TYPE}}</i>
	</td>
	<td width="25%">
		{{NAME}}
	</td>
	<td >
		{{IMPRESSION}}
	</td>
	<td >
		 {{REACH}}
	</td>
<!--	<td width="15%">-->
<!--		<span class="results">-->
<!--			<strong>{{RESULTS}}</strong>-->
<!--		</span>-->
<!--		<span class="results">-->
<!--			{{PR_METHOD}}-->
<!--		</span>-->
<!--	</td>-->
	<td >
		{{CLICKS}}
	</td>
<!--	<td >-->
<!--		{{ENGAGEMENT}}-->
<!--	</td>-->
	<td >
		<span class="spends">
<!--			 {{CURRENCY}}-->
			<img src="/themes/default/img/chill-coin-gold.png" class="img-16"/>
			{{LIFETIME_LIMIT}}
		</span>
	</td>
	<td >
		<span class="spends">
<!--			{{CURRENCY}}-->
			<img src="/themes/default/img/chill-coin-gold.png" class="img-16"/>
			{{SPENT}}
		</span>
	</td>
	<td >
		<span class="action" onclick="PT_DeleteAd('{{ID}}');">
			<i class="material-icons">delete</i>
		</span>
		<?php global $StatusAds; if($pt->status_ad == $StatusAds->Waiting ){ ?>
			<span class="action">
				<a href="{{LINK ads/edit/{{ID}}}}" data-load="?link1=edit_ads&id={{ID}}"><i class="material-icons">mode_edit</i></a>
			</span>
		<?php }else{ ?>
			<span class="action">
				<a href="{{LINK ads/edit/{{ID}}}}" data-load="?link1=edit_ads&id={{ID}}"> <i class="fa fa-eye" aria-hidden="true"></i> </a>
			</span>
		<?php } ?>
		<span class="action">
			<a href="{{LINK ads/analytics/{{ID}}}}" data-load="?link1=ads_analytics&id={{ID}}"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trending-up"><polyline points="23 6 13.5 15.5 8.5 10.5 1 18"></polyline><polyline points="17 6 23 6 23 12"></polyline></svg></a>
		</span>
	</td>
</tr>