<div class="sidebar-ad-container">
	<a href="{{URL}}" target="_blank">
		<div class="sidebar-ad-inner" style="">
			<img src="{{IMG}}" alt="{{TITLE}}">
			<div class="info">
				<h5>{{TITLE}}</h5>
				<p>{{DESC}}</p>
				<div>
					<span class="pull-left">
						<span style="color: black; font-weight: 500; font-size: 14px;"> {{LANG title_advertising}} </span>
						<span> . </span>
<!--						<img src="{{CONFIG site_url}}/themes/{{CONFIG theme}}/img/promote.png" width="15px" height="15px">-->
						<span>By {{NAME}} </span>
					</span>
					<span class="pull-right">{{URL_NAME}} <i class="fa fa-external-link"></i></span>
				</div>
			</div>
		</div>
	</a>
</div>


<script>

	$(document).ready(function() {
		<?php if(!$pt->is_video_of_user && !$pt->is_ads_sidebar_of_user ){ ?>
			Fingerprint2.get(function(components) {
				var murmur = Fingerprint2.x64hash128(components.map(function (pair) {
					return pair.value
				}).join(), 31);

				rewardInteractAds({
					action: 'impression',
					api_url: "<?php global $api_url; echo $api_url;?>",
					ads_id: {{ID}},
				fingerprint: murmur,
						video_key : '{{VIDEO_KEY}}',
						token : "<?php echo get_jwt_token(); ?>"
			});

				rewardInteractAds({
					action: 'reach',
					api_url: "<?php global $api_url; echo $api_url;?>",
					ads_id: {{ID}},
				fingerprint: murmur,
						video_key : '{{VIDEO_KEY}}',
						token : "<?php echo get_jwt_token(); ?>"
			});
			});

			$( ".sidebar-ad-container" ).click(function() {
				Fingerprint2.get(function(components) {
					var murmur = Fingerprint2.x64hash128(components.map(function (pair) {
						return pair.value
					}).join(), 31);

					rewardInteractAds({
						action: 'click',
						api_url: "<?php global $api_url; echo $api_url;?>",
						ads_id: {{ID}},
					fingerprint: murmur,
							video_key : '{{VIDEO_KEY}}',
							token : "<?php echo get_jwt_token(); ?>"
				});

					rewardInteractAds({
						action: 'engagement',
						api_url: "<?php global $api_url; echo $api_url;?>",
						ads_id: {{ID}},
					fingerprint: murmur,
							video_key : '{{VIDEO_KEY}}',
							token : "<?php echo get_jwt_token(); ?>"
				});
				});
			});
		<?php } ?>
	});

</script>