<link rel="stylesheet" href="{{CONFIG theme_url}}/css/pages/subscriptions.css?version={{CONFIG version}}&css_version={{CONFIG css_version}}">

<div class="content">
	<div class="col-md-12">
		<div class="upload-head">
			<h4><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-list"><line x1="8" y1="6" x2="21" y2="6"></line><line x1="8" y1="12" x2="21" y2="12"></line><line x1="8" y1="18" x2="21" y2="18"></line><line x1="3" y1="6" x2="3" y2="6"></line><line x1="3" y1="12" x2="3" y2="12"></line><line x1="3" y1="18" x2="3" y2="18"></line></svg> {{LANG subscriptions}}</h4>
			<hr>
		</div>
		<div class="subscriptions-list">
			<div class="author-list row pt_subscription">
      		{{SUBSCRIPTION_LIST}}
			</div>
			<?php if (is_array($pt->videos)) { if (count($pt->videos) > 5) { ?>
            <div class="watch-video-show-more desc load-more" data-type="subscriptions">
                {{LANG show_more}}
            </div>
			<?php }} ?>
		</div>
		<div class="clear"></div>
	</div>
	<div class="clear"></div>
</div>
