<style>
.pt_footer {display: none;}
body {overflow: hidden;}
.container {width: 100%;padding: 0;}

.shorts_events{
	display: -webkit-flex;
	-webkit-align-items: flex-end;
}

</style>
<div class="roww">
	<div class="col-md-3w"></div>
	<div class="col-md-6w">
		<h4 class="pt_main_chnl_content_title pt_shorts_page_title">
			<span>
				<svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 64 64"><defs><style>.cls-1{fill:url(#linear-gradient);}.cls-2{fill:#fff;}.cls-3{fill:url(#linear-gradient-2);}</style><linearGradient id="linear-gradient" x1="58.85" y1="32" x2="-0.74" y2="32" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#51c8ec"/><stop offset="1" stop-color="#3a88c8"/></linearGradient><linearGradient id="linear-gradient-2" x1="37.13" y1="29.09" x2="2.64" y2="32.31" xlink:href="#linear-gradient"/></defs><path class="cls-1" d="M21.77,5.5,56.72,27a7.52,7.52,0,0,1,3.06,2.55,4.64,4.64,0,0,1-.14,5,12.3,12.3,0,0,1-3.6,2.9L21.74,58.52a5.22,5.22,0,0,1-8-4.52V9.89C13.7,5.69,18,3.32,21.77,5.5Z"/><path class="cls-2" d="M27.18,14.52,48.85,27.86c2.22,1.55,2.48,6.06-.09,7.83L27.18,49.2c-2.3,1.61-4.69.06-4.69-3v-29C22.49,14.11,24.88,12.91,27.18,14.52Z"/><path class="cls-3" d="M38.22,27.77,10.55,10.58a4.61,4.61,0,0,0-7,4V49a4.61,4.61,0,0,0,7,4L38.22,35.83A4.78,4.78,0,0,0,38.22,27.77Z"/><path class="cls-2" d="M13.66,38.13V51.07l8.83-5.48C22.69,38.55,13.66,38.13,13.66,38.13Z"/><circle class="cls-2" cx="18.08" cy="31.93" r="5.29"/></svg>
				{{LANG shorts}}</span>

			<?php if ($pt->config->shorts_system == 'on') { ?>
				<a href="{{LINK upload-video}}?type=shorts" class="btn btn-main" data-load="?link1=upload-video&type=shorts">
					<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M19,13H13V19H11V13H5V11H11V5H13V11H19V13Z" /></svg>{{LANG create}}
				</a>
			<?php } ?>
		</h4>
		<div class="swiper">
			<!-- Additional required wrapper -->
			<div class="swiper-wrapper">
				{{HTML}}
			</div>
			<?php if (!$pt->is_empty) { ?>
				<!-- If we need pagination -->
				<div class="swiper-pagination hidden"></div>

				<!-- If we need navigation buttons -->
				<div class="swiper-button-prev"></div>
				<div class="swiper-button-next"></div>

				<!-- If we need scrollbar -->
				<div class="swiper-scrollbar hidden"></div>
			<?php } ?>
		</div>
		<div class="fleks" id="shorts_flex">

		</div>
	</div>
	<div class="col-md-3w"></div>
</div>


<div class="modal fade matdialog" id="shorts_comments_modal" role="dialog" data-keyboard="false" style="overflow-y: auto;">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg></span></button>
				<h4 class="modal-title">{{LANG comments}}</h4>
			</div>
			<div class="modal-body">
				<div class="w100 pt_blogcomm_combo">
					<?php if (IS_LOGGED): ?>
					<img class="avatar" src="{{ME avatar}}" alt="{{ME name}} avatar" />
					<?php endif; ?>
					<textarea name="comment" class="form-control" id="shorts-comment-textarea" placeholder="{{LANG write_your_comment}}"></textarea>
					<input type="hidden" id="shorts-video-id">

					<button class="btn pull-right btn-main" onclick="ShortsComment(this)" data-toggle="tooltip" title="{{LANG publish}}">
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>
					</button>
				</div>
				<div class="comment-button">
            <hr>
            <div class="user-comments" id="video-pinned-comments">
				<div id="shorts-pinned-comment"></div>
            </div>
        </div>
				<div class="shorts_comments_show user-comments">

				</div>
				<div class="watch-video-show-more shorts_loadmore_comments" onclick="ShortsLoadComments()" data-text="{{LANG show_more}}">
              {{LANG show_more}}
            </div>
			</div>
		</div>
	</div>
</div>
<?php
if (empty($_SESSION['finger'])) {
?>
<script>
   var fingerprintReport = function (id) {
      Fingerprint2.get(function(components) {
        var murmur = Fingerprint2.x64hash128(components.map(function (pair) { return pair.value }).join(), 31)
        $.post('{{LINK aj/views}}?hash=' + $('.main_session').val()+'&type_=set', {finger: murmur}, function(data, textStatus, xhr) {
            $.post('{{LINK aj/views}}?hash=' + $('.main_session').val()+'&type_=add', {video_id:id}, function(data, textStatus, xhr) {
            if (data.status == 200) {
               $('#video-views-count-'+id).html(data.count);
            }
           });
        });
      })
   }
</script>
<?php } ?>

<script>window.addEventListener('resize', () => {let vh = window.innerHeight * 0.01;document.documentElement.style.setProperty('--vh', `${vh}px`);});</script>

<script type="text/javascript">
	$(document).keydown(function(e) {
		// ESCAPE key pressed
		if (e.keyCode == 27) {
			document.location.href="/";
		}
	});

	function ShortsLoadComments() {
		var sort_comments_by = 2;
		event.preventDefault();
      var last_id  = $('.main-comment:last').attr('data-id');
      var video_id = $('#shorts-video-id').val();
      var data_obj = {
        last_id: last_id,
        video_id:video_id,
        sort_by:sort_comments_by
      };

      if (sort_comments_by == 1) {
        var comment_ids      = [];
        $('.main-comment').each(function(index, el) {
          comment_ids.push($(el).attr('data-id'));
        });

        data_obj['comments'] = comment_ids.join()
      }

      $.post('{{LINK aj/load-more-comments}}',data_obj, function(data, textStatus, xhr) {
        if (data.status == 200) {
          $('.shorts_comments_show').append(data.comments);
        }

        else {
          $('.shorts_loadmore_comments').text(data.message);
        }
      });
	}
	function PT_PinComment(id,pin){
	  if (!id) { return false; }
	  let pinned_comments = $('#shorts-pinned-comment');

	  if (pin) {
	    $("#comment-" + id).slideUp(200,function(){
			Snackbar.show({text: '{{LANG comment_pinned}}'});
	    })
	  }
	  else{
	    pinned_comments.empty();
		Snackbar.show({text: '{{LANG comment_unpinned}}'});
	  }

	  $.post('{{LINK aj/pin-comment}}', {id: id},function(data){
	    if (data.status == 200) {

	      $("#comment-" + id).slideUp(100,function(){
	        $(this).remove();
	        pinned_comments.scrollTo();
	      });

	      pinned_comments.html(data.html);
	    }

	    else if(data.status == 304){
	      $(".shorts_comments_show").append(data.html);
	    }
	  });
	}
	function PT_DeleteComment(id) {
	  if (!id) { return false; }
	  if (!confirm('{{LANG delete_confirmation}}')) { return false; }
	  $('#comment-' + id).slideUp('fast');
	  $.post('{{LINK aj/delete-comment}}', {id: id});
	}
	<?php if (!$pt->is_empty) { ?>


	$(document).ready( function () {

		function SInitSlide(current_index = "<?php echo($pt->current_index) ?>") {
			return new Swiper('.swiper', {
			  // Optional parameters
			  direction: 'vertical',
			  loop: false,
			  initialSlide: current_index,
			  //spaceBetween: 15,

			  // If we need pagination
			  pagination: {
			    el: '.swiper-pagination',
			  },

			  // Navigation arrows
			  navigation: {
			    nextEl: '.swiper-button-next',
			    prevEl: '.swiper-button-prev',
			  },

			  // And if we need scrollbar
			  scrollbar: {
			    el: '.swiper-scrollbar',
			  },
			   mousewheel: {
				forceToAxis: true,
				sensitivity: 1,
				releaseOnEdges: true,
			  },
			});
		}

		var swiper = SInitSlide();

		$(swiper.slides[swiper.activeIndex]).find('mediaelementwrapper')[0].play();
		$('mediaelementwrapper').each(function(index) {
			if (index != <?php echo($pt->current_index) ?>) {
				$(this).get(0).pause();
			}
		});

		function pauseVideoNextOrPrev(index){
			$(swiper.slides[index]).find('mediaelementwrapper')[0].pause();
			$(swiper.slides[index]).find('mediaelementwrapper')[0].currentTime = 0;
		}

		function SClearSlide() {
			$(swiper.slides[swiper.activeIndex]).find('mediaelementwrapper')[0].play();
			$(swiper.slides[swiper.activeIndex]).find('mediaelementwrapper')[0].muted = false;
			$(swiper.slides[swiper.activeIndex]).find('mediaelementwrapper').removeAttr('muted');
			$(swiper.slides[swiper.activeIndex]).find('mediaelementwrapper')[0].volume = 1;
		}

		function SFinger() {
			<?php
			if (empty($_SESSION['finger'])) {
			?>
			fingerprintReport($(swiper.slides[swiper.activeIndex]).attr('video-id'));
			<?php }else{ ?>
				$.post('{{LINK aj/views}}?hash=' + $('.main_session').val()+'&type_=add', {video_id:$(swiper.slides[swiper.activeIndex]).attr('video-id')}, function(data, textStatus, xhr) {
				   if (data.status == 200) {
				      $('#video-views-count-'+$(swiper.slides[swiper.activeIndex]).attr('video-id')).html(data.count);
				   }
				  });
			<?php } ?>
		}

		function SInitPlayer(html) {
			$(html).each(function( index ) {
				if ($( this ).attr('video-id')) {
					$('#videocontainer_'+$( this ).attr('video-id')+' video').mediaelementplayer({
						pluginPath: 'https://cdnjs.com/libraries/mediaelement-plugins/',
						shimScriptAccess: 'always',
						autoplay: true,
						features: ['volume'],
						jumpForwardInterval: 20,
						success: function (media) {
						   media.addEventListener('ended', function (e) {}, false);
						   media.addEventListener('playing', function (e) {});
						},
					  });
				}
			});
		}

		const SNextSlide = (data) => {
			SClearSlide();

			pauseVideoNextOrPrev(swiper.activeIndex - 1)

			$('title').text($(swiper.slides[swiper.activeIndex]).attr('data-title'));
			let seen_videos = [];
			for (var i = 0; i <= swiper.slides.length - 1; i++) {
				seen_videos[i] = $(swiper.slides[i]).attr('video-id');
			}
			$.post('{{LINK aj/shorts/load}}?hash=' + $('.main_session').val(), {video_id:$(swiper.slides[swiper.slides.length - 1]).attr('video-id'),history:$(swiper.slides[swiper.realIndex]).attr('video-id'),order: "<?php echo($pt->order); ?>",user:"{{main_user}}",sort_type:"next",seen_videos:seen_videos}, function(data, textStatus, xhr) {
				   if (data.status == 200) {
					swiper.appendSlide(data.html);
					setTimeout(function () {
						SInitPlayer(data.html);
					},500);
				   }
			});
			window.history.pushState({state:'new'},'', $(swiper.slides[swiper.activeIndex]).attr('data-shorts-url'));
			SFinger();
		}

		const SPrevSlide = (data) => {
			SClearSlide();

			pauseVideoNextOrPrev(swiper.activeIndex + 1)

			$('title').text($(swiper.slides[swiper.activeIndex]).attr('data-title'));
			let v_id = $(swiper.slides[swiper.activeIndex]).attr('video-id');
			<?php if (!empty($pt->userid)) { ?>
			$.post('{{LINK aj/shorts/load}}?hash=' + $('.main_session').val(), {video_id:$(swiper.slides[0]).attr('video-id'),history:$(swiper.slides[swiper.realIndex]).attr('video-id'),order: "<?php echo($pt->order); ?>",user:"{{main_user}}",sort_type:"before"}, function(data, textStatus, xhr) {
				   if (data.status == 200) {
					swiper.prependSlide(data.html);
					var s_id = 0;
					for (var i = swiper.slides.length - 1; i >= 0; i--) {
						if ($(swiper.slides[i]).attr('video-id') == v_id) {
							swiper.destroy();
							swiper = SInitSlide(i);
							swiper.on('slideNextTransitionStart', SNextSlide);
								swiper.on('slidePrevTransitionStart', SPrevSlide);
								setTimeout(function () {
								SInitPlayer(data.html);
							},500);
						}
					}
				   }
			   });
			<?php } ?>
				window.history.pushState({state:'new'},'', $(swiper.slides[swiper.activeIndex]).attr('data-shorts-url'));
				SFinger();
		}


		swiper.on('slideNextTransitionStart', SNextSlide);
		swiper.on('slidePrevTransitionStart', SPrevSlide);
	});
	<?php } ?>

</script>
