<link rel="stylesheet" href="{{CONFIG theme_url}}/css/pages/upload-video.css?version={{CONFIG version}}&css_version={{CONFIG css_version}}">

<div class="wo_about_wrapper_parent">
	<div class="wo_about_wrapper">
		<div class="hero hero-overlay" style="background-color: #b228c9;">
			<div class="container">
				<h1 class="text-center">{{LANG upload_new_video}}</h1>
			</div>
		</div>
		<svg class="wave" width="100%" height="50px" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1920 75"> <defs> <style> .a { fill: none; } .b { clip-path: url(#a); } .c, .d { fill: #b228c9; } .d { opacity: 0.5; isolation: isolate; } </style> <clipPath id="a"> <rect class="a" width="1920" height="75"></rect> </clipPath> </defs> <title>wave</title> <g class="b"> <path class="c" d="M1963,327H-105V65A2647.49,2647.49,0,0,1,431,19c217.7,3.5,239.6,30.8,470,36,297.3,6.7,367.5-36.2,642-28a2511.41,2511.41,0,0,1,420,48"></path> </g> <g class="b"> <path class="d" d="M-127,404H1963V44c-140.1-28-343.3-46.7-566,22-75.5,23.3-118.5,45.9-162,64-48.6,20.2-404.7,128-784,0C355.2,97.7,341.6,78.3,235,50,86.6,10.6-41.8,6.9-127,10"></path> </g> <g class="b"> <path class="d" d="M1979,462-155,446V106C251.8,20.2,576.6,15.9,805,30c167.4,10.3,322.3,32.9,680,56,207,13.4,378,20.3,494,24"></path> </g> <g class="b"> <path class="d" d="M1998,484H-243V100c445.8,26.8,794.2-4.1,1035-39,141-20.4,231.1-40.1,378-45,349.6-11.6,636.7,73.8,828,150"></path> </g> </svg>
	</div>
</div>
<div class="col-md-2"></div>
<div class="col-md-8 pt_page_margin">
	<div class="content pt_shadow">
		<div class="col-md-12 pt_upload_vdo">
			<?php if ($pt->user->admin == 1) { ?>
				<div class="alert alert-warning">
					<h4>Just admins can see this message</h4>
					<p>Note: Your server max upload size is: <?php echo ini_get('upload_max_filesize')?>, means you can't upload files that are larger than: <?php echo ini_get('upload_max_filesize')?><br><br> If you want to increase the limit or If you can't upload large files, go to Admin Settings > Settings > Site Settings > Max upload size and increase the value, if you still can't upload large files, please contact your host provider and let them increase the upload limit and max_execution_time.</p>
				</div>
			<?php } ?>
			<?php if ($pt->is_short) { ?>
	            <div class="alert alert-warning">
	               <?php echo(str_replace('{X}', $pt->config->shorts_duration, $pt->all_lang->shorts_maximum_duration_allow)); ?>
	            </div>
	        <?php } ?>
			<div class="upload" data-block="video-drop-zone">
				<div>
					<svg fill="currentColor" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg" class="feather feather-upload"><path d="M14,13V17H10V13H7L12,8L17,13M19.35,10.03C18.67,6.59 15.64,4 12,4C9.11,4 6.6,5.64 5.35,8.03C2.34,8.36 0,10.9 0,14A6,6 0 0,0 6,20H19A5,5 0 0,0 24,15C24,12.36 21.95,10.22 19.35,10.03Z" /></svg>
					<h4>{{LANG darg_drop_video}}</h4>
					<p>{{LANG or}} {{LANG click_2choose_file}}</p>
					<button class="btn btn-main">{{LANG upload}}</button>
				</div>
			</div>
			<div class="progress hidden">
				<span class="percent">0%</span>
				<div class="progress_bar_parent">
					<div class="bar upload-progress-bar progress-bar active"></div>
				</div>
				<div class="clear"></div>
				<div class="text-center pt_prcs_vdo"></div>
			</div>

			<form action="" method="POST" id="upload-video" style="visibility: hidden;">
				<input type="file" name="video" accept="video/*" class="upload-video-file">
				<?php if ($pt->is_short) { ?>
				<input type="hidden" name="is_short" id="is_short" value="yes">
				<?php } ?>
			</form>

			<div class="col-md-12 hidden" id="upload-form">
				<form action="" class="form-horizontal setting-panel pt_forms pt_upld_page_frm" method="POST">
					<?php if ( $pt->config->movies_videos == 'on' && !$pt->is_short) { ?>

                  <div class="form-group">
                     <label class="col-md-12" for="is_movie">{{LANG is_movie}}</label>
                     <div class="col-md-12">
                        <select name="is_movie" id="is_movie" class="form-control" onchange="ShowForm(this)">
                           <option value="0">{{LANG no}}</option>
                           <option value="1">{{LANG yes}}</option>
                        </select>
                     </div>
                  </div>
                  <div id="movie_fields" style="display: none;">
                     <div class="form-group">
                        <label class="col-md-12" for="movie_title">* {{LANG movie_title}}</label>
                        <div class="col-md-12">
                           <input id="movie_title" name="movie_title" type="text" placeholder="{{LANG movie_title}}" class="form-control input-md">
                        </div>
                     </div>
                     <div class="form-group">
                        <label class="col-md-12" for="description">* {{LANG description}}</label>
                        <div class="col-md-12">
                           <textarea name="movie_description" id="description" cols="30" rows="5" class="form-control move_description"></textarea>
                        </div>
                     </div>
                     <div class="form-group">
                        <label class="col-md-12" for="stars">* {{LANG stars}}</label>
                        <div class="col-md-12">
                           <input id="stars" name="stars" type="text" placeholder="{{LANG stars}} {{LANG by_comma}}" class="form-control input-md">
                        </div>
                     </div>
                     <div class="form-group">
                        <label class="col-md-12" for="producer">* {{LANG producer}}</label>
                        <div class="col-md-12">
                           <input id="producer" name="producer" type="text" placeholder="{{LANG producer}}" class="form-control input-md">
                        </div>
                     </div>
                     <div class="form-group">
                        <label class="col-md-12" for="release">* {{LANG release}}</label>
                        <div class="col-md-12">
                           <input id="release" name="release" type="number" placeholder="{{LANG release}}" class="form-control input-md"  min="1910" max="<?php echo date('Y') ?>">
                        </div>
                     </div>
                     <div class="form-group">
                        <label class="col-md-12" for="country">* {{LANG country}}</label>
                        <div class="col-md-12">
                           <select class="form-control show-tick" id="country" name="country">
                              <?php foreach ($countries_name as $key => $value) : ?>
                              <option value="<?php echo $key; ?>"><?php echo $value; ?></option>
                              <?php  endforeach; ?>
                           </select>
                        </div>
                     </div>
                     <div class="form-group">
                        <label class="col-md-12" for="quality">* {{LANG quality}}</label>
                        <div class="col-md-12">
                           <select class="form-control show-tick" id="quality" name="quality">
                              <option value="CAMRip">CAMRip</option>
                              <option value="TS">TS</option>
                              <option value="VHSRip">VHSRip</option>
                              <option value="WP">WP</option>
                              <option value="SCR (VHSScr)">SCR (VHSScr)</option>
                              <option value="DVDScr">DVDScr</option>
                              <option value="TC">TC</option>
                              <option value="LDRip">LDRip</option>
                              <option value="TVRip">TVRip</option>
                              <option value="SATRip">SATRip</option>
                              <option value="DVBRip">DVBRip</option>
                              <option value="DTVRip">DTVRip</option>
                              <option value="DVD">DVD</option>
                              <option value="HDRip">HDRip</option>
                              <option value="WEB-DL">WEB-DL</option>
                              <option value="HD-TV">HD-TV</option>
                              <option value="HD DVD">HD DVD</option>
                           </select>
                        </div>
                     </div>
                     <div class="form-group">
                        <label class="col-md-12" for="category">* {{LANG category}}</label>
                        <div class="col-md-12">
                           <select class="form-control show-tick" id="category" name="category">
                              <?php foreach ($pt->movies_categories as $cat_id => $category): ?>
                                 <option value="<?php echo $cat_id;?>"><?php echo $category;?></option>
                              <?php endforeach;?>
                           </select>
                        </div>
                     </div>
                     <div class="form-group">
                        <label class="col-md-12" for="rating">* {{LANG rating}} {{LANG rating_btween}}</label>
                        <div class="col-md-12">
                           <input type="number" id="rating" name="rating" class="form-control" min="1" max="10" step="0.1">
                        </div>
                     </div>
                     <?php if ((($pt->config->usr_v_mon == 'on' && $pt->config->user_mon_approve == 'off') || ($pt->config->usr_v_mon == 'on' && $pt->config->user_mon_approve == 'on' && $pt->user->monetization == '1')) && $pt->config->sell_videos_system == 'on') { ?>
                     <div class="form-group">
								<label class="col-md-12" for="buy_price">{{LANG set_p_v}}</label>
								<div class="col-md-12">
									<input id="mySingleFieldTags_" name="buy_price" type="text" placeholder="" class="form-control input-md">
								</div>
							</div>
							<?php } ?>

							<?php if ((($pt->config->usr_v_mon == 'on' && $pt->config->user_mon_approve == 'off') || ($pt->config->usr_v_mon == 'on' && $pt->config->user_mon_approve == 'on' && $pt->user->monetization == '1')) && $pt->config->rent_videos_system == 'on') { ?>
							<div class="form-group">
								<label class="col-md-12" for="movie_rent_price">{{LANG rent_price}}</label>
								<div class="col-md-12">
									<input id="mySingleFieldTags_movie" name="movie_rent_price" type="text" placeholder="" class="form-control input-md">
									<span class="help-block"><?php if($pt->config->admin_com_rent_videos > 0){ ?>{{LANG p_m_than_}} {{CURRENCY}}<?php echo($pt->config->com_type == 0 ? $pt->config->admin_com_rent_videos : 0) ?> <?php }?></span>
								</div>
							</div>
              <div class="form-group" id="movie_rental_days_wrapper">
                <label class="col-md-12" for="movie_rental_days">{{LANG number_of_rent_days}}</label>
                <div class="col-md-12">
                  <input id="movie_rental_days" name="movie_rental_days" type="text" placeholder="" class="form-control input-md" value="2">
                  <span class="help-block" id="movie-rental-days-help"></span>
                </div>
              </div>
							<?php } ?>
						   <?php if ($pt->config->trailer_system == 'on') { ?>
							<div class="form-group">
								<label class="form-label col-md-12">{{LANG upload_trailer}}</label>
								<div class="col-md-12">
									<div class="movie-file-input">
									  <input type="file" class="trailer" id="trailer" name="trailer" accept="video/*">
									  <span class="button">{{LANG choose_file}}</span>
									  <span class="mlabel" data-js-label>{{LANG click_2choose_file}}</span>
									</div>
								</div>
							</div>
	                  <?php } ?>
                  </div>
               <?php } ?>
                  <div id="video_fields">

						<div class="form-group">
							<label class="col-md-12" for="title">* {{LANG video_title}}</label>
							<div class="col-md-12">
								<input id="title" name="title" type="text" placeholder="" class="form-control input-md">
								<span class="help-block">{{LANG video_title_help}}</span>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-12" for="description">* {{LANG video_descritpion}}</label>
							<div class="col-md-12">
								<textarea name="description" id="description" cols="30" rows="5" class="form-control description"></textarea>
							</div>
						</div>
						<?php if (!$pt->is_short) { ?>
						<div class="form-group">
							<label class="col-md-12" for="category_id">{{LANG category}}</label>
							<div class="col-md-12">
								<select name="category_id" id="category_id" class="form-control">
									<?php foreach($pt->categories as $key => $category) {?>
									<option value="<?php echo $key?>"><?php echo $category?></option>
									<?php } ?>
								</select>
							</div>
						</div>
						<div class="form-group" <?php if (empty($pt->sub_categories_array["'1'"])) { ?> style="display: none;"<?php } ?> id="sub_category_div">
							<label class="col-md-12" for="sub_category_id">{{LANG sub_category}}</label>
							<div class="col-md-12">
								<select name="sub_category_id" id="sub_category_id" class="form-control">
									<?php echo $pt->sub_categories_array["'1'"]; ?>
								</select>
							</div>
						</div>

						<?php if ($pt->config->geo_blocking == 'on') {
						 ?>
						<div class="form-group">
							<label class="col-md-12" for="geo_blocking" style="z-index: 1000;">{{LANG geo_blocking}}</label>
							<div class="col-md-12">
								<div class="form-group-rs" id="geo_blocking">
					            <select class="form-control selectpicker show-menu-arrow show-tick" multiple name="continents-list[]" data-live-search="true" title="" data-actions-box="true">
					              	<?php
					              	foreach ($pt->continents as $key => $name):
					              		?>
					              		<option value="<?php echo($name); ?>">
					              			<span>
					              				<?php echo($name); ?>
					              			</span>
					              		</option>
					              	<?php endforeach; ?>
					          	</select>
					            <div class="clear"></div>
					    		</div>
							</div>
						</div>
						<?php } ?>
						<?php } ?>
						<div class="form-group">
		                     <label class="col-md-12" for="privacy">{{LANG privacy}}</label>
		                     <div class="col-md-12">
		                        <select name="privacy" id="privacy" class="form-control">
		                           <option value="0">{{LANG public}}</option>
		                           <option value="1">{{LANG private}}</option>
		                           <option value="2">{{LANG unlisted}}</option>
		                           <option value="3">{{LANG scheduled}}</option>
		                        </select>
		                     </div>
		                  </div>
		                  <div class="scheduled hidden">
		                  	<div class="form-group">
			                     <label class="col-md-12" for="date">{{LANG publication_date}} {{LANG utc_timezone}}</label>
			                     <div class="col-md-6">
			                        <input id="date" name="date" type="text" placeholder="" class="form-control input-md">
			                     </div>
			                     <div class="col-md-6">
			                        <select name="hour" id="hour" class="form-control">
			                        	<?php foreach ($pt->config->hours as $key => $value) { ?>
			                        		<option value="<?php echo($key) ?>"><?php echo $value; ?></option>
			                        	<?php } ?>
			                        </select>
			                     </div>
			                  </div>
		                  </div>
		                  <?php if (!$pt->is_short) { ?>
		                  <div class="form-group">
		                     <label class="col-md-12" for="age_restriction">{{LANG age_restriction}}</label>
		                     <div class="col-md-12">
		                        <select name="age_restriction" id="age_restriction" class="form-control">
		                           <option value="1" selected>{{LANG all_ages}}</option>
		                           <option value="2">{{LANG only_18}}</option>
		                        </select>
		                     </div>
		                  </div>
		               <?php } ?>
						<div class="form-group">
							<label class="col-md-12" for="tags">{{LANG tags}}</label>
							<div class="col-md-12">
								<input id="mySingleFieldTags" name="tags" type="text" placeholder="" class="form-control input-md">
							</div>
						</div>
						<?php if (!$pt->is_short) { ?>
						<?php if (($pt->config->sell_videos_system == 'on' && $pt->config->who_sell == 'pro_users' && ($pt->user->is_pro || $pt->user->admin)) || ($pt->config->sell_videos_system == 'on' && $pt->config->who_sell == 'users') ) { ?>
						<?php if ((($pt->config->usr_v_mon == 'on' && $pt->config->user_mon_approve == 'off') || ($pt->config->usr_v_mon == 'on' && $pt->config->user_mon_approve == 'on' && $pt->user->monetization == '1'))) { ?>
						<div class="form-group">
							<label class="col-md-12" for="set_p_v">{{LANG set_p_v}}</label>
							<div class="col-md-12">
								<input id="mySingleFieldTags_" name="set_p_v" type="text" placeholder="" class="form-control input-md" autocomplete="off">
								<span class="help-block"><?php if($pt->config->admin_com_sell_videos > 0 && $pt->config->com_type != 1){ ?>{{LANG p_m_than_}} <?php echo($pt->config->admin_com_sell_videos) ?><?php }?></span>
							</div>
						</div>
						<?php } ?>
						<?php } ?>
						<?php if (($pt->config->rent_videos_system == 'on' && $pt->config->who_sell == 'pro_users' && ($pt->user->is_pro || $pt->user->admin)) || ($pt->config->rent_videos_system == 'on' && $pt->config->who_sell == 'users') ) { ?>
						<?php if ((($pt->config->usr_v_mon == 'on' && $pt->config->user_mon_approve == 'off') || ($pt->config->usr_v_mon == 'on' && $pt->config->user_mon_approve == 'on' && $pt->user->monetization == '1'))) { ?>
						<div class="form-group">
							<label class="col-md-12" for="rent_price">{{LANG rent_price}}</label>
							<div class="col-md-12">
								<input id="mySingleFieldTags_" name="rent_price" type="text" placeholder="" class="form-control input-md">
								<span class="help-block"><?php if($pt->config->admin_com_rent_videos > 0){ ?>{{LANG p_m_than_}} {{CURRENCY}}<?php echo($pt->config->com_type == 0 ? $pt->config->admin_com_rent_videos : 0) ?> <?php }?></span>
							</div>
						</div>
            <div class="form-group" id="rental_days_wrapper">
							<label class="col-md-12" for="rental_days">{{LANG number_of_rent_days}}</label>
							<div class="col-md-12">
								<input id="rental_days" name="rental_days" type="text" placeholder="{{LANG number_of_rent_days}}" class="form-control input-md" value="2">
								<span class="help-block" id="rental-days-help"></span>
							</div>
						</div>
						<?php } ?>
						<?php } ?>
						<?php } ?>

					</div>
					<?php if ($pt->config->restrict_embedding_system == 'on') { ?>
                    <div class="form-group">
	                    <label class="col-md-12" for="embedding">{{LANG restrict_embedding}}</label>
	                    <div class="col-md-12">
	                        <select name="embedding" id="embedding" class="form-control">
	                           <option value="no">{{LANG no}}</option>
	                           <option value="yes">{{LANG yes}}</option>
	                        </select>
	                    </div>
	                </div>
	                <?php } ?>

					<?php if ((($pt->config->usr_v_mon == 'on' && $pt->config->user_mon_approve == 'off') || ($pt->config->usr_v_mon == 'on' && $pt->config->user_mon_approve == 'on' && $pt->user->monetization == '1')) &&  $pt->user->video_mon == '1' && !$pt->is_short) { ?>

					<div class="form-group">
	                    <label class="col-md-12" for="monetization">{{LANG monetization}}</label>
	                    <div class="col-md-12">
	                        <select name="monetization" id="monetization" class="form-control">
	                           <option value="1">{{LANG enable}}</option>
	                           <option value="0">{{LANG disable}}</option>
	                        </select>
	                    </div>
	                </div>
	                <?php } ?>

					<div class="form-group">
						<label class="col-md-12" for="thumbnail"> {{LANG thumbnail}}</label>
						<div class="col-md-12">
							<div class="upload-product-image pull-left" onclick="document.getElementById('thumbnail').click(); return false">
								<div class="upload-image-content">
									<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-camera"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"></path><circle cx="12" cy="13" r="4"></circle></svg>
								</div>
							</div>
							<div style="overflow-x: auto;width: calc(100% - 150px);">
								<div id="productimage-holder"></div>
							</div>
							<input id="thumbnail" name="thumbnail" type="file" class="hidden" accept="image/png, image/gif, image/jpeg">
							<span class="help-block">jpg, png, gif</span>
						</div>
					</div>
					<div class="last-sett-btn modal-footer" style="margin: 0px -40px -10px -40px;">
						<button type="submit" id="submit-btn" class="btn btn-main setting-panel-mdbtn" disabled>
							<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-check-circle'><path d='M22 11.08V12a10 10 0 1 1-5.93-9.14'></path><polyline points='22 4 12 14.01 9 11.01'></polyline></svg>
							<span> {{LANG publish}} </span>
						</button>
						<input type="submit" id="submit-btn-waiting" class="btn btn-main setting-panel-mdbtn" value="{{LANG please_wait}}" disabled style="display: none" />
					</div>
					<input type="hidden" name="video-location" id="video-location" value="">
					<input type="hidden" name="uploaded_id" id="uploaded_id" value="">
					<?php if ($pt->is_short) { ?>
					<input type="hidden" name="is_short" value="yes">
					<?php } ?>
					<input type="hidden" name="duration_video" id="duration_video" value="">
				</form>
			</div>
			<div class="clear"></div>
		</div>
		<div class="clear"></div>
	</div>
</div>
<div class="col-md-2"></div>
<script>
<?php if ($pt->config->trailer_system == 'on') { ?>
var inputs = document.querySelectorAll('.movie-file-input')

for (var i = 0, len = inputs.length; i < len; i++) {
  customInput(inputs[i])
}

function customInput (el) {
  const fileInput = el.querySelector('.movie-file-input [type="file"]')
  const label = el.querySelector('[data-js-label]')

  fileInput.onchange =
  fileInput.onmouseout = function () {
    if (!fileInput.value) return

    var value = fileInput.value.replace(/^.*[\\\/]/, '')
    label.innerText = value
  }
};
<?php } ?>

	$(document).on('change', '#privacy', function(event) {
		event.preventDefault();
		if ($(this).val() == 3) {
			$('.scheduled').removeClass('hidden');
		}
		else{
			$('.scheduled').addClass('hidden');
		}
	});
	var el = $(".description").emojioneArea({
		pickerPosition: "bottom",
	    tonesStyle: "radio",
	    events: {
	     	keyup: function (editor, event) {
		    }
	    },
	    filters: {
	        flags : false,
	        objects : false,
	        travel_places : false,
	        activity : false
	    }
	});
	var el2 = $(".move_description").emojioneArea({
		pickerPosition: "bottom",
	    tonesStyle: "radio",
	    events: {
	     	keyup: function (editor, event) {
		    }
	    },
	    filters: {
	        flags : false,
	        objects : false,
	        travel_places : false,
	        activity : false
	    }
	});
function ShowForm(self) {

   if ($(self).val() == 1 && $("#video_fields").is(":visible") == true) {
      $("#video_fields").hide();
      $("#movie_fields").show();
   }
   else if($(self).val() == 0 && $("#movie_fields").is(":visible") == true){
      $("#video_fields").show();
      $("#movie_fields").hide();
   }
}
$('.selectpicker').selectpicker({});
<?php
$js_array = json_encode($pt->sub_categories_array);
echo "var sub_categories_array = ". $js_array . ";\n";
?>
$(document).on('change', '#category_id', function(event) {
	event.preventDefault();
	id = $(this).val();
	if (typeof(sub_categories_array["'"+id+"'"]) == 'undefined') {
		$('#sub_category_div').hide();
	    $('#sub_category_id').html('');
   }
   else{
     	$('#sub_category_div').show();
	    $('#sub_category_id').html(sub_categories_array["'"+id+"'"]);
  }
});

$(document).ready(function() {
	$( "#date" ).datepicker({ dateFormat: 'yy-mm-dd', minDate: 'today',prevText: '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M15.41,16.58L10.83,12L15.41,7.41L14,6L8,12L14,18L15.41,16.58Z" /></svg>',nextText: '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z" /></svg>'});
	$("#thumbnail").on('change', function() {
	//Get count of selected files
	var product_countFiles = $(this)[0].files.length;
	var product_imgPath = $(this)[0].value;
	var extn = product_imgPath.substring(product_imgPath.lastIndexOf('.') + 1).toLowerCase();
	var product_image_holder = $("#productimage-holder");
	product_image_holder.empty();
	if (extn == "gif" || extn == "png" || extn == "jpg" || extn == "jpeg") {
		if (typeof(FileReader) != "undefined") {
		//loop for each file selected for uploaded.
		for (var i = 0; i < product_countFiles; i++)
		{
			var product_reader = new FileReader();
			product_reader.onload = function(e) {
				$("<img />", {
                    "src": e.target.result,
                    "class": "thumb-image"
                  }).appendTo(product_image_holder);
                }
                product_image_holder.show();
                product_reader.readAsDataURL($(this)[0].files[i]);
              }
            } else {
              product_image_holder.html("<p>This browser does not support FileReader.</p>");
            }
         }
	});
});

function indexSearchVideo(video_key) {
	const api_url = "<?php global $api_url; echo $api_url; ?>";
	$.ajax({
		method: "POST",
		url: `${api_url}/v1/video/index-search`,
		data: JSON.stringify({video_key}),
		dataType : "json",
		contentType: "application/json; charset=utf-8",
		headers: {
			"Authorization" : "Bearer {{JWT_TOKEN}}",
		},
		async: false
	})
}

function uploadFileToS3(dataReq){
	var bar         = $('.bar');
	var percent     = $('.percent');
	var prcsvdo		= $('.pt_prcs_vdo');
	var percentVal = '0%';
	const file_data = $(".upload-video-file").prop('files')[0]
	$.ajax({
		type: 'PUT',
		url: dataReq.pre_signed_url,
		data: file_data,
		processData: false,
		beforeSend: function() {
			$('.progress').removeClass('hidden');
			bar.width(percentVal);
			percent.html(percentVal);
		},
		xhr: function() {
			var xhr = new window.XMLHttpRequest();
			xhr.upload.addEventListener("progress", function(evt) {
				if (evt.lengthComputable) {
					let percentCal = (evt.loaded * 100) / evt.total;
					let percentComplete = Math.round((percentCal + Number.EPSILON) * 100) / 100;
					if(percentComplete > 50) {
						percent.addClass('white');
					}
					let percentVal = percentComplete + '%';
					bar.width(percentVal);
					percent.html(percentVal);

					if (percentComplete === 100) {
						prcsvdo.html('<svg width="30" height="10" viewBox="0 0 120 30" xmlns="http://www.w3.org/2000/svg" fill="#<?php echo ($pt->mode == 'night') ? 'fff' : '222'?>"><circle cx="15" cy="15" r="15"><animate attributeName="r" from="15" to="15" begin="0s" dur="0.8s" values="15;9;15" calcMode="linear" repeatCount="indefinite" /><animate attributeName="fill-opacity" from="1" to="1" begin="0s" dur="0.8s" values="1;.5;1" calcMode="linear" repeatCount="indefinite" /></circle><circle cx="60" cy="15" r="9" fill-opacity="0.3"><animate attributeName="r" from="9" to="9" begin="0s" dur="0.8s" values="9;15;9" calcMode="linear" repeatCount="indefinite" /><animate attributeName="fill-opacity" from="0.5" to="0.5" begin="0s" dur="0.8s" values=".5;1;.5" calcMode="linear" repeatCount="indefinite" /></circle><circle cx="105" cy="15" r="15"><animate attributeName="r" from="15" to="15" begin="0s" dur="0.8s" values="15;9;15" calcMode="linear" repeatCount="indefinite" /><animate attributeName="fill-opacity" from="1" to="1" begin="0s" dur="0.8s" values="1;.5;1" calcMode="linear" repeatCount="indefinite" /></circle></svg> {{LANG porcessing_video}}');
						$('.progress').find('.bar').removeClass('upload-progress-bar');
					}
				}
			}, false);
			return xhr;
		},
		success: function ( data, textStatus, xhr )
		{
			if(xhr.status === 200){
				let api_url = "<?php global $api_url; echo $api_url;?>";
				$.ajax({
					type: 'POST',
					url: api_url + '/v1/video/insert-s3-object',
					contentType: 'application/json',
					data: JSON.stringify({ key_object : dataReq.file_path }),
					beforeSend: function (xhr) {
						xhr.setRequestHeader ("Authorization",  'Bearer <?php echo get_jwt_token(); ?>' );
					},
				});


				$('#duration_video').val(dataReq.duration);

				percentVal = '0%';
				bar.width(percentVal);
				$('.progress').addClass('hidden');

				$('#upload-form').removeClass('hidden');
				$('.upload').addClass('hidden');
				$('#video-location').val(dataReq.file_path);
				$('#uploaded_id').val(dataReq.uploaded_id);
				Snackbar.show({text: '<i class="fa fa-check"></i> ' + dataReq.file_name + ' {{LANG successfully_uplaoded}}'});
				$('#submit-btn').attr('disabled', false);
				$('.upload-video-file').val('');
				$('#title').val(dataReq.file_name);
				<?php if (PT_IsAdmin()) { ?>
					$('#movie_title').val(dataReq.file_name);
					<?php } ?>

			} else {
				Snackbar.show({showAction: false, backgroundColor: '#e22e40', text: '<div>' + 'Upload Error' + '</div>'});
			}
		}
	});


}

 function createVideoElement() {
	 let file = $(".upload-video-file").prop('files')[0];
	 return new Promise((resolve, reject) => {
		 try {
			 let video = document.createElement('video')
			 video.preload = 'metadata'
			 video.id = "video-thumbnail"

			 video.onloadedmetadata = function () {
				 resolve(this)
			 }

			 video.onerror = function () {
				 reject("Invalid video. Please select a video file.")
			 }

			 video.src = window.URL.createObjectURL(file)
		 } catch (e) {
			 reject(e)
		 }
	 });
}


function createVideoElementThumbnail(id_video) {
	return new Promise((resolve, reject) => {
		try {
			let file = $(".upload-video-file").prop('files')[0];
			let video = document.createElement('video')
			video.id = id_video
			video.src = window.URL.createObjectURL(file)
			video.controls = true;
			video.type="video/mp4";
			video.onloadedmetadata = function () {
				resolve(this)
			}
			document.body.appendChild(video);
		} catch (e) {
			reject(e)
		}
	});
}


function getLengthPartOfFile(){
	let FILE_CHUNK_SIZE = 1024 * 1024 * 5;
	let file = $(".upload-video-file").prop('files')[0];
	var chunks = Math.ceil(file.size/FILE_CHUNK_SIZE,FILE_CHUNK_SIZE);
	return chunks;
}

 function completeMultipartUpload(dataReq, parts){
	return new Promise(function (resolve, reject) {
		$.ajax({
			type: 'POST',
			url: '{{LINK aj/complete-multipart-upload}}?hash=' + $('.main_session').val(),
			dataType:'json',
			data: { parts, keyname : dataReq.file_path, uploadId : dataReq.multipart_upload_id },
			success : function (data, textStatus, xhr) {
				resolve({
					status : xhr.status
				})
			},
			error : function (jqXHR,  textStatus, errorThrown) {
				reject({
					errorThrown
				})
			}
		})
	})
}


function abortMultipartUpload(dataReq){
	return new Promise(function (resolve, reject) {
		$.ajax({
			type: 'POST',
			url: '{{LINK aj/abort-multipart-upload}}?hash=' + $('.main_session').val(),
			dataType:'json',
			data: { keyname : dataReq.file_path, uploadId : dataReq.multipart_upload_id },
			success : function (data, textStatus, xhr) {
				resolve({
					status : xhr.status
				})
			},
			error : function (jqXHR,  textStatus, errorThrown) {
				reject({
					errorThrown
				})
			}
		})
	})
}


 function uploadPart(url, data, partNumber, lengthPart ){
	 let bar         = $('.bar');
	 let percent     = $('.percent');
	 return  new Promise(function (resolve, reject) {
		$.ajax({
			type: 'PUT',
			url,
			data,
			processData: false,
			xhr: function() {
				var xhr = new window.XMLHttpRequest();
				xhr.upload.addEventListener("progress", function(evt) {
					if (evt.lengthComputable) {
						let percentCal = (evt.loaded * 100) / evt.total;
						let percentCalPerPart = (percentCal / lengthPart) + (100 / lengthPart) * (partNumber - 1);
						let percentComplete = Math.round((percentCalPerPart + Number.EPSILON) * 100) / 100;

						let percentVal = percentComplete + '%';
						bar.width(percentVal);
						percent.html(percentVal);

						if (percentComplete === 100 ) {
							$('.pt_prcs_vdo').html('<svg width="30" height="10" viewBox="0 0 120 30" xmlns="http://www.w3.org/2000/svg" fill="#<?php echo ($pt->mode == 'night') ? 'fff' : '222'?>"><circle cx="15" cy="15" r="15"><animate attributeName="r" from="15" to="15" begin="0s" dur="0.8s" values="15;9;15" calcMode="linear" repeatCount="indefinite" /><animate attributeName="fill-opacity" from="1" to="1" begin="0s" dur="0.8s" values="1;.5;1" calcMode="linear" repeatCount="indefinite" /></circle><circle cx="60" cy="15" r="9" fill-opacity="0.3"><animate attributeName="r" from="9" to="9" begin="0s" dur="0.8s" values="9;15;9" calcMode="linear" repeatCount="indefinite" /><animate attributeName="fill-opacity" from="0.5" to="0.5" begin="0s" dur="0.8s" values=".5;1;.5" calcMode="linear" repeatCount="indefinite" /></circle><circle cx="105" cy="15" r="15"><animate attributeName="r" from="15" to="15" begin="0s" dur="0.8s" values="15;9;15" calcMode="linear" repeatCount="indefinite" /><animate attributeName="fill-opacity" from="1" to="1" begin="0s" dur="0.8s" values="1;.5;1" calcMode="linear" repeatCount="indefinite" /></circle></svg> {{LANG porcessing_video}}');
							$('.progress').find('.bar').removeClass('upload-progress-bar');
						}
					}
				}, false);
				return xhr;
			},
			success : function (data, textStatus, xhr) {
				resolve({
					etag : xhr.getResponseHeader('ETag'),
					partNumber
				})
			},
			error : function (jqXHR,  textStatus, errorThrown) {
				reject({
					errorThrown
				})
			}
		})
	})
}


function capture_video_frame(video, format) {
	if (typeof video === 'string') {
		video = document.getElementById(video);
	}

	format = format || 'jpeg';

	if (!video || (format !== 'png' && format !== 'jpeg')) {
		return false;
	}

	var canvas = document.createElement("canvas");

	canvas.width = video.videoWidth;
	canvas.height = video.videoHeight;

	canvas.getContext('2d').drawImage(video, 0, 0);

	var dataUri = canvas.toDataURL('image/' + format);
	var data = dataUri.split(',')[1];
	var mimeType = dataUri.split(';')[0].slice(5)

	var bytes = window.atob(data);
	var buf = new ArrayBuffer(bytes.length);
	var arr = new Uint8Array(buf);

	for (var i = 0; i < bytes.length; i++) {
		arr[i] = bytes.charCodeAt(i);
	}

	var blob = new Blob([ arr ], { type: mimeType });
	let image =  { blob: blob, dataUri: dataUri, format: format };
	var thumb   = new File([base64_2_blob(image.dataUri)], "thumb.png", {type:"image/png"});
	return thumb;
}

function base64_2_blob(dataURI) {
	var byteString;
	if (dataURI.split(',')[0].indexOf('base64') >= 0)
		byteString = atob(dataURI.split(',')[1]);
	else
		byteString = unescape(dataURI.split(',')[1]);

	var mimeString = dataURI.split(',')[0].split(':')[1].split(';')[0];
	var ia = new Uint8Array(byteString.length);
	for (var i = 0; i < byteString.length; i++) {
		ia[i] = byteString.charCodeAt(i);
	}

	return new Blob([ia], { type:mimeString });
}


async function createThumbnail() {
	const id_video = "video-upload";
    await createVideoElementThumbnail(id_video);
	const image = capture_video_frame(id_video, 'png');
	var thumb   = new File([base64_2_blob(image.dataUri)], "thumb.png", {type:"image/png"});
	return thumb
}

function showThumbnail(file){
	var product_image_holder = $("#productimage-holder");
	product_image_holder.empty();
	var product_reader = new FileReader();
	product_reader.onload = function(e) {
		$("<img />", {
			"src": e.target.result,
			"class": "thumb-image"
		}).appendTo(product_image_holder);
	}
	product_image_holder.show();
	product_reader.readAsDataURL(file);
}


function updateThumbnailVideo(){
	let file = $(".upload-video-file").prop('files')[0];
	let video = document.createElement('video')
	video.src = window.URL.createObjectURL(file)
	video.controls = true;
	video.style.display = 'none';
	video.height = 350;
	video.width = 350;
	video.addEventListener('loadedmetadata', x => video.currentTime = 0);
	video.addEventListener('seeked', (event) => {

		let thumb = capture_video_frame(video, 'png');
		let container = new DataTransfer();
		container.items.add(thumb);
		let fileThumbnail =  document.getElementById('thumbnail');
		fileThumbnail.files = container.files;

		showThumbnail(thumb);
	});
	document.body.appendChild(video);
}


async function uploadPartsFileToS3(dataReq){
	let FILE_CHUNK_SIZE = 1024 * 1024 * 5;
	var bar         = $('.bar');
	var percent     = $('.percent');
	var percentVal = '0%';
	$('.progress').removeClass('hidden');
	bar.width(percentVal);
	percent.html(percentVal);

	let file = $(".upload-video-file").prop('files')[0];
	let urls = dataReq.pre_signed_url;
	const keys = Object.keys(urls)
	let parts = []

	for (const indexStr of keys) {
		const index = parseInt(indexStr)
		const start = index * FILE_CHUNK_SIZE
		const end = (index + 1) * FILE_CHUNK_SIZE
		const blob = index < keys.length ? file.slice(start, end) : file.slice(start)

		try {
			const result = await uploadPart(urls[index], blob, index + 1, keys.length );
			parts.push({
				ETag : result.etag,
				PartNumber : result.partNumber
			})
		} catch (e) {
			console.log(e);
			Snackbar.show({showAction: false, backgroundColor: '#e22e40', text: '<div>' + 'Upload Error' + '</div>'});
			await abortMultipartUpload(dataReq);
			return false;
		}
	}

	const resCompletePart = await  completeMultipartUpload(dataReq, parts);
	if(resCompletePart.status === 200){
		let api_url = "<?php global $api_url; echo $api_url;?>";
		$.ajax({
			type: 'POST',
			url: api_url + '/v1/video/insert-s3-object',
			contentType: 'application/json',
			data: JSON.stringify({ key_object : dataReq.file_path }),
			beforeSend: function (xhr) {
				xhr.setRequestHeader ("Authorization",  'Bearer <?php echo get_jwt_token(); ?>' );
			},
		});

		updateThumbnailVideo();

		$('#duration_video').val(dataReq.duration);

		percentVal = '0%';
		bar.width(percentVal);
		$('.progress').addClass('hidden');

		$('#upload-form').removeClass('hidden');
		$('.upload').addClass('hidden');
		$('#video-location').val(dataReq.file_path);
		$('#uploaded_id').val(dataReq.uploaded_id);
		Snackbar.show({text: '<i class="fa fa-check"></i> ' + dataReq.file_name + ' {{LANG successfully_uplaoded}}'});
		$('#submit-btn').attr('disabled', false);
		$('.upload-video-file').val('');
		$('#title').val(dataReq.file_name);
		<?php if (PT_IsAdmin()) { ?>
			$('#movie_title').val(dataReq.file_name);
			<?php } ?>
	}else {
		Snackbar.show({showAction: false, backgroundColor: '#e22e40', text: '<div>' + 'Upload Error' + '</div>'});
	}

	return  true;
}

function uploadVideoV1(duration){
	let bar         = $('.bar');
	let percent     = $('.percent');
	let prcsvdo		= $('.pt_prcs_vdo');
	let percentVal = '0%';
	let file = $(".upload-video-file").prop('files')[0];
	let chunks = getLengthPartOfFile();

	let is_short = 	document.getElementById('is_short') ? $("#is_short").val() : 'no';

	return new Promise(function (resolve, reject) {
		$.ajax({
			type: 'POST',
			url: '{{LINK aj/upload-video-v1}}?hash=' + $('.main_session').val(),
			dataType:'json',
			data: { video : { size : file.size, name : file.name, type : file.type, is_short, duration, chunks }},
			beforeSend: function() {
				$('.progress').removeClass('hidden');
				bar.width(percentVal);
				percent.html(percentVal);
			},
			xhr: function() {
				var xhr = new window.XMLHttpRequest();
				xhr.upload.addEventListener("progress", function(evt) {
					if (evt.lengthComputable) {
						let percentCal = (evt.loaded * 100) / evt.total;
						let percentComplete = Math.round((percentCal + Number.EPSILON) * 100) / 100;
						if(percentComplete > 50) {
							percent.addClass('white');
						}
						let percentVal = ''; // percentComplete + '%';
						bar.width(percentVal);
						percent.html(percentVal);

						if (percentComplete === 100) {
							prcsvdo.html('<svg width="30" height="10" viewBox="0 0 120 30" xmlns="http://www.w3.org/2000/svg" fill="#<?php echo ($pt->mode == 'night') ? 'fff' : '222'?>"><circle cx="15" cy="15" r="15"><animate attributeName="r" from="15" to="15" begin="0s" dur="0.8s" values="15;9;15" calcMode="linear" repeatCount="indefinite" /><animate attributeName="fill-opacity" from="1" to="1" begin="0s" dur="0.8s" values="1;.5;1" calcMode="linear" repeatCount="indefinite" /></circle><circle cx="60" cy="15" r="9" fill-opacity="0.3"><animate attributeName="r" from="9" to="9" begin="0s" dur="0.8s" values="9;15;9" calcMode="linear" repeatCount="indefinite" /><animate attributeName="fill-opacity" from="0.5" to="0.5" begin="0s" dur="0.8s" values=".5;1;.5" calcMode="linear" repeatCount="indefinite" /></circle><circle cx="105" cy="15" r="15"><animate attributeName="r" from="15" to="15" begin="0s" dur="0.8s" values="15;9;15" calcMode="linear" repeatCount="indefinite" /><animate attributeName="fill-opacity" from="1" to="1" begin="0s" dur="0.8s" values="1;.5;1" calcMode="linear" repeatCount="indefinite" /></circle></svg> {{LANG porcessing_video}}');
							$('.progress').find('.bar').removeClass('upload-progress-bar');
						}
					}
				}, false);
				return xhr;
			},
			success: function(data) {
				resolve(data)
			},
			error : function (jqXHR,  textStatus, errorThrown) {
				reject({
					errorThrown
				})
			}
		});
	})
}

async function uploadVideo(){
	try {
		let video = await createVideoElement();
		let duration = video.duration
		let data = await uploadVideoV1(duration);
		if (data.status === 200) {
		    await uploadPartsFileToS3(data);
		}else if(data.status === 402){
			$('.pt_prcs_vdo').html('')
			$('.progress').addClass('hidden');
			Snackbar.show({text: '<div>'+ data.message +'</div>'});
		}
	}catch (e) {
		console.log(e)
	}

}

function validUploadFile(){
	var file_size = $(".upload-video-file").prop('files')[0].size;
	if (file_size > "{{CONFIG max_upload}}") {
		swal({
			title: '{{LANG error}}',
			text: "{{LANG file_is_too_big}} <?php echo pt_size_format($pt->config->max_upload); ?>",
			type: 'error',
			confirmButtonColor: '#3085d6',
			cancelButtonColor: '#d33',
			confirmButtonText: 'OK',
			buttonsStyling: true,
			confirmButtonClass: 'btn btn-success',
		}).then(function () {
					swal.close();
					$('.upload-video-file').val('');
				},
				function () {
					swal.close();
					$('.upload-video-file').val('');
				});
		return false;
	}
	else{
		var filename = $('.upload').val().split('\\').pop();
		$('#title').val(filename);
		<?php if (PT_IsAdmin()) { ?>
			$('#movie_title').val(filename);
			<?php } ?>
	}
	return true;
}

function updateS3Object(dataReq){
	let api_url = "<?php global $api_url; echo $api_url;?>";
	let key_object =  $('#video-location').val();
	$.ajax({
		type: 'POST',
		url: api_url + '/v1/video/update-s3object',
		contentType: 'application/json',
		data: JSON.stringify({ video_key : dataReq.video_id,  key_object }),
		beforeSend: function (xhr) {
			xhr.setRequestHeader ("Authorization",  'Bearer <?php echo get_jwt_token(); ?>' );
		},
	});
}

$(function () {
	$("#mySingleFieldTags").tagit({
		allowSpaces: true
	});

   var video_drop_block = $("[data-block='video-drop-zone']");

   if (typeof(window.FileReader)){
      video_drop_block[0].ondragover = function() {
         video_drop_block.addClass('hover');
         return false;
      };

      video_drop_block[0].ondragleave = function() {
         video_drop_block.removeClass('hover');
         return false;
      };

      video_drop_block[0].ondrop = function(event) {
         event.preventDefault();
         video_drop_block.removeClass('hover');
         var file = event.dataTransfer.files;
         $('#upload-video').find('input').prop('files', file);
         $('#upload-video').submit();
      };
   }

	$('#upload-form form').ajaxForm({
	    url: '{{LINK aj/submit-video}}?hash=' + $('.main_session').val(),
	    beforeSend: function() {
			$('#submit-btn-waiting').show();
			$('#submit-btn-waiting').attr('disabled', true);
			$('#submit-btn').hide();
		},
	    success: function(data) {
	    	if (data.status == 200) {
				indexSearchVideo(data.video_id);

				updateS3Object(data);

				window.location.href = data.link;
	    	}
         else if(data.status == 402){
            swal({
               title: '{{LANG error}}',
               text: data.message,
               type: 'error',
               confirmButtonColor: '#3085d6',
               cancelButtonColor: '#d33',
               confirmButtonText: 'OK',
               buttonsStyling: true,
               confirmButtonClass: 'btn btn-success',
            }).then(function(){
               window.location.href = '{{LINK upload-video}}';
            },
            function() {
               window.location.href = '{{LINK }}';
            });
         }
         else {
				$('#submit-btn-waiting').hide();
				$('#submit-btn').show();
				Snackbar.show({text: '<div>'+ data.message +'</div>'});

	    	}
	    }
	});

	$('.upload-video-file').on('change', function(e) {
		// $('#upload-video').submit();

	    let isValid = validUploadFile();
		if(isValid === true){
			 uploadVideo();
		}
	});
});

function PT_OpenUploadForm() {
	$('#upload-video').find('input').trigger('click');
}

jQuery(function($) {
	$(document).ready(function() {
		$( '.upload' ).on('click', function(e) {
			$( '.upload-video-file' ).trigger("click");
		});
    enableMovieRentalDays();
    enableRentalDays();
	});
});
var movieRentalDaysPrev = "";
var rentalDaysPrev = "";
$("#movie_rental_days").on("keyup", function(event) {
  const reg = /d*/;
  const rentPrice = $('input[name="movie_rent_price"]').val();
  if (!reg.test(this.value)) {
    this.value = movieRentalDaysPrev;
  }
  if (rentPrice && (Number(this.value <= 0) || Number(this.value >=100))) {
    if (this.value) this.value = movieRentalDaysPrev;
    $("#movie-rental-days-help").html("{{LANG number_of_rent_days}} 1 - 99");
  }
  movieRentalDaysPrev = this.value;
  // $("#movie-rental-days-help").html(this.value);
});

function enableMovieRentalDays() {
  if (Number($('input[name="movie_rent_price"]').val())) {
    $("#movie_rental_days_wrapper").show();
  } else {
    $("#movie_rental_days_wrapper").hide();
  }
}
function enableRentalDays() {
  if (Number($('input[name="rent_price"]').val())) {
    $("#rental_days_wrapper").show();
  } else {
    $("#rental_days_wrapper").hide();
  }
}

$('input[name="movie_rent_price"]').on('keyup', function(event) {
  enableMovieRentalDays();
});
$('input[name="rent_price"]').on('keyup', function(event) {
  enableRentalDays();
});

$("#rental_days").on("keyup", function(event) {
  const reg = /d*/;
  const rentPrice = $('input[name="rent_price"]').val();
  if (!reg.test(this.value)) {
    this.value = rentalDaysPrev;
  }
  if (rentPrice && (Number(this.value <= 0) || Number(this.value >=100))) {
    if (this.value) this.value = rentalDaysPrev;
    $("#rental-days-help").html("{{LANG number_of_rent_days}} 1 - 99");
  }
  rentalDaysPrev = this.value;
});

</script>
<style>.upload-s3-progressing{background: #4c9dd3;}</style>
