<button class="btn-{{IS_SUBSCRIBED_BUTTON}} subscribe-id-{{USER_ID}}" data-id="{{USER_ID}}" onclick="onClickSubscribe({{USER_ID}}, '{{IS_SUBSCRIBED_BUTTON}}', '<?php global $api_url; echo $api_url;?>', 'subscribe', '{{VIDEO_KEY}}', '<?php echo get_jwt_token(); ?>' )">
	<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus">{{IS_SUBSCRIBED_ICON}}</svg> {{IS_SUBSCRIBED_TEXT}}
</button>
<span class="subs-amount">{{SUBS}}</span>