<link rel="stylesheet" href="{{CONFIG theme_url}}/css/pages/video_studio.css?version={{CONFIG version}}&css_version={{CONFIG css_version}}">

<div class="user-setting-panel pt_shadow">
	<div class="">
		<div class="upload-head">
			<h4 class="pt_mn_page_hd"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="<?php if (empty($_GET['videos_type']) || $_GET['videos_type'] != 'movies') { echo 'M17,10.5V7A1,1 0 0,0 16,6H4A1,1 0 0,0 3,7V17A1,1 0 0,0 4,18H16A1,1 0 0,0 17,17V13.5L21,17.5V6.5L17,10.5Z'; } ?><?php if (!empty($_GET['videos_type']) && $_GET['videos_type'] == 'movies') { echo 'M18 4v1h-2V4c0-.55-.45-1-1-1H9c-.55 0-1 .45-1 1v1H6V4c0-.55-.45-1-1-1s-1 .45-1 1v16c0 .55.45 1 1 1s1-.45 1-1v-1h2v1c0 .55.45 1 1 1h6c.55 0 1-.45 1-1v-1h2v1c0 .55.45 1 1 1s1-.45 1-1V4c0-.55-.45-1-1-1s-1 .45-1 1zM8 17H6v-2h2v2zm0-4H6v-2h2v2zm0-4H6V7h2v2zm10 8h-2v-2h2v2zm0-4h-2v-2h2v2zm0-4h-2V7h2v2z'; } ?>"></path></svg> <?php echo($pt->videos_type == 'movies' ? '{{LANG movies}}' : '{{LANG videos}}') ?></h4>
			<div class="tp_vid_fltr_tabs">
				<ul class="list-unstyled">
					<li>
						<a href="{{LINK dashboard}}" data-load="?link1=dashboard">{{LANG dashboard}}</a>
					</li>
					<li <?php if (empty($_GET['videos_type']) || $_GET['videos_type'] != 'movies') { echo 'class="selected"'; } ?>>
						<a href="{{LINK video_studio}}" data-load="?link1=video_studio">{{LANG videos}}</a>
					</li>
					<li>
						<a href="{{LINK comments}}" data-load="?link1=comments">{{LANG comments}}</a>
					</li>
					<?php if ($pt->config->usr_v_mon == 'on' || $pt->config->sell_videos_system == 'on' || $pt->config->payed_subscribers == 'on') { ?>
						<li>
							<a href="{{LINK transactions}}" data-load="?link1=transactions">{{LANG earnings}}</a>
						</li>
					<?php } ?>
					<?php if ($pt->config->movies_videos == 'on' && PT_IsAdmin()) { ?>
						<li <?php if (!empty($_GET['videos_type']) && $_GET['videos_type'] == 'movies') { echo 'class="selected"'; } ?> >
							<a href="{{LINK video_studio?videos_type=movies}}" data-load="?link1=video_studio&videos_type=movies">{{LANG movies}}</a>
						</li>
					<?php } ?>
				</ul>
			</div>
			<div class="clear"></div>
			<hr>
		</div>
		
		<div class="upload-head">
			<h4><?php echo($pt->videos_type == 'movies' ? '{{LANG manage_my_movies}}' : '{{LANG manage_my_videos}}') ?>
				<div class="pull-right dropdown">
					<select name="category" id="category" style="text-transform: capitalize; " onchange="onChangeCategory(this);" >
						<option value="-1" > ---All--- </option>
						<option value="0" > Shorts </option>
						<?php foreach($pt->video_categories as $key => $category){ ?>
							<option value="<?php echo $category->lang_key ?>" >
								<span> {{LANG <?php echo $category->lang_key ?>}} </span>
							</option>
						<?php } ?>
					</select>
				</div>

<!--				<div class="pull-right dropdown">-->
<!--					<span class="dropdown-toggle" data-toggle="dropdown" role="button" title="{{LANG sort_by}}"><svg class="feather feather-filter" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true"><polygon points="22 3 2 3 10 12.46 10 19 14 21 14 12.46 22 3"></polygon></svg></span>-->
<!--					<div class="dropdown-menu dropdown-menu-right vid_stud_filtr">-->
<!--						<form class="search_filter_form" method="POST" action="">-->
<!--							<div class="dropdown-item">-->
<!--								<label for="_views_">-->
<!--								<input type="radio" name="type" id="_views_" value="views" <?php echo (!empty($_POST['type']) && $_POST['type'] == 'views') ? 'checked': ''?>>-->
<!--								<span>{{LANG views}}</span>-->
<!--								</label>-->
<!--							</div>-->
<!--							<div class="dropdown-item">-->
<!--								<label for="_likes_">-->
<!--								<input type="radio" name="type" id="_likes_" value="likes" <?php echo (!empty($_POST['type']) && $_POST['type'] == 'likes') ? 'checked': ''?>>-->
<!--								<span>{{LANG likes}}</span>-->
<!--								</label>-->
<!--							</div>-->
<!--							<div class="dropdown-item">-->
<!--								<label for="_dislikes_">-->
<!--								<input type="radio" name="type" id="_dislikes_" value="dislikes" <?php echo (!empty($_POST['type']) && $_POST['type'] == 'dislikes') ? 'checked': ''?>>-->
<!--								<span>{{LANG dislikes}}</span>-->
<!--								</label>-->
<!--							</div>-->
<!--							<div class="dropdown-item">-->
<!--								<label for="_comments_">-->
<!--								<input type="radio" name="type" id="_comments_" value="comments" <?php echo (!empty($_POST['type']) && $_POST['type'] == 'comments') ? 'checked': ''?>>-->
<!--								<span>{{LANG comments}}</span>-->
<!--								</label>-->
<!--							</div>-->
<!--						</form>-->
<!--					</div>-->
<!--				</div>-->

			</h4>
			<hr>
			<div class="clear"></div>
		</div>
		<div class="subscriptions-list">
			<div class="author-list"> </div>
				<div class="watch-video-show-more desc" data-type="video_studio" <?php if (!empty($_POST['type'])) { ?>sort-type="<?php echo($_POST['type']); ?>" <?php } ?>>
					{{LANG show_more}}
				</div>
		</div>
		<div class="clear"></div>
	</div>
	<div class="clear"></div>
</div>
<br>
<script type="text/javascript">
$(".vid_stud_filtr input[type=radio]").change(function(){
	$('form.search_filter_form').submit();
});

var limit = 20;
var page = 1;
var categoryId = -1;

$( document ).ready(function() {
	getListVideoByFilter()
});

function onChangeCategory(self){
	categoryId = self.value;
	page = 1;
	getListVideoByFilter();
}

$(".watch-video-show-more").click(function() {
	page += 1;
	getListVideoByFilter()
});


function getListVideoByFilter(){
	$.ajax({
		url: '{{LINK aj/video-studio}}?hash=' + $('.main_session').val() ,
		type: 'POST',
		dataType: 'json',
		data: {category_id: categoryId, limit, page}
	})
	.done(function (data) {
		if(data.status === 200) {
			if(page > 1){
				$(".author-list").append(data.html);
			}else{
				$(".author-list").html(data.html);
			}
			if(!data.isLoadMore){
				$(".watch-video-show-more").hide();
			}else{
				$(".watch-video-show-more").show();
			}
		}
	})
}

</script>