<?php if (
        (empty($pt->currency_selected)
            && $pt->config->paypal == 'yes')
        || (!empty($pt->currency_selected)
            && $pt->currency_selected != 'vnd'
            && $pt->config->paypal == 'yes')
      ) { ?>
<button class="btn btn-paypal" onclick="PT_PurchasePkg('{{TYPE}}',this,'{{VIDEO_ID}}','{{PRICE}}','{{USER_ID}}');">
	<svg version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 512 512" xml:space="preserve"> <path style="fill:#002987;" d="M428.876,132.28c0.867-7.045,1.32-14.218,1.32-21.497C430.196,49.6,380.597,0,319.413,0H134.271 c-11.646,0-21.589,8.41-23.521,19.894l-68.22,405.475c-2.448,14.55,8.768,27.809,23.521,27.809h67.711 c11.646,0,21.776-8.404,23.707-19.889c0,0,0.113-0.673,0.317-1.885h0.001l-9.436,56.086C146.195,500.313,156.08,512,169.083,512 h59.237c10.265,0,19.029-7.413,20.731-17.535l16.829-100.02c2.901-17.242,17.828-29.867,35.311-29.867h15.562 c84.53,0,153.054-68.525,153.054-153.054C469.807,178.815,453.639,149.902,428.876,132.28z"/> <path style="fill:#0085CC;" d="M428.876,132.28c-10.594,86.179-84.044,152.91-173.086,152.91h-51.665 c-11.661,0-21.732,7.767-24.891,18.749l-30.882,183.549C146.195,500.312,156.08,512,169.083,512h59.237 c10.265,0,19.029-7.413,20.731-17.535l16.829-100.02c2.901-17.242,17.828-29.867,35.311-29.867h15.562 c84.53,0,153.054-68.525,153.054-153.054l0,0C469.807,178.815,453.639,149.902,428.876,132.28z"/> <path style="fill:#00186A;" d="M204.125,285.19h51.665c89.043,0,162.493-66.731,173.086-152.909 c-15.888-11.306-35.304-17.978-56.29-17.978h-134.85c-15.353,0-28.462,11.087-31.01,26.227l-27.493,163.408 C182.392,292.956,192.464,285.19,204.125,285.19z"/> </svg>
	{{LANG paypal}}
</button>
<?php } ?>
<?php if ($pt->config->checkout_payment == 'yes') { ?>
<!-- Card -->
	<button class="btn-check btn" onclick="PT_OpenCheckOut('{{TYPE}}',this,'{{VIDEO_ID}}','{{PRICE}}','{{USER_ID}}');">
		<svg version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 512 512" xml:space="preserve"> <path style="fill:#019ACA;" d="M512,256c0,24.409-3.417,48.013-9.791,70.374C471.636,433.539,372.976,512,256,512 C114.615,512,0,397.385,0,256S114.615,0,256,0c112.149,0,207.454,72.119,242.071,172.502C507.099,198.677,512,226.764,512,256z"/> <g> <path style="fill:#F0EFEB;" d="M498.072,172.502c-19.926-12.455-45.108-17.784-71.45-12.904 c-44.23,8.192-74.073,44.387-74.094,91.167c-0.387,6.071,0.188,13.354,1.985,20.511c8.589,34.262,29.414,58.943,66.173,68.305 c30.103,7.67,57.971,3.929,81.523-13.208C508.583,304.013,512,280.409,512,256C512,226.764,507.099,198.677,498.072,172.502z M490.851,295.643c-16.865,18.15-38.013,22.936-61.2,16.645c-23.928-6.499-37.48-23.604-43.071-47.355 c-1.17-4.963-1.546-10.021-1.296-14.221c0.021-32.434,19.435-57.522,48.232-63.206c38.076-7.513,72.422,19.895,73.895,58.776 C508.123,264.903,503.745,281.767,490.851,295.643z"/> <path style="fill:#F0EFEB;" d="M84.868,312.922c12.492,0,24.985,0,37.476,0c13.791,0,27.583,0.135,41.371-0.085 c3.992-0.064,5.327,1.111,5.091,5.137c-0.332,5.659-0.428,11.379,0.021,17.022c0.388,4.87-1.636,5.606-5.925,5.588 c-36.91-0.15-73.82-0.087-110.73-0.087c-13.526,0-13.104-0.018-13.689-13.669c-0.332-7.75,1.921-12.893,8.097-17.96 c22.096-18.125,43.654-36.911,65.297-55.583c6.453-5.567,12.277-11.784,16.926-19.021c5.188-8.074,6.848-16.926,5.221-26.21 c-2.922-16.664-19.722-25.666-38.273-20.93c-12.54,3.201-21.052,11.856-28.623,21.486c-2.861,3.639-4.581,3.916-7.954,0.935 c-4.699-4.153-9.793-7.873-14.827-11.631c-1.899-1.417-2.722-2.39-1.067-4.792c21.73-31.543,52.725-42.546,88.687-30.858 c38.834,12.621,42.357,56.672,26.059,81.762c-7.615,11.723-17.872,20.935-28.433,29.82c-15.021,12.639-30.179,25.116-45.279,37.663 C84.498,311.98,84.683,312.451,84.868,312.922z"/> <path style="fill:#F0EFEB;" d="M284.865,343.452c-54.955,1.164-96.58-39.644-96.716-90.472 c-0.123-46.273,26.955-82.92,69.758-92.655c30.503-6.938,59.117-2.159,84.541,17.437c4.598,3.543,4.352,5.552,0.273,9.008 c-4.629,3.922-8.965,8.245-13.037,12.749c-2.925,3.235-4.868,3.752-8.727,0.8c-16.533-12.647-35.196-17.295-55.577-12.103 c-25.378,6.466-43.248,29.734-44.409,57.509c-0.971,23.229,6.213,43.253,25.18,57.717c21.007,16.02,50.546,15.303,73.637-1.764 c4.195-3.101,6.369-3.111,9.705,0.753c3.959,4.585,8.463,8.749,13.056,12.718c3.134,2.707,2.306,4.116-0.445,6.434 C324.287,336.604,303.68,343.595,284.865,343.452z"/> </g></svg>
		{{LANG checkout_text}}
	</button>
<?php } ?>
<?php if ($pt->config->credit_card == 'yes') { ?>
<!-- Card -->
	<button class="btn-cart btn" onclick="PT_OpenStripe('{{TYPE}}',this,'{{VIDEO_ID}}','{{PRICE}}','{{USER_ID}}');">
		<svg version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 58 58" xml:space="preserve"> <g id="XMLID_9_"> <path id="XMLID_114_" style="fill:#8798CC;" d="M54.783,50H3.217C1.44,50,0,48.56,0,46.783V11.217C0,9.44,1.44,8,3.217,8h51.566 C56.56,8,58,9.44,58,11.217v35.566C58,48.56,56.56,50,54.783,50"/> <rect id="XMLID_113_" y="13" style="fill:#556180;" width="58" height="8"/> <path id="XMLID_112_" style="fill:#B0D3F0;" d="M15,26H6c-0.553,0-1,0.448-1,1s0.447,1,1,1h9c0.553,0,1-0.448,1-1S15.553,26,15,26" /> <path id="XMLID_111_" style="fill:#B0D3F0;" d="M29,27c0-0.552-0.447-1-1-1h-9c-0.553,0-1,0.448-1,1s0.447,1,1,1h9 C28.553,28,29,27.552,29,27"/> <path id="XMLID_110_" style="fill:#B0D3F0;" d="M7,31H6c-0.553,0-1,0.448-1,1s0.447,1,1,1h1c0.553,0,1-0.448,1-1S7.553,31,7,31"/> <path id="XMLID_109_" style="fill:#B0D3F0;" d="M13,31h-2c-0.553,0-1,0.448-1,1s0.447,1,1,1h2c0.553,0,1-0.448,1-1S13.553,31,13,31 "/> <path id="XMLID_108_" style="fill:#B0D3F0;" d="M18,31h-1c-0.553,0-1,0.448-1,1s0.447,1,1,1h1c0.553,0,1-0.448,1-1S18.553,31,18,31 "/> <path id="XMLID_107_" style="fill:#B0D3F0;" d="M24,31h-2c-0.553,0-1,0.448-1,1s0.447,1,1,1h2c0.553,0,1-0.448,1-1S24.553,31,24,31 "/> <path id="XMLID_106_" style="fill:#B0D3F0;" d="M27.29,31.29C27.109,31.48,27,31.74,27,32c0,0.26,0.109,0.52,0.29,0.71 C27.478,32.89,27.728,33,28,33c0.26,0,0.519-0.11,0.71-0.29C28.89,32.52,29,32.26,29,32c0-0.26-0.11-0.52-0.29-0.71 C28.34,30.92,27.66,30.92,27.29,31.29"/> <rect id="XMLID_105_" x="36" y="34" style="fill:#91BAE1;" width="16" height="10"/> </g> </svg>
		{{LANG credit_card}}
	</button>
<?php } ?>
<?php if ($pt->config->bank_payment == 'yes') { ?>
	<button class="bank_payment btn" onclick="PT_OpenBank('{{TYPE}}',this,'{{VIDEO_ID}}','{{PRICE}}','{{USER_ID}}');">
		<svg version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="47.001px" height="47.001px" viewBox="0 0 47.001 47.001" xml:space="preserve"><path fill="currentColor"  d="M44.845,42.718H2.136C0.956,42.718,0,43.674,0,44.855c0,1.179,0.956,2.135,2.136,2.135h42.708c1.18,0,2.136-0.956,2.136-2.135C46.979,43.674,46.023,42.718,44.845,42.718z"/><path fill="currentColor"  d="M4.805,37.165c-1.18,0-2.136,0.956-2.136,2.136s0.956,2.137,2.136,2.137h37.37c1.18,0,2.136-0.957,2.136-2.137s-0.956-2.136-2.136-2.136h-0.533V17.945h0.533c0.591,0,1.067-0.478,1.067-1.067s-0.478-1.067-1.067-1.067H4.805c-0.59,0-1.067,0.478-1.067,1.067s0.478,1.067,1.067,1.067h0.534v19.219H4.805z M37.37,17.945v19.219h-6.406V17.945H37.37zM26.692,17.945v19.219h-6.406V17.945H26.692z M9.609,17.945h6.406v19.219H9.609V17.945z"/><path fill="currentColor" d="M2.136,13.891h42.708c0.007,0,0.015,0,0.021,0c1.181,0,2.136-0.956,2.136-2.136c0-0.938-0.604-1.733-1.443-2.021l-21.19-9.535c-0.557-0.25-1.194-0.25-1.752,0L1.26,9.808c-0.919,0.414-1.424,1.412-1.212,2.396C0.259,13.188,1.129,13.891,2.136,13.891z"/></svg>
		{{LANG bank_transfer}}
	</button>
<?php } ?>
<?php if ($pt->show_wallet == 1) { ?>
<!-- Wallet -->
	<button class="btn-walletpay btn" onclick="pay_using_wallet('{{TYPE}}',this,'{{VIDEO_ID}}','{{PRICE}}','{{USER_ID}}');">
		<svg version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 512 512" xml:space="preserve"> <path style="fill:#CE3A50;" d="M434.504,65.481c-0.013,0-0.025,0.002-0.039,0.002c0,0-394.371,0.007-394.462,0.007 c-0.16,0-0.31,0.013-0.465,0.02C17.662,65.76,0.003,83.563,0.003,105.498v7.375c0.004-1.27,0.068,2.475,0.169,1.229 c1.823,20.402,18.955,36.397,39.831,36.397c0.091,0,394.462-5.007,394.462-5.007c0.013,0,0.025,4.999,0.039,4.999 c26.191,0,47.5,16.309,47.5,42.501v-80.008C482.004,86.79,460.695,65.481,434.504,65.481z"/> <path style="fill:#DA4453;" d="M434.504,145.488c-0.013,0-0.025,0.002-0.039,0.002c0,0-394.371,0.007-394.462,0.007 c-20.876,0-38.008-15.995-39.831-36.397C0.068,110.384,0,111.679,0,112.989c0,0.013,0.001,0.025,0.001,0.038v211.218v48.741v60.01 c0,0.014,0.002,0.025,0.002,0.039c0.021,26.175,21.321,47.463,47.499,47.463h387.002c26.189,0,47.496-21.305,47.5-47.494 c0-0.002,0-0.002,0-0.004v-33.754v-26.25V192.989C482.004,166.797,460.695,145.488,434.504,145.488z"/> <path style="fill:#CE3A50;" d="M434.504,145.488c-0.013,0-0.025,0.002-0.039,0.002c0,0-11.252,0-29.866,0.001 C430.745,145.545,452,166.831,452,192.99v180.008v26.25v33.754c0,0.002,0,0.002,0,0.004c-0.004,26.189-21.311,47.494-47.5,47.494 h30.003c26.189,0,47.496-21.305,47.5-47.494c0-0.002,0-0.002,0-0.004v-33.754v-26.25V192.989 C482.004,166.797,460.695,145.488,434.504,145.488z"/> <path style="fill:#BF2E4A;" d="M434.504,65.481c-0.013,0-0.025,0.002-0.039,0.002c0,0-11.252,0-29.866,0 C430.745,65.537,452,86.823,452,112.981v35.861c17.555,6.983,30.003,24.133,30.003,44.147v-80.008 C482.004,86.79,460.695,65.481,434.504,65.481z"/> <path style="fill:#ED5565;" d="M497,245.493h-7.655H448.41h-63.918c-0.005,0-0.009,0.001-0.014,0.001 c-0.216,0-0.431,0.013-0.645,0.032c-0.246,0.021-0.488,0.055-0.726,0.1c-0.029,0.006-0.059,0.008-0.088,0.014 c-0.198,0.04-0.392,0.091-0.583,0.146c-0.04,0.011-0.081,0.019-0.121,0.031c-0.171,0.052-0.337,0.115-0.503,0.178 c-0.062,0.024-0.125,0.043-0.187,0.068c-0.138,0.058-0.271,0.124-0.405,0.189c-0.087,0.043-0.177,0.081-0.263,0.127 c-0.102,0.055-0.201,0.118-0.3,0.178c-0.112,0.066-0.226,0.13-0.334,0.203c-0.071,0.048-0.138,0.102-0.207,0.152 c-0.129,0.093-0.259,0.184-0.383,0.286c-0.051,0.042-0.097,0.089-0.147,0.132c-0.133,0.116-0.267,0.231-0.393,0.357 c-0.064,0.063-0.121,0.134-0.183,0.2c-0.109,0.117-0.22,0.233-0.322,0.358c-0.152,0.185-0.295,0.378-0.428,0.577 c-0.003,0.003-0.006,0.007-0.008,0.011l-39.998,60.001c-0.279,0.418-0.515,0.861-0.702,1.322c-0.071,0.172-0.128,0.347-0.185,0.522 c-0.017,0.053-0.039,0.104-0.055,0.157c-0.056,0.185-0.099,0.372-0.14,0.558c-0.011,0.049-0.025,0.097-0.035,0.145 c-0.033,0.168-0.055,0.337-0.076,0.506c-0.009,0.072-0.023,0.144-0.03,0.217c-0.014,0.139-0.017,0.277-0.022,0.416 c-0.005,0.106-0.014,0.212-0.014,0.319c0,0.103,0.009,0.206,0.013,0.309c0.005,0.142,0.009,0.285,0.023,0.427 c0.007,0.069,0.02,0.138,0.029,0.208c0.022,0.172,0.044,0.344,0.078,0.515c0.009,0.047,0.023,0.093,0.034,0.14 c0.041,0.189,0.085,0.376,0.141,0.563c0.016,0.053,0.038,0.104,0.055,0.158c0.057,0.174,0.114,0.349,0.185,0.521 c0.188,0.461,0.424,0.904,0.704,1.323l39.997,59.992c0.002,0.003,0.004,0.005,0.006,0.008c0.161,0.239,0.337,0.467,0.523,0.686 c0.061,0.072,0.125,0.139,0.189,0.208c0.128,0.139,0.259,0.273,0.397,0.402c0.081,0.076,0.161,0.15,0.243,0.221 c0.145,0.125,0.297,0.242,0.452,0.356c0.07,0.051,0.137,0.107,0.208,0.155c0.225,0.153,0.458,0.294,0.699,0.422 c0.061,0.032,0.124,0.059,0.185,0.089c0.192,0.096,0.388,0.185,0.589,0.264c0.078,0.031,0.156,0.059,0.235,0.086 c0.191,0.068,0.385,0.128,0.583,0.181c0.081,0.022,0.161,0.044,0.243,0.063c0.203,0.047,0.409,0.083,0.618,0.113 c0.076,0.011,0.151,0.026,0.227,0.035c0.258,0.029,0.52,0.045,0.786,0.047c0.021,0,0.042,0.004,0.064,0.004 c0.004,0,0.009-0.001,0.014-0.001H489.5c12.404,0,22.496-10.092,22.496-22.496v-112.5V230.57 C511.954,238.819,505.258,245.493,497,245.493z"/> <path style="fill:#DA4453;" d="M497,245.493h-7.655h-7.352v112.5c0,12.404-10.092,22.496-22.496,22.496H489.5 c12.404,0,22.496-10.092,22.496-22.496v-112.5V230.57C511.954,238.819,505.258,245.493,497,245.493z"/> <g> <path style="fill:#BF2E4A;" d="M497,215.493h-14.996v14.923c0,0.026-0.004,0.051-0.004,0.077s0.004,0.051,0.004,0.077v14.923H497 c8.284,0,15-6.716,15-15S505.284,215.493,497,215.493z"/> <path style="fill:#BF2E4A;" d="M424.496,120.497H47.503c-4.142,0-7.5-3.358-7.5-7.5s3.358-7.5,7.5-7.5h376.993 c4.142,0,7.5,3.358,7.5,7.5S428.638,120.497,424.496,120.497z"/> </g> <path style="fill:#FFCE54;" d="M414.497,337.995c-13.785,0-25-11.215-25-25c0-13.786,11.215-25.001,25-25.001s25,11.215,25,25.001 C439.497,326.78,428.282,337.995,414.497,337.995z"/> <path style="fill:#A0D468;" d="M368.547,111.496L89.56,31.784c-0.04-0.011-0.08-0.017-0.121-0.028 c-0.042-0.011-0.08-0.027-0.122-0.037c-0.083-0.021-0.166-0.031-0.249-0.049c-0.13-0.028-0.26-0.056-0.389-0.077 c-0.116-0.018-0.23-0.031-0.346-0.044c-0.136-0.015-0.272-0.03-0.408-0.038c-0.11-0.006-0.219-0.007-0.328-0.009 c-0.14-0.002-0.279-0.003-0.418,0.003c-0.104,0.004-0.208,0.014-0.311,0.022c-0.142,0.012-0.283,0.025-0.422,0.045 c-0.099,0.014-0.196,0.033-0.295,0.051c-0.142,0.026-0.283,0.053-0.423,0.087c-0.093,0.023-0.185,0.05-0.277,0.076 c-0.141,0.04-0.281,0.081-0.419,0.13c-0.087,0.031-0.172,0.065-0.258,0.098c-0.139,0.055-0.277,0.111-0.413,0.173 c-0.081,0.038-0.161,0.079-0.241,0.119c-0.134,0.068-0.268,0.138-0.398,0.214c-0.076,0.045-0.15,0.093-0.226,0.14 c-0.128,0.081-0.254,0.163-0.377,0.251c-0.073,0.052-0.144,0.108-0.215,0.163c-0.118,0.091-0.234,0.184-0.347,0.282 c-0.071,0.062-0.138,0.127-0.207,0.191c-0.105,0.1-0.21,0.201-0.31,0.307c-0.068,0.072-0.133,0.148-0.199,0.223 c-0.092,0.106-0.183,0.212-0.269,0.324c-0.066,0.086-0.128,0.174-0.191,0.262c-0.077,0.109-0.153,0.218-0.225,0.331 c-0.063,0.1-0.121,0.203-0.179,0.306c-0.062,0.11-0.124,0.22-0.181,0.333s-0.107,0.229-0.159,0.345 c-0.049,0.113-0.098,0.225-0.143,0.341c-0.046,0.121-0.087,0.247-0.127,0.372c-0.026,0.081-0.058,0.157-0.081,0.239 c-0.012,0.04-0.017,0.081-0.028,0.121c-0.011,0.041-0.027,0.08-0.037,0.121l-18.575,74.319h306.901V111.496z"/> </svg>
		Using Wallet ( <?php echo $pt->config->payment_currency . $pt->user->wallet;?> )
	</button>
<?php } ?>
<?php if ($pt->config->paystack_payment == 'yes') { ?>
<!-- Card -->
	<button class="btn-paystack btn" onclick="pay_using_paystack('{{TYPE}}',this,'{{VIDEO_ID}}','{{PRICE}}','{{USER_ID}}');">
		<img src="{{CONFIG theme_url}}/img/paystack.png">
		{{LANG paystack}}
	</button>
<?php } ?>
<?php if ($pt->config->cashfree_payment == 'yes') { ?>
<!-- Card -->
	<button class="btn-cashfree btn" onclick="pay_using_cashfree('{{TYPE}}',this,'{{VIDEO_ID}}','{{PRICE}}','{{USER_ID}}');">
		<img src="{{CONFIG theme_url}}/img/cashfree.png">
		{{LANG cashfree}}
	</button>
<?php } ?>
<?php if ($pt->config->razorpay_payment == 'yes') { ?>
<!-- Card -->
	<button class="btn-razorpay btn" onclick="pay_using_razorpay('{{TYPE}}',this,'{{VIDEO_ID}}','{{PRICE}}','{{USER_ID}}');">
		<img src="{{CONFIG theme_url}}/img/razorpay.png">
		{{LANG razorpay}}
	</button>
<?php } ?>
<?php if ($pt->config->paysera_payment == 'yes') { ?>
<!-- Card -->
	<button class="btn-paysera btn" onclick="pay_using_paysera('{{TYPE}}',this,'{{VIDEO_ID}}','{{PRICE}}','{{USER_ID}}');">
		<img src="{{CONFIG theme_url}}/img/paysera.png">
		<span>{{LANG paysera}}</span>
	</button>
<?php } ?>
<?php if ($pt->config->iyzipay_payment == 'yes') { ?>
	<button class="btn-iyzipay btn" onclick="pay_using_iyzipay('{{TYPE}}',this,'{{VIDEO_ID}}','{{PRICE}}','{{USER_ID}}');">
		<img src="{{CONFIG theme_url}}/img/iyzipay.png">
		<span>{{LANG iyzipay}}</span>
	</button>
<?php } ?>
<?php if ($pt->config->securionpay_payment == 'yes') { ?>
	<button class="btn-securionpay btn" onclick="PaySecurionpay();">
		<img src="{{CONFIG theme_url}}/img/securionpay.png">
		<span>{{LANG securionpay}}</span>
	</button>
<?php } ?>
<?php if ($pt->config->authorize_payment == 'yes') { ?>
	<button class="btn-authorize btn" onclick="PayAuthorize();">
		<img src="{{CONFIG theme_url}}/img/authorize.png">
		<span>{{LANG authorize}}</span>
	</button>
<?php } ?>
<?php if ($pt->config->yoomoney_payment == 'yes') { ?>
	<button class="btn-yoomoney btn" onclick="pay_using_yoomoney();">
		<svg width="57" height="40" viewBox="0 0 57 40" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M36.33 0c-11.14 0-20 8.987-20 20 0 11.14 8.987 20 20 20 11.012 0 20-8.987 20-20s-8.988-20-20-20zm0 27.342c-4.051 0-7.47-3.418-7.47-7.469 0-4.05 3.419-7.468 7.47-7.468 4.05 0 7.468 3.418 7.468 7.468-.127 4.178-3.418 7.469-7.469 7.469zM16.203 5.696V34.81h-7.09L0 5.696h16.203z" fill="#8b3ffd"></path></svg>
		<span>{{LANG yoomoney}}</span>
	</button>
<?php } ?>
<?php if ($pt->config->fortumo_payment == 'yes') { ?>
	<button class="btn-fortumo btn" onclick="pay_using_fortumo();">
		<svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="300.000000pt" height="300.000000pt" viewBox="0 0 300.000000 300.000000" preserveAspectRatio="xMidYMid meet"> <g transform="translate(0.000000,300.000000) scale(0.100000,-0.100000)" fill="#ef172f" stroke="none"> <path d="M1518 2850 c-210 -38 -411 -160 -524 -318 -92 -127 -119 -269 -71 -363 30 -59 286 -340 302 -331 6 4 110 83 231 177 271 210 339 277 396 391 39 78 42 94 46 178 5 111 -14 167 -71 210 -65 50 -205 75 -309 56z"></path> <path d="M2210 2306 c-132 -28 -263 -84 -359 -154 -100 -73 -511 -407 -509 -413 2 -4 52 -60 112 -126 285 -309 336 -352 480 -400 75 -25 93 -27 246 -27 151 0 173 3 255 28 565 172 752 736 333 1006 -101 66 -199 92 -358 96 -88 2 -158 -1 -200 -10z"></path> <path d="M545 2120 c-224 -48 -439 -243 -516 -470 -30 -89 -31 -208 -3 -270 77 -167 300 -200 517 -78 31 18 170 125 308 237 l250 204 -24 26 c-13 14 -78 90 -145 167 -102 118 -130 145 -172 163 -57 25 -155 34 -215 21z"></path> <path d="M947 1421 c-294 -241 -349 -298 -416 -435 -100 -202 -108 -405 -22 -575 95 -187 305 -293 518 -261 290 44 529 270 604 569 17 69 21 105 17 190 -6 120 -28 195 -82 276 -31 47 -362 435 -371 435 -2 0 -114 -90 -248 -199z"></path> </g> </svg>
		<span>{{LANG fortumo}}</span>
	</button>
<?php } ?>
<?php if ($pt->config->coinbase_payment == 'yes') { ?>
	<button class="btn-coinbase btn" onclick="pay_using_coinbase();">
		<svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 512 512"><path fill="#0052ff" d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zm-141.651-35.33c4.937-32.999-20.191-50.739-54.55-62.573l11.146-44.702-27.213-6.781-10.851 43.524c-7.154-1.783-14.502-3.464-21.803-5.13l10.929-43.81-27.198-6.781-11.153 44.686c-5.922-1.349-11.735-2.682-17.377-4.084l.031-.14-37.53-9.37-7.239 29.062s20.191 4.627 19.765 4.913c11.022 2.751 13.014 10.044 12.68 15.825l-12.696 50.925c.76.194 1.744.473 2.829.907-.907-.225-1.876-.473-2.876-.713l-17.796 71.338c-1.349 3.348-4.767 8.37-12.471 6.464.271.395-19.78-4.937-19.78-4.937l-13.51 31.147 35.414 8.827c6.588 1.651 13.045 3.379 19.4 5.006l-11.262 45.213 27.182 6.781 11.153-44.733a1038.209 1038.209 0 0 0 21.687 5.627l-11.115 44.523 27.213 6.781 11.262-45.128c46.404 8.781 81.299 5.239 95.986-36.727 11.836-33.79-.589-53.281-25.004-65.991 17.78-4.098 31.174-15.792 34.747-39.949zm-62.177 87.179c-8.41 33.79-65.308 15.523-83.755 10.943l14.944-59.899c18.446 4.603 77.6 13.717 68.811 48.956zm8.417-87.667c-7.673 30.736-55.031 15.12-70.393 11.292l13.548-54.327c15.363 3.828 64.836 10.973 56.845 43.035z"></path></svg>
		<span>{{LANG coinbase}}</span>
	</button>
<?php } ?>
<?php if ($pt->config->ngenius_payment == 'yes') { ?>
	<button class="btn-ngenius btn" onclick="pay_using_ngenius();">
		<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="#E12E56" d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z"></path></svg>
		<span>{{LANG ngenius}}</span>
	</button>
<?php } ?>
<?php if ($pt->config->aamarpay_payment == 'yes') { ?>
	<button class="btn-aamarpay btn" onclick="pay_using_aamarpay();">
		<svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="64.000000pt" height="73.000000pt" viewBox="0 0 64.000000 73.000000" preserveAspectRatio="xMidYMid meet"> <g transform="translate(0.000000,73.000000) scale(0.100000,-0.100000)" fill="#fe9900" stroke="none"> <path d="M342 533 l3 -108 120 -5 c66 -3 122 -5 123 -4 2 2 -34 27 -80 56 -62 41 -93 69 -122 111 -22 31 -41 57 -43 57 -2 0 -2 -48 -1 -107z"></path> <path d="M67 432 c8 -20 23 -53 33 -72 14 -28 17 -51 13 -110 l-5 -75 53 59 c102 112 103 94 -11 169 l-99 66 16 -37z"></path> </g> </svg>
		<span>{{LANG aamarpay}}</span>
	</button>
<?php } ?>
<?php if ($pt->config->coinpayments == 'yes') { ?>
	<button class="btn-coinpayments btn" onclick="pay_using_coinpayments();">
		<svg xmlns="http://www.w3.org/2000/svg" width="196" height="46" viewBox="0 0 38 45" fill="none"> <path opacity="0.5" fill-rule="evenodd" clip-rule="evenodd" d="M0.161987 18.9846L1.44177 14.0873L10.4551 8.86938V15.407L0.161987 21.8952V18.9846Z" fill="#1C60DD"></path> <path opacity="0.7" fill-rule="evenodd" clip-rule="evenodd" d="M4.42798 19.1574L14.5777 12.8464V18.0292C14.5777 18.0292 14.4234 19.7398 13.6814 20.0584C13.1328 20.2823 4.43068 25.4312 4.43068 25.4312L4.42798 19.1574Z" fill="#1C60DD"></path> <path opacity="0.9" fill-rule="evenodd" clip-rule="evenodd" d="M9.95569 22.2194L18.9784 16.9021V22.0842C18.9784 22.0842 18.9784 23.5168 18.0822 24.0207C17.5038 24.3299 9.95772 28.7219 9.95772 28.7219L9.95569 22.2194Z" fill="#1C60DD"></path> <path opacity="0.5" fill-rule="evenodd" clip-rule="evenodd" d="M13.6947 7.01864L18.6555 3.82056V10.3547L13.6994 13.3878L13.6947 7.01864Z" fill="#1C60DD"></path> <path opacity="0.7" fill-rule="evenodd" clip-rule="evenodd" d="M17.7343 10.9115L22.7195 7.96704V14.7312L17.7322 17.6277L17.7343 10.9115Z" fill="#1C60DD"></path> <path opacity="0.5" fill-rule="evenodd" clip-rule="evenodd" d="M21.5567 2.07729L24.9517 0V4.50631C24.9517 4.50631 24.9517 6.76082 24.0554 7.212C23.8829 7.30331 21.575 8.64668 21.575 8.64668L21.5567 2.07729Z" fill="#1C60DD"></path> <path opacity="0.9" fill-rule="evenodd" clip-rule="evenodd" d="M21.6464 15.2719L25.0285 13.2427L24.9507 18.4207C24.9507 18.4207 25.0285 19.7864 24.0545 20.4499C23.8299 20.6495 21.5267 21.771 21.5673 21.7933C21.6079 21.8156 21.6329 15.0886 21.6464 15.2719Z" fill="#1C60DD"></path> <path opacity="0.7" fill-rule="evenodd" clip-rule="evenodd" d="M25.6279 6.30849L28.3336 4.51733C28.3336 4.51733 28.3607 7.20407 28.3336 9.02432C28.3137 9.57723 28.1847 10.1207 27.9541 10.6236C27.7234 11.1264 27.3956 11.5788 26.9896 11.9546C26.9896 11.9546 25.5901 12.8258 25.6327 12.8502C25.6753 12.8745 25.6279 6.30849 25.6279 6.30849Z" fill="#1C60DD"></path> <path fill-rule="evenodd" clip-rule="evenodd" d="M10.455 8.86499C10.4131 8.95292 2.18034 13.0385 0.932341 14.44C1.56885 13.903 0.391204 14.9704 0.25592 16.5782L0.647567 31.6888C0.647567 31.6888 0.0184966 34.3038 3.11109 36.0814C5.31622 37.349 18.0708 44.5901 19.6367 45.3267C21.2026 46.0634 21.6065 44.8992 21.6065 44.8992V30.2324C21.5726 30.1925 22.0739 27.915 19.3898 26.1976C18.8744 25.7498 2.34741 18.2219 1.64529 15.8517C0.891079 13.3064 10.455 9.52315 10.455 8.86499Z" fill="#1C60DD"></path> <path fill-rule="evenodd" clip-rule="evenodd" d="M20.8377 30.1024L21.6426 29.52V45.1453C21.6426 45.1453 21.2543 45.9266 20.8377 46.001C20.7883 45.9753 20.8377 30.1024 20.8377 30.1024Z" fill="#1C60DD"></path> <path d="M1.07855 16.3644C1.1929 16.546 1.32403 16.7165 1.47019 16.8737C1.30482 16.6911 1.16592 16.4862 1.05758 16.2649C0.0835329 13.7527 7.14537 10.928 10.0878 9.04077C10.0878 9.04077 2.94547 12.5872 1.52972 13.8244C0.278342 14.9175 0.188378 15.5784 0.188378 15.5784L0.0375366 16.5017C0.0686516 16.0539 0.0787979 15.6541 0.188378 15.5784C0.17485 15.6562 1.06705 16.2474 1.07855 16.3644Z" fill="#1C60DD"></path> <path d="M18.6372 26.8178C18.0568 26.3274 10.65 22.9405 5.5282 19.8777C5.83259 20.0698 6.10383 20.2382 6.31691 20.3789L18.4492 44.776C18.7049 44.9113 18.8976 45.0202 19.0451 45.0892L20.8376 45.9848V30.3128C20.8153 30.2952 21.0162 28.1314 18.6372 26.8178Z" fill="#1C60DD"></path> <path opacity="0.3" d="M0.5538 33.7224C0.276449 33.1509 0.0897757 32.5398 0.000488281 31.9109C0.0277243 32.5519 0.218175 33.1755 0.5538 33.7224Z" fill="#1C60DD"></path> <path d="M5.52811 19.8778C3.7153 18.805 2.21365 17.7484 1.46959 16.8751C1.32361 16.7177 1.19272 16.547 1.07861 16.3651C1.06509 16.2481 0.19927 15.5744 0.222268 15.4939C0.112688 15.5703 0.0430172 16.0445 0.0119019 16.495L0.0355766 31.9059C0.123511 33.047 0.211446 33.091 0.514482 33.7207C0.957536 34.4073 1.1767 34.6677 1.96675 35.3725C3.8215 36.5055 15.3058 43.0742 18.4653 44.7748L6.31681 20.3722L5.52811 19.8778Z" fill="#1C60DD"></path> <path opacity="0.2" d="M5.50781 19.8692C3.69501 18.7964 2.19335 17.7399 1.44929 16.8666C1.30979 16.7085 1.18568 16.5375 1.07861 16.3559C1.06509 16.2396 0.195888 15.5658 0.222268 15.4854C0.168155 15.5374 0.0673683 16.1408 0.036253 16.5906L0.0119019 31.9535C0.0558692 32.9133 0.243237 33.1792 0.519217 33.7514C0.914245 34.4096 1.42224 34.9013 1.99516 35.364C3.85058 36.497 15.2861 43.0657 18.4457 44.7662L6.29652 20.3637L5.50781 19.8692Z" fill="#1C60DD"></path> <path fill-rule="evenodd" clip-rule="evenodd" d="M18.225 33.1678L15.7039 31.612C15.2562 31.3522 14.8246 31.52 15.0458 31.9793V36.1656C15.1533 36.3205 15.3705 36.8218 15.2697 37.0747C14.9085 37.0572 16.7037 38.5629 17.7183 39.1304C18.0139 39.2961 18.5652 39.3651 18.5226 38.6826V33.7096C18.5239 33.6012 18.4968 33.4944 18.4441 33.3998C18.3921 33.3049 18.3167 33.225 18.225 33.1678Z" fill="#1C60DD"></path> <path fill-rule="evenodd" clip-rule="evenodd" d="M18.1177 33.4176C17.7254 32.9292 16.4145 32.1791 15.525 31.5372C15.3011 31.3735 14.9114 31.4898 14.9162 31.7611C14.9723 34.9287 14.9838 36.3864 15.1671 37.0067C15.3024 37.4802 16.7872 38.4752 17.6313 39.0359C17.8823 39.2057 18.2212 39.2463 18.232 38.9392C18.2794 37.6073 18.232 34.5175 18.232 33.7274C18.2282 33.6138 18.1873 33.5045 18.1157 33.4163L18.1177 33.4176Z" fill="#1C60DD"></path> </svg>
		<span>{{LANG coinpayments}}</span>
	</button>
<?php } ?>
<!-- <button class="btn-momo btn" onclick="pay_using_momo();">
	<svg viewBox="6.7169296377637995 5.309796557160162 81.4130703622362 74.62020344283985" xmlns="http://www.w3.org/2000/svg" width="2500" height="2320"><rect fill="#a50064" height="87" rx="12.06" width="96"/><path d="M71 7.07c-9.45 0-17.11 7.36-17.11 16.43S61.57 39.93 71 39.93s17.13-7.36 17.13-16.43S80.47 7.07 71 7.07zm0 23.44a7.14 7.14 0 0 1-7.27-7 7.28 7.28 0 0 1 14.54 0 7.14 7.14 0 0 1-7.27 7zm-22-11.1V40h-9.88V19.31a2.9 2.9 0 0 0-5.8 0V40h-9.84V19.31a2.9 2.9 0 0 0-5.8 0V40H7.87V19.41A12.62 12.62 0 0 1 20.72 7.07a13.11 13.11 0 0 1 7.7 2.48 13.14 13.14 0 0 1 7.69-2.48A12.63 12.63 0 0 1 49 19.41zM71 47c-9.45 0-17.11 7.35-17.11 16.43S61.57 79.89 71 79.89s17.11-7.35 17.11-16.42S80.47 47 71 47zm0 23.44a7 7 0 1 1 7.27-7A7.14 7.14 0 0 1 71 70.48zM49 59.38v20.55h-9.88V59.27a2.9 2.9 0 0 0-5.8 0v20.66h-9.84V59.27a2.9 2.9 0 0 0-5.8 0v20.66H7.87V59.38A12.61 12.61 0 0 1 20.72 47a13.17 13.17 0 0 1 7.7 2.47A13.11 13.11 0 0 1 36.11 47 12.62 12.62 0 0 1 49 59.38z" fill="#fff"/></svg>
	<span>MoMo</span>
</button> -->
<?php if($pt->currency_selected == 'vnd') {?>
<button class="btn-payme btn" onclick="'{{TYPE}}' === 'withdraw' ? withdraw_payme() : pay_using_payme();">
	<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40">
		<defs>
				<linearGradient id="u4gnjsn7za" x1="76.225%" x2="9.333%" y1="75.938%" y2="9.569%">
						<stop offset="0%" stop-color="#00852B"/>
						<stop offset="100%" stop-color="#12CC24"/>
				</linearGradient>
				<linearGradient id="s45b1i48vb" x1="19.231%" x2="93.986%" y1="19.865%" y2="93.185%">
						<stop offset="0%" stop-color="#00852B"/>
						<stop offset="100%" stop-color="#12CC24"/>
				</linearGradient>
				<linearGradient id="vgs76klnmc" x1="19.052%" x2="86.945%" y1="73.435%" y2="17.473%">
						<stop offset="0%" stop-color="#12CC24"/>
						<stop offset="100%" stop-color="#00852B"/>
				</linearGradient>
				<linearGradient id="oweitwe3gd" x1="92.143%" x2="21.724%" y1="8.102%" y2="78.112%">
						<stop offset="0%" stop-color="#12CC24"/>
						<stop offset="100%" stop-color="#00852B"/>
				</linearGradient>
				<linearGradient id="2r3cy17lbe" x1="83.12%" x2="28.526%" y1="88.071%" y2="21.217%">
						<stop offset="0%" stop-color="#00852B"/>
						<stop offset="100%" stop-color="#12CC24"/>
				</linearGradient>
				<linearGradient id="elna3uhpyf" x1="76.352%" x2="9.351%" y1="23.788%" y2="90.444%">
						<stop offset="0%" stop-color="#00852B"/>
						<stop offset="100%" stop-color="#12CC24"/>
				</linearGradient>
				<linearGradient id="3g2g8lirtg" x1="16.344%" x2="71.837%" y1="11.26%" y2="79.251%">
						<stop offset="0%" stop-color="#00852B"/>
						<stop offset="100%" stop-color="#12CC24"/>
				</linearGradient>
				<linearGradient id="9n4wnyr43h" x1="11.018%" x2="79.694%" y1="83.489%" y2="28.048%">
						<stop offset="0%" stop-color="#00852B"/>
						<stop offset="100%" stop-color="#12CC24"/>
				</linearGradient>
				<linearGradient id="4u40x32e6i" x1="50.011%" x2="50.011%" y1="99.649%" y2="-2.446%">
						<stop offset="0%" stop-color="#00852B"/>
						<stop offset="100%" stop-color="#12CC24"/>
				</linearGradient>
				<linearGradient id="9zpmu0mndj" x1="50%" x2="50%" y1="305.317%" y2="-218.525%">
						<stop offset="0%" stop-color="#00852B"/>
						<stop offset="100%" stop-color="#12CC24"/>
				</linearGradient>
				<linearGradient id="mae8oi0zvk" x1="50%" x2="50%" y1="99.639%" y2="-2.076%">
						<stop offset="0%" stop-color="#00852B"/>
						<stop offset="100%" stop-color="#12CC24"/>
				</linearGradient>
		</defs>
		<g fill="none" fill-rule="evenodd">
				<g fill-rule="nonzero">
						<g>
								<path fill="url(#u4gnjsn7za)" d="M21.937 10.257l-9.275-9.242c-1.306-1.302-3.47-1.327-4.752 0-1.244 1.29-1.223 3.336.046 4.602l9.32 9.28c.618.616 1.457.963 2.33.963.875 0 1.713-.347 2.33-.963 1.283-1.283 1.283-3.358 0-4.64z" transform="translate(-252 -20) translate(252 20)"/>
								<path fill="url(#s45b1i48vb)" d="M31.263 33.49l-9.32-9.294c-1.286-1.283-3.373-1.283-4.66 0s-1.287 3.364 0 4.647l9.321 9.294c1.29 1.261 3.36 1.251 4.638-.023 1.278-1.275 1.287-3.338.021-4.624z" transform="translate(-252 -20) translate(252 20)"/>
								<path fill="url(#vgs76klnmc)" d="M31.263.966c-.617-.617-1.455-.963-2.33-.963-.873 0-1.711.346-2.329.963l-9.328 9.29c-.617.616-1.456.962-2.33.962-.874 0-1.712-.346-2.33-.963l2.324 2.324 2.352 2.345c.613.612 1.445.956 2.313.956.868 0 1.7-.344 2.314-.956l9.344-9.314c1.286-1.283 1.286-3.362 0-4.644z" transform="translate(-252 -20) translate(252 20)"/>
								<path fill="url(#oweitwe3gd)" d="M33.587 7.932l-9.32 9.294c-.833.83-1.158 2.04-.853 3.174.304 1.134 1.193 2.02 2.33 2.324 1.137.303 2.35-.02 3.183-.85l9.32-9.295c.833-.83 1.158-2.04.854-3.174-.305-1.134-1.193-2.02-2.33-2.323-1.138-.304-2.351.02-3.184.85z" transform="translate(-252 -20) translate(252 20)"/>
								<path fill="url(#2r3cy17lbe)" d="M28.927 17.226l9.32 9.294c.834.83 1.16 2.04.856 3.175-.304 1.135-1.192 2.022-2.33 2.326-1.138.305-2.352-.018-3.186-.849l-9.337-9.309c-1.277-1.274-1.277-3.339 0-4.613l2.352-2.345 2.325-2.326c-1.286 1.284-1.286 3.364 0 4.647z" transform="translate(-252 -20) translate(252 20)"/>
								<path fill="url(#elna3uhpyf)" d="M5.626 31.172l9.314-9.299c1.266-1.286 1.256-3.35-.022-4.624-1.278-1.274-3.347-1.285-4.637-.023L.968 26.52c-1.288 1.282-1.29 3.364-.004 4.648 1.286 1.285 3.374 1.287 4.662.004z" transform="translate(-252 -20) translate(252 20)"/>
								<path fill="url(#3g2g8lirtg)" d="M10.285 21.873L.968 12.58c-1.244-1.29-1.224-3.334.045-4.6 1.268-1.265 3.319-1.286 4.613-.047l9.336 9.31c.614.611.959 1.441.959 2.306 0 .866-.345 1.695-.959 2.307L12.61 24.2l-2.325 2.32c.619-.616.966-1.452.966-2.323 0-.872-.347-1.708-.966-2.324z" transform="translate(-252 -20) translate(252 20)"/>
								<path fill="url(#9n4wnyr43h)" d="M26.597 28.843l-2.33-2.323-2.352-2.345c-1.279-1.273-3.35-1.273-4.627 0l-9.338 9.31c-1.288 1.285-1.288 3.368 0 4.652 1.29 1.285 3.378 1.284 4.666 0l9.32-9.294c1.288-1.283 3.374-1.283 4.661 0z" transform="translate(-252 -20) translate(252 20)"/>
								<!-- <path fill="#110649" d="M49.013 31.258V9.223c0-1.142.929-2.069 2.075-2.069h9.097c4.72.017 8.568 3.777 8.681 8.482.108 4.854-3.935 8.796-8.804 8.796h-3.63c-.195 0-.382-.077-.52-.214-.137-.137-.215-.323-.215-.517V21.6c0-1.143.93-2.069 2.075-2.069h2.403c2.231 0 4.061-1.895 3.828-4.108-.212-1.958-1.868-3.444-3.843-3.448h-6.31v17.87c0 1.142-.929 2.068-2.075 2.068h-2.113c-.36-.003-.65-.296-.65-.655zM80.391 32.396c-4.993-.061-9.008-4.115-9.008-9.093 0-4.979 4.015-9.032 9.008-9.093h.048c1.714 0 3.426.841 4.276 1.43v-.666c0-.087.034-.17.096-.23.06-.062.144-.096.23-.096h3.853c.36 0 .65.29.65.649v15.968c0 .358-.29.648-.65.648H85.04c-.18 0-.326-.146-.326-.325v-.624c-1.078.653-2.297 1.442-4.322 1.432zm0-13.446c-2.384.043-4.295 1.982-4.295 4.36 0 2.377 1.91 4.317 4.295 4.359h.042c2.078-.007 3.864-1.47 4.275-3.5v-1.732c-.415-2.026-2.201-3.483-4.275-3.487h-.042zM101.764 39.988c-2.673-.001-5.198-1.22-6.855-3.31-.112-.145-.157-.33-.123-.51.033-.18.142-.336.299-.43l1.85-1.131c.974-.611 2.198-.672 3.23-.161.492.26 1.041.396 1.599.394 1.936-.018 3.524-1.083 3.596-2.999-2.21.845-4.68.679-6.756-.453-.312-.171-.612-.362-.9-.571-1.383-1.02-2.406-2.45-2.922-4.087-.24-.771-.36-1.574-.36-2.381v-7.655c0-.543.217-1.063.602-1.447.385-.384.907-.6 1.451-.599h2.093c.356 0 .645.288.645.643v8.966c0 1.333.767 2.582 2.003 3.096.966.402 2.068.317 2.96-.23.893-.546 1.468-1.487 1.545-2.529 0-.078.01-.157.01-.237v-7.655c0-1.13.918-2.045 2.051-2.045h2.093c.172 0 .336.067.457.187s.19.285.19.455V31.713c-.005 4.814-3.93 8.275-8.758 8.275z" transform="translate(-252 -20) translate(252 20)"/>
								<path fill="url(#4u40x32e6i)" d="M151.984 27.086h13.363c.36 0 .653.291.653.65v2.132c0 1.129-.918 2.044-2.05 2.044h-16.21c-.361 0-.654-.292-.654-.653V9.2c0-1.129.918-2.043 2.05-2.044h16.208c.361 0 .653.292.653.652v3.52c0 .173-.069.339-.191.46-.122.123-.289.191-.462.191h-13.363l.003 15.107z" transform="translate(-252 -20) translate(252 20)"/>
								<path fill="url(#9zpmu0mndj)" d="M155.794 17.094h8.628c.173 0 .34.068.462.19.123.122.192.288.192.46v2.133c0 .542-.217 1.061-.601 1.444-.385.383-.906.598-1.45.598h-8.538c-.174 0-.34-.068-.463-.19-.123-.123-.192-.289-.192-.461v-2.221c0-.518.207-1.015.575-1.382.368-.366.867-.572 1.387-.571z" transform="translate(-252 -20) translate(252 20)"/>
								<path fill="url(#mae8oi0zvk)" d="M137.503 7.066c-.213 0-.413.102-.536.276l-6.295 9.06c-.148.21-.391.335-.65.333-.258-.002-.499-.13-.644-.343l-6.08-9.036c-.121-.18-.325-.288-.542-.288h-4.168c-.411 0-.745.332-.745.742v23.362c0 .41.334.742.745.742h2.094c.52 0 1.019-.206 1.387-.572.367-.367.574-.865.573-1.383V15.393l6.034 8.363c.307.435.806.694 1.34.694.532 0 1.032-.26 1.338-.694l6.035-8.364v15.78c0 .41.333.742.744.742h2.094c1.083 0 1.96-.875 1.96-1.954V7.807c0-.197-.077-.385-.217-.524-.14-.14-.328-.217-.526-.217h-3.94z" transform="translate(-252 -20) translate(252 20)"/> -->
						</g>
				</g>
		</g>
	</svg>
	<span>PayMe</span>
</button>
<?php } ?>