<div class="modal fade matdialog" id="pay_modal_wallet" role="dialog" data-keyboard="false">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h3 class="modal-title">{{LANG pay_from_wallet}}<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg></span></button></h3>
			</div>
			
			<div class="modal-body">
				<div class="pay_modal_wallet_alert"></div>
				<p class="pay_modal_wallet_text"></p>
			</div>
			<div class="clear"></div>
			<div class="modal-footer" id="old-footer">
				<div class="ball-pulse"><div></div><div></div><div></div></div>
				<button type="button" class="btn btn-main" id="pay_modal_wallet_btn">{{LANG pay}}</button>
			</div>
      <div class="modal-footer" id="new-footer" style="display:none">
				<div class="ball-pulse"><div></div><div></div><div></div></div>
				<button type="button" class="btn btn-danger" data-dismiss="modal">{{LANG cancel}}</button>
				<button type="button" class="btn btn-main" id="pay_modal_wallet_btn2">{{LANG yes}}</button>
			</div>
		</div>
	</div>
</div>