<div class="container-fluid">
	<div class="container <?php echo ($pt->page == 'watch') ? 'watch-container' : '';?> phone-container">
		<div class="footer-container">
			<div class="footer-copyright">{{LANG copyright}}</div>
			<div class="footer-links">
				<ul>
					<li><a href="{{LINK terms/refund-policy}}" data-load="?link1=terms&type=refund-policy">{{LANG refund_policy}}</a></li>
					<li><a href="{{LINK terms/faqs}}" data-load="?link1=terms&type=faqs">{{LANG faqs}}</a></li>
					<li><a href="{{LINK terms/terms}}" data-load="?link1=terms&type=terms">{{LANG terms_of_use}}</a></li>
					<li><a href="{{LINK terms/privacy-policy}}" data-load="?link1=terms&type=privacy-policy">{{LANG privacy_policy}}</a></li>
					<li><a href="{{LINK terms/about-us}}" data-load="?link1=terms&type=about-us">{{LANG about_us}}</a></li>
					<li><a href="{{LINK contact-us}}" data-load="?link1=contact">{{LANG contact_us}}</a></li>
					<?php if ($pt->exp_feed === true):
						$page = (!empty($_GET['page'])) ? $_GET['page'] : '';
						$category_id = (!empty($_GET['id']) && $page == 'category') ? $_GET['id'] . '/': '';
					?>
						<li>
							<a href="<?php echo PT_Link("videos/$page/" . $category_id . "rss"); ?>" target="_blank"><i class="fa fa-rss rss-icon"></i> RSS</a>
						</li>
					<?php endif ?>
					<?php if (!empty($pt->custom_pages)) {
						foreach ($pt->custom_pages as $key => $value) { ?>
							<li><a href="<?php echo PT_Link("site-pages/" . $value->page_name); ?>" target="_blank"><?php echo $value->page_title;?></a></li>
					<?php } } ?>
					<li class="pt_foot_lang dropdown dropup">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-globe"><circle cx="12" cy="12" r="10"></circle><line x1="2" y1="12" x2="22" y2="12"></line><path d="M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4 10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z"></path></svg>{{LANG language}}</a>
						<ul class="dropdown-menu dropdown-menu-right pt_language_select" role="menu">
							{{LANGS}}
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<script>
	   $(document).bind('DOMSubtreeModified', function () {
            if($(window).height()>=$(document).height()){
                  $('#pt_footer').addClass('pt-footer-custom')
               }else{
                  $('#pt_footer').removeClass('pt-footer-custom')
               }
         });
</script>