<link rel="stylesheet" href="{{CONFIG theme_url}}/css/pages/import-video.css?version={{CONFIG version}}&css_version={{CONFIG css_version}}">

<div class="wo_about_wrapper_parent">
	<div class="wo_about_wrapper"> 
		<div class="hero hero-overlay" style="background-color: #ee457e;"> 
			<div class="container">
				<h1 class="text-center">{{LANG import_new_video}}</h1>
			</div> 
		</div>
		<svg class="wave" width="100%" height="50px" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1920 75"> <defs> <style> .a { fill: none; } .b { clip-path: url(#a); } .c, .d { fill: #ee457e; } .d { opacity: 0.5; isolation: isolate; } </style> <clipPath id="a"> <rect class="a" width="1920" height="75"></rect> </clipPath> </defs> <title>wave</title> <g class="b"> <path class="c" d="M1963,327H-105V65A2647.49,2647.49,0,0,1,431,19c217.7,3.5,239.6,30.8,470,36,297.3,6.7,367.5-36.2,642-28a2511.41,2511.41,0,0,1,420,48"></path> </g> <g class="b"> <path class="d" d="M-127,404H1963V44c-140.1-28-343.3-46.7-566,22-75.5,23.3-118.5,45.9-162,64-48.6,20.2-404.7,128-784,0C355.2,97.7,341.6,78.3,235,50,86.6,10.6-41.8,6.9-127,10"></path> </g> <g class="b"> <path class="d" d="M1979,462-155,446V106C251.8,20.2,576.6,15.9,805,30c167.4,10.3,322.3,32.9,680,56,207,13.4,378,20.3,494,24"></path> </g> <g class="b"> <path class="d" d="M1998,484H-243V100c445.8,26.8,794.2-4.1,1035-39,141-20.4,231.1-40.1,378-45,349.6-11.6,636.7,73.8,828,150"></path> </g> </svg>
	</div>
</div>
<div class="col-md-2"></div>
<div class="col-md-8 pt_page_margin">
	<div class="content pt_shadow">
		<div class="col-md-12 pt_import_vdo">
			<div class="col-md-12" id="fetch-form">
				<form action="" class="form-horizontal" method="POST">
					<div class="text-center"><svg fill="#999" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg" class="feather feather-import"><path d="M17,13L12,18L7,13H10V9H14V13M19.35,10.03C18.67,6.59 15.64,4 12,4C9.11,4 6.6,5.64 5.35,8.03C2.34,8.36 0,10.9 0,14A6,6 0 0,0 6,20H19A5,5 0 0,0 24,15C24,12.36 21.95,10.22 19.35,10.03Z" /></svg></div>
					<div class="row">
						<div class="col-md-9">
							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-link"><path d="M15 7h3a5 5 0 0 1 5 5 5 5 0 0 1-5 5h-3m-6 0H6a5 5 0 0 1-5-5 5 5 0 0 1 5-5h3"></path><line x1="8" y1="12" x2="16" y2="12"></line></svg>
							<input id="url" name="url" type="text" placeholder="{{LANG video_url}}" class="form-control input-md"> 
							<span class="help-block">{{LANG url_desc}}, <?php echo ($pt->config->facebook_import == 'on') ? 'Facebook, ': '';?>mp4<?php echo ($pt->config->ok_import == 'on') ? ',ok.ru': '';?></span>
						</div>
						<div class="col-md-3">
							<button type="button" class="btn btn-main fetch-url">{{LANG fetch_Video}}</button>
						</div>
					</div>
					<div class="clear"></div>
				</form>
			</div>
			<div class="col-md-12 import-form-content hidden">
                    <div class="row">
                        <div class="col-md-7" id="import-form">
                            <form action="" class="form-horizontal setting-panel pt_forms" method="POST" id="submit-imported-video">
                                <div class="form-group">
                                    <label class="col-md-12" for="title">{{LANG video_title}}</label>
                                    <div class="col-md-12">
                                        <input id="title" name="title" type="text" placeholder="" class="form-control input-md">
                                        <span class="help-block">{{LANG video_title_help}}</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-12" for="description">{{LANG video_descritpion}}</label>
                                    <div class="col-md-12">
                                        <textarea name="description" id="description" cols="30" rows="8" class="form-control description"></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-12" for="category_id">{{LANG category}}</label>
                                    <div class="col-md-12">
                                        <select name="category_id" id="category_id" class="form-control">
                                            <?php foreach($pt->categories as $key => $category) {?>
                                                <option value="<?php echo $key?>"><?php echo $category?></option>
                                            <?php } ?>
                                        </select>
                                    </div>
                                </div>
                         <div class="form-group">
                              <label class="col-md-12" for="sub_category_id">{{LANG sub_category}}</label>
                              <div class="col-md-12">
                                  <select name="sub_category_id" id="sub_category_id" class="form-control">
                                     <?php echo $pt->sub_categories_array["'1'"]; ?>
                                  </select>
                              </div>
                          </div>
                          <?php if ($pt->config->geo_blocking == 'on') {
                           ?>
                          <div class="form-group">
                            <label class="col-md-12" for="geo_blocking" style="z-index: 1000;">{{LANG geo_blocking}}</label>
                            <div class="col-md-12">
                              <div class="form-group-rs" id="geo_blocking">
                                    <select class="form-control selectpicker show-menu-arrow show-tick" multiple name="continents-list[]" data-live-search="true" title="{{LANG geo_blocking}}" data-actions-box="true">
                                        <?php
                                        foreach ($pt->continents as $key => $name):
                                          ?>
                                          <option value="<?php echo($name); ?>">
                                            <span>
                                              <?php echo($name); ?>
                                            </span>
                                          </option>
                                        <?php endforeach; ?>
                                    </select>
                                    <div class="clear"></div>
                                </div>
                            </div>
                          </div>
                          <?php } ?>
                          <div class="form-group">
                            <label class="col-md-12" for="privacy">{{LANG privacy}}</label>
                            <div class="col-md-12">
                               <select name="privacy" id="privacy" class="form-control">
                                  <option value="0">{{LANG public}}</option>
                                  <option value="1">{{LANG private}}</option>
                                  <option value="2">{{LANG unlisted}}</option>
                               </select>
                            </div>
                         </div>
                          <div class="form-group">
                            <label class="col-md-12" for="age_restriction">{{LANG age_restriction}}</label>
                            <div class="col-md-12">
                               <select name="age_restriction" id="age_restriction" class="form-control">
                                  <option value="1" selected>{{LANG all_ages}}</option>
                                  <option value="2">{{LANG only_18}}</option>
                               </select>
                            </div>
                         </div>
                                <div class="form-group">
                                    <label class="col-md-12" for="tags">{{LANG tags}}</label>
                                    <div class="col-md-12">
                                        <input id="mySingleFieldTags" name="tags" type="text" placeholder="" class="form-control input-md">
                                        <span class="help-block">{{LANG tags_help}}</span>
                                    </div>
                                </div>
                  <div class="form-group hidden" id="duration_format">
                    <label class="col-md-12" for="duration">{{LANG duration}}</label>
                    <div class="col-md-12">
                      <input id="duration" name="duration" type="text" placeholder="" class="form-control input-md duration">
                      <span class="help-block">EX : 03:30</span>
                    </div>
                  </div>

                  <?php if ($pt->config->usr_v_mon == 'on' && $pt->user->video_mon == '1') { ?>

                 <div class="form-group">
                      <label class="col-md-12" for="monetization">{{LANG monetization}}</label>
                      <div class="col-md-12">
                          <select name="monetization" id="monetization" class="form-control">
                             <option value="1">{{LANG enable}}</option>
                             <option value="0">{{LANG disable}}</option>
                          </select>
                      </div>
                  </div>
                  <?php } ?>

                                <input type="hidden" name="thumbnail-image" class="thumbnail">
                                <input type="hidden" name="video-type" class="type">
                                <input type="hidden" name="video-id" class="video-id">
                                <input type="hidden" name="twitch_type" class="twitch_type">
                                <!-- <input type="hidden" name="duration" class="duration"> -->
                                <input type="hidden" name="default_thumb" class="default_thumb">
                                <input type="hidden" name="medium_thumb" class="medium_thumb">
                                <input type="hidden" name="standard_thumb" class="standard_thumb">

                                <input id="thumbnail" name="thumbnail" type="file" accept="image/*" class="hidden">
                                <div class="last-sett-btn modal-footer">
                                    <button type="submit" class="btn btn-main submit-url setting-panel-mdbtn"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check-circle"><path d="M22 11.08V12a10 10 0 1 1-5.93-9.14"></path><polyline points="22 4 12 14.01 9 11.01"></polyline></svg> {{LANG publish}}</button>
                                </div>
                         <div class="clear"></div>
                   </form>
                    </div>
                    <div class="col-md-5">
                   <div class="thumbnail-preview edit-thumb thumbnail-preview-renderer">
                     <img src="" alt="Picture">
                   </div>
                   <div class="video-title">
                      <p></p>
                   </div>
                   <div class="video-description">
                      <p></p>
                   </div>
                </div>
                </div>
            </div>
   </div>
   <div class="clear"></div>
</div>
</div>
<div class="col-md-2"></div>
<script>
  var el = $(".description").emojioneArea({
      pickerPosition: "bottom",
       tonesStyle: "radio",
       events: {
         keyup: function (editor, event) {
          }
       },
       filters: {
           flags : false,
           objects : false,
           travel_places : false,
           activity : false
       }
   });
$('.selectpicker').selectpicker({});

$.urlParam = function(name){
   try {
      var results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(window.location.href);
	return results[1] || '';
   } catch(err) {
      return ''
   }
}

$.loadVideoMetaData = function(videoUrl, title = ''){
   $.post('{{CONFIG site_url}}/aj/fetch-video', {link: videoUrl}, function(data, textStatus, xhr) {
      $('.fetch-url').text('{{LANG fetch_Video}}');
      if (data.status == 200) {
         if ($("#mySingleFieldTags").val()) {
            $(".tagit-choice").remove();
         }
         $('.alert-danger').empty();
         $('#title').val(title || data.title);
         $('.video-title p').html(data.title);
         $('#description').val(data.description);
         $('.emojionearea-editor').html(data.description);
         $('.video-description p').html(data.description_br);
         $('#mySingleFieldTags').val(data.tags);
         $('.duration').val(data.duration);
         if (data.type == 'mp4') {
         $('#duration_format').removeClass('hidden');
         }
         else{
         $('#duration_format').addClass('hidden');
         }
         var partsOfStr = data.tags.split(',');
         for (i = 0; i < partsOfStr.length; i++) {
            $('#mySingleFieldTags').tagit("createTag", partsOfStr[i]);
         }
         $('.thumbnail').val(data.thumbnail);

          $('.default_thumb').val(data.default_thumb);
          $('.medium_thumb').val(data.medium_thumb);
          $('.standard_thumb').val(data.standard_thumb);

          $('.thumbnail-preview img').attr('src', data.full_thumb);
         $('.video-id').val(data.video_id);
         $('.twitch_type').val(data.twitch_type);
         $('.type').val(data.type);
         $('.import-form-content').removeClass('hidden');
         $('.pt_page_margin').addClass('w-100');
         if($(window).height()>=$(document).height()){
            $('#pt_footer').addClass('pt-footer-custom')
         }else{
               $('#pt_footer').removeClass('pt-footer-custom')
         }
      } 

      else if(data.status == 401){
         swal({
            title: '{{LANG oops}}!',
            text: "{{LANG import_limit_reached}}!",
            type: 'info',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: '{{LANG upgrade_now}}',
            cancelButtonText: '{{LANG cancel}}',
            confirmButtonClass: 'btn btn-success margin-right',
            cancelButtonClass: 'btn',
            buttonsStyling: false
         }).then(function(){
            window.location.href = '{{LINK go_pro}}';
         },
         function() {
            window.location.href = '{{LINK }}';
         });
         
      }
      else {
         Snackbar.show({text: '<div>'+ data.message +'</div>'});
      }
   },dataType = 'json');
   
}

$(window).on("load", function () {
   var ipfsurl = $.urlParam('ipfsurl');
   
   if (ipfsurl) {
      $('#url').val(ipfsurl);
      $.loadVideoMetaData(ipfsurl, decodeURIComponent($.urlParam('title')))
   }

});


<?php 
$js_array = json_encode($pt->sub_categories_array);
echo "var sub_categories_array = ". $js_array . ";\n";
?>
$(document).on('change', '#category_id', function(event) {
   event.preventDefault();
   id = $(this).val();
   $('#sub_category_id').html(sub_categories_array["'"+id+"'"]);
});


$(function () {
   $('.edit-thumb').on('click', function(event) {
      $('#thumbnail').trigger('click');
   });

   $('#thumbnail').on('change', function(event) {
      readURL(this);
   });

   $('#submit-imported-video').ajaxForm({
       url: '{{LINK aj/submit-imported-video}}?hash=' + $('.main_session').val(),
       beforeSend: function() {
         $('.submit-url').attr('disabled', true);
         $('.submit-url').text("{{LANG please_wait}}");
       },
       success: function(data) {
         if (data.status === 200) {
            window.location.href = data.link;
         } 
         else {
            $('.submit-url').attr('disabled', false);
             $('.submit-url').html('<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check-circle"><path d="M22 11.08V12a10 10 0 1 1-5.93-9.14"></path><polyline points="22 4 12 14.01 9 11.01"></polyline></svg> {{LANG publish}}');
			Snackbar.show({text: '<div>'+ data.message +'</div>'});
         }
       }
   });
   $('#description').keyup(function(event) {
      str = $(this).val().replace(/(?:\r\n|\r|\n)/g, '<br />');
      $('.video-description p').html(str);
   });
   $('#title').keyup(function(event) {
      $('.video-title p').html($(this).val());
   });
   $('#mySingleFieldTags').tagit({
      allowSpaces: true
   });
	$('.fetch-url').on('click', function () {
		$(this).text("{{LANG please_wait}}");
      $.loadVideoMetaData($('#url').val())
	});
});
</script>