<div class="create-new-ad-container">
    <div class="user-ads-list-header">
      <span class="pointer">
        <a href="{{LINK ads}}">
          <i class="material-icons">dvr</i> {{LANG ads}} 
        </a>
      </span>
      <span  class="pointer">
          <i class="material-icons">keyboard_arrow_right</i> {{LANG edit_ad}} ({{NAME}})
      </span>
    </div>
    <form class="user-ads-settings-form" method="POST">
      <div class="user-ads-settings-alert">
        
      </div>
      <div class="col-lg-8 col-md-8">   
          <div class="body">
              <div class="alert alert-success ads-settings-alert"></div>
                  <div class="form-group">
                  	  <label class="form-label col-md-2" for="name">{{LANG name}} *</label>
                      <div class="col-md-10">
                        <input type="text" id="name" name="name" class="form-control" value="{{NAME}}"
                               <?php if($pt->disable){ ?> disabled <?php } ?>
                         >
                        <div id="invalid_name" class="invalid-feedback" > </div>
                      </div>       
                  </div>
                  <div class="form-group" id="form-url">
                      <label class="form-label col-md-2" for="url">URL *</label>
                      <div class="col-md-10">
                          <input type="text" id="url" name="url" class="form-control" value="{{URL}}"
                                 <?php global $StatusAds; if($pt->ad->status_ad != $StatusAds->Waiting){ ?> disabled <?php } ?>
                          >
                          <div id="invalid_url" class="invalid-feedback" > </div>
                      </div> 
                  </div>

                  <div class="form-group">
                      <label class="form-label col-md-2" for="title">{{LANG title}} *</label>
                      <div class="col-md-10">
                          <input type="text" id="title" name="title" class="form-control" value="{{TITLE}}"
                                 <?php global $StatusAds; if($pt->ad->status_ad != $StatusAds->Waiting){ ?> disabled <?php } ?>
                          >
                          <div id="invalid_ad_title" class="invalid-feedback" > </div>
                      </div> 
                  </div>

                  <div class="form-group">
                      <label class="form-label col-md-2" for="desc">{{LANG description}} *</label>
                      <div class="col-md-10">
                          <textarea name="desc" id="desc" rows="4" class="form-control"
                                    <?php global $StatusAds; if($pt->ad->status_ad != $StatusAds->Waiting){ ?> disabled <?php } ?>
                          >{{DESC}}</textarea>
                          <div id="invalid_description_create_ads" class="invalid-feedback" > </div>
                      </div> 
                  </div>

                  <div class="form-group">
                      <label class="form-label col-md-2">{{LANG select_media}} *</label>
                      <div class="col-md-10" <?php if ($pt->user->wallet == '0.00' || $pt->user->wallet == '0') { echo 'disabled'; }?>>
                          <?php global $StatusAds; if($pt->ad->status_ad == $StatusAds->Waiting){ ?>
                                <input type="file" class="media" id="ad-media" name="media" accept="image/* video/*" <?php if ($pt->user->wallet == '0.00' || $pt->user->wallet == '0') { echo 'disabled'; }?>>
                                <div id="invalid_media" class="invalid-feedback" > </div>
                          <?php } ?>

                           <div style="margin-top: 10px">
                                <?php if($pt->category == 'video'){ ?>
                                   <video id="video-media" width="320" height="240" controls style="height: 100%;">
                                       <source src="{{URL_MEDIA}}" type="video/mp4">
                                       Your browser does not support the video tag.
                                   </video>
                                <?php }else if($pt->category == 'image'){ ?>
                                     <img id="image-media" src="{{URL_MEDIA}}" width="320" height="240">
                                <?php } ?>

                               <video id="video-media-selected" width="320" height="240" controls hidden>
                                   <source src="" type="video/mp4">
                                   Your browser does not support the video tag.
                               </video>
                               <img id="image-media-selected" src="" width="320" height="240" hidden>
                           </div>
                      </div>
                      <br>
                  </div>

          </div>
          <div class="clearfix"></div>
      </div>
      <div class="col-lg-4 col-md-4">
    	<div class="form-group-rs">
            <select   class="form-control selectpicker show-menu-arrow show-tick" multiple name="audience-list[]"
                      data-live-search="true" title="{{LANG traget_audience}} *" data-actions-box="true" name="audience-list[]"
                      <?php if($pt->disable){ ?> disabled  <?php } ?>
            >
                    <?php foreach ($countries_name as $country_id => $country_name): ?>
                    <?php if (in_array($country_id, $pt->audience)): ?>
                        <option value="<?php echo($country_id); ?>" selected >
                                  <span>
                                    <?php echo($country_name); ?>
                                  </span>
                        </option>
                    <?php else: ?>
                        <option value="<?php echo($country_id); ?>">
                                        <span>
                                            <?php echo($country_name); ?>
                                        </span>
                        </option>
                    <?php endif ?>
                    <?php endforeach; ?>
             </select>
            <div class="clear"></div>
            <div id="invalid_audience_list" class="invalid-feedback" > </div>
    	</div>
        <div class="form-group">
              <label for="ad-placement">{{LANG placement}}</label>
              <div>
                  <select name="placement" id="ad-placement" class="form-control"
                    <?php global $StatusAds; if ($pt->user->wallet == '0.00' || $pt->user->wallet == '0' || $pt->ad->status_ad != $StatusAds->Waiting) { echo 'disabled'; }?>
                  >
                  <option value="1">{{LANG video_ad}}</option>
                  <option value="2">{{LANG page_ad}}</option>
                  </select>
              </div>
        </div>
        <div>
               <label >{{LANG pricing}}</label>
               <div class="dropdown" style="text-transform: capitalize;">
                      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1"  style="width: 100%; display: flex; justify-content: space-between; align-items: center"
                              <?php if($pt->disable_cost){ ?> disabled  <?php } ?>
                              data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                          <span id="cost" data-value="0"> {{LANG pricing}} </span>
                          <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                          <li>
                              <a onclick="onChangeCostAds('1')" id="cost_click">
                                  {{LANG cost_click}} ({{CONFIG ad_c_price}} <img src="/themes/default/img/chill-coin-gold.png" class="img-16"/>)
                              </a>
                          </li>
                          <li>
                              <a onclick="onChangeCostAds('2')" id="cost_view">
                                  {{LANG cost_view}} ({{CONFIG ad_v_price}} <img src="/themes/default/img/chill-coin-gold.png" class="img-16"/>)
                              </a>
                          </li>
                      </ul>
                </div>
          </div>
        <div class="form-group" style="margin-top: 15px;">
            <label class="form-label" for="day_limit">{{LANG ad_day_limit}} *</label>
            <div>
              <input type="number" id="day_limit" name="day_limit" class="form-control" placeholder="0" value="{{DAY_LIMIT}}"
                     oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                     <?php if($pt->disable){ ?> disabled  <?php } ?>
              >
              <div id="invalid_spent_limit_day" class="invalid-feedback" > </div>
            </div>
        </div>
        <div class="form-group">
            <label class="form-label" for="lifetime_limit">{{LANG ad_lifetime_limit}} *</label>
            <div>
              <input type="number" id="lifetime_limit" name="lifetime_limit" class="form-control" placeholder="0"
                     value="{{LIFETIME_LIMIT}}" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                    <?php if($pt->disable){ ?> disabled  <?php } ?>
              >
                <div id="invalid_total_spent_limit" class="invalid-feedback" > </div>
            </div>
        </div>
          <?php if(!$pt->disable){ ?>
              <div class="form-group">
                  <button type="submit" class="btn btn-main" id="submit-btn"><i class="fa fa-floppy-o"></i> <span>{{LANG save}}</span></button>
                  <a href="{{LINK ads}}" id="cancel-btn">
                      <button type="button" class="btn btn-default"><i class="fa fa-ban"></i> {{LANG cancel}}</button>
                  </a>
              </div>
          <?php } ?>
      </div>
    </form>     
    <div class="clear"></div>
</div>
<br>
<script>
    function changeCostDisabled(cost){
        // const cost = document.getElementById("cost").value;
        let costSelected = ''
        if(cost === "2"){ //Reach
            // $("#url").attr("disabled","disabled");
            $("#form-url").hide();
            costSelected = $('#cost_view').html();
            $('#cost').attr("data-value", '2')
        }else{
            // $("#url").removeAttr("disabled")
            $("#form-url").show();
            costSelected = $('#cost_click').html();
            $('#cost').attr("data-value", '1')
        }
        $('#cost').html(costSelected);
    }
    function onChangeCostAds(cost){
        changeCostDisabled(cost)
    }

    function setOptionCost(){
        if ($('#ad-placement').val() == 2) {
            $("#cost").find("option[value='2']").removeAttr('selected').attr('disabled', 'disabled');
        }
        else{
            $("#cost").find("option").removeAttr('disabled');
        }
    }

    $("#ad-placement").change(function(event) {
        setOptionCost()
    });

	jQuery(document).ready(function($) {

	  $('.selectpicker').selectpicker({});

      $('#ad-placement').val("{{PLACEMENT}}");
      setOptionCost();

      changeCostDisabled("{{TYPE_COST}}")
	});

    $('#ad-media').change(function(){
        $('#video-media').hide();
        $('#image-media').hide();

        const mediafile =  $("#ad-media").prop('files');
        let media = mediafile.length > 0 ? mediafile[0] : undefined
        if(media !== undefined){
            let fileUrl = window.URL.createObjectURL(media);
            if(media.type === 'video/mp4'){
                $('#video-media-selected').attr("src", fileUrl);
                $('#video-media-selected').show();

                $('#image-media-selected').hide();
                $('#image-media-selected').attr("src", "");

            }else if(isFileImage(media)){
                $('#image-media-selected').attr("src", fileUrl);
                $('#image-media-selected').show();

                $('#video-media-selected').hide();
                $('#video-media-selected').attr("src", "");
            }
        }

    });

    $( "#submit-btn" ).click(function() {
        var vid = document.getElementById("video-media-selected");
        $('.user-ads-settings-form').ajaxForm({
            url: '{{LINK aj/ads/edit}}?hash=' + $('.main_session').val(),
            dataType:"json",
            data:{ id:"{{ID}}", duration_video : vid.duration, cost: $('#cost').attr("data-value") },
            beforeSend: function() {
                $('#submit-btn').attr('disabled', true).find('span').text("{{LANG please_wait}}");
                $("#cancel-btn").removeAttr('href');
            },
            success: function(data) {
                scrollToTop();

                if (data.status == 200){
                    $(".user-ads-settings-alert").html('<div class="alert alert-success bg-success"><i class="fa fa-check"></i> '+
                        data.message
                        +'</div>');
                    PT_Delay(function(){
                        window.location.href = '{{LINK ads}}';
                    },2000);

                }
                else {
                    const  message = data.message;
                    if(message.invalid_name !== undefined){
                        $("#invalid_name").text(message.invalid_name);
                    }else{
                        $("#invalid_name").text("");
                    }
                    if(message.invalid_url !== undefined){
                        $("#invalid_url").text(message.invalid_url);
                    }else{
                        $("#invalid_url").text("");
                    }
                    if(message.invalid_ad_title !== undefined){
                        $("#invalid_ad_title").text(message.invalid_ad_title);
                    }else {
                        $("#invalid_ad_title").text("");
                    }
                    if(message.invalid_description_create_ads !== undefined){
                        $("#invalid_description_create_ads").text(message.invalid_description_create_ads);
                    }else{
                        $("#invalid_description_create_ads").text("");
                    }
                    if(message.invalid_audience_list !== undefined){
                        $("#invalid_audience_list").text(message.invalid_audience_list);
                    }else{
                        $("#invalid_audience_list").text("");
                    }
                    if(message.invalid_spent_limit_day !== undefined){
                        $("#invalid_spent_limit_day").text(message.invalid_spent_limit_day);
                    }else{
                        $("#invalid_spent_limit_day").text("");
                    }
                    if(message.invalid_total_spent_limit !== undefined){
                        $("#invalid_total_spent_limit").text(message.invalid_total_spent_limit);
                    }else{
                        $("#invalid_total_spent_limit").text("");
                    }
                    if(message.invalid_media !== undefined){
                        $("#invalid_media").text(message.invalid_media);
                    }else{
                        $("#invalid_media").text("");
                    }

                    $('#submit-btn').removeAttr('disabled').find('span').text('{{LANG save}}');
                }
            }
        });
    });

</script>
