<div class="main-comment" data-id="{{ID}}" id="comment-{{ID}}">
	<div class="main-comment-data-sp">
		<div class="user-avatar pull-left">
			<img src="{{USER avatar}}" alt="{{USER name}}">
			
		</div>
		<?php if ($pt->is_comment_owner == true) { ?>
		<div class="pull-right delete-comment" onclick="PT_DeleteComment({{ID}});">
			<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path><line x1="10" y1="11" x2="10" y2="17"></line><line x1="14" y1="11" x2="14" y2="17"></line></svg>
		</div>
		<?php } ?>
		<?php if (!empty($pt->video_owner)): ?>
        <div class="pull-right pin-comment" onclick="PT_PinComment({{ID}},true);">
			<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-paperclip" id="pin-comment"><path d="M21.44 11.05l-9.19 9.19a6 6 0 0 1-8.49-8.49l9.19-9.19a4 4 0 0 1 5.66 5.66l-9.2 9.19a2 2 0 0 1-2.83-2.83l8.49-8.48"></path></svg>
        </div>
		<?php endif; ?>
		<div class="user-name">
			<span class="pin">
				<?php if (!empty($pt->pin)): ?>
               
				<?php endif; ?>
			</span>
			<a href="{{USER url}}" data-load="?link1=timeline&id={{USER username}}">{{USER name}}</a>
			<?php if ($pt->is_verified == true): ?>
				<i class="fa fa-check-circle fa-fw verified"></i>
			<?php endif; ?>
			<small>{{TIME}}</small>
			<span class="amount-comment-token"><img src="/themes/default/img/chill-coin-gold.png" class="img-18"/> {{TOKEN_VIEWER}}</span>
		</div>
		<div class="user-comment">
			<p class="comment-text">{{TEXT}}</p>
			<div class="width-100 div-vote-comment">
				<span class="pointer comms-reply" onclick="PT_Reply('{{ID}}');">
					<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-message-circle"><path d="M21 11.5a8.38 8.38 0 0 1-.9 3.8 8.5 8.5 0 0 1-7.6 4.7 8.38 8.38 0 0 1-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 0 1-.9-3.8 8.5 8.5 0 0 1 4.7-7.6 8.38 8.38 0 0 1 3.8-.9h.5a8.48 8.48 0 0 1 8 8v.5z"></path></svg>
				</span>&nbsp;&nbsp;
				<span class="div-vote-comment-btn">
					<span onclick="onClickCommentLiked(this,'up','{{ID}}', '<?php global $api_url; echo $api_url;?>', 'comment_liked', '{{VIDEO_KEY}}', '<?php echo get_jwt_token(); ?>' );" data-comment-likes="{{ID}}">
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-thumbs-up {{LIKED}}"><path d="M14 9V5a3 3 0 0 0-3-3l-4 9v11h11.28a2 2 0 0 0 2-1.7l1.38-9a2 2 0 0 0-2-2.3zM7 22H4a2 2 0 0 1-2-2v-7a2 2 0 0 1 2-2h3"></path></svg> <span>{{LIKES}}</span>
					</span>&nbsp;&nbsp;
					<span onclick="onClickCommentLiked(this,'down','{{ID}}', '<?php global $api_url; echo $api_url;?>', 'comment_liked', '{{VIDEO_KEY}}', '<?php echo get_jwt_token(); ?>' );" data-comment-dislikes="{{ID}}">
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-thumbs-down {{DIS_LIKED}}"><path d="M10 15v4a3 3 0 0 0 3 3l4-9V2H5.72a2 2 0 0 0-2 1.7l-1.38 9a2 2 0 0 0 2 2.3zm7-13h2.67A2.31 2.31 0 0 1 22 4v7a2.31 2.31 0 0 1-2.33 2H17"></path></svg> <span>{{DIS_LIKES}}</span>
					</span>
				</span>
			</div>
		</div>
		<div class="clear"></div>
	</div>
	<div style="width: 100%;overflow: hidden;">
		<div class="pt-comment-replies user-comment" style="width: 100%;padding: 0 0 0 60px;">
			<div class="pt-comment-item-replies-list" id="pt-comment-replies-cont-{{ID}}">
            {{COMM_REPLIES}}
			</div>
			 <?php
			 if (($pt->config->sell_videos_system == 'on' && $pt->get_video->sell_video > 0 && $pt->is_paid > 0) || $pt->get_video->sell_video == 0 || ($pt->config->sell_videos_system == 'on' && $pt->get_video->sell_video > 0 && $pt->get_video->is_owner)) {
          if ($pt->get_video->sell_video == 0 || $pt->get_video->is_owner || ($pt->get_video->sell_video > 0 && $pt->is_paid > 0)) { ?>
			<div class="pt-comment-item-reply-form hidden" id="comm-reply-{{ID}}">
				<input type="text" class="form-control" placeholder="{{LANG write_a_reply}}" onkeydown="onClickCommentReplies(this.value, '{{ID}}', event, '{{VID_ID}}', '{{VIDEO_KEY}}', '<?php global $api_url; echo $api_url;?>', '<?php echo get_jwt_token(); ?>' )">
			</div>
			<?php } } ?>     
		</div>
	</div>
	<div class="clear"></div>
</div>