<div class="video-wrapper top-video-wrapper pt_video_side_vids pt_pt_mn_wtch_rltvids" data-sidebar-video="{{ID}}">
	<div class="video-thumb">
		<a href="{{URL}}" data-load="?link1=watch&id={{V_ID}}">
			<img src="{{THUMBNAIL}}" alt="{{TITLE}}">
			<div class="play_hover_btn" onmouseenter="show_gif(this,'{{GIF}}')" onmouseleave="hide_gif(this)">
				<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-play-circle"><circle cx="12" cy="12" r="10"></circle><polygon points="10 8 16 12 10 16 10 8"></polygon></svg>
	        </div>
			<div class="video-duration">{{DURATION}}</div>
		</a>
	</div>
	<div class="video-title">
		<a href="{{URL}}" data-load="?link1=watch&id={{V_ID}}">{{TITLE}}</a>
	</div>
	<div class="vid_pub_info">
		<a href="{{USER url}}" data-load="?link1=timeline&id={{USER username}}"><span class="video-publisher"><img src="{{USER avatar}}" onerror="callBackImgFailed(this)"> {{USER_NAME}}</span></a>
		<span class="bold">|</span>
		<span class="video-views">{{VIEWS}} {{LANG views}}</span>
	</div>
	<div class="video-list-token-info">
		<div class="profile-amount-token">
			<img src="/themes/default/img/chill-coin-gold.png" class="img-18"/> {{TOKEN_VIDEO}}
		</div>
	</div>
	<div class="clear"></div>
</div>