* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #606c71;
  background: #000;
}
body:before {
  content: " ";
  display: block;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  opacity: 0.9;
  background-image: url(http://mervick.github.io/emojionearea/images/background.jpg);
  background-position: center;
  background-size: cover;
  position: fixed;
  z-index: 0;
  min-width: 1200px;
}

a {
  color: #1e6bb8;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.btn {
  display: inline-block;
  margin-bottom: 1rem;
  color: rgba(255, 255, 255, 0.7);
  background-color: rgba(255, 255, 255, 0.08);
  border-color: rgba(255, 255, 255, 0.2);
  border-style: solid;
  border-width: 1px;
  border-radius: 0.3rem;
  transition: color 0.2s, background-color 0.2s, border-color 0.2s;
}
.btn + .btn {
  margin-left: 1rem;
}
.btn:hover {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.2);
  border-color: rgba(255, 255, 255, 0.3);
}
.btn .fa {
  font-size: 1.1em;
  margin-right: 6px;
  top: 1px;
  position: relative;
}
.btn .fa.fa-github {
  font-size: 1.3em;
}

@media screen and (min-width: 64em) {
    .btn {
    padding: 0.75rem 1rem;
  }
}
@media screen and (min-width: 42em) and (max-width: 64em) {
    .btn {
    padding: 0.6rem 0.9rem;
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 42em) {
    .btn {
    display: block;
    margin-left: 0 !important;
    width: 100%;
    padding: 0.75rem;
    font-size: 0.9rem;
  }
    .btn .btn {
    margin-top: 1rem;
    margin-left: 0;
  }
}
.top {
  position: relative;
  overflow: hidden;
  height: 870px;
}
.top .logo {
  background: url(http://mervick.github.io/emojionearea/images/emojione-area.png) no-repeat center;
  background-size: 274px 166px;
  text-indent: -9999em;
  height: 166px;
  width: 274px;
  margin: 0 auto;
}
.top h1 {
  font-size: 60px;
  font-weight: 100;
  text-transform: uppercase;
  line-height: 1em;
  margin-bottom: 60px;
  letter-spacing: .1em;
}

.page-header {
  color: #fff;
  text-align: center;
  position: relative;
}
.page-header .logo {
  background: url(http://mervick.github.io/emojionearea/images/emojione-area.png) no-repeat center;
  background-size: 274px 166px;
  text-indent: -9999em;
  height: 166px;
  width: 274px;
  margin: 0 auto;
}

@media screen and (min-width: 64em) {
    .page-header {
    padding: 2rem 6rem;
  }
}
@media screen and (min-width: 42em) and (max-width: 64em) {
    .page-header {
    padding: 2rem 4rem;
  }
}
@media screen and (max-width: 42em) {
    .page-header {
    padding: 1rem 1rem;
  }
}
.project-name {
  margin-top: 0;
  margin-bottom: 0.1rem;
}

@media screen and (min-width: 64em) {
    .project-name {
    font-size: 3.25rem;
  }
}
@media screen and (min-width: 42em) and (max-width: 64em) {
    .project-name {
    font-size: 2.25rem;
  }
}
@media screen and (max-width: 42em) {
    .project-name {
    font-size: 1.75rem;
  }
}
.project-tagline {
  margin-bottom: 2rem;
  font-weight: normal;
  opacity: 0.7;
}

@media screen and (min-width: 64em) {
    .project-tagline {
    font-size: 1.25rem;
  }
}
@media screen and (min-width: 42em) and (max-width: 64em) {
    .project-tagline {
    font-size: 1.15rem;
  }
}
@media screen and (max-width: 42em) {
    .project-tagline {
    font-size: 1rem;
  }
}
.main-content {
  background: #fff;
  position: relative;
  margin-bottom: 0px;
}
.main-content textarea {
  width: 100%;
  font-size: 14px;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  -o-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.main-content textarea {
  min-height: calc(9em + 2px);
  overflow: auto;
  padding: 6px 24px 6px 12px;
  line-height: 1.42857143;
  height: auto;
}

.main-content .emojionearea:not(.emojionearea-inline) .emojionearea-editor {
  min-height: 9em;
}

.main-content textarea:focus {
  border-color: #66afe9;
  outline: 0;
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.main-content :first-child {
  margin-top: 0;
}
.main-content img {
  max-width: 100%;
}
.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
  position: relative;
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-weight: normal;
  color: #49606D;
}
.main-content h1 .anchor, .main-content h2 .anchor, .main-content h3 .anchor, .main-content h4 .anchor, .main-content h5 .anchor, .main-content h6 .anchor {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  padding-right: 6px;
  padding-left: 8px;
  margin-left: -30px;
  color: inherit;
}
.main-content h1 .anchor .fa, .main-content h2 .anchor .fa, .main-content h3 .anchor .fa, .main-content h4 .anchor .fa, .main-content h5 .anchor .fa, .main-content h6 .anchor .fa {
  font-size: 0.8em;
}
.main-content h1:hover .anchor, .main-content h2:hover .anchor, .main-content h3:hover .anchor, .main-content h4:hover .anchor, .main-content h5:hover .anchor, .main-content h6:hover .anchor {
  text-decoration: none;
}
.main-content p {
  margin-bottom: 1em;
}
.main-content .row {
  margin-right: -10px;
  margin-left: -10px;
  margin-bottom: 15px;
}
.main-content .row:before, .main-content .row:after {
  display: table;
  content: " ";
}
.main-content .col-1, .main-content .col-10, .main-content .col-11, .main-content .col-12, .main-content .col-2, .main-content .col-3, .main-content .col-4, .main-content .col-5, .main-content .col-6, .main-content .col-7, .main-content .col-8, .main-content .col-9 {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
  float: left;
}
.main-content .col-1 {
  width: 8.33333%;
}
.main-content .col-2 {
  width: 16.66667%;
}
.main-content .col-3 {
  width: 25%;
}
.main-content .col-4 {
  width: 33.33333%;
}
.main-content .col-5 {
  width: 41.66667%;
}
.main-content .col-6 {
  width: 50%;
}
.main-content .col-7 {
  width: 58.33333%;
}
.main-content .col-8 {
  width: 66.66667%;
}
.main-content .col-9 {
  width: 75%;
}
.main-content code {
  padding: 2px 4px;
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 0.9rem;
  color: #383e41;
  background-color: #f3f6fa;
  border-radius: 0.3rem;
}
.main-content pre {
  padding: 0.8rem;
  margin-top: 0;
  margin-bottom: 1rem;
  font: 1rem Consolas, "Liberation Mono", Menlo, Courier, monospace;
  color: #567482;
  word-wrap: normal;
  background-color: #f3f6fa;
  border: solid 1px #dce6f0;
  border-radius: 0.3rem;
}
.main-content pre > code {
  padding: 0;
  margin: 0;
  font-size: 0.9rem;
  color: #567482;
  word-break: normal;
  white-space: pre;
  background: transparent;
  border: 0;
}
.main-content .highlight {
  margin-bottom: 1rem;
}
.main-content .highlight pre {
  margin-bottom: 0;
  word-break: normal;
}
.main-content .highlight pre, .main-content pre {
  padding: 0.8rem;
  overflow: auto;
  font-size: 0.9rem;
  line-height: 1.45;
  border-radius: 0.3rem;
}
.main-content pre code, .main-content pre tt {
  display: inline;
  max-width: initial;
  padding: 0;
  margin: 0;
  overflow: initial;
  line-height: inherit;
  word-wrap: normal;
  background-color: transparent;
  border: 0;
}
.main-content pre code:before, .main-content pre code:after, .main-content pre code:before, .main-content pre code:after, .main-content pre tt:before, .main-content pre tt:after, .main-content pre tt:before, .main-content pre tt:after {
  content: normal;
}
.main-content ul, .main-content ol {
  margin-top: 0;
}
.main-content blockquote {
  padding: 0 1rem;
  margin-left: 0;
  color: #819198;
  border-left: 0.3rem solid #dce6f0;
}
.main-content blockquote > :first-child {
  margin-top: 0;
}
.main-content blockquote > :last-child {
  margin-bottom: 0;
}
.main-content table {
  display: block;
  width: 100%;
  overflow: auto;
  word-break: normal;
  word-break: keep-all;
}
.main-content table th {
  font-weight: bold;
}
.main-content table th, .main-content table td {
  padding: 0.5rem 1rem;
  border: 1px solid #e9ebec;
}
.main-content dl {
  padding: 0;
}
.main-content dl dt {
  padding: 0;
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: bold;
}
.main-content dl dd {
  padding: 0;
  margin-bottom: 1rem;
}
.main-content hr {
  height: 2px;
  padding: 0;
  margin: 1rem 0;
  background-color: #eff0f1;
  border: 0;
}

@media screen and (min-width: 64em) {
    .main-content {
    max-width: 64rem;
    padding: 2rem 6rem;
    margin: 0 auto;
    font-size: 1.1rem;
  }
}
@media screen and (min-width: 42em) and (max-width: 64em) {
    .main-content {
    padding: 2rem 4rem;
    font-size: 1.1rem;
  }
}
@media screen and (max-width: 42em) {
    .main-content {
    padding: 2rem 1rem;
    font-size: 1rem;
  }
}
.site-footer {
  padding-top: 2rem;
  border-top: solid 1px #eff0f1;
}

.site-footer-owner {
  display: block;
  font-weight: bold;
}

.site-footer-credits {
  color: #819198;
}

@media screen and (min-width: 64em) {
    .site-footer {
    font-size: 1rem;
  }
}
@media screen and (min-width: 42em) and (max-width: 64em) {
    .site-footer {
    font-size: 1rem;
  }
}
@media screen and (max-width: 42em) {
    .site-footer {
    font-size: 0.9rem;
  }
}
