

.pow_link .by-logo {
    display: flex;
    align-items: center;
}

.pow_link .by-logo b {
    margin-top: 7px;
}

body.dark a:not(.btn):not(.link-1):hover{
    cursor: pointer;
}

.dropdown-menu > a:hover{
    cursor: pointer;
}