<div class="create-new-ad-container">
    <div class="user-ads-list-header">
      <span class="pointer">
        <a href="{{LINK ads}}" data-load="?link1=ads">
          <i class="material-icons">dvr</i>  {{LANG ads}}
        </a>
      </span>
      <span  class="pointer">
          <i class="material-icons">keyboard_arrow_right</i> {{LANG create_new_ad}} 
      </span>
    </div>
        <?php 
        if ($pt->user->wallet == '0.00' || $pt->user->wallet == '0') {
          ?>
          <div class="alert alert-warning">
           {{LANG balance_is_0}} <a href="{{LINK balance}}" data-load="?link1=balance" >{{LANG top_up}}</a>
          </div>
          <?php
        }
        ?>
    <form class="user-ads-settings-form" method="POST">
      <div class="user-ads-settings-alert">
        
      </div>
      <div class="progress hidden">
         <div class="upload-progress-bar bar progress-bar progress-bar-striped active"></div>
         <div class="percent">0%</div>
      </div>
      <div class="col-lg-8 col-md-8">   
          <div class="body">
              <div class="alert alert-success ads-settings-alert"></div>
                  <div class="form-group">
                  	  <label class="form-label col-md-2" for="name">{{LANG name}} * </label>
                      <div class="col-md-10">
                      	<input type="text" id="name" name="name" class="form-control" <?php if ($pt->user->wallet == '0.00' || $pt->user->wallet == '0') { echo 'disabled'; }?>>
                        <div id="invalid_name" class="invalid-feedback" > </div>
                      </div>
                  </div>
                  <div class="form-group" id="form-url">
                      <label class="form-label col-md-2" for="url">URL *</label>
                      <div class="col-md-10">
                      	<input type="text" id="url" name="url"  class="form-control" <?php if ($pt->user->wallet == '0.00' || $pt->user->wallet == '0') { echo 'disabled'; }?>>
                        <div id="invalid_url" class="invalid-feedback" > </div>
                      </div>
                  </div>

                  <div class="form-group">
                      <label class="form-label col-md-2" for="title">{{LANG title}} *</label>
                      <div class="col-md-10">
                      	<input type="text" id="title" name="title" class="form-control" <?php if ($pt->user->wallet == '0.00' || $pt->user->wallet == '0') { echo 'disabled'; }?>>
                          <div id="invalid_ad_title" class="invalid-feedback" > </div>
                      </div>
                  </div>

                  <div class="form-group">
                      <label class="form-label col-md-2" for="desc">{{LANG description}} *</label>
                      <div class="col-md-10">
                      	<textarea name="desc" id="desc" rows="4" class="form-control" <?php if ($pt->user->wallet == '0.00' || $pt->user->wallet == '0') { echo 'disabled'; }?>></textarea>
                        <div id="invalid_description_create_ads" class="invalid-feedback" > </div>
                      </div>
                  </div>
                  
                  <div class="form-group">
                      <label class="form-label col-md-2">{{LANG select_media}} *</label>
                      <div class="col-md-10" <?php if ($pt->user->wallet == '0.00' || $pt->user->wallet == '0') { echo 'disabled'; }?>>
                            <input type="file" class="media" id="ad-media" name="media" accept="image/* video/*" <?php if ($pt->user->wallet == '0.00' || $pt->user->wallet == '0') { echo 'disabled'; }?>>
                            <div id="invalid_media" class="invalid-feedback" > </div>

                            <div style="margin-top: 10px;">
                                  <video id="video-media-selected" width="320" height="240" controls hidden>
                                      <source src="" type="video/mp4">
                                      Your browser does not support the video tag.
                                  </video>
                                  <img id="image-media-selected" src="" width="320" height="240" hidden>
                            </div>
                      </div>
                      <br>
                  </div>
          </div>
          <div class="clearfix"></div>
      </div>
      <div class="col-lg-4 col-md-4">
    		<div class="form-group-rs">
            <select class="form-control selectpicker show-menu-arrow show-tick" multiple name="audience-list[]" data-live-search="true" title="{{LANG traget_audience}} *" data-actions-box="true" name="audience-list[]" <?php if ($pt->user->wallet == '0.00' || $pt->user->wallet == '0') { echo 'disabled'; }?>>
              	<?php foreach ($countries_name as $country_id => $country_name): ?>
              		<option value="<?php echo($country_id); ?>">
              			<span>
              				<?php echo($country_name); ?>
              			</span>
              		</option>
              	<?php endforeach; ?>

          	</select>
            <div class="clear"></div>
            <div id="invalid_audience_list" class="invalid-feedback" > </div>
    		</div>

      	<div class="form-group">
      		<label for="ad-placement">{{LANG placement}}</label>
      		<div>
      			<select name="placement" id="ad-placement"  class="form-control" <?php if ($pt->user->wallet == '0.00' || $pt->user->wallet == '0') { echo 'disabled'; }?>>
  					<option value="1">{{LANG video_ad}}</option>
  					<option value="2">{{LANG page_ad}}</option>
  				</select>
      		</div>
      	</div>
          <div >
              <label >{{LANG pricing}}</label>
              <div class="dropdown" style="text-transform: capitalize;">
                  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1"  style="width: 100%; display: flex; justify-content: space-between; align-items: center"
                  <?php if($pt->disable_cost){ ?> disabled  <?php } ?>
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                  <span id="cost" data-value="0"> {{LANG pricing}} </span>
                  <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                      <li>
                          <a onclick="onChangeCostAds('1')" id="cost_click">
                              {{LANG cost_click}} ({{CONFIG ad_c_price}} <img src="/themes/default/img/chill-coin-gold.png" class="img-16"/>)
                          </a>
                      </li>
                      <li>
                          <a onclick="onChangeCostAds('2')" id="cost_view">
                              {{LANG cost_view}} ({{CONFIG ad_v_price}} <img src="/themes/default/img/chill-coin-gold.png" class="img-16"/>)
                          </a>
                      </li>
                  </ul>
              </div>
          </div>
		<div class="row" style="margin-top: 15px;">
			<div class="col-xs-6">
				<div class="form-group">
					<label class="form-label" for="day_limit">{{LANG ad_day_limit}} *</label>
					<div>
						<input type="number" id="day_limit" name="day_limit" class="form-control" placeholder="0" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
                        <div id="invalid_spent_limit_day" class="invalid-feedback" > </div>
                    </div>
				</div>
			</div>
			<div class="col-xs-6">
				<div class="form-group">
					<label class="form-label" for="lifetime_limit">{{LANG ad_lifetime_limit}} *</label>
					<div>
						<input type="number" id="lifetime_limit" name="lifetime_limit" class="form-control" placeholder="0" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
                        <div id="invalid_total_spent_limit" class="invalid-feedback" > </div>
                    </div>
				</div>
			</div>
		</div>
      	<div class="form-group">
      		<button type="submit" class="btn btn-main" id="submit-btn" <?php if ($pt->user->wallet == '0.00' || $pt->user->wallet == '0') { echo 'disabled'; }?>><i class="fa fa-plus"></i> <span>{{LANG publish}}</span></button>
            <a href="{{LINK ads}}" id="cancel-btn">
                <button type="button" class="btn btn-default"><i class="fa fa-ban"></i> {{LANG cancel}}</button>
            </a>
      	</div>
      </div>       
    </form>     
    <div class="clear"></div>
</div>
<br>
<style>
  .create-new-ad-container .progress{
    border-radius: 0px;
  }
</style>

<script>
  var bar         = $('.bar');
  var percent     = $('.percent');

	jQuery(document).ready(function($) {

        $('.selectpicker').selectpicker({});

        $('.user-ads-settings-form').submit(function(event) {
          if ($("#ad-placement").val() == 2 && $("#ad-media").val() != ''){
            var mediafile = PT_HasExtension('#ad-media', ['.jpg', '.gif', '.png', '.jpeg']);
            if (!mediafile){
              scrollToTop();
              $('#ad-media').val('');
              $(".user-ads-settings-alert").html('<div class="alert alert-danger bg-danger"><i class="fa fa-info-circle"></i> {{LANG invalid_pagead_media}}</div>');
              return false;
            }
          }

        });

        $( "#submit-btn" ).click(function() {
          var vid = document.getElementById("video-media-selected");
          $('.user-ads-settings-form').ajaxForm({
              url: '{{LINK aj/ads/create}}?hash=' + $('.main_session').val(),
              dataType:"json",
              data : { duration_video : vid.duration, cost: $('#cost').attr("data-value") },
              beforeSend: function(jqXHR, settings) {
                  var mediafile = $("#ad-media").prop('files');
                  if (mediafile.length > 0 && mediafile[0].size > "{{CONFIG max_upload}}") {
                      swal({
                          title: '{{LANG error}}',
                          text:  "{{LANG file_is_too_big}} <?php echo pt_size_format($pt->config->max_upload); ?>",
                          type: 'error',
                          confirmButtonColor: '#3085d6',
                          cancelButtonColor: '#d33',
                          confirmButtonText: 'OK',
                          buttonsStyling: true,
                          confirmButtonClass: 'btn btn-success',
                      }).then(function(){
                              swal.close();
                              $("#ad-media").val('');
                          },
                          function() {
                              swal.close();
                              $("#ad-media").val('');
                          });
                      return false;
                  }

                  if ($("#ad-media").val()) {
                      $(".user-ads-settings-alert").html($('.progress').clone(true).addClass('progress-clone').removeClass('hidden'));
                      bar     = $('.progress-clone').find('.bar');
                      percent = $('.progress-clone').find('.percent');
                  }

                  $('#submit-btn').attr('disabled', true).find('span').text("{{LANG please_wait}}");
                  $("#cancel-btn").removeAttr('href');
              },
              uploadProgress: function(event, position, total, percentComplete) {
                  if(percentComplete > 50) {
                      percent.addClass('white');
                  }
                  var percentVal = percentComplete + '%';
                  bar.width(percentVal);
                  percent.html(percentVal);

                  if (percentComplete == 100) {
                      $(".user-ads-settings-alert").empty();
                  }
              },
              success: function(data) {
                  scrollToTop();
                  if (data.status == 200){
                      $(".user-ads-settings-alert").html('<div class="alert alert-success bg-success"><i class="fa fa-check"></i> '+
                          data.message
                          +'</div>');
                      PT_Delay(function(){
                          window.location.href = '{{LINK ads}}';
                      },2000);

                  }
                  else {
                      const  message = data.message;
                      if(message.invalid_name !== undefined){
                          $("#invalid_name").text(message.invalid_name);
                      }else{
                          $("#invalid_name").text("");
                      }
                      if(message.invalid_url !== undefined){
                          $("#invalid_url").text(message.invalid_url);
                      }else{
                          $("#invalid_url").text("");
                      }
                      if(message.invalid_ad_title !== undefined){
                          $("#invalid_ad_title").text(message.invalid_ad_title);
                      }else {
                          $("#invalid_ad_title").text("");
                      }
                      if(message.invalid_description_create_ads !== undefined){
                          $("#invalid_description_create_ads").text(message.invalid_description_create_ads);
                      }else{
                          $("#invalid_description_create_ads").text("");
                      }
                      if(message.invalid_media !== undefined){
                          $("#invalid_media").text(message.invalid_media);
                      }else{
                          $("#invalid_media").text("");
                      }
                      if(message.invalid_audience_list !== undefined){
                          $("#invalid_audience_list").text(message.invalid_audience_list);
                      }else{
                          $("#invalid_audience_list").text("");
                      }
                      if(message.invalid_spent_limit_day !== undefined){
                          $("#invalid_spent_limit_day").text(message.invalid_spent_limit_day);
                      }else{
                          $("#invalid_spent_limit_day").text("");
                      }
                      if(message.invalid_total_spent_limit !== undefined){
                          $("#invalid_total_spent_limit").text(message.invalid_total_spent_limit);
                      }else{
                          $("#invalid_total_spent_limit").text("");
                      }

                      $('#submit-btn').removeAttr('disabled').find('span').text('{{LANG publish}}');
                  }
              }
          });
          });

        changeCostDisabled("1")
    });

    $('#ad-media').change(function(){
          const mediafile =  $("#ad-media").prop('files');
          let media = mediafile.length > 0 ? mediafile[0] : undefined
          if(media !== undefined){
              let fileUrl = window.URL.createObjectURL(media);
              if(media.type === 'video/mp4'){
                  $('#video-media-selected').attr("src", fileUrl);
                  $('#video-media-selected').show();

                  $('#image-media-selected').hide();
                  $('#image-media-selected').attr("src", "");

              }else if(isFileImage(media)){
                  $('#image-media-selected').attr("src", fileUrl);
                  $('#image-media-selected').show();

                  $('#video-media-selected').hide();
                  $('#video-media-selected').attr("src", "");
              }

          }
     });

  function changeCostDisabled(cost){
      // const cost = document.getElementById("cost").value;
      let costSelected = ''
      if(cost === "2"){ //Reach
          // $("#url").attr("disabled","disabled");
          $("#form-url").hide();
          costSelected = $('#cost_view').html();
          $('#cost').attr("data-value", '2')
      }else{
          // $("#url").removeAttr("disabled")
          $("#form-url").show();
          costSelected = $('#cost_click').html();
          $('#cost').attr("data-value", '1')
      }
      $('#cost').html(costSelected);
  }


  function onChangeCostAds(cost){
      changeCostDisabled(cost)
  }

</script>


